<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="{{'/static/default/mobile/css/common.css'|static_uri}}">

  <script type="text/javascript" charset="utf-8" src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  {% block head %} {% endblock %}
</head>

<body>
  <div class="wrapper">
    {% block body %} {% endblock %} 
  </div>

  {% block script %} {% endblock %}
</body>

</html>