{% import '/default/mobile/libs/const.html.j2' as const %}
{% import '/default/mobile/libs/libs.html.j2' as libs %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/default/mobile/css/weui.min.css">
  <link rel="stylesheet" href="/static/default/mobile/css/jquery-weui.min.css">
  <link rel="stylesheet" href="/static/default/mobile/css/common.css">

  <script src="/static/default/mobile/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/default/mobile/js/jquery-weui.min.js" type="text/javascript" charset="utf-8"></script>
  {% block head %} {% endblock %}
</head>

<body>
  <div class="wrapper">
    {% block body %} {% endblock %} 
  </div>

  {% block script %} {% endblock %}
  <script src="/static/default/mobile/js/sha1.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/default/mobile/js/share.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>