{% extends '/default/admin/layout/base.html.j2' %} 
{% import '/default/admin/libs/const.html.j2' as const %}

{% block head %}
  <!-- chartist CSS -->
  <link href="/static/default/admin/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
  <link href="/static/default/admin/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
{% endblock %}
{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4 class="page-title">{{_('数据统计')}}</h4>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a href="#" target="_blank" 
        class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" 
        style="display:block!important">Buy Admin Now</a>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- 数据统计 -->
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
          <h3 class="box-title">{{_('用户数')}}</h3>
          <ul class="list-inline two-part">
            <li>
              <!-- <div id="sparklinedash"></div> -->
              <i class="text-success"></i>
              <span class="counter text-success">{{ sum_user }}</span>
            </li>
            <li class="text-right">
              <i class="text-success"></i>
              <span class="counter text-success">{{ day_user }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
          <h3 class="box-title">{{_('订单数')}}</h3>
          <ul class="list-inline two-part">
            <li>
              <!-- <div id="sparklinedash2"></div> -->
              <i class="text-purple"></i>
              <span class="counter text-purple">{{ sum_order }}</span>
            </li>
            <li class="text-right">
              <i class="text-purple"></i>
              <span class="counter text-purple">{{ day_order }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
          <h3 class="box-title">{{_('订单交易额')}}</h3>
          <ul class="list-inline two-part">
            <li>
              <!-- <div id="sparklinedash3"></div> -->
              <i class="text-info"></i>
              <span class="counter text-info">￥{{ sum_order_amount|format_amount }}</span>
            </li>
            <li class="text-right">
              <i class="text-info"></i>
              <span class="counter text-info">￥{{ day_order_amount|format_amount }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
          <h3 class="box-title">{{_('售后数')}}</h3>
          <ul class="list-inline two-part">
            <li>
              <!-- <div id="sparklinedash4"></div> -->
              <i class="text-danger"></i>
              <span class="text-danger">{{ sum_aftersales }}</span>
            </li>
            <li class="text-right">
              <i class="text-danger"></i>
              <span class="text-danger">{{ day_aftersales }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row hide">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
          <h3 class="box-title">{{_('今日用户数')}}</h3>
          <ul class="list-inline two-part">
            <li>
              <div id="sparklinedash"></div>
            </li>
            <li class="text-right">
              <i class="ti-arrow-up text-success"></i>
              <span class="counter text-success">0</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
          <h3 class="box-title">{{_('今日订单数')}}</h3>
          <ul class="list-inline two-part">
            <li>
              <div id="sparklinedash2"></div>
            </li>
            <li class="text-right">
              <i class="ti-arrow-up text-purple"></i>
              <span class="counter text-purple">0</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
          <h3 class="box-title">{{_('今日订单交易额')}}</h3>
          <ul class="list-inline two-part">
            <li>
              <div id="sparklinedash3"></div>
            </li>
            <li class="text-right">
              <i class="ti-arrow-up text-info"></i>
              <span class="counter text-info">￥0</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
          <h3 class="box-title">{{_('今日售后数')}}</h3>
          <ul class="list-inline two-part">
            <li>
              <div id="sparklinedash4"></div>
            </li>
            <li class="text-right">
              <i class="ti-arrow-down text-danger"></i>
              <span class="text-danger">0</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 年销售图表与最近会员充值 -->
    <div class="row">
      <div class="col-md-12 col-lg-8 col-sm-12 col-xs-12">
        <div class="white-box">
          <h3 class="box-title">{{_('年销售图表')}}</h3>
          <ul class="list-inline text-right">
            <li>
              <h5>
                <i class="fa fa-circle m-r-5 text-info"></i>订单</h5>
            </li>
            <li>
              <h5>
                <i class="fa fa-circle m-r-5 text-inverse"></i>金额</h5>
            </li>
          </ul>
          <div id="ct-visits" style="height: 405px;">
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 col-sm-12 col-xs-12">
        <div class="panel">
          <div class="p-20">
            <div class="row">
              <div class="col-xs-8">
                <h4 class="m-b-0">{{_('最近会员充值')}}</h4>
                <h2 class="m-t-0 font-medium">￥{{ fund_orders_amount|format_amount }}</h2>
              </div>
            </div>
          </div>
          <div class="panel-footer bg-extralight">
            {% if funds_orders %}
              <ul class="earning-box">
                {% for fund_order in funds_orders %}
                  <li>
                  <div class="er-row">
                    <div class="er-pic">
                      <img src="{{ fund_order.avatar|format_avatar(1) }}" alt="varun" width="60" class="img-circle">
                    </div>
                    <div class="er-text">
                      <h3>{{ fund_order.nickname }}</h3>
                      <span class="text-muted">{{ fund_order.add_time|timestamp2str }}</span>
                    </div>
                    <div class="er-count ">￥
                      <span class="counter">{{ fund_order.order_amount|format_amount(0) }}</span>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            {% else %}
              <span>{{_('暂无充值记录')}}</span>
            {% endif %}
           
          </div>
        </div>
      </div>
    </div>
    <!-- 最新订单与评论 -->
    <div class="row">
      <!-- 最新订单 -->
      <div class="col-md-12 col-lg-6 col-sm-12">
        <div class="white-box">
          <h3 class="box-title">{{_('最新订单')}}</h3>
          <div class="row sales-report">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <h2>{{_('最新订单交易总额')}}</h2>
              <p>{{_('订单列表')}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 ">
              <h1 class="text-right text-info m-t-20">￥{{ orders_amount|format_amount }}</h1>
            </div>
          </div>
          <div class="table-responsive">
            {% if orders %}
              <table class="table">
                <thead>
                  <tr>
                    <th>{{_('ID')}}</th>
                    <th>{{_('订单编号')}}</th>
                    <th>{{_('金额')}}</th>
                    <th>{{_('状态')}}</th>
                    <th>{{_('下单时间')}}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                    <tr>
                      <td>{{ order.order_id }}</td>
                      <td class="txt-oflo">{{ order.order_sn }}</td>
                      <td>
                        <span class="{{ const.ORDER_TEXT_LABEL.get(order.order_status,'') }}">￥{{ order.order_amount|format_amount(0) }}</span>
                      </td>
                      <td>
                        <span class="label {{ const.ORDER_STATUS_LABEL.get(order.order_status,'') }} label-rouded">{{ order.status_text }}</span>
                      </td>
                      <td class="txt-oflo">{{ order.add_time|timestamp2str }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <span>{{_('暂无订单记录')}}</span>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- 最新评论 -->
      <div class="col-md-12 col-lg-6 col-sm-12">
        <div class="white-box">
          <h3 class="box-title">{{_('最新评论')}}</h3>
            <div class="comment-center p-t-10">
              {% if comments %}
                {% for comment in comments %}
                  {% set class_line = 'b-none' if loop.last else '' %}
                  <div class="comment-body {{ class_line }}">
                    <div class="user-img">
                      <img src="{{ comment.avatar|format_avatar(1) }}" alt="user" class="img-circle">
                    </div>
                    <div class="mail-contnet">
                      <h5>{{ comment.nickname }}</h5>
                      <span class="time">{{ comment.add_time|timestamp2str }}</span>
                      <span class="label label-rouded {{ const.RATING_TEXT_LABEL.get(comment.rating,'') }}">{{ const.RATING_TEXT.get(comment.rating,'') }}</span>
                      <br/>
                      <span class="mail-desc">{{ comment.content }}</span>
                      <td>
                        {% set img_data = comment.img_data|json_loads if comment.img_data %}
                        {% for img in img_data %}
                          <a href="{{ img }}" title="" class="image-popup-no-margins">
                            <img src="{{ img }}" width="50" />
                          </a>
                        {% endfor %}
                      </td>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="comment-body b-none">
                  <span>{{_('暂无评价记录')}}</span>
                </div>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page Content -->
{% endblock %}
{% block footer %}
{% endblock %}