{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('未付款修改地址 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="user_wrap">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input id="edit_address_name" class="weui-input greykGap" type="text" placeholder="{{_('请填写收件人姓名')}}" value="{{ order_address.name }}">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input id="edit_address_mobile" class="weui-input greykGap" type="text" placeholder="{{_('请填写收件人手机号码')}}" value="{{ order_address.mobile }}">
      </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__bd">
        {% set pcd = ('%s %s %s' % (order_address.province, order_address.city, order_address.district)) if order_address else '' %}
        <input id='edit_address_pcd' class="weui-input greykGap" type="text" placeholder="{{_('请选择收件地区')}}" value="{{ pcd }}">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input id="edit_address_address" class="weui-input greykGap" type="text" placeholder="{{_('请填写详细地址：如街道、道路、门牌号等')}}" value="{{ order_address.address }}">
      </div>
    </div>
  </div>
  <div class="reg_btn">
    <input type="hidden" id="oa_id" value="{{ order_address.oa_id }}">
    <button type="button" class="weui-btn weui-btn_red" onClick="save()">{{_('保存')}}</button>
  </div>
  <div class="reg_btn">
    <button type="button" class="weui-btn weui-btn_c" onClick="remove()">{{_('取消')}}</button>
  </div>
</div>
{% endblock %} 

{% block script %}
<script src="/static/default/mobile/js/city-picker.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/default/mobile/js/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/static/default/mobile/js/jquery.fileupload.js" type="text/javascript"></script>
<script type="text/javascript">
var csrftoken = "{{ csrf_token() }}";
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

//保存
function save() {
  var oa_id = $("#oa_id").val();
  var name = $("#edit_address_name").val();
  var mobile = $("#edit_address_mobile").val();
  var pcd = $("#edit_address_pcd").val();
  var address = $("#edit_address_address").val();
  var pcd_arr = pcd.split(' ');
  var province = pcd_arr[0];
  var city = pcd_arr[1];
  var district = pcd_arr[2];

  var params = {'oa_id':oa_id, 'name':name, 'mobile':mobile, 'province':province, 'city':city, 'district':district, 'address':address}
  $.post("{{ url_for('api.order.update_address') }}", params, function(json) {
    if (json.ret == 0) {
      window.location.href = "{{ url_for('mobile.cart.checkout', order_id=order_address.order_id, is_pay_now=0) }}";
    } else {
      $.toast(json.msg, "text");
      return false;
    }
  });
}

function remove(){
  window.location.href = "{{ url_for('mobile.cart.checkout', order_id=order_address.order_id, is_pay_now=0) }}";
}

$(document).ready(function(){
  $("#edit_address_pcd").cityPicker({
    toolbarCloseText: "完成",
    title: "请选择所在地"
  });
});
</script>
{% endblock %}