{% extends '/default/mobile/layout/base.html.j2' %}
{% import '/default/mobile/libs/const.html.j2' as const %}

{% block head %}
<title>{{_('查看评价- 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css">
<link rel="stylesheet" href="/static/default/mobile/css/item.css">
{% endblock %}

{% block body %}
{% if good and good.is_delete == 0 %}
  <!-- 商品并未在后台被删除的时候显示 start -->
  <div class="user_wrap">
    <a class="weui-cell bg-white" href="{{ url_for('mobile.item.detail', goods_id=9) }}">
      <div class="weui-cell__hd avatar mar-right">
        <img src="{{ order_goods.goods_img }}-square.small" alt="">
      </div>
      <div class="weui-cell__bd">
        <div class="all_title height25">{{ order_goods.goods_name }}</div>
        <div class="all_desc height25">{{ order_goods.goods_desc }}</div>
      </div>
      <div class="weui-cell__ft mar-left">
        <p class="all_price">￥{{ order_goods.goods_price }}</p>
      </div>
    </a>
    <div class="weui-cells weui-cells_form">
      <div class="weui-media-box weui-media-box_appmsg" id="reviewCom">
        <div class="weui-media-box__hd">
          <img class="weui-media-box__thumb ava" src="{{ comment.avatar|format_avatar }}" alt="">
        </div>
        <div class="weui-media-box__bd">
          <div class="all_title">
            {{ comment.nickname }}
            <span class="typeText">{{ const.RATING_TEXT.get(comment.rating) }}</span>
          </div>
          <div class="all_add" style="margin-top:5px">{{ comment.add_time|timestamp2str }}</div>
          <div class="review_cnt">{{ comment.content }}</div>
          <div class="weui-uploader__files mar-top" id="uploaderFiles">
            <p class="comList">
              {% set img_data = comment.img_data|json_loads if comment.img_data %}
              {% for img in img_data %}
                <img class="weui-uploader__file" src="{{ img }}-square.middle" alt=""> 
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 商品并未在后台被删除的时候显示 end -->
{% else %}
  <!-- 商品已在后台被删除的时候显示 start -->
  <div class="not-product">
    <div class="not-product_img">
      <img class="notproduct" src="/static/default/mobile/img/notgoods.png" alt="">
    </div>
    <div class="not-product_text">{{_('商品不存在')}}</div>
    <div class="reg_btn">
      <a href="{{ url_for('mobile.index.root') }}">
        <button type="button" class="weui-btn weui-btn_red">{{_('去首页看看')}}</button>
      </a>
    </div>
  </div>
  <!-- 商品已在后台被删除的时候显示 end -->
{% endif %}

<!-- 评价图片点击放大弹窗 -->
<div class="big_img">
  <div class="swiper-container2">
    <div class="swiper-wrapper"></div>
  </div>
  <div class="swiper-pagination2"></div>
</div>
<!-- 评价图片点击放大弹窗 end -->

{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/default/mobile/js/swiper.min.js" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function(){
  /* 点击显示大图 */
  var mySwiper = new Swiper('.swiper-container2', {
    loop: false,
    pagination: '.swiper-pagination2',
  });
  
  $("#reviewCom").on("click", ".comList img", function() {
    var imgBox = $(this).parents(".comList").find("img");
    var i = $(imgBox).index(this);
    $(".big_img .swiper-wrapper").html("");

    for (var index = 0; index < imgBox.length; index++) {
      var imgBigBox = imgBox.eq(index).attr("src").replace("-square.middle", "-square.giant");
      $(".big_img .swiper-wrapper").append('<div class="swiper-slide"><div class="cell"><img src="' + imgBigBox + '" / ></div></div>');
    }
    mySwiper.updateSlidesSize();
    mySwiper.updatePagination();
    $(".big_img").css({
      "z-index": 1001,
      "opacity": "1"
    });
    mySwiper.slideTo(i, 0, false);
    return false;
  });
  
  $(".big_img").on("click", function() {
    $(this).css({
      "z-index": "-1",
      "opacity": "0"
    });
  });
});
/* 点击显示大图 */
</script>
{% endblock %}