{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('发表评价 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="user_wrap">
  <a class="weui-cell bg-white" href="{{ url_for('mobile.item.detail', goods_id=order_goods.goods_id) }}">
    <div class="weui-cell__hd avatar mar-right">
      <img src="{{ order_goods.goods_img }}" alt="">
    </div>
    <div class="weui-cell__bd">
      <div class="all_title height25">{{ order_goods.goods_name }}</div>
      <div class="all_desc height25">{{ order_goods.goods_desc }}</div>
    </div>
    <div class="weui-cell__ft mar-left">
      <p class="all_price">￥{{ order_goods.goods_price }}</p>
    </div>
  </a>
  <div class="weui-cells weui-cells_form">
    <div class="comment_type">
      <button type="button" class="tag_btn tag_btn-on" data-value="3">{{_('好评')}}</button>
      <button type="button" class="tag_btn" data-value="2">{{_('中评')}}</button>
      <button type="button" class="tag_btn" data-value="1">{{_('差评')}}</button>
    </div>
    <div class="create_wrap">
      <textarea id="content" name="content" class="review_text" rows="5" placeholder="{{_('请输入评价信息...')}}"></textarea>
    </div>
    <div class="weui-gallery" id="gallery">
      <span class="weui-gallery__img" id="galleryImg"></span>
      <div class="weui-gallery__opr">
        <a href="javascript:" class="weui-gallery__del">
          <i class="weui-icon-delete weui-icon_gallery-delete"></i>
        </a>
      </div>
    </div>
    <!-- ?? -->
    <div class="weui-cell uploader_wrap">
      <div class="weui-cell__bd">
        <div class="weui-uploader">
          <div class="weui-uploader__bd">
            <ul class="weui-uploader__files" id="uploaderFiles">
              <li class="weui-uploader__file" style="background-image:url('http://i1.mifile.cn/a1/pms_1528719476.67789934!220x220.jpg')"></li>
              <li class="weui-uploader__file" style="background-image:url('https://i8.mifile.cn/b2c-mimall-media/10c6f6ede2fcfa2ad162d2869a716c14.jpg')"></li>
            </ul>
            <div class="weui-uploader__input-box">
              <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reg_btn">
    {{ wtf_form.csrf_token }}
    <input id="og_id" type="hidden" value="{{ order_goods.og_id }}" />
    <button type="button" class="weui-btn weui-btn_red" onclick="submit()">{{_('提交')}}</button>
  </div>
</div>
{% endblock %} 

{% block script %}
<script type="text/javascript">
var csrftoken = $('#csrf_token').val();
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

function submit() {
  var og_id = $("#og_id").val();
  var rating = $(".tag_btn-on").attr('data-value');
  var content = $("#content").val();

  var params = {'og_id':og_id, 'rating':rating, 'content':content}
  $.post("{{ url_for('api.order.save_comment') }}", params, function(json) {
    if (json.ret == 0) {
      window.location.href = "{{ url_for('mobile.order.comment', is_pending=1) }}";
    } else {
      $.toast(json.msg, "text");
      return false;
    }
  });
}

$(document).ready(function(){
  $(".tag_btn").click(function(){
    $(".tag_btn").removeClass("tag_btn-on");
    $(this).addClass("tag_btn-on");
  });

  //点击图片淡入放大
  $('#uploaderFiles').on("click", "li", function () {
    index = $(this).index();
    var style = this.getAttribute("style");
    $('#galleryImg').attr("style", style);
    $('#gallery').fadeIn(100);
  });

  //点击图片淡出消失
  $('#gallery').on("click", function () {
    $('#gallery').fadeOut(100);
  });

  //删除图片
  $(".weui-gallery__del").click(function (event) {
    event.stopPropagation();        //冒泡事件
    $('#uploaderFiles').find("li").eq(index).remove();
    $('#gallery').fadeOut(100);
  });
});
</script> 
{% endblock %}