{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('发表评价 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="user_wrap">
  <a class="weui-cell bg-white" href="{{ url_for('mobile.item.detail', goods_id=order_goods.goods_id) }}">
    <div class="weui-cell__hd avatar mar-right">
      <img src="{{ order_goods.goods_img }}-square.small" alt="">
    </div>
    <div class="weui-cell__bd">
      <div class="all_title height25">{{ order_goods.goods_name }}</div>
      <div class="all_desc height25">{{ order_goods.goods_desc }}</div>
    </div>
    <div class="weui-cell__ft mar-left">
      <p class="all_price">￥{{ order_goods.goods_price }}</p>
    </div>
  </a>
  <div class="weui-cells weui-cells_form">
    <div class="comment_type">
      <button type="button" class="tag_btn tag_btn-on" data-value="3">{{_('好评')}}</button>
      <button type="button" class="tag_btn" data-value="2">{{_('中评')}}</button>
      <button type="button" class="tag_btn" data-value="1">{{_('差评')}}</button>
    </div>
    <div class="create_wrap">
      <textarea id="content" name="content" class="review_text" rows="5" placeholder="{{_('请输入评价信息...')}}"></textarea>
    </div>
    <div class="weui-cell uploader_wrap">
      <div class="weui-cell__bd">
        <div class="weui-uploader">
          <div class="weui-uploader__bd">
            <ul class="weui-uploader__files" id="uploaderFiles"></ul>
            <div class="weui-uploader__input-box">
              <input id="uploaderInput" name="image" class="weui-uploader__input" type="file" accept="image/*" multiple="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 删除图片弹窗 -->
  <div class="weui-gallery" id="gallery">
    <span class="weui-gallery__img" id="galleryImg">
      <img class="gallery-pic" src="" alt="">
    </span>
    <div class="weui-gallery__opr">
      <a href="javascript:" class="weui-gallery__del">
        <i class="weui-icon-delete weui-icon_gallery-delete"></i>
      </a>
    </div>
  </div>
  <!-- 删除图片弹窗 end -->

  <div class="reg_btn">
    {{ wtf_form.csrf_token }}
    <input id="og_id" type="hidden" value="{{ order_goods.og_id }}" />
    <input id="img_data" name="img_data" type="hidden" value="[]" />
    <button type="button" class="weui-btn weui-btn_red" onclick="submit()">{{_('提交')}}</button>
  </div>
</div>
{% endblock %} 

{% block script %}
<!-- 异步上传 -->
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.iframe-transport.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.fileupload.js"></script>
<script type="text/javascript">

$(document).ready(function(){
  var index;

  //点击图片淡入放大
  $('#uploaderFiles').on("click", "li", function () {
    var $current = $(this);
    index = $current.index();
    var imgurl = $current.find('img').attr("src");
    var imgurl_giant = imgurl.replace('-square.middle', '-square.giant');
    $('.gallery-pic').attr("src", imgurl_giant);
    $('#gallery').fadeIn(100);
  });

  //点击图片淡出消失
  $('#gallery').on("click", function () {
    $('#gallery').fadeOut(100);
  });

  //删除图片
  $(".weui-gallery__del").click(function (event) {
    event.stopPropagation();
    var del = $('#uploaderFiles').find("li").eq(index).remove();
    var imgurl = $('.gallery-pic').attr("src").replace('-square.giant', '');
    var img_data = $("#img_data").val();
    var img_list = JSON.parse(img_data);
    var pos = img_list.indexOf(imgurl);
    img_list.splice(pos, 1);
    img_data = JSON.stringify(img_list);
    $("#img_data").val(img_data);
    $('#gallery').fadeOut(100);
  });

  // 点击选中rating按钮变高亮
  $(".tag_btn").click(function () {
    $(".tag_btn").removeClass("tag_btn-on");
    $(this).addClass("tag_btn-on");
  });

});

var csrftoken = $('#csrf_token').val();
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

// 点击图片上传
$('#uploaderInput').fileupload({
  url: "{{ url_for('api.upload.image') }}",
  dataType: 'json',
  formData: { 'prefix': 'comment' },
  autoUpload: false,
  add: function (e, data) {
    var html_text = '<li class="weui-uploader__file one-loading">' +
      '<i class="weui-loading"></i>' +
      '</li>';
    $("#uploaderFiles").append(html_text);
    data.submit();
  },
  done: function (e, data) {
    if (data.result.ret == 0) {
      var image = data.result.data.image;
      var html_text = '<li class="weui-uploader__file">' +
        '<img src="' + image + '-square.middle" alt="" data-value="' + image + '">' +
        '</li>';
      var $uploaderFiels = $('#uploaderFiles');
      var $loading = $uploaderFiels.find('li.one-loading')[0];
      $loading.remove();
      $("#uploaderFiles").append(html_text);

      // 把上传的图片加到列表上
      var img_data = $("#img_data").val();
      var _img_data = JSON.parse(img_data);
      _img_data.push(image);
      img_data = JSON.stringify(_img_data);
      $("#img_data").val(img_data);
    }
  }
});

function submit() {
  var og_id = $("#og_id").val();
  var rating = $(".tag_btn-on").attr('data-value');
  var content = $("#content").val();
  var img_data = $("#img_data").val();

  var params = {'og_id':og_id, 'rating':rating, 'content':content, 'img_data':img_data}
  $.post("{{ url_for('api.order.save_comment') }}", params, function(json) {
    if (json.ret == 0) {
      window.location.href = "{{ url_for('mobile.order.comment', is_pending=1) }}";
    } else {
      $.toast(json.msg, "text");
      return false;
    }
  });
}
</script> 
{% endblock %}