{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('订单详情- 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="user_wrap">
  <div class="weui-cells weui-cells_form">
    <a class="weui-cell weui-cell_access" href="{{ url_for('mobile.order.track', order_id=order.order_id) }}">
      <div class="weui-cell__hd mar-right">
        <img src="/static/default/mobile/img/deliverInfo.png" alt="" style="width:20px">
      </div>
      <div class="weui-cell__bd">
        {% if express_data %}
          <div class="logistics_info">{{ express_data['context'] }}</div>
          <div class="all_add">{{ express_data['ftime'] }}</div>
        {% endif %}
          <div class="logistics_info">暂无物流信息</div>
      </div>
      <div class="weui-cell__ft"></div>
    </a>
    <div class="weui-cell not_before">
      <div class="weui-cell__hd mar-right">
        <img src="/static/default/mobile/img/address.png" alt="" style="width:20px">
      </div>
      <div class="weui-cell__bd">
        <div class="blackGap">
          <span>{{ order_address.name }}</span>
          <span class="mar-left">{{ order_address.mobile }}</span>
        </div>
        <div class="address">
          <span>{{ order_address.province }} {{ order_address.city }} {{ order_address.district }} {{ order_address.address
            }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <a href="{{ url_for('mobile.index.root') }}" class="all_title">{{_('一店')}}</a>
      </div>
      <div class="weui-cell__ft">
        <span class="trading_state">{{ text }}</span>
      </div>
    </div>
    {% for item in items %}
      <div class="weui-cell not_before" onclick="enter({{ item.goods_id }})">
        <div class="weui-cell__hd avatar mar-right">
          <img src="{{ item.goods_img }}-square.small" alt="">
        </div>
        <div class="weui-cell__bd">
          <div class="all_title height25">{{ item.goods_name }}</div>
          <div class="all_desc height25">
            <span class="mar-right all_price">￥{{ item.goods_price|toamount }}</span>
            <span>x {{ item.goods_quantity }}</span>
          </div>
        </div>
        {% set og_aftersale_status = ogs_aftersale_status.get(item.og_id, 0) %}
        {% if og_aftersale_status['status_code'] == 1 %}
          <div class="weui-cell__ft applySale" data-value="{{ item.og_id }}">
            <button type="button" class="order_btn">{{_('申请售后')}}</button>
          </div>
        {% elif og_aftersale_status['status_code'] == 2 %}
          <div class="weui-cell__ft">
            <button type="button" class="order_btn">{{_('受理中')}}</button>
          </div>
        {% elif og_aftersale_status['status_code'] == 3 %}
          <div class="weui-cell__ft">
            <button type="button" class="order_btn">{{_('已退款')}}</button>
          </div>
        {% elif og_aftersale_status['status_code'] == 4 %}
          <div class="weui-cell__ft">
            <button type="button" class="order_btn">{{_('已换货')}}</button>
          </div>
        {% elif og_aftersale_status['status_code'] == 5 %}
          <div class="weui-cell__ft">
            <button type="button" class="order_btn">{{_('已退款，已换货')}}</button>
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="weui-form-preview">
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('商品总价')}}</label>
          <span class="weui-form-preview__value">￥{{ order.goods_amount|toamount }}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('运费')}}</label>
          <span class="weui-form-preview__value">￥{{ order.shipping_amount|toamount }}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('优惠促销')}}</label>
          <span class="weui-form-preview__value">-￥{{ order.discount_amount|toamount }}</span>
        </div>
      </div>
    </div>
    <div class="weui-cell actual_payment">
      <div class="weui-cell__bd">{{_('实际付款')}}</div>
      <div class="weui-cell__ft">
        <span class="all_price" style="font-size:16px">￥{{ order.pay_amount|toamount }}</span>
      </div>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-form-preview">
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('订单编号')}}</label>
          <span class="weui-form-preview__value">{{ order.order_sn }}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('创建时间')}}</label>
          <span class="weui-form-preview__value">{{ order.add_time|timestamp2str }}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('付款时间')}}</label>
          <span class="weui-form-preview__value">{{ order.paid_time|timestamp2str }}</span>
        </div>
      </div>
    </div>
  </div>
  <div style="height:66px"></div>
  <div class="footer" style="display:block;height:56px">
    <div class="weui-cell">
      <div class="weui-cell__bd"></div>
      <div class="weui-cell__ft">
        {% for _code in code %}
          {% if _code == 1 %}
            <a href="{{ url_for('mobile.cart.checkout', order_id=order.order_id, is_pay_now=0) }}">
              <button type="button" class="order_btn order-state_btn">{{_('付款')}}</button>
            </a>
          {% endif %}
          {% if _code == 2 %}
            <button type="button" class="order_btn" onclick="cancelOrder({{ order.order_id }})">{{_('取消订单')}}</button>
          {% endif %}
          {% if _code == 3 %}
            <a href="{{ url_for('mobile.order.track', order_id=order.order_id) }}">
              <button type="button" class="order_btn">{{_('查看物流')}}</button>
            </a>
          {% endif %}
          {% if _code == 4 %}
            <button type="button" class="order_btn order-state_btn" onclick="confirm({{ order.order_id }})">{{_('确认收货')}}</button>
          {% endif %}
          {% if _code == 5 %}
            <a href="javascript:void(0);" onclick="add_to_cart({{ order.order_id }})">
              <button type="button" class="order_btn order-state_btn">{{_('再次购买')}}</button>
            </a>
          {% endif %}
          {% if _code == 6 %}
            <button type="button" class="order_btn" onclick="del({{ order.order_id }})">{{_('删除订单')}}</button>
          {% endif %}
          {% if _code == 8 %}
            <a href="{{ url_for('mobile.aftersales.apply', order_id=order.order_id) }}">
              <button type="button" class="order_btn order-state_btn">{{_('申请退款')}}</button>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="hide ranpo" id="confirmReceipt">
    <div class="hide-mask"></div>
    <div class="weui-actionsheet weui-actionsheet_toggle">
      <div class="weui-actionsheet__menu">
        <input type="hidden" name="" id="" value="">
        <div class="weui-actionsheet__cell not-product_text">
          <span>确认收货</span>
          <img src="/static/default/mobile/img/cancel.png" alt="" class="cancal_image" onclick="cancel()">
        </div>
        <div class="not-product">
          <div class="not-product_img">
            <img class="notproduct" src="/static/default/mobile/img/orderK.png" alt="">
          </div>
          <div class="not-product_text">您的订单已确认收货成功</div>
          <div class="reg_btn">
            <button type="button" class="weui-btn weui-btn_red" onClick="review()">去评价</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block script %}
<script type="text/javascript">
//点击进入商品详情
function enter(goods_id) {
  var url = "/mobile/item/"+goods_id;
  window.location.href = url;
}

//点击进入申请售后
$('.applySale').click(function (event) {       //event:事件对象
  event.stopPropagation();                        //停止事件冒泡

  var og_id = $(this).attr('data-value');
  var url = "/mobile/aftersales/apply?og_id=" + og_id;
  window.location.href = url;
});

var $confirmReceipt = $('#confirmReceipt');

//确认收货弹窗
function confirm(order_id) {
  $.confirm({
    title: "{{_('确认收货')}}",
    text: "{{_('确认收到此订单的商品了么？')}}",
    onOK: function () {
      $.get("{{ url_for('api.order.deliver') }}", {'order_id':order_id}, function(json) {
        if (json.ret != 0) {
          $.toast(json.msg, "text");
          return false;
        }

        location.reload();
      });
    },
    onCancel: function () {}
  });
}

//关闭确认收货弹窗
function cancel() {
  $confirmReceipt.removeClass('show');
  if (!$confirmReceipt.hasClass('hide')) {
    $confirmReceipt.addClass('hide');
  }
}

//点击去评价商品，关闭确认收货弹窗
function review() {
  $confirmReceipt.removeClass('show');
  if (!$confirmReceipt.hasClass('hide')) {
    $confirmReceipt.addClass('hide');
  }

  window.location.href = "{{ url_for('mobile.order.comment', is_pending=1) }}";
}

//取消订单弹窗
function cancelOrder(order_id) {
  $.confirm({
    title: "{{_('取消订单')}}",
    text: "{{_('确定取消该订单？')}}",
    onOK: function () {
      $.get("{{ url_for('api.order.cancel') }}", {'order_id':order_id}, function(json) {
        if (json.ret != 0) {
          $.toast(json.msg, "text");
          return false;
        }

        location.reload();
      });
    },
    onCancel: function () {}
  });
}

//删除订单弹窗
function del(order_id) {
  $.confirm({
    title: '删除订单',
    text: '确定删除该订单？',
    onOK: function () {
      $.get("{{ url_for('api.order.remove') }}", {'order_id':order_id}, function(json) {
        if (json.ret != 0) {
          $.toast(json.msg, "text");
          return false;
        }

        window.location.href = "{{ url_for('mobile.order.index') }}";
      });
    },
    onCancel: function () { }
  });
}

//再次购买
function add_to_cart(order_id) {
  $.get("{{ url_for('api.cart.add') }}", {'order_id':order_id}, function(json) {
    if (json.ret != 0) {
      $.toast(json.msg, "text");
      return false;
    }

    window.location.href = "/mobile/cart/";
  });
}
</script> 
{% endblock %}