<a href="{{ url_for('mobile.user.order_detail') }}">
  <div class="weui-cell">
    <div class="weui-cell__bd all_add">{{ order.add_time|timestamp2str('YYYY.MM.DD') }}</div>
    <div class="weui-cell__ft">
      <span class="trading_state">{{ text }}</span>
    </div>
  </div>
  {% set items = order.goods_data|json_loads %}
  {% for item in items %}
    <div class="weui-cell">
      <div class="weui-cell__hd avatar mar-right">
        <img src="{{ item['goods_img'] }}" alt="">
      </div>
      <div class="weui-cell__bd">
        <div class="all_title height25">{{ item['goods_name'] }}</div>
        <div class="all_desc height25">{{ item['goods_desc'] }}</div>
      </div>
      <div class="weui-cell__ft mar-left">
        <p class="all_price">￥{{ item['goods_price'] }}</p>
        <p>x {{ item['quantity'] }}</p>
      </div>
    </div>
  {% endfor %}
  <div class="weui-cell">
    <div class="weui-cell__bd"></div>
    <div class="weui-cell__ft amount">
      <span class="mar-right">{{_('共%s件商品' % order.goods_quantity)}}</span>
      <span>{{_('合计：￥%s(含运费￥%s)' % (order.order_amount, order.shipping_amount))}}</span>
    </div>
  </div>
</a>
<div class="weui-cell">
  <div class="weui-cell__bd"></div>
  <div class="weui-cell__ft">
    {% for _code in code %}
      {% if _code == 1 %}
        <a href="{{ url_for('mobile.cart.checkout', order_id=order.order_id) }}">
          <button type="button" class="order_btn order-state_btn">{{_('付款')}}</button>
        </a>
      {% endif %}
      {% if _code == 2 %}
        <!-- ?? -->
        <button type="button" class="order_btn" onclick="cancelOrder({{ order.order_id }})">{{_('取消订单')}}</button>
      {% endif %}
      {% if _code == 3 %}
        <!-- ?? -->
        <a href="{{ url_for('mobile.user.logistics') }}">
          <button type="button" class="order_btn">{{_('查看物流')}}</button>
        </a>
      {% endif %}
      {% if _code == 4 %}
        <!-- ?? -->
        <button type="button" class="order_btn order-state_btn" onclick="confirm({{ order.order_id }})">{{_('确认收货')}}</button>
      {% endif %}
      {% if _code == 5 %}
        <!-- ?? -->
        <a href="{{ url_for('mobile.user.review') }}">
          <button type="button" class="order_btn order-state_btn">{{_('去评价')}}</button>
        </a>
      {% endif %}
      {% if _code == 6 %}
        <a href="javascript:void(0);" onclick="add_to_cart({{ order.order_id }})">
          <button type="button" class="order_btn order-state_btn">{{_('再次购买')}}</button>
        </a>
      {% endif %}
      {% if _code == 7 %}
        <button type="button" class="order_btn" onclick="del({{ order.order_id }})">{{_('删除订单')}}</button>
      {% endif %}
    {% endfor %}
  </div>
</div>