{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
  {% set breadcrumbs = [{'title':_('首页'), 'href':url_for('admin.index.dashboard')},
                        {'title':_('用户'), 'href':url_for('admin.user.index')}, 
                        {'title':_('用户详情'), 'href':url_for('admin.user.detail', uid=form.uid.data)}, 
                        {'title':_('发优惠券'), 'href':''}] %}
  {{ libs.breadcrumbs(breadcrumbs) }}
  <div class="container-fluid">
    <!--.row-->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="white-box">
          <h3 class="box-title m-b-0">{{_('用户优惠券派发')}}</h3>
          <p class="text-muted m-b-30 font-13">{{_('请选择下面的优惠券')}}</p>
          {{ libs.render_form(form, 
              action=url_for('admin.user.coupon_save', uid=form.uid.data, avatar=form.avatar.data), 
              primary_key=form.uid.data) }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-wrapper -->
{% endblock %}