@charset "UTF-8";

@import "variables.less";

@height25: 25px;
@height35: 35px;

*{
  padding: 0;
  margin: 0;
  outline: none !important;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
body{background: #f3f4f5;}

a{
  text-decoration: none;
  vertical-align: top;
  color: inherit;
}

ul,li{
  list-style:none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ava{border-radius: 50%;}

.flex_wrap{display: flex;}

.flex{flex: 1;}

.flex50{
  flex: 0 1 calc(50% - 4.5px);
  overflow: hidden;
}
.flex34{
  flex: 0 1 calc(34%);
  overflow: hidden;
}
.bg-white{background: @white-color !important;}

.bg-red{background: @main-color !important;}

.bd-bottom{border-bottom: @border !important;}

.bd-top{border-top: @border !important;}

.bd-bottom5{border-bottom: @border5 !important;}

.bd-top5{border-top: @border5 !important;}

.bg-eee{background-color: @grey-color5 !important;}

.border-eee{border: @border5 !important;}

.color-eee{color: @grey-color5 !important;}

.not-before::before{
  right: 15px !important;
  border-top-color: @grey-color;
}

.mar-top{
  margin-top: 10px;
}
.mar-left{
  margin-left: 10px;
}
.mar-left25{
  margin-left: 25px;
}
.mar-left40{
  margin-left: 40px;
}
.mar-right{
  margin-right: 10px;
}
.mar-bottom{
  margin-bottom: 10px;
}
.pad-top40{
  padding-top: 40px;
}
.blackGap{
  font-size: @font-size14 !important;
  color: @black-color;
  font-weight: @font-weight400;
}
.greyGap{
  font-size: @font-size14 !important;
  color: @grey-color6;
  font-weight: @font-weight400;
}
.avatar{
  width: 50px;
  height: 50px;
  margin-right: 15px;
  img{
    width: 100%;
    height: 100%;
  }
}
.avatar80{
  width: 80px;
  height: 80px;
  margin-right: 25px;
  img{
    width: 100%;
    height: 100%;
  }
}
.avatar100{
  width: 100px;
  height: 100px;
  margin-right: 25px;
  img{
    width: 100%;
    height: 100%;
  }
}
.avatar60{
  width: 60px;
  height: 60px;
  margin-right: 30px;
  img{
    width: 100%;
    height: 100%;
  }
}
.avatar160{
  width: 150px;
  height: 150px;
  margin-right: 25px;
  padding: 4px;
  border: 1px solid #eee;
  border-radius: 150px;
  img{
    width: 100%;
    height: 100%;
  }
}

.header {
  position: relative;
  z-index: 101;
  color: @black-color;
  font-size: @font-size12;
  line-height: 1.5;
}
.header a{
  text-decoration: none;
  vertical-align: top;
}
header img{
  border: 0 none;
  vertical-align: top;
}
.clearfix:after {
  content: '.';
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.top-nav {
  position: relative;
  z-index: 103;
  height: @height35;
  background-color: @body-color;
  color: @grey-color6;
  .head-inner{
    z-index: 103;
  }
}
.head-inner{
  width: @width1170;
  margin: 0 auto;
  position: relative;
}
.top-nav-tool{
  float: right;
  li{
    float: left;
  }
}
.top-nav_item{
  position: relative;
  z-index: 11;
  width: 60px;
  height: @height35;
  line-height: @height35;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.top-nav_item::after{
  content: " ";
  position: absolute; 
  top: 8px;
  right: 0;
  height: 20px;
  width: 1px;
  border-right: @border;
}
.top-nav_item:last-child::after{
  border-right: none;
  width: 0;
  height: 0;
}
.mouseon{
  display: inline-block;
  width: 60px;
  height: @height35;
  line-height: @height35;
  color: @grey-color6;
}
.mouseon:hover{
  color: @main-color;
}
.head-logo{
  height: 100px;
  background-color: @white-color;
}
.one-logo{
  display: inline;
  position: relative;
  float: left;
  margin-right: 5px;
  width: 140px;
  height: 100px;
  overflow: hidden;
}
.logoImg{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.one-service{
  position: relative;
  display: inline;
  float: left;
  background: 0 0;
  width: 304px;
  height: 100px;
}
.serviceImg{
  display: inline-block;
  width: 304px;
  height: 100px;
}
.one-search{
  display: inline;
  float: right;
  position: relative;
  margin-top: 33px;
  width: 340px;
  &_form{
    position: relative;
    width: 338px;
    height: 32px;
    border: @border;
    border-radius: 3px;
    background-color: @white-color;
  }
  &_input{
    padding: 2px 15px;
    width: 261px;
    height: 28px;
    line-height: 28px;
    font-size: @font-size14;
    color: @black-color;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: @white-color;
  }
  &_button{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 8px;
    width: 47px;
    height: 24px;
    text-align: center;
    background-color: @white-color;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &_image{
    display: inline-block;
    width: 17px;
    height: 17px;
  }
}
.head-cart{
  position: relative;
  display: inline;
  width: 108px;
  float: right;
  margin-top: 33px;
  margin-left: 20px;
  background-color: @body-color;
  border: @border;
  border-radius: 3px;
  &:hover{
    background-color: @white-color;
    border-bottom: none;
  }
}
.tool{
  position: relative;
  width: 40px;
  height: 32px;
  line-height: 32px;
  padding-right: 35px;
  padding-left: 35px;
  cursor: pointer;
  text-align: center;
}
.tool-cnt{
  position: absolute;
  top: 50px;
  right: -1px;
  display: none;
  width: 300px;
  z-index: 11;
  background-color: @white-color;
  border: @border;
  border-top: none;
  &::before{
    content: " ";
    position: absolute; 
    top: -20px;
    right: -1px;
    width: 108px;
    height: 20px;
    border: @border;
    border-bottom: none;
    border-top: none;
  }
  &::after{
    border-right: none;
    content: " ";
    position: absolute; 
    top: -2px;
    right: 109px;
    width: 192px;
    height: 1px;
    border-bottom: @border;
  }
}
.cart-cnt{
  position: relative;
  max-height: 300px;
  overflow: auto;
}
.cart-text{
  margin-bottom: 10px;
  text-align: right;
  font-size: @font-size12;
  color: @black-color;
}
.cart-price{
  font-size: @font-size16;
  color: @main-color;
}
.head-cart:hover .tool-cnt{
  display: block;
}
.no-one{
  padding: 20px 15px;
  text-align: center;
  a{
    color: @main-color;
  }
}
.cart-bag{
  position: absolute;
  top: 8px;
  left: 8px;
  width: 18px;
  height: 18px;
}
.cart-text{
  color: @black-color;
}
.cart-badge{
  position: absolute;
  display: inline-block;
  top: 8px;
  right: 8px;
  border-radius: 10px;
  height: 16px;
  width: 24px;
  line-height: 16px;
  color: @white-color;
  font-size: @font-size12;
  text-align: center;
  background-color:@main-color;
}
.top-main{
  &_list{
    position: relative;
  }
  &_nav{
    clear: both;
    position: relative;
    height: 40px;
    line-height: 40px;
    background-color: @main-color;
    font-size: @font-size14;
    color: @white-color;
  }
  &_item{
    position: relative;
    float: left;
    height: 40px;
    line-height: 40px;
  }
  &_allCat{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    height: 40px;
    line-height: 40px;
  }
  &_atag{
    display: block;
    width: 85px;
    height: 40px;
    padding: 0 10px;
    text-align: center;
    color: @white-color;
    font-size: @font-size14;
    white-space: nowrap;
  }
}
.item_on{
  background-color: #ce2323;
  font-weight: bold;
}
.category-wrap{
  max-width: 1065px;
  height: 40px;
  overflow: hidden;
}
.all-title{
  font-size: @font-size14;
  font-weight:@font-weight400;
  color: @black-color;
  height: @height25;
  line-height: @height25;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.all-desc{
  font-size: @font-size12;
  color: @grey-color9;
  height: @height25;
  line-height: @height25;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.all-price{
  color: @main-color;
  height: 20px;
  line-height: 20px;
  font-size: @font-size14;
  font-weight: @font-weight400;
}
.price-del{
  color: @grey-color9;
  font-size: @font-size12;
  text-decoration: line-through;
}
.all-count{
  color: @grey-color6;
  font-size: @font-size12;
  font-weight: @font-weight400;
}
.all-add{
  color: @grey-color9;
  font-size: @font-size14;
  font-weight: @font-weight400;
}
.reg-btn{
  margin-top: 30px;
  padding: 15px;
}
.one-btn{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: @font-size16;
  color: @white-color;
  background-color: @main-color;
  border: none;
  border-radius: 5px;
  line-height: 2.5;
  overflow: hidden;
}
.back-top{
  position: fixed;
  right: 0;
  bottom: 50px;
  z-index: 110;
  width: 40px;
  height: 50px;
}
.back-top_img{
  position: relative;
  width: 40px;
  height: 50px;
  text-align: center;
  z-index: 110;
  background-color: @white-color;
  img{
    margin: 10px 5px;
    width: 30px;
    height: 30px;
  }
}
.top-nav_user{
  position: relative;
  z-index: 11;
  width: 90px;
  height: @height35;
  .user-on{
    line-height: @height35;
    text-align: center;
  }
  &::after{
    content: " ";
    position: absolute; 
    top: 8px;
    right: 0;
    height: 20px;
    width: 1px;
    border-right: @border;
  }
  &:hover{
    float: left;
    background-color: @white-color;
    color: @main-color;
      &::before{
      content: " ";
      position: absolute; 
      top: 0px;
      left: 0px;
      width: 89px;
      height: 35px;
      border: @border;
      border-bottom: none;
    }
    &::after{
      border-right: none;
      content: " ";
      position: absolute; 
      top: 34px;
      left: 90px;
      width: 180px;
      height: 1px;
      border-bottom: @border;
    }
  }
}
.user-wrap{
  position: absolute;
  top: 35px;
  left: 0px;
  display: none;
  width: 268px;
  background-color: @white-color;
  border: @border;
  border-top: none;
}
.top-nav_user:hover .user-wrap{
  display: block;
}
.one-cell{
  position: relative;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
  align-items: center;
  &::before{
    content: " ";
    position: absolute;
    left: 15px;
    top: 0;
    right: 0;
    height: 1px;
    border-top: @border5;
    color: @grey-color5;
    transform-origin: 0 0;
    transform: scaleY(.5);
    z-index: 2;
  }
  &:first-child::before{
    border-top: none;
  }
}
.not-oneCell::before{
  border-top: none !important;
  height: 0 !important;
}
.one-cell_bd{
  flex: 1;
  -webkit-box-flex: 1;
  overflow: hidden;
  text-align: left;
}
.one-cell_ft{
  text-align: right;
}
.username{
  cursor: pointer;
  font-size: @font-size14;
  color: @black-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover{
    color: @main-color;
  }
}
.signout{
  cursor: pointer;
  width: 40px;
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
  color: @black-color;
  text-align: center;
  &:hover{
    color: @main-color;
  }
}
.user-about{
  position: relative;
  display: flex;
  height: 25px;
  padding: 15px;
  overflow: hidden;
  span{
    position: relative;
    flex: 1;
    text-align: center;
    font-size: @font-size12;
    color: @black-color;
    line-height: 25px;
    &:hover{
      color: @main-color;
    }
    &::after{
      content: " ";
      position: absolute;
      top: 5px;
      right: 0;
      z-index: 11;
      width: 1px;
      height: 14px;
      border-right: @border5;
    }
    &:last-child::after{
      border-right: none;
    }
  }
  &::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    left: 15px;
    z-index: 11;
    border-top: @border5;
  }
}
.type{
  &-head{
    position: relative;
    width: 100%;
    height: 65px;
    z-index: 20;
    box-shadow: 0px 1px 2px @grey-color5;
    background-color: @white-color;
    &_text{
      position: relative;
      line-height: 65px;
      color: @black-color;
      font-size: @font-size16;
      font-weight: @font-weight400;
      span{
        padding: 0 15px;
        border-right: 2px solid @grey-color5;
      }
    }
  }
}
.apply-service_num{
  position: relative;
  width: 140px;
  height: 30px;
  line-height: 30px;
}
.num_minus{
  padding: 15px;
  float: left;
  &::before{
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    height: 2px;
    width: 16px;
    background: @grey-color;
  }
}
.num_add{
  padding: 15px;
  float: left;
  &::before{
    content: "";
    position: absolute;
    top: 15px;
    right: 5px;
    height: 2px;
    width: 16px;
    background: @grey-color;
  }
  &::after{
    content: "";
    position: absolute;
    top: 8px;
    right: 12px;
    height: 16px;
    width: 2px;
    background: @grey-color;
  }
}
.num_ipt{
  float: left;
  width: 68px;
  height: 28px;
  margin: 0px 5px;
  text-align: center;
  color: @grey-color6;
  font-size: @font-size14;
  border: 1px solid @grey-color;
}
.news-badge{
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 20px;
  border-radius: 7px;
  height: 14px;
  width: 14px;
  line-height: 14px;
  color: @white-color;
  font-size: @font-size12;
  text-align: center;
  background-color: @main-color;
}
.user-badge{
  position: absolute;
  display: inline-block;
  top: 2px;
  right: 5px;
  border-radius: 7px;
  height: 14px;
  width: 14px;
  line-height: 14px;
  color: @white-color;
  font-size: @font-size12;
  text-align: center;
  background-color: @main-color;
  font-style: inherit;
}
.icon-dagou,.icon-cancel,.icon-dayu,.icon-xiaoyu{
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.5px;
}
.icon-checkbox{
  position: relative;
  top: -1px;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border: @border;
  background-color: @white-color;
  color: @white-color;
  font-size: @font-size14;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.icon-notsel{
  background-color: @grey-color5;
  color: @grey-color5;
  cursor: default;
}
.icon-checkbox_selected{
  border-color: @main-color;
  background-color: @main-color;
}
.not-one{
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
  overflow: hidden;
  &_text{
    color: @grey-color6;
    font-size: 36px;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  &_btn{
    display: inline-block;
    width: 200px;
    height: 48px;
    line-height: 48px;
    font-size: @font-size16;
    text-align: center;
    margin-bottom: 70px;
    cursor: pointer;
    border: @border5;
  }
}
.btn-primary{
  border-color: @main-color !important;
  color: @white-color !important;
  background-color: @main-color !important;
}
.btn-grey{
  border-color: #b0b0b0 !important;
  color: @white-color !important;
  background-color: #b0b0b0 !important;
}
.one-nav_header{
  float: left;
  height: 100px;
  line-height: 100px;
  padding-left: 10px;
}
.nav-header_type{
  color: @black-color;
  font-size: 26px;
}
.hide,.allCnt{
  display: none !important;
}
.show{
  display: block !important;
}
.allOn{
  color: @main-color !important;
}
.ranpo{
  z-index: 1100;
}
.hide-mask{
  position: fixed !important;
  z-index: 1300;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
}
.wave{
  position: absolute;
  top: -6px;
  right: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-size: 8px 8px;
  background-position: -4px 5px;
  background-image: radial-gradient(transparent 0px, transparent 4px, #f33155 4px, #f33155 4px, white 4px, white);
}
.activeOn{
  width: 0 !important;
  height: 0 !important;
}
.user-main{
  padding-top: 40px;
  padding-bottom: 40px;
}
.allPad{
  padding: 40px;
}
.btn-link{
  display: block;
  margin-right: 15px;
  margin-bottom: 15px;
}
.order-type_btn{
  cursor: pointer;
  display: inline-block;
  border: @border;
  width: 118px;
  height: 30px;
  line-height: 28px;
  font-size: @font-size14;
  color: @grey-color6;
  text-align: center;
  background-color: @white-color;
}
.comment-page_list{
  height: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.page-box{
  padding: 10px 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.page-num{
  display: inline-block;
  width: 48px;
  height: 24px;
  padding: 3px 0;
  margin: 0 7px;
  font-size: @font-size18;
  font-weight: 200;
  line-height: 24px;
  color: @grey-color6;
}
.page-more{
  display: inline-block;
  height: 30px;
  font-size: @font-size18;
  font-weight: 200;
  line-height: 30px;
  color: @grey-color6;
}
.btn-current{
  cursor: default;
  background-color: @main-color;
  color: @white-color;
}
.goodsName{
  border-right: none !important;
  color: @grey-color9;
}
.rate-wrap{
  padding-top: 30px;
  padding-bottom: 30px;
}
.rate-type{
  display: inline-block;
  width: 130px;
  height: 30px;
  line-height: 30px;
  font-size: @font-size14;
  color: @black-color;
  text-align: center;
  margin-right: 10px;
  border-radius: 20px;
  border:@border;
  overflow: hidden;
}
.rateON{
  background-color: @main-color;
  color: @white-color;
  border: none;
}
.aftersales-goods_box {
  position: relative;
  margin-bottom: 28px;
  padding: 20px;
  border: 1px solid #ccc;
  border-left: 2px solid #b0b0b0;
}