@charset "UTF-8";

@import "variables.less";

@height400:400px;

.one-swiper{
  position: relative;
  height: @height400;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: @white-color;
}
.swiper-img{
  display: inline-block;
  width: @width1170;
  height: @height400;
}
