@charset "UTF-8";

@import "variables.less";
@height500:500px;

.goods-detail{
  position: relative;
  &_info{
    background-color: @white-color;
    padding-top: 30px;
    padding-bottom: 30px;
    height: @height500;
  }
}
.detail-info{
  &_cnt{
    position: relative;
    overflow: hidden;
    margin-left: -15px
  }
  &_left{
    position: relative;
    width: 755px;
    float: left;
    margin-left: 15px;
    overflow: hidden;
  }
  &_right{
    position: relative;
    width: 400px;
    height: @height500;
    margin-left: 15px;
    float: left;
  }
}
.info-left_box{
  user-select: none;
  position: relative;
  height: @height500;
  text-align: center;
}
.goods-big_pic{
  user-select: none;
  width: @height500;
  height: @height500;
  float: right;
  padding-left: 90px;
  padding-right: 75px;
  z-index: 10;
  cursor: zoom-in;
  img{
    user-select: none;
    width: 100%;
    height: 100%;;
  }
}
.goods-small_pic{
  user-select: none;
  position: relative;
  float: left;
  overflow: hidden;
}
.small-pic{
  &_list{
    width: 90px;
    height: @height500;
    overflow: hidden;
  }
  &_item{
    width: 78px;
    height: 78px;
    margin-bottom: 15px;
    padding: 5px;
    border: @border;
    cursor: pointer;
    overflow: hidden;
    &:last-child{
      margin-bottom: 0;
    }
    img{
      user-select: none;
      width: 100%;
      height: 100%;
    }
  }
}
.current{
  cursor: default;
  border-color: @main-color;
}
.info-right_box{
  position: relative;
  height: @height500;
}
.goods-name{
  color: @black-color;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
}
.goods-desc{
  font-size: @font-size14;
  color: @grey-color9;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.goods-price{
  height: 65px;
  line-height: 65px;
  font-size: 30px;
  border-top: @border5;
  border-bottom: @border5;
  color: @main-color;
  font-weight: @font-weight400;
  .price-del{
    font-size: @font-size16;
  }
}
.not-border{
  padding-left: 0 !important;
  padding-right: 0 !important;
  &::before{
    border-top: none !important;
    height: 0;
  }
}
.buycount{
  font-size: @font-size16;
  color: @black-color;
  font-weight: @font-weight400;
}
.serve-cell{
  margin-top: 10px;
  border-top: @border5;
  border-bottom: @border5;
}
.tagImg{
  width: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.tagText{
  font-size: @font-size12;
}
.detail_serve{
  height: 30px;
  line-height: 30px;
  color: @grey-color9;
  overflow: auto;
  &_item{
    padding: 0px 12px 0px 0;
    display: inline-block;
    line-height: 1;
  }
}
.cartTo,.buyTo,.downOut{
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  border: none;
}
.cartTo{
  background-color: #EA8D42;
}
.buyTo{
  background-color: @main-color;
}
.downOut{
  background-color: #c8c8c8;
}
.goods-scroll{
  display: inline-block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  color: @grey-color9;
  font-size: @font-size12;
  text-align: center;
  border-left: @border5;
  overflow: hidden;
  &:hover{
    color: @main-color;
  }
  &_img{
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
  }
}
.tipsImg{
  width: 25px;
  vertical-align: middle;
}
.service-tips:hover .service-all{
  display: block;
}
.service-all{
  position: absolute;
  bottom: 20px;
  right: 0;
  display: none;
  width: 300px;
  background-color: #f3f4f5;
  z-index: 30;
  border: @border5;
}
.service-head{
  line-height: 30px;
  color: @black-color;
  font-size: @font-size14;
  text-align: center;
}
.service-black{
  font-size: @font-size12;
  color: @black-color;
  font-weight: @font-weight400;
}
.service-grey{
  font-size: @font-size12;
  color: @grey-color6;
  font-weight: @font-weight400;
}
.goods-detail_nav{
  width: 100%;
  background-color: @white-color;
  border-top: @border5;
}
.detail-nav{
  &_list{
    width: 680px;
    margin: 0 auto;
    height: 60px;
    text-align: center;
  }
  &_item{
    display: inline-block;
    width: 168px;
    height: 20px;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
    font-size: @font-size16;
    color: @black-color;
    border-right: @border5;
    &:last-of-type{
      border-right: none;
    }
  }
  &_head{
    display: block;
    cursor: pointer;
    transition: color .2s ease-out;
    &:hover{
      color: @main-color;
    }
  }
}
.goods-detail-desc{
  width: 100%;
  text-align: center;
}
.detailBlock img{
  width: 100%;
  display: block;
}
.goods-comment_head{
  padding-top: 40px;
  margin-bottom: 10px;
}
.main-block{
  height: 60px;
}
.border-line{
  margin-top: 30px;
  height: 0px;
  border-top: @border5;
}
.head-text{
  width: 300px;
  height: 30px;
  line-height: 30px;
  margin: -15px auto 0;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: @grey-color9;
  background-color: #f3f4f5;
}
.percent-block{
  width: 300px;
  padding: 40px;
  text-align: center;
}
.percent{
  font-size: 30px;
  font-weight: @font-bold;
  line-height: 60px;
  color: @main-color;
}
.percent-type{
  font-size: @font-size16;
  line-height: 30px;
  color: @black-color;
}
.rate-wrap{
  padding-top: 30px;
  padding-bottom: 30px;
}
.rate-type{
  display: inline-block;
  width: 130px;
  height: 30px;
  line-height: 30px;
  font-size: @font-size14;
  color: @black-color;
  text-align: center;
  margin-right: 10px;
  border-radius: 20px;
  border:@border;
  overflow: hidden;
}
.rateON{
  background-color: @main-color;
  color: @white-color;
  border: none;
}
.comment-cnt_item{
  position: relative;
  display: flex;
  padding: 20px;
  border-bottom: 0px;
  -webkit-box-align: start !important;
  align-items: flex-start !important;
}
.comment-cnt_item::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  border-top: @border5;
  color: #e5e5e5;
  transform-origin: 0 0;
  transform: scaleY(.5);
  left: 20px;
}
.cnt-item_hd{
  width: 55px;
  height: 55px;
  margin-right: 15px;
  line-height: 55px;
  text-align: center;
  img{
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}
.cnt-item_bd{
  flex: 1;
  min-width: 0;
  overflow: hidden;
}
.rate-text{
  float: right;
  color: @grey-color9;
  font-size: @font-size14;
  font-weight: normal;
}
.review-title{
  font-size: @font-size16;
  font-weight:@font-bold;
  color: @black-color;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.review-add{
  font-size: @font-size16;
  color: @grey-color9;
}
.review_cnt{
  color: @black-color;
  font-size: @font-size18;
  line-height: 1.5;
  margin-top: 10px;
  word-break: break-all;
}
.comment-img_wrap{
  position: relative;
  //height: 180px;
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 20px;
  //overflow: hidden;
}
.commentImg{
  display: inline-block;
  width: 160px;
  height: 160px;
  left: 0;
  top: 0;
  margin-right: 5px;
  margin-bottom: 10px;
  img{
    width: 100%;
    height: 100%;
  }
}
.comment-page_list{
  height: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.page-num{
  display: inline-block;
  width: 50px;
  height: 20px;
  padding: 3px 0;
  margin: 0 5px;
  font-size: @font-size16;
  font-weight: @font-weight400;
  line-height: 20px;
  color: @black-color;
  border: @border;
}
.page-more{
  display: inline-block;
  height: 33px;
  font-size: @font-size16;
  font-weight: @font-weight400;
  line-height: 25px;
  color: @black-color;
}
.null-comment_cnt{
  padding: 30px;
  line-height: 2;
  text-align: center;
  background-color: @white-color;
  font-size: @font-size18;
  color: @grey-color6;
}