@charset "UTF-8";

@import "variables.less";

.changeInfo{
  display: block;
  font-size: @font-size12;
  color: @main-color;
  margin-top: 10px;
}
.user-name{
  font-size: 24px;
  font-weight: @font-weight400;
  color: @black-color;
}