{# 全局是否 #}
{% set YES_OR_NO = {0:_('否'), 1:_('是')} %}

{# 评价文本 #}
{% set RATING_TEXT = {1:_('差评'), 2:_('中评'), 3:_('好评')} %}

{# 性别 #}
{% set GENDER = {1:_('男'), 2:_('女')} %}

{# 资金事件 #}
{% set FUNDS_EVENT = {1:_('余额充值'), 2:_('余额支付'), 3:_('订单退款')} %}

{# 售后类型 #}
{% set AFTERSALES_TYPE = {1:_('仅退款'), 2:_('退货退款'), 3:_('仅换货')} %}
