{# 菜单导航栏 #}
{% macro bottom_navigation_bar() -%}
  {% set _view = request.path.split('/')[2] %}
  <div class="height61"></div>
  <div class="foot_wrap">
    <ul class="footer">
      <li class="flex pstR">
        <a href="{{ url_for('mobile.index.root') }}">
          <div class="icom_photo">
            {% set _src = '/static/default/mobile/img/homeOn.png' if _view == '' else '/static/default/mobile/img/home.png' %}
            {% set _on = 'on' if _view == '' else '' %}
            <img src="{{ _src }}" alt="">
          </div>
          <p class="foot_text {{ _on }}">首页</p>
        </a>
      </li>
      <li class="flex pstR">
        <a href="{{ url_for('mobile.category.root') }}">
          <div class="icom_photo">
            {% set _src = '/static/default/mobile/img/categoryOn.png' if _view == 'category' else '/static/default/mobile/img/category.png' %}
            {% set _on = 'on' if _view == 'category' else '' %}
            <img src="{{ _src }}" alt="">
          </div>
          <p class="foot_text {{ _on }}">分类</p>
        </a>
      </li>
      <li class="flex pstR">
        <a href="{{ url_for('mobile.cart.root') }}">
          {% set cart_total = session.get('cart_total', 0) %}
          {% if cart_total %}
            {% set cart_total = cart_total if cart_total <=99 else '99+' %}
            <span id="cart_total" class="weui-badge msg_badge">{{ cart_total }}</span>
          {% endif %}
          <div class="icom_photo">
            {% set _src = '/static/default/mobile/img/cartOn.png' if _view == 'cart' else '/static/default/mobile/img/cart.png' %}
            {% set _on = 'on' if _view == 'cart' else '' %}
            <img src="{{ _src }}" alt="">
          </div>
          <p class="foot_text {{ _on }}">购物车</p>
        </a>
      </li>
      <li class="flex pstR">
        <a href="{{ url_for('mobile.me.index') }}">
          {% set uid = session.get('uid', 0) %}
          {% if uid and g.unread_count > 0 %}
            {% set unread_count = g.unread_count if g.unread_count <= 99 else '99+'  %}
            <span class="weui-badge msg_badge">{{ g.unread_count }}</span>
          {% endif %}
          <div class="icom_photo">
            {% set _src = '/static/default/mobile/img/userOn.png' if _view == 'me' else '/static/default/mobile/img/user.png' %}
            {% set _on = 'on' if _view == 'user' else '' %}
            <img src="{{ _src }}" alt="">
          </div>
          <p class="foot_text {{ _on }}">我的</p>
        </a>
      </li>
    </ul>
  </div>
{% endmacro %}


{# 分页 - 加载状态 #}
{% macro paging_loading_status_html(url) -%}
  <div id="paging_load_status" class="weui-loadmore weui-loadmore_line hide">
      <span class="weui-loadmore__tips">{{_('加载中……')}}</span>
  </div>
{% endmacro %}

{# 分页 - js #}
{% macro paging_js(url, distance, p=1, ps=10) -%}
  <script type="text/javascript">
    var paging_loading = false;
    var paging_page = {{ p }};

    $(document).ready(function(){
      $(document.body).infinite({{ distance }}).on('infinite', function() {
        if(paging_loading) return;

        $('#paging_load_status').toggleClass('hide');
        paging_loading = true;
        paging_page += 1;

        $.get('{{ url }}', {'ps':{{ ps }}, 'p':paging_page}, function(res){
          if (res.trim() == '') {
            $('#paging_load_status > span').text('没有了');
            $(document.body).destroyInfinite();
            return;
          }

          $('#paging_load_status').toggleClass('hide');
          $('#paging-data-list').append(res);
          paging_loading = false;
        });
      });

    });
  </script>
{% endmacro %}


{# 页脚 #}
{% macro footer() -%}
  <footer class="company">
    2018 &copy; 深圳市木棉花云网络科技有限公司
  </footer>
{% endmacro %}

{#
微信公众号分享函数
:title 分享标题
:desc 分享描述
:imgUrl 分享图片100x100 
#}
{%- macro share_weixin(title='一店商城 完全免费 代码全公开 10万+商家选择的商城', desc='木棉花云提供计算服务', imgUrl='https://static-aliyun.kapokcloud.com/applogo/kapokcloud-logo-108x108.png') -%}
<meta name="wx-share-title" content="{{ title }}">
<meta name="wx-share-desc" content="{{ desc }}">
{% if imgUrl[:2] == '//' %}
  {% set protocol = request.url[:request.url.find('://')] %}
  <meta name="wx-share-imgUrl" content="{{ protocol }}:{{ imgUrl }}">
{% else %}
  <meta name="wx-share-imgUrl" content="{{ imgUrl }}">
{% endif %}


{%- endmacro -%}