{% extends '/default/mobile/layout/base.html.j2' %}
{% import '/default/mobile/libs/libs.html.j2' as libs %}

{% block head %}
<title>{{ category.cat_name }} - {{_('一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/category.css"> 
{% endblock %}

{% block body %}
<div class="category_wrap mar-top">
  <ul class="category">
    {% for category in categories %}
      <li class="category_item">
        <a href="{{ url_for('mobile.category.root', cat_id=category.cat_id) }}">
          <div class="category_phone">
            <img src="{{ category.cat_img }}-square.middle" alt="">
          </div>
          <p class="category_name">{{ category.cat_name }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>

  {{ libs.bottom_navigation_bar() }}
</div>
{% endblock %}

