{% extends '/default/mobile/layout/base.html.j2' %}
{% import '/default/mobile/libs/libs.html.j2' as libs %}

{% block head %}
<title>{{_('分类页 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/category.css"> 
{% endblock%}

{% block body %}
<div class="category_wrap mar-top">
  {% for category in categories %}
    {% if loop.index0%3 == 0 %}
      <ul class="category">
    {% endif %}

    <li class="flex34">
      <a href="{{ url_for('mobile.item.index', cat_id=category.cat_id) }}">
        <div class="category_phone">
          <img src="{{ category.cat_img }}" alt="">
        </div>
        <p class="category_name">{{ category.cat_name }}</p>
      </a>
    </li>

    {% if not loop.first and loop.index0%2 == 0 %}
      </ul>
    {% elif loop.last and loop.index0%2 != 0 %}
      </ul>
    {% endif %}
  {% endfor %}

  {{ libs.bottom_navigation_bar() }}
</div>
{% endblock%}

