{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}
{% import '/default/admin/libs/const.html.j2' as const %}

{% block head %}
<!-- Color picker plugins css -->
  <link href="/static/default/admin/plugins/bower_components/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
  <!-- Date picker plugins css -->
  <link href="/static/default/admin/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
  <!-- Daterange picker plugins css -->
  <link href="/static/default/admin/plugins/bower_components/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
  <link href="/static/default/admin/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    {{ libs.build_tabs([
        {'label':_('全部订单'), 'value':0, 'endpoint':'admin.order.index'},
        {'label':_('待付款'), 'value':1, 'endpoint':'admin.order.index'},
        {'label':_('待发货'), 'value':2, 'endpoint':'admin.order.index'},
        {'label':_('已发货'), 'value':3, 'endpoint':'admin.order.index'},
      ], 'tab_status') }}
    <div class="row">
      <div class="col-md-12">
        <div class="white-box">
          {% set tab_status = request.args.get('tab_status', '0') %}
          {% if tab_status == '0' or tab_status == '' %}
            {% set 
              form_fields = [
                {'label':'页面类型', 'name':'tab_status', 'type':'hidden'},
                {'label':'订单编号', 'name':'order_sn'},
                {'label':'物流单号', 'name':'shipping_sn'},
                {'label':'手机号码', 'name':'mobile'},
                {'label':'收件人', 'name':'name'},
                {'label':'下单日期', 'name':'add_time_daterange', 'type':'daterange'},
                {'label':'支付日期', 'name':'paid_time_daterange', 'type':'daterange'},
                {'label':'发货日期', 'name':'shipping_time_daterange', 'type':'daterange'}
              ]
            %}
          {% elif tab_status == '1' %}
            {% set 
              form_fields = [
                {'label':'页面类型', 'name':'tab_status', 'type':'hidden'},
                {'label':'订单编号', 'name':'order_sn'},
                {'label':'手机号码', 'name':'mobile'},
                {'label':'收件人', 'name':'name'},
                {'label':'下单日期', 'name':'add_time_daterange', 'type':'daterange'}
              ]
            %}
          {% elif tab_status == '2' %}
            {% set 
              form_fields = [
                {'label':'页面类型', 'name':'tab_status', 'type':'hidden'},
                {'label':'订单编号', 'name':'order_sn'},
                {'label':'物流单号', 'name':'shipping_sn'},
                {'label':'手机号码', 'name':'mobile'},
                {'label':'收件人', 'name':'name'},
                {'label':'下单日期', 'name':'add_time_daterange', 'type':'daterange'},
                {'label':'支付日期', 'name':'paid_time_daterange', 'type':'daterange'}
              ]
            %}
          {% elif tab_status == '3' %}
            {% set 
              form_fields = [
                {'label':'页面类型', 'name':'tab_status', 'type':'hidden'},
                {'label':'订单编号', 'name':'order_sn'},
                {'label':'物流单号', 'name':'shipping_sn'},
                {'label':'手机号码', 'name':'mobile'},
                {'label':'收件人', 'name':'name'},
                {'label':'下单日期', 'name':'add_time_daterange', 'type':'daterange'},
                {'label':'支付日期', 'name':'paid_time_daterange', 'type':'daterange'},
                {'label':'发货日期', 'name':'shipping_time_daterange', 'type':'daterange'}
              ]
            %}
          {% else %}
            {% set form_fields = [] %}
          {% endif %}
          {{ libs.build_search_form(form_fields) }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="white-box">
          <div class="table-responsive">
            <table class="table table-hover product-overview footable" id="myTable">
              <thead>
                <tr>
                  <th>{{_('订单编号')}}</th>
                  <th>{{_('商品图片')}}</th>
                  <th>{{_('商品数量')}}</th>
                  <th>{{_('收件人')}}</th>
                  <th>{{_('手机号码')}}</th>
                  <th>{{_('付款时间')}}</th>
                  <th>{{_('物流单号')}}</th>
                  <th>{{_('发货时间')}}</th>
                  <th>{{_('状态')}}</th>
                  <th>{{_('下单时间')}}</th>
                  <th>{{_('操作')}}</th>
                </tr>
              </thead>
                <tbody>
                  {% for order in orders %}
                    <tr>
                      <td>{{ order.order_sn }}</td>
                      <td>
                        {% set items = order['goods_data']|json_loads %}
                        {% for item in items %}
                          <img src="{{ item['goods_img'] }}" width="50" />
                        {% endfor %}
                      </td>
                      <td>{{ order['goods_quantity'] }}</td>
                      <td>{{ order['name'] }}</td>
                      <td>{{ order['mobile'] }}</td>
                      {% set paid_time = order['paid_time']|timestamp2str if order['paid_time'] else '' %}
                      <td>{{ paid_time }}</td>
                      <td>{{ order['shipping_sn'] }}</td>
                      {% set shipping_time = order['shipping_time']|timestamp2str if order['shipping_time'] else '' %}
                      <td>{{ shipping_time }}</td>
                      <td>{{ order['status_text'] }}</td>
                      <td>{{ order['add_time']|timestamp2str }}</td>
                      <td>
                        <a href="{{url_for('admin.order.detail', order_id=order['order_id'])}}" class="text-inverse p-r-10" data-toggle="tooltip" title="{{_('查看')}}">
                          <i class="ti-pencil-alt"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                {{ libs.pagination_html(pagination, 9) }}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<!-- Plugin JavaScript -->
<script src="/static/default/admin/plugins/bower_components/moment/moment.js"></script>
<!-- Clock Plugin JavaScript -->
<script src="/static/default/admin/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js"></script>
<!-- Color Picker Plugin JavaScript -->
<script src="/static/default/admin/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
<script src="/static/default/admin/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
<script src="/static/default/admin/plugins/bower_components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="/static/default/admin/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Date range Plugin JavaScript -->
<script src="/static/default/admin/plugins/bower_components/timepicker/bootstrap-timepicker.min.js"></script>
<script src="/static/default/admin/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js?v=35"></script>
<script type="text/javascript">
$(document).ready(function(){
  // Daterange picker
  $('.input-daterange-datepicker').daterangepicker({
    format: 'YYYY-MM-DD',
    buttonClasses: ['btn', 'btn-sm'],
    applyClass: 'btn-success',
    cancelClass: 'btn-info',
    clearClass: 'btn-inverse'
  });
});
</script>
{% endblock %}

