{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      
    </div>
    <!-- .row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="white-box">
          
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
{% endblock %}