{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<div id="page-wrapper">
  {% set breadcrumbs = [{'title':_('商品'), 'href':url_for('admin.item.index')}, {'title':g.page_title, 'href':""}] %}
  {{ libs.breadcrumbs(breadcrumbs) }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="white-box">
          <ul class="nav customtab nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="javascript:;">
                <span class="visible-xs">{{_('基本信息')}}</span>
                <span class="hidden-xs">{{_('基本信息')}}</span>
              </a>
            </li>
            <li role="presentation">
              {% set href = url_for('admin.item.h5', goods_id=item.goods_id) if item.goods_id else 'javascript:;' %}
              {% set style = '' if item.goods_id else 'cursor:not-allowed' %}
              <a href="{{ href }}" style="{{ style }}">
                <span class="visible-xs">{{_('详情')}}</span>
                <span class="hidden-xs">{{_('详情')}}</span>
              </a>
            </li>
            <li role="presentation">
              {% set href = url_for('admin.item.galleries', goods_id=item.goods_id) if item.goods_id else 'javascript:;' %}
              {% set style = '' if item.goods_id else 'cursor:not-allowed' %}
              <a href="{{ href }}" style="{{ style }}">
                <span class="visible-xs">{{_('相册')}}</span>
                <span class="hidden-xs">{{_('相册')}}</span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home1">
              {{ libs.render_form(form,
              action=url_for('admin.item.save'),
              enctype="multipart/form-data",
              primary_key=form.goods_id.data) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}