{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block head %}
<!-- Dropify CSS -->
<link rel="stylesheet" href="/static/default/admin/plugins/bower_components/dropify/dist/css/dropify.min.css">
<!-- Popup CSS -->
<link href="/static/default/admin/plugins/bower_components/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="page-wrapper">
  {% set breadcrumbs = [{'title':_('商品'), 'href':url_for('admin.item.index')}, {'title':g.page_title, 'href':""}] %}
  {{ libs.breadcrumbs(breadcrumbs) }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="white-box">
          <ul class="nav customtab nav-tabs" role="tablist">
            <li role="presentation">
              <a href="{{ url_for('admin.item.detail', goods_id=goods_id) }}">
                <span class="visible-xs">{{_('基本信息')}}</span>
                <span class="hidden-xs">{{_('基本信息')}}</span>
              </a>
            </li>
            <li role="presentation">
              <a href="{{ url_for('admin.item.h5', goods_id=goods_id) }}">
                <span class="visible-xs">{{_('详情')}}</i></span>
                <span class="hidden-xs">{{_('详情')}}</span>
              </a>
            </li>
            <li role="presentation" class="active">
              <a href="javascript:;">
                <span class="visible-xs">{{_('相册')}}</span>
                <span class="hidden-xs">{{_('相册')}}</span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home1">
              <form action="{{ url_for('admin.item.galleries_save') }}" method="POST" enctype="multipart/form-data">
                <div class="row">
                  <div id="upload-0" class="col-xs-6 col-sm-4 ol-md-3 col-lg-2" style="margin-bottom: 10px;">
                    <input name="image" type="file" class="dropify" />
                  </div>
                  {% for index in range(1, 12) %}
                    <div id="upload-{{ index }}" class="col-xs-6 col-sm-4 ol-md-3 col-lg-2" style="margin-bottom: 10px;display: none;">
                      <input name="image" type="file" class="dropify" />
                    </div>
                  {% endfor %}
                </div>
                {{ libs.wtf_input(wtf_form.goods_id, '', _value=goods_id, _type="hidden") }}
                {{ wtf_form.csrf_token }}
                <div class="form-group" style="margin-bottom: 0px !important;">
                  <button class="btn btn-success" type="button" onclick="add_upload(this)" data-i="1">添加</button>
                  <button id="form-submit" class="btn btn-danger" type="submit">提交</button>
                </div>
              </form>

              <hr />

              <div class="row zoom-gallery">
                {% for gallery in galleries %}
                  <div class="col-xs-6 col-sm-4 ol-md-3 col-lg-2">
                    <a href="{{ gallery.img }}" title="">
                      <img class="img-responsive" src="{{ gallery.img|format_avatar(2) }}" />
                    </a>
                    <br />
                    <p class="text-center">
                      <button type="button" class="btn btn-danger btn-circle" data-toggle="tooltip" title="" data-original-title="删除" onclick="remove({{ gallery.id }}, this)">
                        <i class="fa fa-times"></i>
                      </button>
                    </p>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<!-- Magnific popup JavaScript -->
<script src="/static/default/admin/plugins/bower_components/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
<script src="/static/default/admin/plugins/bower_components/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
<!-- jQuery file upload -->
<script src="/static/default/admin/plugins/bower_components/dropify/dist/js/dropify.js"></script>
<script type="text/javascript">
function add_upload(dom) {
  var $dom = $(dom);
  var i = $dom.attr('data-i');

  $("#upload-"+i).show();

  $dom.attr('data-i', parseInt(i)+1);
}

function remove(id, dom) {
  var $dom = $(dom);

  swal({
    title: "{{_('确认删除')}}",
    text: "{{_('确认删除相册图片？')}}",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "{{_('删除')}}",
    cancelButtonText: "{{_('取消')}}",
    closeOnConfirm: false
  }, function(){
    $.get("{{ url_for('admin.item.galleries_remove') }}", {'id':id}, function(json) {
      if (json.ret != 0) {
        swal("{{_('删除失败')}}", json.msg, "error");
        return false;
      }

      $dom.parent().parent().remove();
      swal("{{_('删除成功')}}", "", "success");
    });
  });
}

{% if err_msg %}
$.toast({
    heading: "{{_('上传失败')}}",
    text: "{{_(err_msg)}}",
    position: 'top-right',
    loaderBg: '#ff6849',
    icon: 'error',
    hideAfter: 3500

});
{% endif %}

$(document).ready(function(){
  var drEvent = $('.dropify').dropify({
    maxFileSize:'2M',
    allowedFileExtensions: ['png', 'jpg', 'jpeg', 'gif', 'bmp'],
    messages: {
      'default': "{{_('点击上传图片<br>图片大小2M以内<br>不小于800x800正方形图片')}}",
      'replace': "{{_('点击替换图片')}}",
      'remove':  "{{_('移除')}}",
      'error':   "{{_('出错啦:(')}}"
    },
    error: {
      'fileSize': "{{_('文件大小不能超过2M')}}",
      'fileExtension': "{{_('仅允许上传png、jpg、jpeg、bmp图片文件')}}"
    }
  });
});
</script>
{% endblock %}
