{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}
{% import '/default/admin/libs/const.html.j2' as const %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    {% set tab_status = request.args.get('tab_status', '0') %}
    {{ libs.build_tabs([
        {'label':_('全部商品'), 'value':0, 'endpoint':'admin.item.index'},
        {'label':_('销售中'), 'value':1, 'endpoint':'admin.item.index'},
        {'label':_('已下架'), 'value':2, 'endpoint':'admin.item.index'},
        {'label':_('热卖'), 'value':3, 'endpoint':'admin.item.index'},
        {'label':_('推荐'), 'value':4, 'endpoint':'admin.item.index'},
      ], 'tab_status', btns=[{'label':_('添加商品'), 'href':url_for('admin.item.create')}]) }}
    <div class="row">
      <div class="col-md-12">
        <div class="white-box">
          {% set 
            form_fields = [
              {'label':'页面类型', 'name':'tab_status', 'type':'hidden'},
              {'label':'是否在售', 'name':'is_sale', 'type':'hidden'},
              {'label':'热卖', 'name':'is_hot', 'type':'hidden'},
              {'label':'名称', 'name':'goods_name'},
              {'label':'分类', 'name':'cat_id', 'type':'select', 'options':cats}
            ]
          %}
          {{ libs.build_search_form(form_fields) }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="white-box">
          <div class="table-responsive">
            <table class="table table-hover product-overview footable" id="myTable">
              <thead>
                <tr>
                  <th>{{_('ID')}}</th>
                  <th>{{_('名称')}}</th>
                  <th>{{_('图片')}}</th>
                  <th>{{_('分类')}}</th>
                  <th>{{_('商品金额')}}</th>
                  <th>{{_('库存数量')}}</th>
                  <th>{{_('是否在售')}}</th>
                  <th>{{_('是否热门商品')}}</th>
                  <th>{{_('是否推荐')}}</th>
                  <th>{{_('添加时间')}}</th>
                  <th>{{_('操作')}}</th>
                </tr>
              </thead>
                <tbody>
                  {% for item in items %}
                    <tr id="item-{{item.goods_id}}">
                      <td>{{ item.goods_id }}</td>
                      <td>{{ item.goods_name }}</td>
                      <td> <img src="{{ item.goods_img|format_avatar }}" alt="" width="80"> </td>
                      <td>{{ item.cat_name }}</td>
                      <td>{{ item.goods_price|format_amount(1) }}</td>
                      <td>{{ item.stock_quantity }}</td>
                      <td>
                        <span class="label {{ const.YES_OR_NO_LABEL.get(item.is_sale, 'label-danger') }} font-weight-100">
                          {{ const.YES_OR_NO.get(item.is_sale, _('未知错误')) }}
                        </span>
                      </td>
                      <td>
                        <span class="label {{ const.YES_OR_NO_LABEL.get(item.is_hot, 'label-danger') }} font-weight-100">
                          {{ const.YES_OR_NO.get(item.is_hot, _('未知错误')) }}
                        </span>
                      </td>
                      <td>
                        <span class="label {{ const.YES_OR_NO_LABEL.get(item.is_recommend, 'label-danger') }} font-weight-100">
                          {{ const.YES_OR_NO.get(item.is_recommend, _('未知错误')) }}
                        </span>
                      </td>
                      <td>{{ item.add_time|timestamp2str }}</td>
                      <td>
                        <a href="{{ url_for('admin.item.detail', goods_id=item.goods_id) }}" class="text-inverse p-r-10" data-toggle="tooltip" title="{{_('编辑')}}">
                          <i class="ti-marker-alt"></i>
                        </a>
                        <a href="javascript:void(0);" class="text-inverse" data-toggle="tooltip" title="{{_('删除')}}" onclick="remove({{ item.goods_id }})">
                          <i class="ti-trash"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                {{ libs.pagination_html(pagination, 20) }}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
function remove(goods_id) {
  swal({
    title: "{{_('确认删除')}}",
    text: "{{_('确认删除商品？')}}",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "{{_('删除')}}",
    cancelButtonText: "{{_('取消')}}",
    closeOnConfirm: false
  }, function(){
    $.get("{{ url_for('admin.item.remove') }}", {'goods_id':goods_id}, function(json) {
      if (json.ret != 0) {
        swal("{{_('删除失败')}}", json.msg, "error");
        return false;
      }

      $("#item-"+goods_id).remove();
      swal("{{_('删除成功')}}", "", "success");
    });
  });
}
</script>
{% endblock %}
