{% import '/default/pc/libs/libs.html.j2' as libs %}
{% import '/default/pc/libs/const.html.j2' as const %}

<ul class="goods-comment_cnt bg-white head-inner">
  {% for comment in comments %}
    <li class="comment-cnt_item">
      <div class="cnt-item_hd">
        <img class="ava" src="{{ comment.avatar|format_avatar(0) }}" alt="">
      </div>
      <div class="cnt-item_bd">
        <div class="review-title">
          {{ comment.nickname|default(_('匿名')) }}
          <span class="rate-text">{{ const.RATING_TEXT.get(comment.rating) }}</span>
        </div>
        <div class="review-add mar-top">{{ comment.add_time|timestamp2str }}</div>
        <div class="review_cnt">{{ comment.content }}</div>
        {% if comment.img_data %}
        <ul class="comment-img_wrap">
          {% set imgs = comment.img_data|json_loads %}
          {% for img in imgs %}
            <li class="commentImg">
              <img src="{{ img }}" alt="">
            </li>
          {% endfor %}   
        </ul>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
{{ libs.pagination_html_js(pagination, params) }}
