{% extends '/default/pc/layout/base.html.j2' %}

{% block head %}
<title>{{_('商品分类页 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/index.css">
<link rel="stylesheet" href="/static/default/pc/iconfont/iconfont.css">
{% endblock %}

{% block body %}
<div class="index_wrap">
  <div class="box-wrap clearfix">
    <div class="type-head">
      <div class="head-inner">
        <p class="type-head_text">
          {% set cat_name = category.cat_name if category else "" %}
          <span>{{ cat_name }}</span>
        </p>
      </div>
    </div>
    <div class="head-inner">
      <ul class="all-list clearfix pad-top40">
        {% for item in items %}
          <li class="list-item">
            <a href="{{ url_for('pc.item.detail', goods_id=item.goods_id) }}">
              <div class="item-product">
                <img src="{{ item.goods_img }}" alt="">
              </div>
              <div class="item-detail">
              <p class="all-title">{{ item.goods_name }}</p>
              <p class="all-desc">{{ item.goods_desc }}</p>
                <div class="all-price mar-top">
                  <span>￥{{ item.goods_price }}</span>
                  {% if item.market_price > 0 %}
                    <span class="price-del">￥{{ item.market_price }}</span>
                  {% endif %}
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
        <!-- <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img12.360buyimg.com/n1/jfs/t16849/153/1617055958/168557/60b0a4e9/5ad06574N286156e8.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭脖</p>
              <p class="all-desc">微辣 450g+200g</p>
              <div class="all-price mar-top">
                <span>￥69</span>
              </div>
            </div>
          </a>
        </li> -->
      </ul>
      <!-- 分页 每20条一页 -->
      <div class="comment-page_list">
        <span class="page-num page-first">
          <i class="icon-xiaoyu"></i>
        </span>
        <span class="page-num btn-current">1</span>
        <a href="" class="page-num">2</a>
        <a href="" class="page-num">3</a>
        <a href="" class="page-num">4</a>
        <a href="" class="page-num">5</a>
        <a href="" class="page-num">6</a>
        <span class="page-more">...</span>
        <a href="" class="page-num">12</a>
        <a href="" class="page-num page-last">
          <i class="icon-dayu"></i>
        </a>
      </div>
      <!-- 分页 end -->
    </div>
  </div>
</div>
{% endblock %}

{% block script %} {% endblock%}