{% for item in items %}
  <li class="list_item">
    <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
      <div class="item-product">
        <img src="{{ item.goods_img }}" alt="">
      </div>
      <div class="item-detail">
        <div class="all-title">{{ item.goods_name }}</div>
        <p class="all-desc">{{ item.goods_desc }}</p>
        <div class="all-price mar-top">
          <span>￥{{ item.goods_price }}</span>
          {% if item.market_price > 0 %}
            <span class="price_del">￥{{ item.market_price }}</span>
          {% endif %}
        </div>
      </div>
    </a>
  </li>
{% endfor %}