{% extends '/default/pc/layout/base.html.j2' %}
{% import '/default/pc/libs/libs.html.j2' as libs %}

{% block head %}
<title>{{_('推荐 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/index.css">
<link rel="stylesheet" href="/static/default/pc/iconfont/iconfont.css">
{% endblock %}

{% block body %}
<div class="index_wrap">
  <div class="box-wrap clearfix">
    <div class="type-head">
      <div class="head-inner">
        <p class="type-head_text">
          <span>{{_('推荐')}}</span>
        </p>
      </div>
    </div>
    <div class="head-inner">
      <ul class="all-list clearfix pad-top40">
        {% for item in items %}
          <li class="list-item">
            <a href="{{ url_for('pc.item.detail', goods_id=item.goods_id) }}">
              <div class="item-product">
               <img src="{{ item.goods_img }}" alt="">
              </div>
              <div class="item-detail">
                <p class="all-title">{{ item.goods_name }}</p>
                <p class="all-desc">{{ item.goods_desc }}</p>
                <div class="all-price mar-top">
                  <span>￥{{ item.goods_price }}</span>
                  {% if item.market_price > 0 %}
                    <span class="price-del">￥{{ item.market_price }}</span>
                  {% endif %}
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      <!-- 分页 每20条一页 -->
      {{ libs.pagination_html(pagination,20) }}
      <!-- 分页 end -->
    </div>
  </div>
</div>
{% endblock %}

{% block script %} {% endblock%}