{% extends '/default/mobile/layout/base.html.j2' %}


{% block head %}
<title>{{_('交易明细详情 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/pay.css">
{% endblock %}

{% block body %}
<div class="weui-cells weui-cells_form">
  <div class="weui-form-preview">
    <div class="weui-form-preview__hd">
      {% set type = _('入账金额') if detail.funds_change > 0 else _('出账金额') %}
      <label class="weui-form-preview__label">{{ type }}</label>
      {% set color = 'changeRu' if detail.funds_change > 0 else 'changeChu' %}
      <em class="weui-form-preview__value {{ color }}">{{ detail.funds_change }}</em>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">{{_('类型')}}</label>
        {% set event = const.FUNDS_EVENT.get(detail.event) %}
        <span class="weui-form-preview__value">{{ event }}</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">{{_('时间')}}</label>
        <span class="weui-form-preview__value">{{ detail.add_time|timestamp2str }}</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %} {% endblock %}