{% extends '/default/mobile/layout/base.html.j2' %}
{% import '/default/mobile/libs/libs.html.j2' as libs %}
{% import '/default/mobile/libs/const.html.j2' as const %}

{% block head %}
<title>{{_('我的钱包 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/pay.css">
{% endblock %}

{% block body %}
<div class="wallet-top">
  <div class="top_item">
    <div class="title-wrap">
      <p class="wallet">{{_('钱包余额（元）')}}</p>
      <p class="money">{{ funds.funds }}</p>
    </div>
  </div>
  <div class="flex-wrap">
    <a href="{{ url_for('mobile.wallet.recharge') }}" class="recharge flex50">
      <div class="rechargeImg">
        <img src="/static/default/mobile/img/recharge.png" alt="">
      </div>
      <span>{{_('充值')}}</span>
    </a>
  </div>
</div>
<div id="paging-data-list" class="weui-cells weui-cells_form">
  <div class="weui-cell">
    <div class="weui-cell__hd">
      <img src="/static/default/mobile/img/transaction.png" alt="">
    </div>
    <div class="weui-cell__bd all_title">{{_('交易明细')}}</div>
  </div>
  {% for detail in details %}
  <a class="weui-cell" href="{{ url_for('mobile.wallet.detail', fd_id=detail.fd_id) }}">
    <div class="weui-cell__bd">
      {% set event = const.FUNDS_EVENT.get(detail.event) %}
      <p class="remark_user">{{ event }}</p>
      <p class="all_add">{{ detail.add_time|timestamp2str }}</p>
    </div>
    <div class="weui-cell__ft mar-left">
      {% set color = 'changeRu' if detail.funds_change > 0 else 'changeChu' %}
      {% set symbol = '+' if detail.funds_change > 0 else '' %}
      <p class="funds {{ color }}">{{ symbol }}{{ detail.funds_change }}</p>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
{{ libs.paging_js(paging_url, 0) }}
{% endblock %}