.category_wrap .category {
  background: #fff;
  padding: 10px;
  display: flex;
  text-align: center;
}
.category_wrap .category .category_phone {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.category_wrap .category .category_phone img {
  max-width: 80px;
  height: 80px;
}
.category_wrap .category .category_name {
  padding: 10px;
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 14px;
}
