@charset "UTF-8";
.category {
  background: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
}
.category_item {
  position: relative;
  flex: 0 1 calc(34% - 10px);
  background: #fff;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.category_item:nth-child(3n) {
  margin-right: 0 !important;
}
.category_phone {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.category_phone img {
  max-width: 80px;
  height: 80px;
}
.category_name {
  padding: 10px;
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 14px;
}
