@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  outline: none !important;
  font-family: arial, 'Microsoft Yahei', "微软雅黑";
}
body {
  background: #f3f4f5;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.ava {
  border-radius: 50%;
}
.flex_wrap {
  display: flex;
}
.flex {
  flex: 1;
}
.flex50 {
  flex: 0 1 calc(50% - 4.5px);
  overflow: hidden;
}
.flex34 {
  flex: 0 1 calc(34%);
  overflow: hidden;
}
.weui-cells {
  margin-top: 10px !important;
}
.weui-cell {
  padding: 15px;
}
.weui-cell__bd {
  font-size: 14px;
}
.weui-cell__ft {
  font-size: 12px !important;
}
.mar-top {
  margin-top: 10px;
}
.mar-right {
  margin-right: 10px;
}
.mar-left {
  margin-left: 10px;
}
.mar-bottom {
  margin-bottom: 10px;
}
.pad-top {
  padding-top: 10px;
}
.pad-right {
  padding-right: 10px;
}
.pad-left {
  padding-left: 10px;
}
.pad-bottom {
  padding-bottom: 10px;
}
.bg-white {
  background: #fff !important;
}
.height61 {
  height: 61px;
}
.height50 {
  height: 50px;
}
.width46 {
  width: 46px;
}
.height66 {
  height: 66px;
}
.height20 {
  height: 20px;
  line-height: 20px;
}
.height25 {
  height: 25px;
  line-height: 25px;
}
.company {
  margin-top: 30px;
  padding: 15px;
  background: #f3f4f5;
  text-align: center;
  color: #666;
  font-size: 14px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 50px;
  border-top: 1px solid #ddd;
  background: #fff;
  font-size: 12px;
  text-align: center;
}
.icom_photo {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.icom_photo img {
  width: 25px;
  margin-top: 5px;
}
.foot_text {
  color: #333;
}
.on {
  color: #f33155;
}
.all_title {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.all_desc {
  font-size: 12px;
  color: #b0b0b0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.all_price {
  color: #f33155;
  font-size: 14px;
}
.all-price_del {
  color: #b0b0b0;
  font-size: 14px;
  text-decoration: line-through;
}
.weui-cell__hd img {
  margin-right: 0px;
}
.weui-cells_checkbox .weui-cell__hd {
  padding-right: 0;
}
.weui-cells_checkbox .weui-icon-checked:before {
  font-size: 20px;
}
.reg_btn {
  margin-top: 30px;
  padding: 15px;
}
.weui-btn_red {
  background: #f33155 !important;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
}
.weui-btn_orange {
  background: #EA6B32 !important;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
}
.avatar {
  width: 50px;
  height: 50px;
}
.avatar img {
  width: 100%;
  height: 100%;
}
.blackGap {
  font-size: 14px !important;
  color: #333;
  font-weight: 400;
}
.greykGap {
  font-size: 14px !important;
  color: #666;
  font-weight: 400;
}
.edit,
.delete {
  color: #999;
  font-weight: 400;
}
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
  color: #f33155 !important;
}
.weui-cells_radio .weui-check:checked + .weui-icon-checked:before {
  color: #f33155 !important;
}
.align_right {
  text-align: right;
}
.weui-icon-checked {
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.icon_checked {
  margin-top: -40px !important;
  margin-left: -10px !important;
}
.weui-cell_primary {
  color: #333;
  font-size: 16px;
}
.all-ava {
  position: relative;
  flex: 1 1 0%;
  height: 50px;
}
.all-ava_img {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 50px;
  display: block;
}
.toolbar .title {
  font-size: 16px;
}
.toolbar .picker-button {
  color: #f33155;
  font-size: 16px;
}
.weui-switch-cp__input:checked ~ .weui-switch-cp__box,
.weui-switch:checked {
  border-color: #f33155;
  background-color: #f33155;
}
.weui-picker-modal .picker-item.picker-selected {
  color: #333;
}
.weui-picker-modal .picker-item {
  font-size: 16px;
}
.not-product {
  text-align: center;
}
.not-product_img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 50px auto 30px;
  background: #E1E2E2;
}
.not-product_text {
  font-size: 16px;
  color: #333;
  font-weight: 400;
}
.notproduct {
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
