@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  outline: none !important;
  font-family: arial, 'Microsoft Yahei', "微软雅黑";
}
body {
  background: #f3f4f5;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.ava {
  border-radius: 50%;
}
.flex_wrap {
  display: flex;
}
.flex {
  flex: 1;
}
.flex50 {
  flex: 0 1 calc(50% - 4.5px);
  overflow: hidden;
}
.flex34 {
  flex: 0 1 calc(34%);
  overflow: hidden;
}
.weui-cells {
  margin-top: 10px !important;
}
.weui-cell {
  padding: 15px;
}
.weui-cell__bd {
  font-size: 14px;
  overflow: hidden;
}
.weui-cell__ft {
  font-size: 12px !important;
}
.mar-top {
  margin-top: 10px;
}
.mar-right {
  margin-right: 10px;
}
.mar-left {
  margin-left: 10px;
}
.mar-bottom {
  margin-bottom: 10px;
}
.pad-top {
  padding-top: 10px;
}
.pad-right {
  padding-right: 10px;
}
.pad-left {
  padding-left: 10px;
}
.pad-bottom {
  padding-bottom: 10px;
}
.bg-white {
  background: #fff !important;
}
.height61 {
  height: 61px;
}
.height50 {
  height: 50px;
}
.width46 {
  width: 46px;
}
.height66 {
  height: 66px;
}
.height20 {
  height: 20px;
  line-height: 20px;
}
.height25 {
  height: 25px;
  line-height: 25px;
}
.company {
  margin-top: 30px;
  padding: 15px;
  background: #f3f4f5;
  text-align: center;
  color: #666;
  font-size: 14px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 50px;
  border-top: 1px solid #ddd;
  background: #fff;
  font-size: 12px;
  text-align: center;
  z-index: 10;
}
.icom_photo {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.icom_photo img {
  width: 25px;
  margin-top: 5px;
}
.foot_text {
  color: #333;
}
.on {
  color: #f33155 !important;
}
.all_title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.all_desc {
  font-size: 12px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.all_add {
  font-size: 14px;
  color: #999;
  font-weight: 400;
}
.all_time {
  font-size: 12px;
  color: #999;
  font-weight: 400;
}
.all_price {
  color: #f33155;
  font-size: 14px;
  font-weight: 400;
}
.all_price .price_del {
  color: #999;
  font-size: 12px;
  text-decoration: line-through;
}
.all-price_del {
  color: #999;
  font-size: 14px;
  text-decoration: line-through;
}
.weui-cell__hd img {
  margin-right: 0px;
}
.weui-cells_checkbox .weui-cell__hd {
  padding-right: 0;
}
.weui-cells_checkbox .weui-icon-checked:before {
  font-size: 20px;
}
.reg_btn {
  margin-top: 30px;
  padding: 15px;
}
.weui-btn_red {
  background: #f33155 !important;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
}
.weui-btn_c {
  background: #c8c8c8 !important;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
}
.avatar {
  width: 50px;
  height: 50px;
}
.avatar img {
  width: 100%;
  height: 100%;
}
.blackGap {
  font-size: 14px !important;
  color: #333;
  font-weight: 400;
}
.greykGap {
  font-size: 14px !important;
  color: #666;
  font-weight: 400;
}
.edit,
.delete {
  color: #999;
  font-weight: 400;
}
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
  color: #f33155 !important;
}
.weui-cells_radio .weui-check:checked + .weui-icon-checked:before {
  color: #f33155 !important;
}
.align_right {
  text-align: right;
}
.weui-icon-checked {
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.icon_checked {
  margin-top: -40px !important;
  margin-left: -10px !important;
}
.weui-cell_primary {
  color: #333;
  font-size: 16px;
}
.all-ava {
  position: relative;
  flex: 1 1 0%;
  height: 50px;
}
.all-ava_img {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 50px;
  display: block;
}
.toolbar {
  background: #fff;
}
.toolbar .title {
  font-size: 16px;
}
.toolbar .picker-button {
  color: #f33155;
  font-size: 16px;
}
.weui-select-modal .weui-cells {
  margin: 0 !important;
}
.weui-switch-cp__input:checked ~ .weui-switch-cp__box,
.weui-switch:checked {
  border-color: #f33155;
  background-color: #f33155;
}
.weui-picker-modal .picker-item.picker-selected {
  color: #333;
}
.weui-picker-modal .picker-item {
  font-size: 16px;
}
.not-product,
.cmpl-pay {
  text-align: center;
}
.not-product_img,
.cmpl-img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 50px auto 30px;
  background: #E1E2E2;
}
.not-product_text,
.cmpl-text {
  font-size: 16px;
  color: #333;
  font-weight: 400;
}
.notproduct {
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cmpl-pay_img {
  width: 100px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.weui-icon_msg {
  font-size: 100px !important;
}
.weui-icon-success {
  color: #f33155 !important;
}
.weui-form-preview__bd {
  padding: 15px;
  font-size: 14px;
  line-height: 1.8;
}
.weui-cells:after,
.weui-cells:before {
  z-index: 0;
}
.not_before::before {
  left: 0px !important;
}
.tag_btn {
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 12px;
  color: #333;
  background-color: #fff;
  width: 65px;
  height: 28px;
  text-align: center;
  margin-right: 10px;
}
.tag_btn-on {
  background-color: #f33155;
  color: #fff;
  border: 1px solid #f33155;
}
.nicktitle {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}
.pstR {
  position: relative;
}
.weui-badge {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(50%, 0%);
  background-color: #fff;
  color: #f33155;
  border: 1px solid #f33155;
  padding: 0px 3px;
}
.msg_badge {
  top: 3px;
  color: #fff;
  background: #f33155;
}
.weui-uploader__file {
  width: 70px;
  height: 70px;
}
.weui-uploader__input-box {
  width: 68px;
  height: 68px;
}
.total-price {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: #333;
}
.btn_primary {
  display: inline-block;
  font-size: 14px;
  width: 100px;
  color: #fff;
  background: #f33155;
  margin-left: 10px;
  text-align: center;
  border: 1px solid #f33155;
}
.total {
  position: absolute;
  right: 0;
}
.submit_order {
  position: fixed;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 10;
}
.cart_bar {
  background: #fff;
  height: 45px;
  line-height: 45px;
}
.order_bar {
  height: 45px;
  background: #fff;
  line-height: 45px;
  border-top: 1px solid #ccc;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.ranpo {
  z-index: 460;
}
.hide-mask {
  position: fixed;
  z-index: 600;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
}
.weui-mask {
  z-index: 20000 !important;
}
.weui-dialog.weui-dialog--visible {
  z-index: 20000 !important;
}
.weui-dialog__btn {
  color: #f33155 !important;
  font-size: 16px;
}
.weui-dialog .weui-dialog__btn.default {
  color: #5f646e !important;
}
.weui-dialog {
  transition-duration: 0s !important;
}
.funds {
  font-size: 12px;
  color: #999;
  font-weight: 400;
}
.apply-service_num {
  width: 85px;
  height: 22px;
  line-height: 22px;
  position: relative;
}
.num_minus {
  padding: 10px 10px;
  float: left;
}
.num_minus::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 6px;
  height: 2px;
  width: 10px;
  background: #d8d8d8;
}
.num_add {
  padding: 10px 10px;
  float: left;
}
.num_add::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 6px;
  height: 2px;
  width: 10px;
  background: #d8d8d8;
}
.num_add::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
  height: 10px;
  width: 2px;
  background: #d8d8d8;
}
.num_ipt {
  float: left;
  width: 37px;
  height: 16px;
  margin: 2px 3px;
  text-align: center;
  color: #d8d8d8;
  font-size: 12px;
  border: 1px solid #d8d8d8;
}
.applySale {
  height: 50px;
  line-height: 50px;
}
.weui-label {
  width: 80px;
}
.all_list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}
.all_list .list_item {
  position: relative;
  flex: 0 1 calc(50% - 5px);
  background: #fff;
  margin-bottom: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.all_list .list_item:not(:nth-child(2n)) {
  margin-right: 10px;
}
.weui-picker-container,
.weui-picker-overlay {
  z-index: 10000;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
