@charset "UTF-8";
.detail_title {
  padding: 15px;
  background: #fff;
}
.detail_title .all_title {
  height: 30px;
  line-height: 30px;
}
.detail_title .all_desc {
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.detail_title .all_price {
  height: 30px;
  line-height: 30px;
}
.icon_wrap {
  flex: 1;
  padding: 10px;
  position: relative;
}
.icon_wrap img {
  width: 30px;
  height: 30px;
}
.typeText {
  float: right;
  color: #999;
  font-size: 12px;
  font-weight: normal;
}
.cartTo,
.buyTo,
.downOut {
  width: 100%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  border: none;
}
.cartTo {
  background: #EA8D42;
}
.buyTo {
  background: #f33155;
}
.downOut {
  background: #c8c8c8;
}
.tagImg {
  width: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.tagText {
  font-size: 12px;
}
.review-type_btn {
  flex: 1;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #333;
  background: #e5e5e5;
  margin-right: 10px;
  border-radius: 30px;
  border: none;
}
.review-type_btn:last-child {
  margin-right: 0px;
}
.review-type_btn.btnOn {
  background: #f33155;
  color: #fff;
}
.praise_rate {
  color: #f33155;
}
.detail-top {
  height: 45px;
}
.detail-top_title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  display: -webkit-flex;
  display: flex;
  padding: 0 90px;
  line-height: 44px;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.detail-top_item {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #333;
  font-weight: 400;
}
.detail_serve {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.detail_serve_item {
  padding: 0px 12px 0px 0;
  display: inline-block;
  line-height: 1;
}
.tipsImg {
  width: 25px;
  vertical-align: middle;
}
.weui-media-box_appmsg {
  border-bottom: 0px;
  -webkit-box-align: start !important;
  align-items: flex-start !important;
}
.weui-media-box__hd {
  width: 40px !important;
  height: 40px !important;
  margin-right: 15px !important;
}
.review_cnt {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
  word-break: break-all;
}
@media screen and (min-width: 320px) {
  .swiper-container {
    height: 320px !important;
  }
  .swiper-img {
    width: 100%;
    height: 320px !important;
  }
}
@media screen and (min-width: 375px) {
  .swiper-container {
    height: 375px !important;
  }
  .swiper-img {
    width: 100%;
    height: 375px !important;
  }
}
@media screen and (min-width: 414px) {
  .swiper-container {
    height: 414px !important;
  }
  .swiper-img {
    width: 100%;
    height: 414px !important;
  }
}
@media screen and (min-width: 500px) {
  .swiper-container {
    height: 500px !important;
  }
  .swiper-img {
    width: 500px !important;
    height: 500px !important;
  }
}
.pro-detail_tit {
  padding: 15px;
  font-size: 16px;
  color: #333;
}
#item-detail-h5 img {
  width: 100%;
  max-width: 100%;
  display: block;
}
