@charset "UTF-8";
.top_item {
  width: 100%;
  background-color: #f33155;
}
.title-wrap {
  padding: 15px;
  color: #fff;
}
.wallet {
  margin-top: 15px;
  font-size: 12px;
}
.money {
  font-size: 54px;
}
.flex-wrap {
  display: flex;
  width: 100%;
  background-color: #fff;
}
.recharge {
  position: relative;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #333;
  text-align: center;
  border-right: 1px solid #e5e5e5;
}
.rechargeImg {
  display: inline-block;
  width: 17px;
  vertical-align: middle;
  margin-top: 5px;
}
.rechargeImg img {
  width: 100%;
}
.weui-cell__hd img {
  display: block;
  width: 17px;
  margin-right: 17px;
}
.weui-cell__hd .weixin {
  width: 22px;
}
.remark_user {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.funds {
  width: 80px;
  font-size: 16px;
}
.changeRu {
  color: #f33155;
}
.changeChu {
  color: #EA8D42;
}
.recharge-wrap {
  background-color: #fff;
}
.weui-panel__hd:after {
  height: 0;
  border-bottom: none;
}
.recharge_money {
  color: #f33155;
  font-size: 22px;
}
