@charset "UTF-8";
.order_status {
  display: -webkit-flex;
  display: flex;
  border-top: 1px solid #ddd;
  font-size: 12px;
  text-align: center;
  padding: 5px 0px;
}
.order_status .foot_text {
  padding-top: 5px;
}
.weui-cell__bd {
  font-size: 14px;
  font-weight: 400;
}
.user_all_order_wrap .icom_photo img {
  width: 22px;
}
.phone_num,
.mminentExpiry {
  color: #999;
  font-size: 12px;
  font-weight: 400;
}
.address {
  color: #333;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.add_tag {
  color: #f33155;
}
.coupon_list {
  margin: 10px;
}
.coupon_item {
  height: 90px;
  width: 100%;
  padding: 0px !important;
}
.off_money {
  position: relative;
  width: 90px;
  height: 65px;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  background: #f33155;
  color: #fff;
}
.symbol {
  font-size: 16px;
  font-weight: bold;
}
.money_num {
  font-size: 24px;
}
.money_text {
  font-size: 14px;
  font-weight: 400;
}
.wave {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background-size: 8px 8px;
  background-position: -4px 5px;
  background-image: radial-gradient(transparent 0px, transparent 3px, #f33155 3px, #f33155 4px, white 4px, white);
}
.coupon_right {
  padding: 10px;
}
.coupon_btn {
  width: 60px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #f33155;
}
.weui-navbar {
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.weui-navbar__item.weui-bar__item--on {
  color: #f33155;
  background: #fff;
}
.weui-navbar__item {
  display: block;
  flex: 1;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #333;
  padding: 0;
}
.weui-navbar__item:after {
  border-right: 0;
}
.weui-navbar:after {
  border-bottom: none !important;
}
.off_money.off_money-on {
  background: #ccc;
}
.wave.wave-on {
  background-image: radial-gradient(transparent 0px, transparent 3px, #ccc 3px, #ccc 4px, white 4px, white);
}
.all_title.all_title-on {
  color: #999;
}
.coupon_btn.coupon_btn-on {
  color: #999;
}
.typeStatus {
  flex: 1;
  height: 49px;
  line-height: 46px;
  text-align: center;
}
.orderType {
  display: inline-block;
  width: 60px;
  margin: 0 auto;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.orderType-on {
  color: #f33155;
  border-bottom: 3px solid #f33155;
}
.order_list {
  padding-top: 50px;
}
.trading_state,
.logistics_info {
  color: #f33155;
  font-size: 14px;
  font-weight: 400;
}
.amount {
  color: #333;
  font-size: 14px !important;
}
.order_btn {
  color: #333;
  font-size: 12px;
  width: 68px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
}
.order-state_btn {
  color: #f33155;
  border: 1px solid #f33155;
}
.actual_payment::before {
  border: 0;
}
.review_text {
  width: 100%;
  font-size: 14px;
  color: #333;
  resize: none;
  border: none;
}
.comment_type {
  padding: 15px;
  border-bottom: 1px solid #f3f4f5;
}
.uploader_wrap::before {
  border: 0;
}
.cancal_image {
  width: 25px;
  float: right;
  margin-right: 15px;
}
.logistics_state {
  background: #fff;
  font-size: 14px;
  color: #333;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.track_shipflow {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.track_shipflow::before {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: #e5e5e5;
  height: 1px;
  bottom: 0px;
  left: 50px;
  right: 0px;
}
.track_shipflow::after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: #e5e5e5;
  width: 1px;
  top: 35px;
  left: 25px;
  bottom: -17px;
}
.track_shipflow.last_child::before {
  height: 0;
}
.track_shipflow.last_child::after {
  width: 0;
}
.track_shipflow.cur::after {
  background: linear-gradient(0deg, #e8e8ed, #f33155);
}
.logistics_step {
  position: relative;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 15px 0px 0px 15px;
  text-align: center;
}
.type_dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  z-index: 2;
}
.telNum {
  color: #f33155;
  font-size: 14px;
  font-weight: 400;
}
.track_shipflow.cur .balckGap,
.track_shipflow.cur .all_time {
  color: #f33155;
}
.track_shipflow.cur .type_dot {
  background: #f33155;
}
.track_shipflow.cur .type_dot::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 1px solid #f33155;
}
.applyImg {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 0 none;
}
.create_wrap {
  padding: 15px;
  line-height: 0;
}
