{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    {{ libs.setting_page_tabs() }}

    <!-- .row -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="white-box">
          <h3 class="box-title">短信模版</h3>
          <p class="text-muted m-b-30">
            <a target="_blank" href="https://www.yunpian.com/">云片</a> 模版设置：登录->国内短信->签名/模版报备->模版管理<br><a target="_blank" href="https://www.aliyun.com/">阿里云</a> 模板设置：控制台->短信服务->国内消息->模版管理
          </p>

          {{ libs.build_tabs(tabs=[
            {'label':_('云片'), 'endpoint':'admin.config.sms_yunpian'},
            {'label':_('阿里'), 'endpoint':'admin.config.sms_alisms'},
            {'label':_('模版'), 'endpoint':'admin.config.sms_template'}
          ], border_bottom='line') }}

          {# 云片网短信 form表单 #}
          {{ libs.render_form(form, action=url_for('admin.config.sms_template')) }}

        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
{% endblock %}