{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    {{ libs.setting_page_tabs() }}

    <!-- .row -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="white-box">
          <h3 class="box-title"><a target="_blank" href="https://www.yunpian.com/">云片网短信</a></h3>
          <p class="text-muted m-b-30">
            <code>云片</code>，做更好的短信服务商。平台稳定，接口完善，短信验证码，语音验证码秒发秒到。可免费接受上行短信，查看短信状态报告。短信api接口提供多种功能，短信模板丰富，网络短信到达率98%，上万家企业短信的选择。
          </p>

          {{ libs.build_tabs(tabs=[
            {'label':_('云片'), 'endpoint':'admin.config.sms_yunpian'},
            {'label':_('阿里'), 'endpoint':'admin.config.sms_alisms'},
          ], border_bottom='line') }}

          {# 云片网短信 form表单 #}
          {{ libs.render_form(form, action=url_for('admin.config.sms_yunpian')) }}

        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
{% endblock %}