{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    {{ libs.setting_page_tabs() }}

    <!-- .row -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="white-box">
          <h3 class="box-title"><a target="_blank" href="https://www.aliyun.com/product/sms">阿里云短信</a></h3>
          <p class="text-muted m-b-30">
            短信服务（Short Message Service）是<code>阿里云</code>为用户提供的一种通信服务的能力，支持快速发送短信验证码、短信通知等，服务范围覆盖全球。 完美支撑双11期间2亿用户，发送6亿短信。三网合一专属通道，与工信部携号转网平台实时互联。电信级运维保障，实时监控自动切换，到达率高达99%。
          </p>

          {{ libs.build_tabs(tabs=[
            {'label':_('云片'), 'endpoint':'admin_config.sms_yunpian'},
            {'label':_('阿里'), 'endpoint':'admin_config.sms_alisms'},
            {'label':_('模版'), 'endpoint':'admin_config.sms_template'}
          ], border_bottom='line') }}

          {# 阿里云短信 form表单 #}
          {{ libs.render_form(form, action=url_for('admin_config.sms_alisms')) }}

        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
{% endblock %}