{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    {{ libs.setting_page_tabs() }}

    <!-- .row -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="white-box">
          <h3 class="box-title"><a target="_blank" href="https://help.aliyun.com/document_detail/31817.html?spm=a2c4g.11186623.6.539.odCzu8">阿里云OSS</a></h3>
          <p class="text-muted m-b-30">
            海量、安全、低成本、高可靠的云存储服务，提供99.999999999%的数据可靠性。使用RESTful API 可以在互联网任何位置存储和访问，容量和处理能力弹性扩展，多种存储类型供选择全面优化存储成本。
          </p>

          {{ libs.build_tabs(tabs=[
            {'label':_('七牛云'), 'endpoint':'admin_config.storage_qiniu'},
            {'label':_('阿里云OSS'), 'endpoint':'admin_config.storage_alioss'},
          ], border_bottom='line') }}

          {# 阿里云OSS form表单 #}
          {{ libs.render_form(form, action=url_for('admin_config.storage_alioss')) }}

        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
{% endblock %}