{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <ul class="nav customtab nav-tabs" role="tablist" style="border-bottom:none !important">
        <li role="presentation" class="">
          <a href="{{ url_for('admin.config.sms_yunpian') }}" aria-controls="messages" role="tab" aria-expanded="true" style="background:none !important">
            <span class="visible-xs">
              <i class="ti-home"></i>
            </span>
            <span class="hidden-xs">{{_('短信')}}</span>
          </a>
        </li>
        <li role="presentation" class="active">
          <a href="{{ url_for('admin.config.storage_qiniu') }}" aria-controls="save" role="tab" aria-expanded="false" style="background:none !important">
            <span class="visible-xs">
              <i class="ti-user"></i>
            </span>
            <span class="hidden-xs">{{_('存储')}}</span>
          </a>
        </li>
        <li role="presentation" class="">
          <a href="#messages1" aria-controls="syetem" role="tab" aria-expanded="false" style="background:none !important">
            <span class="visible-xs">
              <i class="ti-email"></i>
            </span>
            <span class="hidden-xs">{{_('系统')}}</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- .row -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="white-box">
          <h3 class="box-title">Custom Design Tab</h3>
          <p class="text-muted m-b-30">Use default tab with class
            <code>customtab</code>
          </p>
          <div class="m-b-40">
            <ul class="nav customtab nav-tabs" role="tablist" style="border-bottom:none !important">
              <li role="presentation" class="">
                <a href="{{ url_for('admin.config.storage_qiniu') }}" aria-controls="alioss" role="tab" aria-expanded="true" style="background:none !important">
                  <span class="visible-xs">
                    <i class="ti-home"></i>
                  </span>
                  <span class="hidden-xs">{{_('七牛')}}</span>
                </a>
              </li>
              <li role="presentation" class="active">
                <a href="{{ url_for('admin.config.storage_alioss') }}" aria-controls="qiniu" role="tab" aria-expanded="false" style="background:none !important">
                  <span class="visible-xs">
                    <i class="ti-user"></i>
                  </span>
                  <span class="hidden-xs">{{_('阿里')}}</span>
                </a>
              </li>
            </ul>
          </div>
          <form class="form-horizontal" action="{{ url_for('admin.config.storage_alioss') }}" method="POST">
            {{ form.csrf_token }}
            {{ libs.wtf_input(form.access_key_id, _('Access Key ID'), data.access_key_id, _class="form-control") }}
            {{ libs.wtf_input(form.access_key_secret, _('Access Key Secret'), data.access_key_secret, _class="form-control") }}
            {{ libs.wtf_input(form.bucket_name, _('存储空间'), data.bucket_name, _class="form-control") }}
            {{ libs.wtf_input(form.cname, _('融合CDN加速域名'), data.cname, _class="form-control") }}
            {{ libs.wtf_submit() }}
          </form>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
{% endblock %}