{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}
{% import '/default/admin/libs/const.html.j2' as const %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    {% set tab_status = request.args.get('tab_status', '0') %}
    {{ libs.build_tabs([
        {'label':_('全部'), 'value':0, 'endpoint':'admin.aftersale.index'},
        {'label':_('仅退款'), 'value':1, 'endpoint':'admin.aftersale.index'},
        {'label':_('退货退款'), 'value':2, 'endpoint':'admin.aftersale.index'},
        {'label':_('换货'), 'value':3, 'endpoint':'admin.aftersale.index'},
        {'label':_('待收货'), 'value':4, 'endpoint':'admin.aftersale.index'},
        {'label':_('待发货'), 'value':5, 'endpoint':'admin.aftersale.index'},
      ], 'tab_status') }}
    <div class="row">
      <div class="col-lg-12">
        <div class="white-box">
          <div class="table-responsive">
            <table class="table table-hover product-overview footable" id="myTable">
              <thead>
                <tr>
                  <th>{{_('售后号')}}</th>
                  <th>{{_('类型')}}</th>
                  <th>{{_('退款金额')}}</th>
                  <th>{{_('申请原因')}}</th>
                  <th>{{_('图片')}}</th>
                  <th>{{_('状态')}}</th>
                  <th>{{_('申请时间')}}</th>
                  <th>{{_('操作')}}</th>
                </tr>
              </thead>
                <tbody>
                  {% for aftersale in aftersalses %}
                    <tr>
                      <td>{{ aftersale.aftersales_sn }}</td>
                      <td>{{ const.AFTERSALES_TYPE.get(aftersale.aftersales_type) }}</td>
                      <td>{{ aftersale.refunds_amount }}</td>
                      <td>{{ aftersale.content }}</td>
                      <td>
                        {% set imgs = aftersale.img_data|json_loads if aftersale.img_data %}
                        {% for img in imgs %}
                          <img src="{{ img }}" width="50" />
                        {% endfor %}
                      </td>
                      <td>{{ texts.get(aftersale.aftersales_id) }}</td>
                      <td>{{ aftersale.add_time|timestamp2str }}</td>
                      <td>
                        <a href="{{url_for('admin.aftersale.detail', aftersales_id=aftersale.aftersales_id)}}" class="text-inverse p-r-10" data-toggle="tooltip" title="{{_('查看')}}">
                          <i class="ti-pencil-alt"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                {{ libs.pagination_html(pagination, 20) }}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript"></script>
{% endblock %}

