{# 全局是否 #}
{% set YES_OR_NO = {0:_('否'), 1:_('是')} %}

{# 全局是否label #}
{% set YES_OR_NO_LABEL = {0:'label-inverse', 1:'label-success'} %}

{# 支付状态 #}
{% set PAY_STATUS = {1:_('待支付'), 2:_('已支付')} %}

{# 支付方式 #}
{% set PAY_METHOD = {'funds':_('钱包支付'), 'weixin_jsapi':_('微信支付')} %}

{# 广告 - 分类 #}
{% set ADV_AC = {1:_('首页Banner')} %}

{# 广告 - 跳转类型 #}
{% set ADV_TTYPE = {1:_('商品详情页'), 2:_('分类商品列表页'), 3:_('更多热卖商品列表页'), 4:_('更多推荐商品列表页')} %}

{# 售后 - 类型 #}
{% set AFTERSALES_TYPE = {1:_('仅退款'), 2:_('退货退款'), 3:_('仅换货')} %}
