{# 分页 - 分页html #}
{% macro pagination_html(pagination, colspan) -%}
  <tfoot>
    <tr>
      <td colspan="2">
        {{ pagination.total }}{{_('条数据')}}
      </td>
      <td colspan="{{ colspan }}">
        <div class="text-right">
          {{ build_pagination_html(pagination) }}
        </div>
      </td>
    </tr>
  </tfoot>
{% endmacro %}

{# 分页 - 生成分页html #}
{% macro build_pagination_html(pagination) %}
  {% if pagination.total > 0 %}
    <ul class="pagination">
      {% set is_disabled = 'disabled' if pagination.page == 1 else '' %}
      {% set href = 'javascript:;' if pagination.page == 1 else pagination_href(1) %}
      <li class="footable-page-arrow {{ is_disabled }}">
        <a data-page="first" href="{{ href }}">«</a>
      </li>

      {% set is_disabled = '' if pagination.has_prev else 'disabled' %}
      {% set href = pagination_href(pagination.prev_num) if pagination.has_prev else 'javascript:;' %}
      <li class="footable-page-arrow {{ is_disabled }}">
        <a data-page="prev" href="{{ href }}">‹</a>
      </li>

      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% set is_active = 'active' if page == pagination.page else '' %}
          {% set href = 'javascript:;' if page == pagination.page else pagination_href(page) %}
          <li class="footable-page {{ is_active }}">
            <a data-page="{{ page }}" href="{{ href }}">{{ page }}</a>
          </li>
        {% else %}
          <li class="footable-page">
            <a data-page="..." href="javascript:;">…</a>
          </li>
        {% endif %}
      {% endfor %}

      {% set is_disabled = '' if pagination.has_next else 'disabled' %}
      {% set href = pagination_href(pagination.next_num) if pagination.has_next else 'javascript:;' %}
      <li class="footable-page-arrow {{ is_disabled }}">
        <a data-page="next" href="{{ href }}">›</a>
      </li>

      {% set is_disabled = 'disabled' if pagination.page == pagination.pages else '' %}
      {% set href = 'javascript:;' if pagination.page == pagination.pages else pagination_href(pagination.pages) %}
      <li class="footable-page-arrow {{ is_disabled }}">
        <a data-page="last" href="{{ href }}">»</a>
      </li>
    </ul>
  {% endif %}
{% endmacro %}

{# 分页 - 分页URL #}
{% macro pagination_href(page, page_size=None) %}
  {% set page_size = page_size if page_size else request.view_args.get('page_size', None) %}
  {{ url_for(request.endpoint, page=page, page_size=page_size) }}{% if request.query_string %}{{ '?' + request.query_string }}{% endif %}
{% endmacro %}


{# 搜索表单 #}
{% macro build_search_form(form_fields, action="", method="GET") %}
<form id="search_form" class="form" action="{{ action }}" method="{{ method }}">
  <div class="row">
    {% for field in form_fields %}
      {% set label       = field.get('label', '') %}
      {% set name        = field.get('name', '') %}
      {% set value       = request.args.get(name, '') %}
      {% set type        = field.get('type', 'input') %}
      {% set placeholder = field.get('placeholder', '') %}
      {% set _class      = field.get('_class', 'col-lg-3') %}

      {% if type == 'hidden' %}
        <input type="hidden" id="{{ name }}" name="{{ name }}" value="{{ value }}">
      {% else %}
        <div class="{{ _class }}">
          <div class="form-group">
            <label>{{ label }}</label>
            {% if type == 'input' %}
              <input type="text" class="form-control" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}"  value="{{ value }}">
            {% elif type == 'textarea' %}
              <textarea class="form-control" id="{{ name }}" name="{{ name }}" >{{ value }}</textarea>
            {% elif type == 'select' %}
              {% set options = field.get('options', []) %}
              <select class="form-control" name="{{ name }}" id="{{ name }}">
                {% for option in options %}
                  {% set option_val = '%s' % option.get('value', '') %}
                  {% set selected = 'selected' if value == option_val else '' %}
                  <option value="{{ option_val }}" {{ selected }}>{{ option.get('name') }}</option>
                {% endfor %}
              </select>
            {% elif type == 'daterange' %}
              <input class="form-control input-daterange-datepicker" type="text" name="{{ name }}" value="{{ value }}" />
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="row"><div class="col-lg-12"><div class="hr-line-dashed"></div></div></div>
  <div class="row">
    <div class="col-lg-1">
      <div class="form-group">
        <button id="search_form_submit" type="submit" class="btn btn-info">
          {{_('提交')}}
        </button>
      </div>
    </div>
  </div>
</form>
{% endmacro %}


{# WTF - 文本输入框 #}
{% macro wtf_input(_field, _label_text, _value='', _class='', _type='text', _placeholder='', _help='') %}
  {% if _type == 'text' %}
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">{{ _label_text }}</label>
        {% set _value = '' if _value == None else _value %}
        {{ _field(type=_type, class=_class, value=_value, placeholder=_placeholder) }}
        {% if _help %}
          <span class="help-block">
            <small>{{ _help }}</small>
          </span>
        {% endif %}
        {% for error in _field.errors %}
          <span class="help-block with-errors" style="color: red;">* {{ error }}</span>
        {% endfor %}
      </div>
    </div>
  {% elif _type == 'static' %}
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">{{ _label_text }}</label>
        <span class="{{_class}}">{{ _value }}</span>
      </div>
    </div>
  {% elif _type == 'hidden' %}
    {{ _field(type=_type, value=_value) }}
  {% endif %}
{% endmacro %}

{# WTF - select框 #}
{% macro wtf_select(_field, _label_text, _class='') %}
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">{{ _label_text }}</label>
      {{ _field(class=_class) }}
      {% for error in _field.errors %}
        <span class="help-block with-errors" style="color: red;">* {{ error }}</span>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{# WTF - textarea输入框 #}
{% macro wtf_textarea(_field, _label_text, _class='') %}
  <div class="col-sm-12">
    <div class="form-group">
      <label class="control-label">{{ _label_text }}</label>
      {{ _field(class=_class) }}
      {% for error in _field.errors %}
        <span class="help-block with-errors" style="color: red;">* {{ error }}</span>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{# WTF - 提交按钮 #}
{% macro wtf_submit() -%}
  <div class="form-group">
    <button id="form-submit" class="btn btn-danger">{{_('提交')}}</button>
  </div>
{% endmacro %}


{# 
  构造form表单
  :param form: FlaskForm对象
  :param action: 表单url
  :param method: POST|GET
  :param enctype: multipart/form-data|application/x-www-form-urlencoded|text/plain
  :param primary_key:主键，如果主键为0或者空值则认为是新添加数据，其它具体值则认为是编辑
#}
{% macro render_form(form, action='', method='POST', enctype='', primary_key='') %}
<form class="form-horizontal" action="{{ action }}" method="{{ method }}"{% if enctype %} enctype="{{ enctype }}"{% endif %}>
  <input type="hidden" name="primary_key" id="primary_key" value="{{ primary_key }}">
{%- for field in form -%}
{% if field.name != 'csrf_token' and field.type != 'HiddenField'  %}
  <div class="form-group">
    <label for="{{ field.name }}" class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-2">{{ get_required_star(field) }}{{ field.label|safe }}</label>
    <div class="col-xs-12 col-sm-8 col-md-5 col-lg-3{%if field.errors%} has-error{%endif%}">
    {# 布尔类型 #}
    {% if field.type == 'BooleanField' %}
      <div class="checkbox checkbox-success `">
          {{ field(**kwargs) }}
          <label for="{{ field.id }}">{{ field.description|safe }}</label>
      </div>
    {% else %}
      {% set class_ = 'form-control' %}
      {# 文件类型 #}
      {% if field.type == 'FileField' %}
        {% set class_ = class_ + ' input-file' %}
        {% set uploadtype = field|get_file_uploadtype %}
        {% if field.flags.required and not field.data %}
          {{ field(class_=class_, required='', uploadtype=uploadtype, **kwargs) }}
        {% else %}
          {{ field(class_=class_, uploadtype=uploadtype, **kwargs) }}
        {% endif %}

      {% elif field.type in ('TextField', 'TextAreaField', 'PasswordField', 
            'DecimalField', 'SelectField', 'IntegerField', 
            'StringField') %}
        {% if field.flags.required %}
          {{ field(class_=class_, required='', **kwargs) }}
        {% else %}
          {{ field(class_=class_, **kwargs) }}
        {% endif %}
      {% endif %}
    {% endif %}

    {# 描述 #}
    {%- if field.description and field.type != 'BooleanField' -%}
      <span class="help-block m-b-none">{{ field.description|safe }}</span>
    {%- endif -%}

    {# 显示图片 #}
    {%- if field.type == 'FileField' and field.data -%}
      {% set uploadtype = field|get_file_uploadtype %}
      <a href="{{ field.data }}" target="_blank">
      {%- if uploadtype == 'images' -%}
        <img src="{{ field.data }}-rectangle.middle" alt="" style="width:200px;padding-left:0px;">
      {%-else-%}
        下载文件
      {%- endif -%}
      </a>
    {%- endif -%}
    
    {# 错误提示 #}
    {%- for error in field.errors -%}
      <span class="help-block m-b-none">{{ error|safe }}</span>
    {%- endfor -%}
    </div>
  </div>
{% elif field.type == 'HiddenField' %}
  {{ field() }}
{% endif %}
{% endfor %}
  {{ form.csrf_token }}
  <div class="form-group">
    <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-7 col-md-5 col-lg-3">
      <button type="submit" class="btn btn-danger btn-md " id="submit">保存</button>
    </div>
  </div>
</form>
{%- endmacro -%}

{# 获取必填项星号 #}
{%- macro get_required_star(field) -%}
{%- if field.flags.required -%} <span style="color:#f33155;padding-right:5px;">*</span>{%- endif -%}
{%- endmacro -%}



{# 其它 - 面包屑html #}
{% macro breadcrumbs(breadcrumbs=[], button={}) %}
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <ol class="breadcrumb pull-left">
          {% for _breadcrumbs in breadcrumbs %}
            {% set is_active = '' if _breadcrumbs['href'] else 'active' %}
            <li class="{{ is_active }}">
              {% if _breadcrumbs['href'] %}
                <a href="{{ _breadcrumbs['href'] }}">{{ _breadcrumbs['title'] }}</a>
              {% else %}
                {{ _breadcrumbs['title'] }}
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        {% if button %}
          <a href="{{ button['href'] }}" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" style="display:block !important">
            {{ button['title'] }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}


{# 其它 - form-control-static #}
{% macro form_control_static(label, content) %}
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="form-group">
      <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">{{ label }}：</label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <span class="form-control-static">{{ content }}</span>
      </div>
    </div>
  </div>
{% endmacro %}

{# 其它 - form-control-static #}
{% macro setting_page_tabs() %}
{{ build_tabs(tabs=[
  {'label':_('微信'), 'endpoint':'admin.config.mp', 
      'endpoint_list':('admin.config.mp', 'admin.config.weixinpay', 'admin.config.weixinopen')},
  {'label':_('短信'), 'endpoint':'admin.config.sms_yunpian',
      'endpoint_list':('admin.config.sms_yunpian', 'admin.config.sms_alisms')},
  {'label':_('存储'), 'endpoint':'admin.config.storage_qiniu',
      'endpoint_list':('admin.config.storage_qiniu', 'admin.config.storage_alioss')},
  {'label':_('快递'), 'endpoint':'admin.config.shipping',
      'endpoint_list':('admin.config.shipping', 'admin.config.shipping_detail')},
  {'label':_('售后'), 'endpoint':'admin.config.aftersales_server',
      'endpoint_list':('admin.config.aftersales_server',)}
]) }}
{% endmacro %}

{# 
构建页面tabs
----------------
:params tabs 标签列表
        :label 标签名
        :value 标签值
        :endpoint endpoint
        :endpoint_list url地址列表(可选项)
:params field_name 字段名称
:params btns 按钮列表
        :label label名
        :class 按钮样式类名，如空则为红色
        :href 按钮连接
#}
{% macro build_tabs(tabs, field_name='', btns=[], border_bottom='') %}
{% set field_value = request.args.get(field_name, request.view_args.get(field_name, '')) if field_name else ''  %}
{% set ul_style = 'style="border-bottom:none !important"' if not border_bottom else '' %}
<div class="row bg-title">
  <ul class="nav customtab nav-tabs" role="tablist" {{ ul_style }}>
  {% for tab in tabs %}
    {% set active_class = ' class="active" '
            if (
              (not field_name and (request.endpoint == tab.endpoint or request.endpoint in tab.endpoint_list))
              or (field_value == tab.value or field_value|toint == tab.value)
            ) 
            else '' %}
    <li role="presentation" {{active_class}}>
      {% set tab_url = url_for(tab.endpoint, **{field_name:tab.value}) if field_name else url_for(tab.endpoint) %}
      <a href="{{ tab_url }}" role="tab" aria-expanded="false" style="background:none !important">
        <span>{{ tab.label }}</span>
      </a>
    </li>
  {% endfor %}
  {% for btn in btns %}
    {% set btnclass = btn.get('class', 'btn-danger') %}
  <a href="{{ btn.href }}" class="btn {{btnclass}} pull-right m-l-20 waves-effect waves-light">
    {{ btn.label }}
  </a>
  {% endfor %}
  </ul>

</div>
{% endmacro %}
