{# 分页html #}
{% macro breadcrumbs(breadcrumbs=[], button={}) -%}
  <div class="row bg-title">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h4 class="page-title">
        {% for _breadcrumbs in breadcrumbs %}
          {% set delimiter = '>>' if loop.index % 2 == 0 else '' %}
          {{ _breadcrumbs['title'] }}{{ delimiter }}
        {% endfor %}
      </h4>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      {% if button %}
        <a href="{{ button['href'] }}" target="_blank" 
        class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" 
        style="display:block!important">{{ button['title'] }}</a>
      {% endif %}
    </div>
  </div>
{%- endmacro %}


{# WTF #}
{% macro wtf_input(_field, _label_text="", _value="", _class="", _placeholder="") -%}
  <div class="form-group">
    <label class="col-md-3 control-label">{{ _label_text }}</label>
    <div class="col-md-9">
      {{ _field(class=_class, value=_value, placeholder=_placeholder) }}
      {% for error in _field.errors %}
        <span class="help-block with-errors" style="color: red;">* {{ error }}</span>
      {% endfor %}
    </div>
  </div>
{%- endmacro %}

{% macro wtf_submit() -%}
  <button class="btn btn-block btn-danger btn-lg btn-rounded">{{_('提交')}}</button>
{%- endmacro %}