{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('添加收货地址 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="user_wrap">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input class="weui-input greykGap" type="text" placeholder="请填写收件人姓名" value="">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input class="weui-input greykGap" type="text" placeholder="请填写收件人手机号码" value="">
      </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__bd">
        <input class="weui-input greykGap" type="text" placeholder="请选择收件地区" value="" id='city-picker'>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input class="weui-input greykGap" type="text" placeholder="请填写详细地址：如街道、道路、门牌号等" value="">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input class="weui-input greykGap" type="text" placeholder="请填写邮政编码" value="">
      </div>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell_access">
      <div class="weui-cell__hd blackGap">地址类型</div>
      <div class="weui-cell__bd greykGap">
        <input type="text" class="weui-input align_right" placeholder="请选择地址类型" id="add_type" value="" data-values="">
      </div>
      <div class="weui-cell__ft mar-left"></div>
    </div>
    <div class="weui-cell weui-cell_switch">
      <div class="weui-cell__bd">设为默认地址</div>
      <div class="weui-cell__ft">
        <label for="switchCP" class="weui-switch-cp">
          <input id="switchCP" class="weui-switch-cp__input" type="checkbox" checked="checked">
          <div class="weui-switch-cp__box"></div>
        </label>
      </div>
    </div>
  </div>
  <div class="reg_btn">
    <button type="button" class="weui-btn weui-btn_red" onClick="save()">保存</button>
  </div>
  <div class="reg_btn">
    <button type="button" class="weui-btn weui-btn_orange" onClick="del()">删除</button>
  </div>
</div>
{% endblock %} 

{% block script %}
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/default/mobile/js/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/static/default/mobile/js/jquery.fileupload.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("#city-picker").cityPicker({
    title: "请选择所在地"
  });

  $("#add_type").select({
    title: "选择地址类型",
    items: ["家", "公司", "学校"]
  });
});
</script>
{% endblock %}