{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('物流详情- 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="user_wrap">
  <div class="weui-form-preview">
    <div class="weui-form-preview__bd" style="text-align: left;">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">物流公司：</label>
        <span class="weui-form-preview__value">圆通快递</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">物流单号：</label>
        <span class="weui-form-preview__value">20180612222045009</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">物流电话：</label>
        <span class="weui-form-preview__value">
          <a class="telNum" href="tel:95554">95554</a>
        </span>
      </div>
    </div>
  </div>
  <ul class="weui-cells weui-cells_form">
    <div class="logistics_state">物流状态</div>
    <li class="track_shipflow cur">
      <div class="logistics_step">
        <i class="type_dot"></i>
      </div>
      <div class="flex">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <p class="balckGap">【华南众包站】您的订单正在配送途中，请您准备签收（配送员：龚桂容，电话：
              <a class="telNum" href="tel:15913221706">15913221706</a>
              ），感谢您的耐心等待。</p>
            <p class="all_time">2018-06-13 08:52:57</p>
          </div>
        </div>
      </div>
    </li>
    <li class="track_shipflow">
      <div class="logistics_step">
        <i class="type_dot"></i>
      </div>
      <div class="flex">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <p class="balckGap"> 您的订单在京东【东莞麻涌接货仓】发货完成，准备送往京东【中山分拨中心】</p>
            <p class="all_time">2018-06-12 20:08:48</p>
          </div>
        </div>
      </div>
    </li>
    <li class="track_shipflow">
      <div class="logistics_step">
        <i class="type_dot"></i>
      </div>
      <div class="flex">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <p class="balckGap">您的订单已导入，商家正在通知快递公司取件</p>
            <p class="all_time">2018-06-10 11:16:56</p>
          </div>
        </div>
      </div>
    </li>
    <li class="track_shipflow last_child">
      <div class="logistics_step">
        <i class="type_dot"></i>
      </div>
      <div class="flex">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <p class="balckGap">您的订单已导入，商家正在通知快递公司取件</p>
            <p class="all_time">2018-06-10 11:16:56</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock %} 

{% block script %}
<script type="text/javascript"></script> 
{% endblock %}