{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>发表评价 - 一店</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock%} 

{% block body %}
<div class="user_wrap">
  <div class="bg-white">
    <div class="comment_type">
      <img src="" alt="" class="product_image">
      <button type="button" class="comment_btn comment_btn-on" rating="5">好评</button>
      <button type="button" class="comment_btn" rating="3">中评</button>
      <button type="button" class="comment_btn" rating="1">差评</button>
    </div>
    <div style="padding:15px">
      <textarea class="review_text" name="name" rows="5" placeholder="请输入评价信息..."></textarea>
    </div>
    <div class="weui-gallery" style="display: none">
      <span class="weui-gallery__img"></span>
      <div class="weui-gallery__opr">
        <a href="javascript:" class="weui-gallery__del">
          <i class="weui-icon-delete weui-icon_gallery-delete"></i>
        </a>
      </div>
    </div>
    <div class="weui-cell uploader_wrap">
      <div class="weui-cell__bd">
        <div class="weui-uploader">
          <div class="weui-uploader__bd">
            <ul class="weui-uploader__files" id="uploaderFiles">
              <li class="weui-uploader__file"></li>
            </ul>
            <div class="weui-uploader__input-box">
              <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reg_btn">
    <button type="button" class="weui-btn weui-btn_red" onclick="submit()">提交</button>
  </div>
</div>
{% endblock%} 

{% block script %}
<script type="text/javascript"></script> 
{% endblock%}