{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>修改个人信息 - 一店</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock%} 

{% block body %}
<div class="user_wrap">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label blackGap">头像</label>
      </div>
      <div class="weui-cell__bd all-ava">
        <input class="weui-uploader__input" type="file" accept="image/*">
        <img src="" alt="" class="all-ava_img">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label blackGap">昵称</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input greykGap" type="text" placeholder="请填写昵称" value="">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label blackGap">性别</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input greykGap" type="text" placeholder="请填写性别" value="">
      </div>
    </div>
    <a class="weui-cell weui-cell_access" href="">
      <div class="weui-cell__hd">
        <label class="weui-label blackGap">二维码名片</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input greykGap" type="text" value="">
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>
  <div class="footer" style="display:block;height:65px">
    <a class="weui-cell weui-cell_access" href="" style="padding:10px">
      <button type="button" class="weui-btn weui-btn_red">保存</button>
    </a>
  </div>
</div>
{% endblock%}  

{% block script %}{% endblock%}