{% extends '/default/admin/layout/base.html.j2' %} 

{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4 class="page-title">{{_('添加管理员')}}</h4>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a href="javascript: void(0);" target="_blank" 
        class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" 
        style="display:block!important">Buy Admin Now</a>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!--.row-->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="white-box">
          <center>
            <h3 class="box-title m-b-0">{{_('管理员基本信息填写')}}</h3>
            <p class="text-muted m-b-30 font-13">{{_('输入下面的详细信息')}}</p>
          </center>
          <form class="no-bg-addon">
            <div class="form-group">
              <div class="input-group" style="display:block;height: 150px;">
                <input type="file" class="weui-uploader__input" accept="image/*">
                <img class="ava" src="/static/default/admin/plugins/images/chair.jpg?imageView2/2/w/200/h/200">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="Mobile" placeholder="{{_('手机号码')}}">
                <div class="input-group-addon">
                  <i class="ti-mobile"></i>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="Name" placeholder="{{_('用&nbsp;&nbsp;户&nbsp;&nbsp;名')}}">
                <div class="input-group-addon">
                  <i class="ti-user"></i>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="password" class="form-control" id="Password" placeholder="{{_('密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码')}}">
                <div class="input-group-addon">
                  <i class="ti-lock"></i>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="password" class="form-control" id="Repeatpassword" placeholder="{{_('重复密码')}}">
                <div class="input-group-addon">
                  <i class="ti-lock"></i>
                </div>
              </div>
            </div>
            <button class="btn btn-block btn-danger btn-lg btn-rounded">{{_('提交')}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-wrapper -->
{% endblock %}