{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<div id="page-wrapper">
  {% set breadcrumbs = [{'title':_('管理员'), 'href':""}] %}
  {% set button = {'title':_('添加管理员'), 'href':url_for('admin.auth.create')} %}
  {{ libs.breadcrumbs(breadcrumbs, button) }}
  <div class="container-fluid">
    <div class="row el-element-overlay m-b-40">
    {% for au in admin_users %}
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="white-box">
          <div class="el-card-item">
            <div class="el-card-avatar el-overlay-1">
              <img src="{{ au.avatar|format_avatar(3) }}" />
              <div class="el-overlay">
                <ul class="el-info">
                  <li>
                    <a class="bg-info" href="{{ url_for('admin.auth.edit', admin_uid=au.admin_uid) }}">
                      <i class="ti-marker-alt"></i>
                    </a>
                  </li>
                  <li>
                    <a class="bg-danger" href="javascript:;" onclick="removeAdminUser({{ au.admin_uid }});">
                      <i class="ti-trash"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="el-card-content">
              <h3 class="box-title">{{ au.username }}</h3>
              <small>{{ au.mobile }}</small>
              <br/> </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <!-- /.row -->
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
/**
 * 删除管理员
 */
function removeAdminUser(admin_uid) {
  var ret = confirm("{{ _('确实要删除管理员?') }}");
  if (ret) {
    $.get('/admin/auth/delete/'+admin_uid, function(res){
      var ret = res.ret;
      var msg = res.msg;
      if (ret != 0) {
        alert(msg);
        return;
      }
      window.location.reload();
    });
  }
}
</script>
{% endblock %}