{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
  {% set breadcrumbs = [{'title':_('管理员'), 'href':url_for('admin.auth.index')}, {'title':_('添加管理员'), 'href':''}] %}
  {{ libs.breadcrumbs(breadcrumbs) }}
  <div class="container-fluid">
    <!--.row-->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="white-box">
          <h3 class="box-title m-b-0">{{_('管理员基本信息填写')}}</h3>
          <p class="text-muted m-b-30 font-13">{{_('输入下面的详细信息')}}</p>
          {{ libs.render_form(form, action=url_for('admin.auth.save'), enctype="multipart/form-data") }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-wrapper -->
{% endblock %}