<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/default/admin/plugins/images/favicon.png">
  <title>{{ _('一店-登录') }}</title>
  <!-- Bootstrap Core CSS -->
  <link href="/static/default/admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- animation CSS -->
  <link href="/static/default/admin/css/animate.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/static/default/admin/css/style.css" rel="stylesheet">
  <!-- color CSS -->
  <link href="/static/default/admin/css/colors/default.css" id="theme" rel="stylesheet">
</head>

<body>
  <!-- Preloader -->
  <div class="preloader">
    <div class="cssload-speeding-wheel"></div>
  </div>
  <section id="wrapper" class="new-login-register">
    <div class="new-login-box">
      <div class="white-box">
        <h3 class="box-title m-b-0">{{ _('登录一店管理后台') }}</h3>
        <small>{{ _('请输入帐号/手机和密码') }}</small>
        <form class="form-horizontal new-lg-form" id="loginform" action="{{ url_for('admin.auth.login') }}" method="POST">
          {{ f.csrf_token }}
          <div class="form-group  m-t-20">
            <div class="col-xs-12 {%if f.account.errors or errmsg.get('account')%}has-error{%endif%}">
              {{ f.account.label|safe }}
              <input name="{{ f.account.name }}" value="{{ f.account.data }}" class="form-control" type="text" required="" placeholder="{{ _('请输入手机号码/帐号') }}">
              {%- for error in f.account.errors -%}
                <span class="help-block m-b-none">{{ error|safe }}</span>
              {%- endfor -%}
              {%- if errmsg.get('account') -%}
                <span class="help-block m-b-none">{{ errmsg['account']|safe }}</span>
              {%- endif -%}
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 {%if f.password.errors or errmsg.get('password')%}has-error{%endif%}">
              <label>{{ f.password.label }}</label>
              <input name="password" class="form-control" type="password" required="" placeholder="{{ _('请输入密码') }}" minlength="6" maxlength="20">
              {%- for error in f.password.errors -%}
                <span class="help-block m-b-none">{{ error|safe }}</span>
              {%- endfor -%}
              {%- if errmsg.get('password') -%}
                <span class="help-block m-b-none">{{ errmsg['password']|safe }}</span>
              {%- endif -%}
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <div class="checkbox checkbox-info pull-left p-t-0">
                <input id="checkbox-signup" type="checkbox" name="remember_me">
                <label for="checkbox-signup"> {{ _('记住我') }} </label>
              </div>
              <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right">
                <i class="fa fa-lock m-r-5"></i> {{ _('忘记密码？') }}</a>
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">{{ _('登录') }}</button>
            </div>
          </div>
        </form>
        <form class="form-horizontal" id="recoverform" onsubmit="">
          <div class="form-group ">
            <div class="col-xs-12">
              <h3>{{ _('找回密码') }}</h3>
              <p class="text-muted">{{ _('将会发送验证码到您的手机上') }}</p>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" name="rest_mobile" id="rest_mobile" type="text" required="" placeholder="{{ _('请输入你的手机号码') }}">
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button type="button" class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" onclick="getCode()">{{ _('重置') }}</button>
            </div>
          </div>
        </form>
        <form class="form-horizontal" id="resetform" style="display:none">
          <div class="form-group ">
            <div class="col-xs-12">
              <h3>{{ _('重置密码') }}</h3>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <label>{{ _('新密码') }}</label>
              <input name="new_password" id="new_password" class="form-control" type="password" required="" placeholder="{{ _('请输入新密码') }}" minlength="6" maxlength="20" value="">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <label>{{ _('确认密码') }}</label>
              <input name="again_password" id="again_password" class="form-control" type="password" required="" placeholder="{{ _('请再次输入新密码') }}" minlength="6" maxlength="20" value="">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
            <label>{{ _('验证码') }}</label>
              <input name="code" id="code" class="form-control" required="" placeholder ="{{ _('请输入验证码') }}" minlength= "4" maxlength="4" value="">
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="button" onclick="resetPassword()">{{ _('确认重置') }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- jQuery -->
  <script src="/static/default/admin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/static/default/admin/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Menu Plugin JavaScript -->
  <script src="/static/default/admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>

  <!--slimscroll JavaScript -->
  <script src="/static/default/admin/js/jquery.slimscroll.js"></script>
  <!--Wave Effects -->
  <script src="/static/default/admin/js/waves.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="/static/default/admin/js/custom.min.js"></script>
  <!--Style Switcher -->
  <script src="/static/default/admin//plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</body>
<script type = "text/javascript">
  var csrf_token = "{{ csrf_token() }}";

  /*
   * 获取验证码
   */
  function getCode(mobile){
    const rest_mobile = $('#rest_mobile').val()
    if (rest_mobile == null || rest_mobile == ""){
      return
    }
    console.log(rest_mobile)
    // 调用获取验证码接口
    $.post("{{ url_for('api.sys.sms_code') }}", {'mobile':rest_mobile, 'csrf_token':csrf_token}, function(json) {
      if (json.ret != 0) {
        alert(json.msg)
        return false;
      }else{
        // 隐藏验证获取，显示新密设置
        $('#recoverform').css('display','None')
        $('#resetform').css('display','')
      }
    });
  }

  function resetPassword(){
    const new_password = $('#new_password').val()
    const again_password = $('#again_password').val()
    const code = $('#code').val()

    if (new_password == ""){
     alert($('#new_password').attr('placeholder'))
      return
    }
    if (again_password == ""){
      alert($('#again_password').attr('placeholder'))
     return
    }
    if (code == ""){
      alert($('#code').attr('placeholder'))
      return
    }
   
    params = {
      'csrf_token':csrf_token,
      'new_password': new_password,
      'again_password': again_password,
      'code': code
    }
    $.post("{{ url_for('api.sys.reset_password') }}", params, function(json) {
      if (json.ret != 0) {
        alert(json.msg)
        return false;
      }else{
        window.location.reload()
      }
    });
  }
</script>
</html>
