{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
  {% set breadcrumbs = [{'title':_('首页'), 'href':url_for('admin.index.dashboard')},
                        {'title':_('帐号设置'), 'href':url_for('admin.auth.edit', admin_uid=session['admin_uid'])}, 
                        {'title':_('修改密码'), 'href':''}] %}
  {{ libs.breadcrumbs(breadcrumbs) }}
  <div class="container-fluid">
    <!--.row-->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="white-box">
          <h3 class="box-title m-b-0">{{_('帐号设置')}}</h3>
          <p class="text-muted m-b-30 font-13">{{_('修改密码')}}</p>
          {{ libs.render_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-wrapper -->
{% endblock %}
