{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('申请售后- 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="user_wrap">
 <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <div class="blackGap mar-bottom">{{_('服务类型')}}</div>
        <button type="button" class="tag_btn tag_btn-on">{{_('仅退款')}}</button>
        <p class="all_desc mar-top">{{_('仅退款：未收到货(包含未签收)，或卖家协商同意前提下')}}</p>
      </div>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    {% for goods in goods_data %}
      <div class="weui-cell">
        <div class="weui-cell__hd avatar mar-right">
          <img src="{{ goods.goods_img }}-square.small" alt="">
        </div>
        <div class="weui-cell__bd">
          <div class="all_title height25">{{ goods.goods_name }}</div>
          <div class="all_desc height25">
            <span>x {{ goods.goods_quantity }}</span>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p class="blackGap mar-bottom">{{_('申请原因')}}</p>
        <div class="weui-cell" style="background:#f3f4f5;border-radius:5px;">
          <textarea id="content" name="content" class="review_text" rows="5" placeholder="{{_('请输入退款说明...')}}" style="background:#f3f4f5"></textarea>
        </div>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p class="blackGap">
          {{_('退款金额：')}}
          <span class="all_price">￥{{ refunds_amount }}</span>
        </p>
        <p class="all_desc mar-top">{{_('注：退款金额将返回到您原支付账户')}}</p>
      </div>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell uploader_wrap">
      <div class="weui-cell__bd">
        <div class="blackGap mar-bottom">{{_('上传凭证')}}</div>
        <div class="weui-uploader">
          <div class="weui-uploader__bd">
            <ul class="weui-uploader__files" id="uploaderFiles"></ul>
            <div class="weui-uploader__input-box">
              <input id="uploaderInput" name="image" class="weui-uploader__input" type="file" accept="image/*" multiple="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height:75px"></div>
  <div class="footer" style="display:block;height:65px">
    {{ wtf_form.csrf_token }}
    <input id="order_id" name="order_id" type="hidden" value="{{ order_id }}" />
    <input id="img_data" name="img_data" type="hidden" value="[]" />
    <a class="weui-cell weui-cell_access" href="javascript:void(0);" style="padding:10px" onclick="submit()">
      <button type="button" class="weui-btn weui-btn_red">提交申请</button>
    </a>
  </div>
</div>
{% endblock %}

{% block script %}
<!-- 异步上传 -->
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.iframe-transport.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.fileupload.js"></script>
<script type="text/javascript">
var csrftoken = $('#csrf_token').val();
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

// 图片上传
$('#uploaderInput').fileupload({
    url: "{{ url_for('api.upload.image') }}",
    dataType: 'json',
    formData:{'prefix':'aftersale'},
    done: function (e, data) {
      if(data.result.ret == 0) {
        var image = data.result.data.image;

        var html_text = '<li class="weui-uploader__file">' +
                          '<img src="' + image + '-square.middle" alt="" data-value="' + image + '">' +
                        '</li>';
        $("#uploaderFiles").append(html_text);

        // 把上传的图片加到列表上
        var img_data = $("#img_data").val();
        var _img_data = JSON.parse(img_data);
        _img_data.push(image);
        img_data = JSON.stringify(_img_data);
        $("#img_data").val(img_data);
      }
    }
});

function submit() {
  var order_id = $("#order_id").val();
  var content = $("#content").val();
  var img_data = $("#img_data").val();
  
  /*
  var images = [];
  $(".weui-uploader__file").each(function(i){
    images.push($(this).attr('data-value'));
  });
  var img_data = JSON.stringify(images);
  */

  var params = {'order_id':order_id, 'aftersales_type':1, 'deliver_status':0, 'content':content, 'img_data':img_data};
  $.post("{{ url_for('api.aftersales.apply') }}", params, function(json) {
    if (json.ret == 0) {
      window.location.href = "{{ url_for('mobile.aftersales.root') }}";
    } else {
      $.toast(json.msg, "text");
      return false;
    }
  });
}
</script>
{% endblock %}