{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('申请售后- 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="user_wrap">
 <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <div class="blackGap mar-bottom">{{_('服务类型')}}</div>
        {% if aftersales_type == 2 %}
          <button type="button" class="tag_btn tag_btn-on" onclick="change_type(this, 2)" data-value="2">{{_('退货退款')}}</button>
          <button type="button" class="tag_btn" onclick="change_type(this, 3)" data-value="3">{{_('仅换货')}}</button>
          <p id="text-2" class="all_desc mar-top type-text">{{_('退货退款：已收到货，需要退换已收到的货物')}}</p>
          <p id="text-3" class="all_desc mar-top type-text" style="display:none;">{{_('仅换货：已收到货，货物拍错或是损坏，可跟卖家协商换货')}}</p>
        {% else %}
          <button type="button" class="tag_btn tag_btn-on" onclick="change_type(this, 3)" data-value="3">{{_('仅换货')}}</button>
          <p id="text-3" class="all_desc mar-top type-text">{{_('仅换货：已收到货，货物拍错或是损坏，可跟卖家协商换货')}}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    {% set goods = goods_data[0] %}
    <div class="weui-cell">
      <div class="weui-cell__hd avatar mar-right">
        <img src="{{ goods.goods_img }}-square.small" alt="">
      </div>
      <div class="weui-cell__bd">
        <div class="all_title height25">{{ goods.goods_name }}</div>
        <div class="all_desc height25">
          <span>x {{ goods.maximum }}</span>
        </div>
      </div>
      <div class="weui-cell__ft mar-left">
        <div class="apply-service_num">
          <i class="num_minus" onclick="minus(this, 1)"></i>
          <input id="quantity" name="quantity" class="num_ipt" type="text" value="1" minnum="1">
          <i class="num_add" onclick="add(this, {{ goods.maximum }})"></i>
        </div>
      </div>
      <input id="og_id" name="og_id" type="hidden" value="{{ goods.og_id }}" />
    </div>
    <a id="deliver_status_box" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd blackGap">
        <p class="blackGap">{{_('货物状态')}}</p>
      </div>
      <div class="weui-cell__ft mar-left">
        <input id="deliver_status" type="text" class="weui-input align_right" placeholder="{{_('请选择')}}" value="请选择" data-values="0">
      </div>
    </a>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p class="blackGap mar-bottom">{{_('申请原因')}}</p>
        <div class="weui-cell" style="background:#f3f4f5;border-radius:5px;">
          <textarea id="content" name="content"  class="review_text" rows="5" placeholder="{{_('请输入退款说明...')}}" style="background:#f3f4f5"></textarea>
        </div>
      </div>
    </div>
    <div id="refunds_amount_box" class="weui-cell">
      <div class="weui-cell__bd">
        <p class="blackGap">
          {{_('退款金额：')}}
          <span id="refunds_amount" class="all_price">￥{{ refunds_amount }}</span>
        </p>
        <p class="all_desc mar-top">{{_('注：退款金额将返回到您原支付账户')}}</p>
      </div>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell uploader_wrap">
      <div class="weui-cell__bd">
        <div class="blackGap mar-bottom">{{_('上传凭证')}}</div>
        <div class="weui-uploader">
          <div class="weui-uploader__bd">
            <ul class="weui-uploader__files" id="uploaderFiles"></ul>
            <div class="weui-uploader__input-box">
              <input id="uploaderInput" name="image" class="weui-uploader__input" type="file" accept="image/*" multiple="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 删除图片弹窗 -->
  <div class="weui-gallery" id="gallery">
    <span class="weui-gallery__img" id="galleryImg">
      <img class="gallery-pic" src="" alt="">
    </span>
    <div class="weui-gallery__opr">
      <a href="javascript:" class="weui-gallery__del">
        <i class="weui-icon-delete weui-icon_gallery-delete"></i>
      </a>
    </div>
  </div>
  <!-- 删除图片弹窗 end -->

  <div id="refunds_address_box" class="weui-cells weui-cells_form" style="display:none;">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <div class="blackGap mar-bottom">{{_('收货寄回地址')}}</div>
        <div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <input id="edit_address_name" class="weui-input greykGap" type="text" placeholder="{{_('请填写收件人姓名')}}" value="{{ order_address.name }}">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <input id="edit_address_mobile" class="weui-input greykGap" type="text" placeholder="{{_('请填写收件人手机号码')}}" value="{{ order_address.mobile }}">
            </div>
          </div>
          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__bd">
              {% set pcd = '%s %s %s' % (order_address.province, order_address.city, order_address.district) %}
              <input id="edit_address_pcd" class="weui-input greykGap" type="text" placeholder="{{_('请选择收件地区')}}" value="{{ pcd }}">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <input id="edit_address_address" class="weui-input greykGap" type="text" placeholder="{{_('请填写详细地址：如街道、道路、门牌号等')}}" value="{{ order_address.address }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height:75px"></div>
  <div class="footer" style="display:block;height:65px">
    {{ wtf_form.csrf_token }}
    <input id="aftersales_type" name="aftersales_type" type="hidden" value="{{ aftersales_type }}" />
    <input id="img_data" name="img_data" type="hidden" value="[]" />
    <a class="weui-cell weui-cell_access" href="javascript:void(0);" style="padding:10px" onclick="submit()">
      <button type="button" class="weui-btn weui-btn_red">提交申请</button>
    </a>
  </div>
</div>
{% endblock %} 

{% block script %}
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js" type="text/javascript" charset="utf-8"></script>

<!-- 异步上传 -->
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.iframe-transport.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.fileupload.js"></script>

<script type="text/javascript">

$(document).ready(function(){
  var index;

  //点击图片淡入放大
  $('#uploaderFiles').on("click", "li", function () {
    var $current = $(this);
    index = $current.index();
    var imgurl = $current.find('img').attr("src");
    var imgurl_giant = imgurl.replace('-square.middle', '-square.giant');
    $('.gallery-pic').attr("src", imgurl_giant);
    $('#gallery').fadeIn(100);
  });

  //点击图片淡出消失
  $('#gallery').on("click", function () {
    $('#gallery').fadeOut(100);
  });

  //删除图片
  $(".weui-gallery__del").click(function (event) {
    event.stopPropagation();
    var del = $('#uploaderFiles').find("li").eq(index).remove();
    var imgurl = $('.gallery-pic').attr("src").replace('-square.giant', '');
    var img_data = $("#img_data").val();
    var img_list = JSON.parse(img_data);
    var pos = img_list.indexOf(imgurl);
    img_list.splice(pos, 1);
    img_data = JSON.stringify(img_list);
    $("#img_data").val(img_data);
    $('#gallery').fadeOut(100);
  });


  $("#deliver_status").select({
    title: "货物状态",
    items: [{ 'title': '未收到货', 'value': 1 }, { 'title': '已收到货', 'value': 2 }]
  });

  $("#edit_address_pcd").cityPicker({
    title: "请选择所在地"
  });

});

var csrftoken = $('#csrf_token').val();
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

function refunds_amount() {
  var og_id = $("#og_id").val();
  var quantity = $("#quantity").val();

  $.get("{{ url_for('api.aftersales.refunds_amount') }}", {'og_id':og_id, 'quantity':quantity}, function(json) {
    if (json.ret == 0) {
      $("#refunds_amount").text('￥'+json.data.refunds_amount);
    } else {
      $.toast(json.msg, "text");
      return false;
    }
  });
}

function minus(dom, min) {
  var $input = $(dom).parent().find('#quantity');
  var number = parseInt($input.val() || "0") - 1;
  if (number < min) number = min;
  $input.val(number);

  refunds_amount();
}

function add(dom, max) {
  var $input = $(dom).parent().find('#quantity');
  var number = parseInt($input.val() || "0") + 1;
  if (number > max) number = max;
  $input.val(number);

  refunds_amount();
}

function change_type(dom, type) {
  $(".tag_btn").removeClass("tag_btn-on");
  $(dom).addClass("tag_btn-on");

  $(".type-text").hide();
  $("#text-"+type).show();

  if (type == 2) {
    $("#deliver_status_box").show();
  } else {
    $("#deliver_status_box").hide();
  }

  if (type == 3) {
    $("#refunds_amount_box").hide();
    $("#refunds_address_box").show();
  } else {
    refunds_amount();

    $("#refunds_amount_box").show();
    $("#refunds_address_box").hide();
  }

  $("#aftersales_type").val($(dom).attr('data-value'));
}

// 图片上传
$('#uploaderInput').fileupload({
    url: "{{ url_for('api.upload.image') }}",
    dataType: 'json',
    formData:{'prefix':'aftersale'},
    add: function (e, data) {
      var html_text = '<li class="weui-uploader__file one-loading">' +
        '<i class="weui-loading"></i>' +
        '</li>';
      $("#uploaderFiles").append(html_text);
      data.submit();
    },
    done: function (e, data) {
      if(data.result.ret == 0) {
        var image = data.result.data.image;

        var html_text = '<li class="weui-uploader__file">' +
                          '<img src="' + image + '-square.middle" alt="" data-value="' + image + '">' +
                        '</li>';
        var $uploaderFiels = $('#uploaderFiles');
        var $loading = $uploaderFiels.find('li.one-loading')[0];
        $loading.remove();
        $("#uploaderFiles").append(html_text);

        // 把上传的图片加到列表上
        var img_data = $("#img_data").val();
        var _img_data = JSON.parse(img_data);
        _img_data.push(image);
        img_data = JSON.stringify(_img_data);
        $("#img_data").val(img_data);
      }
    }
});

function submit() {
  var og_id = parseInt($("#og_id").val());
  var quantity = parseInt($("#quantity").val());
  var aftersales_type = parseInt($("#aftersales_type").val());
  var deliver_status = parseInt($("#deliver_status").attr('data-values'));
  var content = $("#content").val();
  var img_data = $("#img_data").val();

  if (aftersales_type == 3) {
    deliver_status = 2;
  }

  var params = {'og_id':og_id, 'quantity':quantity, 'aftersales_type':aftersales_type, 'deliver_status':deliver_status, 'content':content, 'img_data':img_data, 'name':name, 'mobile':mobile, 'province':province, 'city':city, 'district':district,
  'address':address};

  if (aftersales_type == 3) {
    var name = $("#edit_address_name").val();
    var mobile = $("#edit_address_mobile").val();
    var pcd = $("#edit_address_pcd").val();
    var address = $("#edit_address_address").val();
    var pcd_arr = pcd.split(' ');
    var province = pcd_arr[0];
    var city = pcd_arr[1];
    var district = pcd_arr[2];

    params.name = name;
    params.mobile = mobile;
    params.province = province;
    params.city = city;
    params.district = district;
    params.address = address;
  }

  $.post("{{ url_for('api.aftersales.apply') }}", params, function(json) {
    if (json.ret == 0) {
      window.location.href = "{{ url_for('mobile.aftersales.root') }}";
    } else {
      $.toast(json.msg, "text");
      return false;
    }
  });
}
</script> 
{% endblock %}