{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('申请售后- 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="user_wrap">
 <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <div class="blackGap mar-bottom">{{_('服务类型')}}</div>
        {% if aftersales_type == 2 %}
          <button type="button" class="tag_btn tag_btn-on" onclick="change_type(this, 2)" data-value="2">{{_('退货退款')}}</button>
          <button type="button" class="tag_btn" onclick="change_type(this, 3)" data-value="3">{{_('仅换货')}}</button>
          <p id="text-2" class="all_desc mar-top type-text">{{_('退货退款：已收到货，需要退换已收到的货物')}}</p>
          <p id="text-3" class="all_desc mar-top type-text" style="display:none;">{{_('仅换货：已收到货，货物拍错或是损坏，可跟卖家协商换货')}}</p>
        {% else %}
          <button type="button" class="tag_btn tag_btn-on" onclick="change_type(this, 3)" data-value="3">{{_('仅换货')}}</button>
          <p id="text-3" class="all_desc mar-top type-text">{{_('仅换货：已收到货，货物拍错或是损坏，可跟卖家协商换货')}}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    {% set goods = goods_data[0] %}
    <div class="weui-cell">
      <div class="weui-cell__hd avatar mar-right">
        <img src="{{ goods.goods_img }}" alt="">
      </div>
      <div class="weui-cell__bd">
        <div class="all_title height25">{{ goods.goods_name }}</div>
        <div class="all_desc height25">
          <span>x {{ goods.maximum }}</span>
        </div>
      </div>
      <div class="weui-cell__ft mar-left">
        <div class="apply-service_num">
          <i class="num_minus" onclick="minus(this, 1)"></i>
          <input id="quantity" name="quantity" class="num_ipt" type="text" value="1" minnum="1">
          <i class="num_add" onclick="add(this, {{ goods.maximum }})"></i>
        </div>
      </div>
      <input id="og_id" name="og_id" type="hidden" value="{{ goods.og_id }}" />
    </div>
    <a id="deliver_status_box" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd blackGap">
        <p class="blackGap">{{_('货物状态')}}</p>
      </div>
      <div class="weui-cell__ft mar-left">
        <input id="deliver_status" type="text" class="weui-input align_right" placeholder="{{_('请选择')}}" value="请选择" data-values="0">
      </div>
    </a>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p class="blackGap mar-bottom">{{_('申请原因')}}</p>
        <div class="weui-cell" style="background:#f3f4f5;border-radius:5px;">
          <textarea id="content" name="content"  class="review_text" rows="5" placeholder="{{_('请输入退款说明...')}}" style="background:#f3f4f5"></textarea>
        </div>
      </div>
    </div>
    <div id="refunds_amount_box" class="weui-cell">
      <div class="weui-cell__bd">
        <p class="blackGap">
          {{_('退款金额：')}}
          <span id="refunds_amount" class="all_price">￥{{ refunds_amount }}</span>
        </p>
        <p class="all_desc mar-top">{{_('注：退款金额将返回到您原支付账户')}}</p>
      </div>
    </div>
  </div>
  <div class="weui-gallery" style="display: none">
    <span class="weui-gallery__img"></span>
    <div class="weui-gallery__opr">
      <a href="javascript:" class="weui-gallery__del">
        <i class="weui-icon-delete weui-icon_gallery-delete"></i>
      </a>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell uploader_wrap">
      <div class="weui-cell__bd">
        <div class="blackGap mar-bottom">{{_('上传凭证')}}</div>
        <div class="weui-uploader">
          <div class="weui-uploader__bd">
            <ul class="weui-uploader__files" id="uploaderFiles"></ul>
            <div class="weui-uploader__input-box">
              <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height:75px"></div>
  <div class="footer" style="display:block;height:65px">
    {{ wtf_form.csrf_token }}
    <input id="aftersales_type" name="aftersales_type" type="hidden" value="{{ aftersales_type }}" />
    <a class="weui-cell weui-cell_access" href="javascript:void(0);" style="padding:10px" onclick="submit()">
      <button type="button" class="weui-btn weui-btn_red">提交申请</button>
    </a>
  </div>
</div>
{% endblock %} 

{% block script %}
<script type="text/javascript">
var csrftoken = $('#csrf_token').val();
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

function refunds_amount() {
  var og_id = $("#og_id").val();
  var quantity = $("#quantity").val();

  $.get("{{ url_for('api.aftersales.refunds_amount') }}", {'og_id':og_id, 'quantity':quantity}, function(json) {
    if (json.ret == 0) {
      $("#refunds_amount").text('￥'+json.data.refunds_amount);
    } else {
      $.toast(json.msg, "text");
      return false;
    }
  });
}

function minus(dom, min) {
  var $input = $(dom).parent().find('#quantity');
  var number = parseInt($input.val() || "0") - 1;
  if (number < min) number = min;
  $input.val(number);

  refunds_amount();
}

function add(dom, max) {
  var $input = $(dom).parent().find('#quantity');
  var number = parseInt($input.val() || "0") + 1;
  if (number > max) number = max;
  $input.val(number);

  refunds_amount();
}

function change_type(dom, type) {
  $(".tag_btn").removeClass("tag_btn-on");
  $(dom).addClass("tag_btn-on");

  $(".type-text").hide();
  $("#text-"+type).show();

  if (type == 2) {
    $("#deliver_status_box").show();
  } else {
    $("#deliver_status_box").hide();
  }

  if (type == 3) {
    $("#refunds_amount_box").hide();
  } else {
    refunds_amount();

    $("#refunds_amount_box").show();
  }

  $("#aftersales_type").val($(dom).attr('data-value'));
}

function submit() {
  var og_id = $("#og_id").val();
  var quantity = $("#quantity").val();
  var aftersales_type = $("#aftersales_type").val();
  var deliver_status = $("#deliver_status").attr('data-values');
  var content = $("#content").val();

  if (aftersales_type == 2 || aftersales_type == 3) {
    deliver_status = 2;
  }

  var params = {'og_id':og_id, 'quantity':quantity, 'aftersales_type':aftersales_type, 'deliver_status':deliver_status, 'content':content};
  $.post("{{ url_for('api.aftersales.apply') }}", params, function(json) {
    if (json.ret == 0) {
      window.location.href = "{{ url_for('mobile.aftersales.root') }}";
    } else {
      $.toast(json.msg, "text");
      return false;
    }
  });
}

$(document).ready(function () {
  $("#deliver_status").select({
    title: "货物状态",
    items: [{'title':'未收到货', 'value':1}, {'title':'已收到货', 'value':2}]
  });
});
</script> 
{% endblock %}