{% extends '/default/mobile/layout/base.html.j2' %} 
{% import '/default/mobile/libs/const.html.j2' as const %}

{% block head %}
<title>{{_('售后服务详情- 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css">
{% endblock %}

{% block body %}
<div class="user_wrap">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd blackGap">{{_('申请信息')}}</div>
    </div>
    <div class="weui-form-preview">
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('申请类别')}}</label>
          <span class="weui-form-preview__value">{{ const.AFTERSALES_TYPE.get(aftersales.aftersales_type) }}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('申请单号')}}</label>
          <span class="weui-form-preview__value">{{ aftersales.aftersales_sn }}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('申请时间')}}</label>
          <span class="weui-form-preview__value">{{ aftersales.add_time|timestamp2str }}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('申请件数')}}</label>
          <span class="weui-form-preview__value">{{ aftersales.quantity }}件</span>
        </div>
        {% if aftersales.aftersales_type in ([1,2]) %}
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">{{_('退款金额')}}</label>
            <span class="weui-form-preview__value">￥{{ aftersales.refunds_amount }}</span>
          </div>
        {% endif %}
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('图片')}}</label>
          <span class="weui-form-preview__value">
            {% set img_data = aftersales.img_data|json_loads %}
            {% for img in img_data %}
              <img class="applyImg" src="{{ img }}" alt="">
            {% endfor %}
          </span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">{{_('申请原因')}}</label>
          <span class="weui-form-preview__value">{{ aftersales.content }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <a href="{{ url_for('mobile.index.root') }}" class="all_title">{{_('一店')}}</a>
      </div>
    </div>
    {% set goods_data = aftersales.goods_data|json_loads %}
    {% for goods in goods_data %}
      <div class="weui-cell  not_before">
        <div class="weui-cell__hd avatar mar-right">
          <img src="{{ goods.goods_img }}" alt="">
        </div>
        <div class="weui-cell__bd">
          <div class="all_title height25">{{ goods.goods_name }}</div>
          <div class="all_desc height25">{{ goods.goods_desc }}</div>
        </div>
        <div class="weui-cell__ft mar-left">
          <p>x {{ goods.goods_quantity }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd all_add">{{ log.add_time|timestamp2str }}</div>
      <div class="weui-cell__ft mar-left tradingW">
        <span class="trading_state">{{ status_text }}</span>
      </div>
    </div>
    <a class="weui-cell weui-cell_access" href="{{ url_for('mobile.aftersales.track',aftersales_id=aftersales.aftersales_id) }}">
      <div class="weui-cell__bd blackGap">{{ '%s，点进去可看' % log.content }}</div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"></script>
{% endblock %}