{% extends '/default/pc/layout/base.html.j2' %}
{% import '/default/pc/libs/libs.html.j2' as libs %}


{% block head %}
<title>{{_('我的收藏 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/index.css">
<link rel="stylesheet" href="/static/default/pc/iconfont/iconfont.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('我的收藏')}}</span>
      </p>
    </div>
    <div class="user-main">
      <div class="head-inner clearfix">
        {%include 'default/pc/layout/nav_left.html.j2'%}
        <div class="order-wrap">
          <div class="allPad">
            {% if likes %}
              <!-- 有收藏 -->
              <div class="order-bd">
                <ul class="all-list clearfix">
                  {% for like in likes %}
                    <li class="list-item2">
                      <a href="{{ url_for('pc.item.detail', goods_id=like.tid) }}">
                        <div class="item-product">
                          <img src="{{ like.timg }}" alt="">
                        </div>
                        <div class="item-detail">
                          <div class="all-title">{{ like.tname }}</div>
                          <div class="all-price mar-top">￥{{ goods[like.tid].goods_price }}</div>
                        </div>
                      </a>
                      <div class="review-btn_wrap" data-tid="{{ like.tid }}" onclick="delcollect(this)">
                        <a type="" class="review-btn_link" href="javascript:;">{{_('删除')}}</a>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
                {{ libs.pagination_html(pagination) }}
              </div>
              <!-- 有收藏 end -->
            {% else %}
              <!-- 没有收藏 -->
              <div class="not-one">
                <p class="not-one_text">{{_('您暂时没有收藏商品!')}}</p>
                <a class="not-one_btn btn-primary" href="{{ url_for('pc.index.root') }}">{{_('到商场去看看')}}</a>
              </div>
              <!-- 没有收藏 end -->
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

  function delcollect(dom){
    var $dom = $(dom);
    var tid = $dom.attr('data-tid');
    var params = {'like_type':2, 'ttype':1, 'tid':tid}

    $.get("{{ url_for('api.like.action') }}", params, function(json) {
      if (json.ret != 0) {
        $.toast(json.msg, "text");
        return false;
      }
      location.reload();
    });
  }

</script>
{% endblock%}