{% extends '/default/pc/layout/base.html.j2' %}


{% block head %}
<title>{{_('我的优惠券 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/cart.css">
<link rel="stylesheet" href="/static/default/pc/iconfont/iconfont.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('我的优惠券')}}</span>
      </p>
    </div>
  </div>
  <div class="user-main">
    <div class="head-inner clearfix">
      {%include 'default/pc/layout/nav_left.html.j2'%}
      <div class="order-wrap">
        <div class="allPad">
          <div class="box-hd">
            <ul class="box-hd_list">
              <li class="box-hd_item">
                <a class="allOn"  onclick="fill_coupon(this)" data-list='{{libs.fill_coupon_data(valid_coupons)}}'>{{_('未使用')}}({{ valid_count }})</a>
              </li>
              <li class="box-hd_item">
                <a class=""  onclick="fill_coupon(this)" data-list='{{libs.fill_coupon_data(used_coupons)}}'>{{_('已使用')}}({{ used_count }})
                </a>
              </li>
              <li class="box-hd_item">
                <a class=""  onclick="fill_coupon(this)" data-list='{{libs.fill_coupon_data(invalid_coupons)}}'>{{_('已失效')}}({{ invalid_count }})</a>
              </li>
            </ul>
          </div>
          <div id='coupon_data'>
            {{ libs.fill_coupon_data(valid_coupons) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  //点击切换优惠券分类
  function fill_coupon(dom){
   $('a.allOn').removeClass('allOn');
   $(dom).addClass('allOn');
   
   var data = $(dom).attr('data-list');
   $('#coupon_data').empty().append(data);
   $("[href='{{ url_for('pc.me.coupon') }}']").addClass('allOn');
  }
  //可用优惠券跳转商场首页
  function go_home(){
    window.location.href = "{{ url_for('pc.index.root') }}";
  }
</script>
{% endblock%}