{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('我的优惠券- 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="weui-tab">
  <div class="weui-navbar">
    <a class="weui-navbar__item weui-bar__item--on" href="#couponType_1">
      {{_('未使用')}} ({{ valid_count }})
    </a>
    <a class="weui-navbar__item" href="#couponType_2">
      {{_('已使用')}} ({{ used_count }})
    </a>
    <a class="weui-navbar__item" href="#couponType_3">
      {{_('已失效')}} ({{ invalid_count }})
    </a>
  </div>
  <div class="weui-tab__bd">
    <div id="couponType_1" class="weui-tab__bd-item weui-tab__bd-item--active">
      {% if valid_count == 0 %}
        <div class="not-product">
          <div class="not-product_img">
            <img class="notproduct" src="/static/default/mobile/img/notcoupons.png" alt="">
          </div>
          <div class="not-product_text">{{_('您暂无相关优惠券')}}</div>
        </div>
      {% else %}
        {% for coupon in valid_coupons %}
          <div class="coupon_list">
            <div class="bg-white coupon_item weui-cell">
              <div class="off_money weui-cell__hd">
                <div class="wave"></div>
                <span class="symbol">￥</span>
                <span class="money_num">{{ coupon.coupon_amount }}</span>
                <p class="money_text">{{_('满￥%s减' % coupon.limit_amount)}}</p>
              </div>
              <div class="coupon_right weui-cell__bd">
                <div class="all_title height25">{{_('全品类(特例商品除外)')}}</div>
                <div class="all_desc height20">{{ coupon.begin_time|timestamp2str('YYYY.MM.DD') }}~{{ coupon.end_time|timestamp2str('YYYY.MM.DD') }}</div>
                <div class="mminentExpiry height25"></div>
              </div>
              <div class="weui-cell__ft coupon_btn">
                <a href="{{ url_for('mobile.index.root') }}" style="color:#f33155">{{_('立即使用')}}</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div id="couponType_2" class="weui-tab__bd-item">
      {% if used_count == 0 %}
        <div class="not-product">
          <div class="not-product_img">
            <img class="notproduct" src="/static/default/mobile/img/notcoupons.png" alt="">
          </div>
          <div class="not-product_text">{{_('您暂无相关优惠券')}}</div>
        </div>
      {% else %}
        {% for coupon in used_coupons %}
          <div class="coupon_list">
            <div class="bg-white coupon_item weui-cell">
              <div class="off_money weui-cell__hd off_money-on">
                <div class="wave wave-on"></div>
                <span class="symbol">￥</span>
                <span class="money_num">{{ coupon.coupon_amount }}</span>
                <p class="money_text">{{_('满￥%s减' % coupon.limit_amount)}}</p>
              </div>
              <div class="coupon_right weui-cell__bd">
                <div class="all_title height25">{{_('全品类(特例商品除外)')}}</div>
                <div class="all_desc height20">{{ coupon.begin_time|timestamp2str('YYYY.MM.DD') }}~{{ coupon.end_time|timestamp2str('YYYY.MM.DD') }}</div>
                <div class="mminentExpiry height25"></div>
              </div>
              <div class="weui-cell__ft coupon_btn coupon_btn-on">{{_('已使用')}}</div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div id="couponType_3" class="weui-tab__bd-item">
      {% if invalid_coupons == 0 %}
        <div class="not-product">
          <div class="not-product_img">
            <img class="notproduct" src="/static/default/mobile/img/notcoupons.png" alt="">
          </div>
          <div class="not-product_text">{{_('您暂无相关优惠券')}}</div>
        </div>
      {% else %}
        {% for coupon in invalid_coupons %}
          <div class="coupon_list">
            <div class="bg-white coupon_item weui-cell">
              <div class="off_money weui-cell__hd off_money-on">
                <div class="wave wave-on"></div>
                <span class="symbol">￥</span>
                <span class="money_num">{{ coupon.coupon_amount }}</span>
                <p class="money_text">{{_('满￥%s减' % coupon.limit_amount)}}</p>
              </div>
              <div class="coupon_right weui-cell__bd">
                <div class="all_title height25">{{_('全品类(特例商品除外)')}}</div>
                <div class="all_desc height20">{{ coupon.begin_time|timestamp2str('YYYY.MM.DD') }}~{{ coupon.end_time|timestamp2str('YYYY.MM.DD') }}</div>
                <div class="mminentExpiry height25"></div>
              </div>
              <div class="weui-cell__ft coupon_btn coupon_btn-on">{{_('已失效')}}</div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %} 

{% block script %}
<script type="text/javascript"></script> 
{% endblock %}