{% extends '/default/pc/layout/base.html.j2' %}


{% block head %}
<title>{{_('我的个人中心 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/me.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('我的个人中心')}}</span>
      </p>
    </div>
  </div>
  <div class="user-main">
    <div class="head-inner clearfix">
      {%include 'default/pc/layout/nav_left.html.j2'%}
      <div class="order-wrap">
        <div class="allPad">
          <div class="one-cell">
            <div class="one-cell_hd avatar160" style="position: relative;">
              <input id="image" name="image" class="one-uploader_input" type="file" accept="image/*">
              <input id="avatar" name="avatar" type="hidden" value="{{  session.get('avatar') }}" />
              <img id='avatar_img' src="{{ session.get('avatar') }}" alt="" class="ava">
            </div>
            <div class="one-cell_bd">
              <div class="user-name">
                <span id="username">{{ session.get('nickname') }}</span>
                <input class="changeIpu hide" type="text" value="" placeholder="请输入昵称">
              </div>
              <div class="changeInfo">
                <span id="change">{{_('修改昵称')}}</span>
                <div class="hide" id="saveCal">
                  {{ wtf_form.csrf_token }}
                  <span id="save" href="javascript:void(0);">{{_('保存')}}</span>
                  <span class="cancel" id="cancel">{{_('取消')}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="portal-sub">
            <ul class="sub-info_list clearfix">
              <li class="sub-info_item">
                <div class="one-cell">
                  <div class="one-cell_hd avatar80">
                    <img class="ava" src="http://s01.mifile.cn/i/user/portal-icon-1.png" alt="">
                  </div>
                  <div class="one-cell_bd">
                    <p class="sub-item_hd">
                      <span>{{_('待支付的订单：')}}</span>
                      <span class="allOn">{{ unpaid_count }}</span>
                    </p>
                    <div style="position: relative;">
                      <a class="sub-item_link" href="{{ url_for('pc.order.index', tab_status=1) }}">{{_('查看待支付订单 >')}}</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="sub-info_item">
                <div class="one-cell">
                  <div class="one-cell_hd avatar80">
                    <img class="ava" src="http://s01.mifile.cn/i/user/portal-icon-2.png" alt="">
                  </div>
                  <div class="one-cell_bd">
                    <p class="sub-item_hd">
                      <span>{{_('待收货的订单：')}}</span>
                      <span class="allOn">{{ undeliver_count }}</span>
                    </p>
                    <div style="position: relative;">
                      <a class="sub-item_link" href="{{ url_for('pc.order.index', tab_status=2) }}">{{_('查看待收货订单 >')}}</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="sub-info_item">
                <div class="one-cell">
                  <div class="one-cell_hd avatar80">
                    <img class="ava" src="http://s01.mifile.cn/i/user/portal-icon-3.png" alt="">
                  </div>
                  <div class="one-cell_bd">
                    <p class="sub-item_hd">
                      <span>{{_('待评价商品数：')}}</span>
                      <span class="allOn">{{ uncomment_count }}</span>
                    </p>
                    <div style="position: relative;">
                      <a class="sub-item_link" href="{{ url_for('pc.order.comment', is_pending=1) }}">{{_('查看待评价商品 >')}}</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="sub-info_item">
                <div class="one-cell">
                  <div class="one-cell_hd avatar80">
                    <img class="ava" src="http://s01.mifile.cn/i/user/portal-icon-4.png" alt="">
                  </div>
                  <div class="one-cell_bd">
                    <p class="sub-item_hd">
                      <span>{{_('收藏的商品：')}}</span>
                      <span class="allOn">{{ collect_count }}</span>
                    </p>
                    <div style="position: relative;">
                      <a class="sub-item_link" href="{{ url_for('pc.me.collect', p=1, ps=20, tab_status=2) }}">{{_('查看收藏的商品 >')}}</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input class="hide"  id='gender' value='{{ user.gender }}'>
{% endblock %}

{% block script %}
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.iframe-transport.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.fileupload.js"></script>
<script type="text/javascript">
var csrftoken = $('#csrf_token').val();
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

//点击修改昵称进行修改
$('#change').click(function(){

  if(!$('.changeIpu').hasClass('show')){
    var username = $('#username').text();

    $('#username').addClass('hide');
    $('.changeIpu').addClass('show').removeClass('hide');
    $('.changeIpu').val(username,"");
    $('#change').addClass('hide');
    $('#saveCal').addClass('show').removeClass('hide');
  }
});

//点击保存按钮
$('#save').click(function(){
  if(!$('.changeIpu').hasClass('hide')){
    $('.changeIpu').addClass('hide').removeClass('show');
    $('#username').removeClass('hide');
    $('#saveCal').addClass('hide').removeClass('show');
    $('#change').removeClass('hide');

    var nickname = $('.changeIpu').val();
    updateProfile(nickname);

  }
});

//更新个人资料
function updateProfile(nickname){
  
  var avatar = $("#avatar").val();
  var gender   = $('#gender').attr('value');
  
  if(typeof nickname =='undefiined' || nickname == null || nickname.replace(/(^\s*)|(\s*$)/g,"") == ''){
    alert('请输入昵称');
    return false;
  }
  params = {'nickname':nickname, 'avatar':avatar, 'gender':gender}
  $.post("{{ url_for('api.me.update') }}", params, function(json) {
    if (json.ret != 0) {
      alert(json.msg);
      return false;
    }

    window.location.href="{{ url_for('pc.me.index') }}";
  });
}

//上传图片
$('#image').fileupload({
    url: "{{ url_for('api.upload.image') }}",
    dataType: 'json',
    formData:{'prefix':'avatar'},
    done: function (e, data) {
      if(data.result.ret == 0) {
        var image = data.result.data.image;

        $("#avatar_img").attr('src', image);
        $("#avatar").val(image);
        var nickname = $('#username').text();
        updateProfile(nickname)
      }
    }
});

//点击取消
$('#cancel').click(function(){
  if(!$('.changeIpu').hasClass('hide')){
    $('.changeIpu').addClass('hide').removeClass('show');
    $('#username').removeClass('hide');
    $('#saveCal').addClass('hide').removeClass('show');
    $('#change').removeClass('hide');
  }
});
</script>
{% endblock%}