{% extends '/default/pc/layout/base.html.j2' %}


{% block head %}
<title>{{_('我的个人中心 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/me.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('我的个人中心')}}</span>
      </p>
    </div>
    <div class="user-main">
      <div class="head-inner clearfix">
        {%include 'default/pc/layout/nav_left.html.j2'%}
        <div class="order-wrap">
          <div class="allPad">
            <div class="one-cell">
              <div class="one-cell_hd avatar160" style="position: relative;">
                <input id="uploaderInput" class="one-uploader_input" type="file" accept="image/*" multiple="">
                <img class="ava" src="{{ avatar }}" alt="">
              </div>
              <div class="one-cell_bd">
                <div class="user-name">
                  <span id="username">{{ nickname }}</span>
                  <input class="changeIpu hide" type="text" data-value="" value="">
                </div>
                <div class="changeInfo">
                  <span id="change">{{_('修改昵称')}}</span>
                  <div class="hide" id="saveCal">
                    <span id="save">{{_('保存')}}</span>
                    <span class="cancel" id="cancel">{{_('取消')}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="portal-sub">
              <ul class="sub-info_list clearfix">
                <li class="sub-info_item">
                  <div class="one-cell">
                    <div class="one-cell_hd avatar80">
                      <img class="ava" src="http://s01.mifile.cn/i/user/portal-icon-1.png" alt="">
                    </div>
                    <div class="one-cell_bd">
                      <p class="sub-item_hd">
                        <span>{{_('待支付的订单：')}}</span>
                        <span class="allOn">{{ unpaid_count }}</span>
                      </p>
                      <div style="position: relative;">
                        <a class="sub-item_link" href="{{ url_for('pc.order.index', tab_status=1) }}">{{_('查看待支付订单 >')}}</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="sub-info_item">
                  <div class="one-cell">
                    <div class="one-cell_hd avatar80">
                      <img class="ava" src="http://s01.mifile.cn/i/user/portal-icon-2.png" alt="">
                    </div>
                    <div class="one-cell_bd">
                      <p class="sub-item_hd">
                        <span>{{_('待收货的订单：')}}</span>
                        <span class="allOn">{{ undeliver_count }}</span>
                      </p>
                      <div style="position: relative;">
                        <a class="sub-item_link" href="{{ url_for('pc.order.index', tab_status=2) }}">{{_('查看待收货订单 >')}}</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="sub-info_item">
                  <div class="one-cell">
                    <div class="one-cell_hd avatar80">
                      <img class="ava" src="http://s01.mifile.cn/i/user/portal-icon-3.png" alt="">
                    </div>
                    <div class="one-cell_bd">
                      <p class="sub-item_hd">
                        <span>{{_('待评价商品数：')}}</span>
                        <span class="allOn">{{ uncomment_count }}</span>
                      </p>
                      <div style="position: relative;">
                        <a class="sub-item_link" href="{{ url_for('pc.order.comment', is_pending=1) }}">{{_('查看待评价商品 >')}}</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="sub-info_item">
                  <div class="one-cell">
                    <div class="one-cell_hd avatar80">
                      <img class="ava" src="http://s01.mifile.cn/i/user/portal-icon-4.png" alt="">
                    </div>
                    <div class="one-cell_bd">
                      <p class="sub-item_hd">
                        <span>{{_('收藏的商品：')}}</span>
                        <span class="allOn">{{ collect_count }}</span>
                      </p>
                      <div style="position: relative;">
                        <a class="sub-item_link" href="{{ url_for('pc.me.collect', p=1, ps=20, tab_status=2) }}">{{_('查看收藏的商品 >')}}</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
//点击修改昵称进行修改
$('#change').click(function(){
  if(!$('.changeIpu').hasClass('show')){
    $('#username').addClass('hide');
    $('.changeIpu').addClass('show').removeClass('hide');
    $('.changeIpu').val('');
    $('#change').addClass('hide');
    $('#saveCal').addClass('show').removeClass('hide');
  }
});

//点击保存
$('#save').click(function(){
  if(!$('.changeIpu').hasClass('hide')){
    $('.changeIpu').addClass('hide').removeClass('show');
    $('#username').removeClass('hide');
    $('#saveCal').addClass('hide').removeClass('show');
    $('#change').removeClass('hide');

    var nickname = $('.changeIpu').val();
    //
    //<!-- if(nickname==null||nickname.replace(/\s*/g, "")==''){
     // alert('请输入昵称', "text");
     // return;
   // } -->
    //
    $.post("{{ url_for('api.me.update') }}", {'nickname':nickname}, function(json) {
      if (json.ret != 0) {
        $.toast(json.msg, "text");
        return false;
      }

    //<!-- location.reload; -->
    });
    }
});

//点击取消
$('#cancel').click(function(){
  if(!$('.changeIpu').hasClass('hide')){
    $('.changeIpu').addClass('hide').removeClass('show');
    $('#username').removeClass('hide');
    $('#saveCal').addClass('hide').removeClass('show');
    $('#change').removeClass('hide');
  }
});
</script>
{% endblock%}