{% extends '/default/pc/layout/base.html.j2' %}
{% import '/default/pc/libs/const.html.j2' as const %}

{% block head %}
<title>{{_('消息通知 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/me.css">
<link rel="stylesheet" href="/static/default/pc/iconfont/iconfont.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('消息通知')}}</span>
      </p>
    </div>
  </div>
  <div class="user-main">
    <div class="head-inner clearfix">
      {%include 'default/pc/layout/nav_left.html.j2'%}
      <div class="order-wrap">
        <div class="allPad">
          {% if messages %}
            <!-- 有消息通知 -->
            <div class="order-bd">
              <div class="order-box">
                <ul class="order-box_list">
                  {% for message in messages %}
                    <li class="aftersales-goods_box">
                      <div class="order-item_detail">
                        <div class="msg-item_hd">
                          <div class="msg-type">
                            {{ const.MESSAGE_TYPE.get(message.message_type,"") }}
                            <span class="msg-add greyGap">{{ message.add_time|timestamp2str }}</span>
                          </div>
                          <div class="order-desc">{{ message.content }}</div>
                        </div>
                        <div class="clearfix">
                          <!-- <div class="item-bd_fl">
                            <div class="one-cell not-oneCell">
                              <div class="one-cell_hd hig100">
                                <img src="{{ message.img }}" alt="">
                              </div>
                            </div>
                          </div> -->
                          <div class="item-bd_fr">
                            <a class="btn-link" href="{{ url_for('pc.order.detail', order_id=message.tid) }}">
                              <button class="order-type_btn" type="button">{{_('立即查看')}}</button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {{ libs.pagination_html(pagination,10) }}
            </div>
            <!-- 有消息通知 end -->
          {% else %}
            <!-- 没有消息通知 -->
            <div class="not-one">
              <p class="not-one_text">{{_('您暂时没有消息通知!')}}</p>
              <a class="not-one_btn btn-primary" href="{{ url_for('pc.index.root') }}">{{_('到商场去看看')}}</a>
            </div>
            <!-- 没有消息通知 end -->
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"></script>
{% endblock%}