{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}

{% block body %}
<div id="page-wrapper">
  {% set breadcrumbs = [{'title':_('广告'), 'href':url_for('admin.adv.index')}, {'title':g.page_title, 'href':""}] %}
  {{ libs.breadcrumbs(breadcrumbs) }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="white-box">
          <h3 class="box-title m-b-0">{{_('广告基本信息填写')}}</h3>
          <p class="text-muted m-b-30 font-13">{{_('输入下面的详细信息')}}</p>

          <form action="{{ url_for('admin.adv.save') }}" method="POST">
            <div class="row">
              {{ libs.wtf_select(wtf_form.ac_id, _('分类'), _class="form-control") }}
              {{ libs.wtf_select(wtf_form.is_show, _('是否显示'), _class="form-control") }}
            </div>
            <div class="row">
              {{ libs.wtf_select(wtf_form.ttype, _('跳转类型'), _class="form-control") }}
              {{ libs.wtf_input(wtf_form.tid, _('跳转目标'), _value=adv.tid, _class="form-control") }}
            </div>
            <div class="row">
              {{ libs.wtf_input(wtf_form.url, _('外部链接'), _value=adv.url, _class="form-control") }}
              {{ libs.wtf_input(wtf_form.sorting, _('排序'), _value=adv.sorting, _class="form-control", _help=_('*排序: 数值越大排序越靠前')) }}
            </div>
            <div class="row">
              {{ libs.wtf_input(wtf_form.desc, _('简介'), _value=adv.desc, _class="form-control") }}
            </div>
            {% set adv_id = adv.adv_id if adv.adv_id else 0 %}
            {{ libs.wtf_input(wtf_form.adv_id, '', _value=adv_id, _type="hidden") }}
            {{ wtf_form.csrf_token }}
            {{ libs.wtf_submit() }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

