{% extends '/default/admin/layout/base.html.j2' %}

{% block head %}
<!-- Color picker plugins css -->
<link href="/static/default/admin/plugins/bower_components/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
<!-- Date picker plugins css -->
<link href="/static/default/admin/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<!-- Daterange picker plugins css -->
<link href="/static/default/admin/plugins/bower_components/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="/static/default/admin/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    {{ libs.build_tabs([
        {'label':_('全部'), 'value':0, 'endpoint':'admin.adv.index'},
        {'label':_('移动端'), 'value':1, 'endpoint':'admin.adv.index'},
        {'label':_('PC端'), 'value':2, 'endpoint':'admin.adv.index'},
      ], 'platform_type', btns=[{'label':_('添加广告'), 'href':url_for('admin.adv.create')}]) }}

    <div class="row">
      <div class="col-lg-12">
        <div class="white-box">
          <div class="table-responsive">
            <table class="table table-hover product-overview footable" id="myTable">
              <thead>
                <tr>
                  <th>{{_('广告ID')}}</th>
                  <th>{{_('平台')}}</th>
                  <th>{{_('分类')}}</th>
                  <th>{{_('图片')}}</th>
                  <th>{{_('简介')}}</th>
                  <th>{{_('跳转类型')}}</th>
                  <th>{{_('跳转目标')}}</th>
                  <th>{{_('外部链接')}}</th>
                  <th>{{_('排序')}}</th>
                  <th>{{_('是否显示')}}</th>
                  <th>{{_('操作')}}</th>
                </tr>
              </thead>
              <tbody>
              {% for adv in advs %}
                <tr id="adv-{{ adv.adv_id }}">
                  <td>{{ adv.adv_id }}</td>
                  <td>{{ const.PLATFORM_TYPE.get(adv.platform_type) }}</td>
                  <td>{{ const.ADV_AC.get(adv.ac_id, '') }}</td>
                  <td> <img src="{{ adv.img }}-rectangle.small" alt="" width="80"> </td>
                  <td>{{ adv.desc }}</td>
                  <td>{{ const.ADV_TTYPE.get(adv.ttype, '') }}</td>
                  <td>{{ adv.tid }}</td>
                  <td>{{ adv.url }}</td>
                  <td>{{ adv.sorting }}</td>
                  <td>{{ const.YES_OR_NO.get(adv.is_show, '') }}</td>
                  <td>
                    <a href="{{ url_for('admin.adv.detail', adv_id=adv.adv_id) }}" class="text-inverse p-r-10" data-toggle="tooltip" title="{{_('编辑')}}">
                      <i class="ti-pencil-alt"></i>
                    </a>
                    <a href="javascript:void(0);" class="text-inverse" data-toggle="tooltip" title="{{_('删除')}}" onclick="remove({{ adv.adv_id }})">
                      <i class="ti-trash"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
              {{ libs.pagination_html(pagination, 9) }}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
function remove(adv_id) {
  swal({
    title: "{{_('确认删除')}}",
    text: "{{_('确认删除此条广告？')}}",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "{{_('删除')}}",
    cancelButtonText: "{{_('取消')}}",
    closeOnConfirm: false
  }, function(){
    $.get("{{ url_for('admin.adv.remove') }}", {'adv_id':adv_id}, function(json) {
      if (json.ret != 0) {
        swal("{{_('删除失败')}}", json.msg, "error");
        return false;
      }

      $("#adv-"+adv_id).remove();
      swal("{{_('删除成功')}}", "", "success");
    });
  });
}
</script>
{% endblock %}
