{% extends '/default/pc/layout/base.html.j2' %}

{% block head %}
<title>{{_('申请售后服务-选择产品 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/index.css">
<link rel="stylesheet" href="/static/default/pc/css/aftersales.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('申请售后服务')}}</span>
      </p>
    </div>
  </div>
  <div class="user-main">
    <div class="head-inner clearfix">
      {%include 'default/pc/layout/nav_left.html.j2'%}
      <div class="order-wrap">
        <div class="allPad">
          <div class="order-detail_bd">
            <div class="order-summary">
                <div class="order-progress">
                  <!-- 申请售后服务进度条 -->
                  <ul class="progress-list clearfix">
                    <li class="step step-first step-active">{{_('选择产品和服务')}}</li>
                    <li class="step">{{_('填写申请单')}}</li>
                    <li class="step step-last">{{_('完成申请')}}</li>
                  </ul>
                  <!-- 申请售后服务进度条 end -->
                </div>
              </div>
              <div class="goods-section_box">
                <div class="choice-goods">
                  <p class="choice-goods_title">选择订单中的商品</p>
                </div>
                <ul class="all-list clearfix">
                  {% for item in items %}
                    <li class="list-item2">
                      <div class="item-product">
                        <img src="{{ item.goods_img }}-square.middle" alt="">
                      </div>
                      <div class="item-detail">
                        <div class="all-title">{{ item.goods_name }}</div>
                        {% set quantity = item.goods_quantity - item.aftersales_goods_quantity if item.goods_quantity > item.aftersales_goods_quantity else item.aftersales_goods_quantity %}
                        <div class="greyGap mar-top">数量 x{{ quantity }}</div>
                      </div>

                      {% set og_aftersale_status = ogs_aftersale_status.get(item.og_id, 0) %}
                      {% if og_aftersale_status['status_code'] == 1 %}
                        <div class="review-btn_wrap" data-value="">
                          <a class="review-btn_link btn-primary" href="{{ url_for('pc.aftersales.apply_step1', og_id= item.og_id) }}">{{_('申请售后')}}</a>
                        </div>
                      {% elif og_aftersale_status['status_code'] == 2 %}
                        <div class="review-btn_wrap" data-value="">
                          <a class="review-btn_link" href="{{ url_for('pc.aftersales.detail', aftersales_id=og_aftersale_status['aftersales_id']) }}">{{_('售后受理中')}}</a>
                        </div>
                      {% elif og_aftersale_status['status_code'] == 3 %}
                        <div class="review-btn_wrap" data-value="">
                          <a class="review-btn_link" href="javascript:;">{{_('已退款')}}</a>
                        </div>
                      {% elif og_aftersale_status['status_code'] == 4 %}
                        <div class="review-btn_wrap" data-value="">
                          <a class="review-btn_link" href="javascript:;">{{_('已换货')}}</a>
                        </div>
                      {% elif og_aftersale_status['status_code'] == 5 %}
                        <div class="review-btn_wrap" data-value="">
                          <a class="review-btn_link" href="javascript:;">{{_('已退款，已换货')}}</a>
                        </div>
                      {% endif %}

                    </li>
                  {% endfor %}
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

</script>
{% endblock%}