{% extends '/default/pc/layout/base.html.j2' %}


{% block head %}
<title>{{_('申请售后服务-第一步 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/aftersales.css">
<link rel="stylesheet" href="/static/default/pc/css/cart.css">
<link rel="stylesheet" href="/static/default/pc/css/city-picker.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('申请售后服务')}}</span>
      </p>
    </div>
  </div>
  <div class="user-main">
    <div class="head-inner clearfix">
      {%include 'default/pc/layout/nav_left.html.j2'%}
      <div class="order-wrap">
        <div class="allPad">
          <div class="order-detail_bd">
            <div class="order-summary">
                <div class="order-progress">
                  <!-- 申请售后服务进度条 -->
                  <ul class="progress-list clearfix">
                    <li class="step step-first step-done">{{_('选择产品和服务')}}</li>
                    <li class="step step-active">{{_('填写申请单')}}</li>
                    <li class="step step-last">{{_('完成申请')}}</li>
                  </ul>
                  <!-- 申请售后服务进度条 end -->
                </div>
              </div>
              <div class="goods-section_box">
                <div class="choice-goods">
                  <p class="choice-goods_title">选择进行售后的商品</p>
                </div>
                <div class="aftersales-goods_box">
                  {% if aftersales_type == 1 %}
                    {% for item in items %}
                      <div class="one-cell not-oneCell">
                        <div class="one-cell_hd avatar80">
                          <img src="{{ item.goods_img }}-square.small" alt="">
                        </div>
                        <div class="one-cell_bd">
                          <p class="blackGap">{{ item.goods_name }}</p>
                          <p class="blackGap mar-top">数量：{{ item.goods_quantity }}</p>
                        </div>
                      </div>
                    {% endfor %}
                  {% elif aftersales_type in [2,3] %}
                    {% set order_good = goods_data[0] if goods_data %}
                    {% if order_good %}
                      <div class="one-cell not-oneCell">
                        <div class="one-cell_hd avatar80">
                          <img src="{{ order_good.goods_img }}-square.small" alt="">
                        </div>
                        <div class="one-cell_bd">
                          <p class="blackGap">{{ order_good.goods_name }}</p>
                          <div class="apply-service_num mar-top">
                            <i class="num_minus"></i>
                            <input class="num_ipt change_cart_quantity" type="text" id="remain_quantity" value="1"  minnum="1" maxnum='{{ order_good.maximum }}'>
                            <i class="num_add"></i>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
                <div class="choice-goods">
                  <p class="choice-goods_title">为您的产品选择服务类型</p>
                </div>
                <div class="section-bd">
                  <ul class="aftersales-type_list clearfix" data-type="service">
                    {% set service_text = "抱歉，您的商品没有符合的服务!" %}
                    {% if aftersales_type == 1 %}
                      <!-- 发货前支持仅退款服务 -->
                      <li class="aftersales-type_item allActive" data-value="1">{{_('仅退款')}}</li>
                      {% set service_text = "您的商品支持仅退款服务" %}
                    {% elif aftersales_type == 2 %}
                      <!-- 发货后7天内，支持退货退款和换货服务 -->
                      <li class="aftersales-type_item allActive" data-value="2">{{_('退货退款')}}</li>
                      <li class="aftersales-type_item" data-value="3" data-type="service">{{_('仅换货')}}</li>
                      {% set service_text = "您的商品支持退货退款、仅换货服务" %}
                    {% elif aftersales_type == 3 %}
                      <!-- 发货后15天内，支持换货服务 -->
                      <li class="aftersales-type_item allActive" data-value="3">{{_('仅换货')}}</li>
                      {% set service_text = "您的商品支持仅换货服务" %}
                    {% endif %}
                  </ul>
                  <p class="greyGap">* {{ service_text }}</p>
                </div>
                {% if aftersales_type in [2,3] %}
                  <div id="deliver_status_box">
                    <div class="choice-goods">
                      <p class="choice-goods_title">货物状态</p>
                    </div>
                    <div class="section-bd">
                      <ul class="aftersales-type_list clearfix" data-type="deliver">
                        <li class="aftersales-type_item" data-value="1">{{_('未收到货')}}</li>
                        <li class="aftersales-type_item" data-value="2">{{_('已收到货')}}</li>
                      </ul>
                    </div>
                  </div>
                {% endif %}
                
                <div class="choice-goods">
                  <p class="choice-goods_title">产品问题描述</p>
                </div>
                <div class="section-bd">
                  <div>
                    <textarea class="aftersales-reason" name="" id="content" placeholder="请输入具体问题..."></textarea>
                  </div>
                  <p class="label-title">{{_('上传商品图片（单张不超过3MB。请注意拍摄画质尽量清晰，突出商品问题。非必填项）')}}</p>
                  <div class="uploader_wrap">
                    <div class="one-uploader">
                      <div class="one-uploader_bd">
                        <ul class="one-uploader_files" id="uploaderFiles"></ul>
                        <div class="one-uploader_input-box">
                          <input id="uploaderInput" name="image" class="one-uploader_input" type="file" accept="image/*" multiple="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="refunds_address_box" style="display:none;">
                  <div class="choice-goods">
                    <p class="choice-goods_title">您的收货地址</p>
                  </div>
                  <div class="section-bd">
                    <div style="width:580px">
                      <div class="bd-flex">
                        <label class="bd-label">{{_('姓名：')}}</label>
                        <input id="edit_address_name" class="bd-input" type="text" value="{{ order_address.name }}" placeholder="{{_('请填写收件人姓名')}}">
                      </div>
                      <div class="bd-flex">
                        <label class="bd-label">{{_('手机号码：')}}</label>
                        <input id="edit_address_mobile" class="bd-input" type="text" value="{{ order_address.mobile }}" placeholder="{{_('请填写收件人手机号码')}}">
                      </div>
                      <div class="bd-flex">
                        <label class="bd-label">{{_('地区：')}}</label>
                        <input id="edit_address_pcd" readonly class="bd-input city-picker-input" type="text">
                      </div>
                      <div class="bd-flex">
                        <label class="bd-label">{{_('详细地址：')}}</label>
                        <input id="edit_address_address" class="bd-input" type="text" value="{{ order_address.address }}" placeholder="{{_('请填写详细地址：如街道、道路、门牌号等')}}">
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 换货服务则不用显示退款金额 -->
                {% set class_type = 'hide' if aftersales_type == 3 else '' %}
                <p class="choice-goods_title {{ class_type }}" id="refund_amount_sum" >
                  <span class="">{{_('退款金额：')}}</span>
                  <span class="allOn" id='refunds_amount'>￥{{ refunds_amount }}</span>
                  <span class="greyGap mar-left">{{_('(注：退款金额将返回到您原支付账户)')}}</span>
                </p>

                <div class="reg-btn">
                  {{ wtf_form.csrf_token }}
                  <input id="order_id" name="order_id" type="hidden" value="{{ order_id }}" />
                  <input id="og_id" name="og_id" type="hidden" value="{{ og_id }}" />
                  <input id="img_data" name="img_data" type="hidden" value="[]" />
                  <input id="aftersales_type" name="aftersales_type" type="hidden" value="{{ aftersales_type if aftersales_type == 1 else 2 }}" />
                  <a id="btn_next" class="one-btn btn-primary" onclick="return doNext()">{{_('下一步')}}</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.iframe-transport.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/static/default/pc/js/city-picker.data.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/default/pc/js/city-picker.js" charset="utf-8"></script>
<script type="text/javascript">
var csrftoken = $('#csrf_token').val();
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

//退款金额计算
function calculateRefundsAmount(quantity){
  var aftersales_type = $("[data-type='service']").children('.allActive').attr("data-value");
  var og_id           = parseInt($("#og_id").val()); 
  if(aftersales_type == 2){
    $.get("{{ url_for('api.aftersales.refunds_amount') }}", {'og_id':og_id, 'quantity':quantity}, function(json) {
      if (json.ret == 0) {
        $("#refunds_amount").text('￥'+json.data.refunds_amount);
      } else {
        alert(json.msg);
        return false;
      }
    });
  }
}

//提交申请
function apply(params, aftersales_type) {
  $.post("{{ url_for('api.aftersales.apply') }}", params, function(json) {
    if (json.ret == 0) {
      //优化alert ??
      var aftersales_id = json.data.aftersales_id;

      window.location.href = "{{ url_for('pc.aftersales.apply_step2') }}?aftersales_type="+aftersales_type+"&aftersales_id="+aftersales_id;
    } else {
      alert(json.msg);
    }
  });
}

//aftersales_type_1
function aftersales_type_1(params) {
  var order_id = $("#order_id").val();

  params.order_id = order_id;
  params.aftersales_type = 1;
  params.deliver_status = 0;

  apply(params, 1);
}

//aftersales_type_2
function aftersales_type_2(params) {
  var og_id = $("#og_id").val();
  var quantity = $("#remain_quantity").val();
  var deliver_status = $("[data-type='deliver']").children('.allActive').attr("data-value");

  if ( typeof(deliver_status) == "undefined" ){
    alert('请选择货物状态');
    return false;
  }

  params.og_id = og_id;
  params.quantity = quantity;
  params.deliver_status = deliver_status;
  params.aftersales_type = 2;

  apply(params, 2);
}

//aftersales_type_3
function aftersales_type_3(params) {
  var og_id = $("#og_id").val();
  var quantity = $("#remain_quantity").val();
  var name = $("#edit_address_name").val();
  var mobile = $("#edit_address_mobile").val();
  var pcd = $("#edit_address_pcd").val();
  var address = $("#edit_address_address").val();
  var pcd_arr = pcd.split('/');
  var province = pcd_arr[0];
  var city = pcd_arr[1];
  var district = pcd_arr[2];

  params.og_id = og_id;
  params.quantity = quantity;
  params.deliver_status = 0;
  params.aftersales_type = 3;
  params.name = name;
  params.mobile = mobile;
  params.province = province;
  params.city = city;
  params.district = district;
  params.address = address;

  apply(params, 3);
}

//点击下一步按钮
function doNext(){
  var aftersales_type = parseInt($("#aftersales_type").val());

  var content = $("#content").val();
  var img_data = $("#img_data").val();
  var params = {'content':content, 'img_data':img_data};

  //仅退款
  if(aftersales_type == 1) {
    aftersales_type_1(params);
  }

  //退货退款
  if(aftersales_type == 2) {
    aftersales_type_2(params);
  }

  //仅退款
  if(aftersales_type == 3) {
    aftersales_type_3(params);
  }
}

//图片删除按钮显示
function show(thisObj) {
  $(thisObj).children("div").css("display", "block");
}

//图片删除按钮隐藏
function hide(thisObj) {
  $(thisObj).children("div").css("display", "none");
}

//图片删除
function delImg(obj) {
  var imgurl = $(obj).prev().attr("src").replace('-square.small', '');
  var img_data = $("#img_data").val();
  var img_list = JSON.parse(img_data);
  var pos = img_list.indexOf(imgurl);
  img_list.splice(pos, 1);
  img_data = JSON.stringify(img_list);
  $("#img_data").val(img_data);
  $(obj).parent("li").remove();
}

$(document).ready(function () {
  $("#edit_address_pcd").citypicker({
    province: '{{ order_address.province }}',
    city:  '{{ order_address.city }}',
    district: '{{ order_address.district }}'
  });

  //点击数量减号
  $('.num_minus').click(function (e) {
    var $input = $('#remain_quantity');
    var MIN    = parseInt($input.attr('minnum'));
    var number = parseInt($input.val() || "0") - 1;

    if (number < MIN) number = MIN;
    $input.val(number);

    //退货退款时，退款金额岁数量变化
    calculateRefundsAmount(number);
  });

  //点击数量加号
  $('.num_add').click(function (e) {
      var $input = $('#remain_quantity');
      var MAX    = parseInt($input.attr('maxnum'));
      var number = parseInt($input.val() || "0") + 1;

      if (number > MAX) number = MAX;
      $input.val(number);
      calculateRefundsAmount(number);
  });

  //图片上传
  $('#uploaderInput').fileupload({
      url: "{{ url_for('api.upload.image') }}",
      dataType: 'json',
      formData:{'prefix':'comment'},
      add: function (e, data) {
        var html_text = '<li class="one-uploader_file one-loading">' +
                          '<img class="loadingImg" src="/static/default/pc/img/loading.gif" alt="">' +
                        '</li>';
        $("#uploaderFiles").append(html_text);
        data.submit();
      },
      done: function (e, data) {
        if(data.result.ret == 0) {
          var image = data.result.data.image;
          var html_text = '<li class="one-uploader_file" onmouseover="show(this)" onmouseout="hide(this)">' +
                            '<img src="' + image + '-square.small" alt="" data-value="' + image + '">' +
                            '<div class="delete-box" onclick="delImg(this)">' + ' 删除 ' + '</div >' +
                          '</li>';
          var $uploaderFiels = $('#uploaderFiles');
          var $loading = $uploaderFiels.find('li.one-loading')[0];
          $loading.remove();
          $("#uploaderFiles").append(html_text);

          // 把上传的图片加到列表上
          var img_data = $("#img_data").val();
          var _img_data = JSON.parse(img_data);
          _img_data.push(image);
          img_data = JSON.stringify(_img_data);
          $("#img_data").val(img_data);
        }
      }
  });

  //切换服务类型选中状态
  $(".aftersales-type_item").click(function () {
    $(this).addClass('allActive').siblings().removeClass('allActive');

    var data_type = $(this).parent().attr("data-type");
    if ( data_type === 'service' ){
      var aftersales_type = $(this).attr("data-value");

      //换货不用显示退款金额
      if ( aftersales_type == 3 ){
        if( !$('#refund_amount_sum').hasClass('hide') ){
          $('#refund_amount_sum').addClass('hide');
        }
        $("#refunds_address_box").show();
      }else {
        $('#refund_amount_sum').removeClass('hide');
        $("#refunds_address_box").hide();
      }

      if (aftersales_type == 2) {
        $("#deliver_status_box").show();
      } else {
        $("#deliver_status_box").hide();
      }

      $("#aftersales_type").val(aftersales_type);
    }
  });
});
</script>
{% endblock%}