{% extends '/default/pc/layout/base.html.j2' %}

{% block head %}
<title>{{_('申请售后服务-选择产品 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/index.css">
<link rel="stylesheet" href="/static/default/pc/css/aftersales.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('申请售后服务')}}</span>
      </p>
    </div>
  </div>
  <div class="user-main">
    <div class="head-inner clearfix">
      {%include 'default/pc/layout/nav_left.html.j2'%}
      <div class="order-wrap">
        <div class="allPad">
          <div class="order-detail_bd">
            <div class="order-summary">
                <div class="order-progress">
                  <!-- 申请售后服务进度条 -->
                  <ul class="progress-list clearfix">
                    <li class="step step-first step-active">{{_('选择产品和服务')}}</li>
                    <li class="step">{{_('填写申请单')}}</li>
                    <li class="step step-last">{{_('完成申请')}}</li>
                  </ul>
                  <!-- 申请售后服务进度条 end -->
                </div>
              </div>
              <div class="goods-section_box">
                <div class="choice-goods">
                  <p class="choice-goods_title">选择订单中的商品</p>
                </div>
                <ul class="all-list clearfix">
                  {% for item in items %}
                    <li class="list-item2">
                      <div class="item-product">
                        <img src="{{ item.goods_img }}-square.middle" alt="">
                      </div>
                      <div class="item-detail">
                        <div class="all-title">{{ item.goods_name }}</div>
                        {% set quantity = item.goods_quantity - item.aftersales_goods_quantity if item.goods_quantity > item.aftersales_goods_quantity else item.aftersales_goods_quantity %}
                        <div class="greyGap mar-top">数量 x{{ quantity }}</div>
                      </div>

                      <!-- 申请售后的条件，非取消的订单，已支付，已发货，发货后15天内，对应商品还有未申请售后的 -->
                      {% set limit_time = order.shipping_time|before_after_timestamp({'days':15}) %}
                      {% if order.order_status in [1,2] and order.pay_status == 2 and order.shipping_status == 2 %}
                        {% if limit_time >= current_time and item.goods_quantity > item.aftersales_goods_quantity  %}
                          <!-- 未申请的商品，此按钮显示 -->
                          <div class="review-btn_wrap" data-value="">
                            <a class="review-btn_link btn-primary" href="{{ url_for('pc.aftersales.apply_step1',order_id=order.order_id,og_id= item.og_id) }}">{{_('申请售后')}}</a>
                          </div>
                          <!-- 未申请的商品，此按钮显示 end -->
                        {% elif aftersale_all %}
                          <!-- 2=售后处理中 -->
                          {% for aftersale in aftersale_all %}
                            {% set good = aftersale.goods_data|json_loads|first() if aftersale.goods_data %}
                            {% if item.og_id == good.og_id %}
                              <!-- 已申请的商品，此按钮显示 -->
                              <div class="review-btn_wrap" data-value="">
                                <a class="review-btn_link" href="{{ url_for('pc.aftersales.detail', aftersales_id=aftersale.aftersales_id) }}">{{_('售后受理中')}}</a>
                              </div>
                              <!-- 已申请的商品，此按钮显示 end -->
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

</script>
{% endblock%}