{% extends '/default/pc/layout/base.html.j2' %}


{% block head %}
<title>{{_('申请售后服务-第二步 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/aftersales.css">
<link rel="stylesheet" href="/static/default/pc/css/cart.css">
<link rel="stylesheet" href="/static/default/pc/css/city-picker.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('申请售后服务')}}</span>
      </p>
    </div>
  </div>
  <div class="user-main">
    <div class="head-inner clearfix">
      {%include 'default/pc/layout/nav_left.html.j2'%}
      <div class="order-wrap">
        <div class="allPad">
          <div class="order-detail_bd">
            <div class="order-summary">
                <div class="order-progress">
                  <!-- 申请售后服务进度条 -->
                  <ul class="progress-list clearfix">
                    <li class="step step-first step-done">{{_('选择产品和服务')}}</li>
                    <li class="step step-active">{{_('填写申请单')}}</li>
                    <li class="step step-last">{{_('完成申请')}}</li>
                  </ul>
                  <!-- 申请售后服务进度条 end -->
                </div>
              </div>
              <div class="goods-section_box">
                <div class="choice-goods">
                  <p class="choice-goods_title">您的收货地址</p>
                </div>
                <div class="section-bd">
                  <div style="width:580px">
                    <div class="bd-flex">
                      <label class="bd-label">{{_('姓名：')}}</label>
                      <input class="bd-input" type="text" placeholder="{{_('请填写收件人姓名')}}">
                    </div>
                    <div class="bd-flex">
                      <label class="bd-label">{{_('手机号码：')}}</label>
                      <input class="bd-input" type="text" placeholder="{{_('请填写收件人手机号码')}}">
                    </div>
                    <div class="bd-flex">
                      <label class="bd-label">{{_('地区：')}}</label>
                      <input readonly class="bd-input city-picker-input" type="text" data-toggle="city-picker" placeholder="{{_('请选择省/市/区')}}">
                    </div>
                    <div class="bd-flex">
                      <label class="bd-label">{{_('详细地址：')}}</label>
                      <input class="bd-input" type="text" placeholder="{{_('请填写详细地址：如街道、道路、门牌号等')}}">
                    </div>
                  </div>
                </div>
                <div class="reg-btn" style="margin-left:115px;">
                  <a class="one-btn btn-primary" href="{{ url_for('pc.aftersales.apply_step3') }}">{{_('提交申请')}}</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/default/pc/js/city-picker.data.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/default/pc/js/city-picker.min.js" charset="utf-8"></script>

<script type="text/javascript"></script>
{% endblock%}