{% extends '/default/pc/layout/base.html.j2' %}
{% import '/default/pc/libs/const.html.j2' as const %}

{% block head %}
<title>{{_('服务单详情 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/cart.css">
<link rel="stylesheet" href="/static/default/pc/iconfont/iconfont.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('服务单详情')}}</span>
      </p>
    </div>
  </div>
  <div class="user-main">
    <div class="head-inner clearfix">
      {%include 'default/pc/layout/nav_left.html.j2'%}
      <div class="order-wrap">
        <div class="allPad">
          <div class="order-detail_hd">
            <div class="order-num">
              <span>{{_('服务单号：')}}</span>
              <span>{{ aftersales.aftersales_sn }}<span>
            </div>
          </div>
          <div class="order-detail_bd">
            <div class="order-goods_det">
              <div class="order-summary">
                <div class="order-status">{{ status_text }}</div>
                <div class="order-progress">
                    <ul class="progress-list clearfix">
                      {% set step_zero_type = 'step-done' if aftersales.check_status in [2,3] else "step-active" %}
                      <li class="step step-first {{ step_zero_type }}">
                        <div>{{_('申请服务')}}</div>
                        <div class="progress-info">{{ logs_time[1]|timestamp2str }}</div>
                      </li>

                      {% set step_one_text = const.AFTERSALES_STATUS_CHECK.get(aftersales.check_status,'审核') %}
                      {% set step_one_type = 'step-active' if aftersales.check_status in [2,3] else '' %}
                      {% set step_one_type = 'step-done' if aftersales.refunds_status in [2,3] or aftersales.return_status in [3] or aftersales.resend_status in [3] or aftersales.status in [3] else step_one_type %}
                      {% set step_one_time = logs_time[2]|timestamp2str if aftersales.check_status in [2,3] else '' %}
                      <li class="step {{ step_one_type }}">
                        <div>{{ step_one_text }}</div>
                        <div class="progress-info">{{ step_one_time }}</div>
                      </li>

                      <!-- 仅退货退款或换货有该流程 -->
                      {% if aftersales.aftersales_type in [2,3] %}
                        {% set step_two_text = const.AFTERSALES_STATUS_RECEIVER.get(aftersales.return_status,'商家收货') %}
                        {% set step_two_type = 'step-active' if aftersales.return_status in [3] else '' %}
                        {% set step_two_type = 'step-done' if aftersales.refunds_status in [2,3] or aftersales.resend_status in [3]  or aftersales.status in [3] else step_two_type %}
                        {% set step_two_time = logs_time[3]|timestamp2str if aftersales.return_status in [3] else '' %}
                        <li class="step {{ step_two_type }}">
                          <div>{{ step_two_text }}</div>
                          <div class="progress-info">{{ step_two_time }}</div>
                        </li>
                      {% endif %}

                      <!-- 仅退款或退货退款有该流程 -->
                      {% if aftersales.aftersales_type in [1,2] %}
                        {% set step_three_text = const.AFTERSALES_STATUS_REFUND.get(aftersales.refunds_status,'退款') %}
                        {% set step_three_type = 'step-active' if aftersales.refunds_status in [2,3] else '' %}
                        {% set step_three_type = 'step-done' if aftersales.status in [3] else step_three_type %}
                        {% set step_three_time = logs_time[4]|timestamp2str if aftersales.refunds_status in [2,3] else '' %}
                      <!-- 仅换货有该流程 -->
                      {% elif aftersales.aftersales_type == 3 %}
                        {% set step_three_text = const.AFTERSALES_STATUS_DELIVERY.get(aftersales.resend_status,'客户收货') %}
                        {% set step_three_type = 'step-active' if aftersales.resend_status in [2,3] else '' %}
                        {% set step_three_type = 'step-done' if aftersales.status in [3] else step_three_type %}
                        {% set step_three_time = logs_time[5]|timestamp2str if aftersales.resend_status in [2,3] else '' %}
                      {% endif %}
                      <li class="step {{ step_three_type }}">
                        <div>{{ step_three_text }}</div>
                        <div class="progress-info">{{ step_three_time }}</div>
                      </li>
 
                      {% set step_four_text = const.AFTERSALES_STATUS_RESULT.get(aftersales.status,"完成") %}
                      {% set step_four_type = 'step-active' if aftersales.status in [3] else '' %}
                      {% if aftersales.aftersales_type in [1,2] %}
                        {% set step_four_time = logs_time[4]|timestamp2str if aftersales.status in [3] else '' %}
                      {% elif aftersales.aftersales_type == 3 %}
                        {% set step_four_time = logs_time[5]|timestamp2str if aftersales.status in [3] else '' %}
                      {% endif %}
                      <li class="step step-last {{ step_four_type }}">
                        <div>{{ step_four_text }}</div>
                        <div class="progress-info">{{ step_four_time }}</div>
                      </li>
                    </ul>
                </div>
                <div class="order-delivery hide">
                  <div class="delivery-list_box">
                    <ul class="delivery-list mar-top">
                      {% for log_item in logs %}
                        {% if loop.first %}
                          {% set type = 'first' if loop.length > 1 else 'firstOn' %}
                        {% elif loop.last %}
                          {% set type = 'last' %}
                        {% else %}
                          {% set type = '' %}
                        {% endif %}
                        <li class="delivery-list_item {{ type }}">{{ log_item.content }} {{ log_item.add_time|timestamp2str }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="delivery-more" id="more">
                  <span class="show-more_text" id="moreText">{{_('展开服务详情')}}</span>
                </div>
              </div>
              <div class="order-goods bd-bottom5">
                {% set goods = (aftersales.goods_data)|json_loads if aftersales.goods_data %}
                {% for good in goods if goods %}
                  <div class="one-cell">
                    <div class="one-cell_hd avatar80">
                      <img src="{{ good.goods_img }}-square.small" alt="">
                    </div>
                    <div class="one-cell_bd">
                      <p class="blackGap">{{ good.goods_name }}</p>
                      <p class="blackGap mar-top">数量：{{ good.goods_quantity }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>

            <!-- 服务信息 -->
            <div class="order-det_info">
              <div class="info-hd">{{_('服务信息')}}</div>
              <table class="info-table">
                <tbody>
                  <tr>
                    <th>{{_('服务类型：')}}</th>
                      <td>{{ const.AFTERSALES_TYPE.get(aftersales.aftersales_type,"") }}</td>
                  </tr>
                  <tr>
                    <th>{{_('问题描述：')}}</th>
                    <td>{{ aftersales.content }}</td>
                  </tr>
                  <tr>
                    <th>{{_('申请件数')}}</th>
                    <td>{{ aftersales.quantity }}件</td>
                  </tr>
                  {% if aftersales.aftersales_type in [1,2] %}
                    <tr>
                      <th>{{_('退款金额：')}}</th>
                      <td>￥{{ aftersales.refunds_amount }}</td>
                    </tr>
                  {% endif %}
                  <tr>
                    <th>{{_('图片：')}}</th>
                    <td>
                      <ul>
                      {% set imgdatas = aftersales.img_data|json_loads %}
                      {% for img_item in imgdatas %}
                        <li class="aftersales_img" style="line-height: 0;">
                          <img src="{{ img_item }}-square.small" alt="">
                        </li>
                      {% endfor %}
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- 服务信息 end -->

            {% if aftersales.aftersales_type == 3 and aftersales_address %}
              <!-- 商品收货信息 -->
              <div class="order-det_info">
                <div class="info-hd">{{_('商品收货信息')}}</div>
                <table class="info-table">
                  <tbody>
                    <tr>
                      <th>{{_('联系人：')}}</th>
                      <td>{{ aftersales_address.name }}</td>
                    </tr>
                    <tr>
                      <th>{{_('联系电话：')}}</th>
                      <td>{{ aftersales_address.mobile }}</td>
                    </tr>
                    <tr>
                      <th>{{_('收货地址：')}}</th>
                      <td>{{ aftersales_address.province }} {{ aftersales_address.city }} {{ aftersales_address.district }} {{ aftersales_address.address
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- 商品收货信息 end -->
            {% endif %}

            {% if aftersales.aftersales_type in [2,3] and aftersales.check_status == 2 %}
              <!-- 商品寄回信息 -->
              <div class="order-det_info">
                <div class="info-hd">{{_('商品寄回信息')}}</div>
                <table class="info-table">
                  <tbody>
                    <tr>
                      <th>{{_('联系人：')}}</th>
                      <td>{{ aftersales_service.get('consignee_name', '商家暂无配置') }}</td>
                    </tr>
                    <tr>
                      <th>{{_('联系电话：')}}</th>
                      <td>{{ aftersales_service.get('consignee_mobile', '商家暂无配置') }}</td>
                    </tr>
                    <tr>
                      <th>{{_('收货地址：')}}</th>
                      <td>{{ aftersales_service.get('consignee_address', '商家暂无配置') }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- 商品寄回信息 end -->
            {% endif %}
              
            {% if aftersales.return_status == 1 %}
              <!-- 填写寄回商品快递单号 -->
              <div class="order-det_info">
                <div class="info-hd">{{_('填写寄回商品快递单号')}}</div>
                <table class="info-table">
                  <tbody>
                    <tr>
                      <th style="vertical-align:middle;">{{_('快递单号：')}}</th>
                      <td>
                        <input class="track-num" type="text" name="" id="">
                      </td>
                    </tr>
                    <tr>
                      <td class="aftersales-tips">{{_('备注：快递面单信息需填写完整且需与您售后申请单信息一致； 务必请将申请单号备注在快递面单上再行邮寄！ 一个服务单号邮寄一个包裹！若有问题请联系客服')}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="reg-submit_btn">
                  <a id="btn_next" class="one-btn btn-primary" onclick="aftersalesReturnSn({{ aftersales.aftersales_id }})">{{_('提交')}}</a>
                </div>
              </div>
              <!-- 填写寄回商品快递单号 end -->
            {% endif %}
         
          </div>
          <!-- 售后图片点击放大弹窗 -->
          <div class="hide-mask hide" id="giant-comment">
            <div class="zoom-big-block">
              <div class="bigImg-com">
                <img id="giantCom" src="" alt="">
              </div>
            </div>
            <a class="image-num_first" id="comment-prev" href="javascript:;">
              <i class="icon-xiaoyu"></i>
            </a>
            <a class="image-num_last" id="comment-next" href="javascript:;">
              <i class="icon-dayu"></i>
            </a>
            <a class="bigimage" id="comment-close" href="javascript:;">
              <i class="icon-cancel"></i>
            </a>
          </div>
          <!-- 售后图片点击放大弹窗 end -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
var csrftoken = "{{ csrf_token() }}";
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

/**
 * 点击放大图片
 */
function aftersalesImgGiant($current) {
  var $prev = $current.prev();
  var $next = $current.next();
  var img_url = $current.find('img').attr('src');
  var img_url_giant = img_url.replace('-square.small', '-rectangle.w720');
  $('#giantCom').attr("src", img_url_giant);

  // 判断上一张
  if ($prev.length <= 0) {
    $('#comment-prev').hide();
  } else {
    $('#comment-prev').show();
  }

  // 判断下一张
  if ($next.length <= 0) {
    $('#comment-next').hide();
  } else {
    $('#comment-next').show();
  }
}


//点击提交回寄订单号
function aftersalesReturnSn(aftersales_id){
  var return_shipping_sn = $('.track-num').val();

  if(typeof return_shipping_sn == 'undefiined' || return_shipping_sn == null || return_shipping_sn.replace(/(^\s*)|(\s*$)/g,"") == ''){
    Toast('请输入寄回商品快递单号');
    return false;
  }

  var params = {'aftersales_id':aftersales_id, 'return_shipping_sn':return_shipping_sn};

  $.post("{{ url_for('api.aftersales.return_goods') }}", params, function(json) {
    if (json.ret == 0) {
      location.reload();
    } else {
      Toast(json.msg);
      return false;
    }
  });
}

$(document).ready(function(){
  // 点击图片放大事件
  $('.aftersales_img').click(function(){
    var $current = $(this);
    aftersalesImgGiant($current);
    $('#giant-comment').addClass('show').removeClass('hide');

    // 图片点击上一张按钮事件
    $('#comment-prev').click(function () {
      $current = $current.prev();
      var img_url = $current.find('img').attr('src');
      var img_url_giant = img_url.replace('-square.small', '-rectangle.w720');
      $('#giantCom').attr("src", img_url_giant);
      aftersalesImgGiant($current);
    });

    // 图片点击下一张按钮事件
    $('#comment-next').click(function () {
      $current = $current.next();
      var img_url = $current.find('img').attr('src');
      var img_url_giant = img_url.replace('-square.small', '-rectangle.w720');
      $('#giantCom').attr("src", img_url_giant);
      aftersalesImgGiant($current);
    });
  });

  // 点击关闭弹窗事件
  $('#comment-close').click(function () {
    $('#giant-comment').addClass('hide').removeClass('show');
  });

  //点击more显示服务详情
  $('#more').click(function(){
    var $moreText = $('#moreText');
    if($moreText.text()=='展开服务详情' && $moreText.hasClass('show-more_text')){
      $('.order-delivery').removeClass('hide').addClass('show');
      $moreText.removeClass('show-more_text');
      $moreText.text('收起服务详情');
      if (!$moreText.hasClass('hide-more_text')) {
        $moreText.addClass('hide-more_text');
      }
    } else{
      $('.order-delivery').removeClass('show').addClass('hide');
      $moreText.removeClass('hide-more_text');
      $moreText.text('展开服务详情');
      if (!$moreText.hasClass('show-more_text')) {
        $moreText.addClass('show-more_text');
      }
    }
  });
});
</script>
{% endblock%}