{% import '/default/mobile/libs/const.html.j2' as const %}

{% for comment in comments %}
  <div class="weui-media-box weui-media-box_appmsg">
    <div class="weui-media-box__hd">
      <img class="weui-media-box__thumb ava" src="{{ comment.avatar|format_avatar }}" alt="">
    </div>
    <div class="weui-media-box__bd">
      <div class="all_title">
        {{ comment.nickname }}
        <span class="typeText">{{ const.RATING_TEXT.get(comment.rating) }}</span>
      </div>
      <div class="all_add" style="margin-top:5px">{{ comment.add_time|timestamp2str }}</div>
      <div class="review_cnt">{{ comment.content }}</div>
      <div class="weui-uploader__files mar-top">
        <p class="comList">
          {% set imgs = comment.img_data|json_loads %}
          {% for img in imgs %}
            <img class="weui-uploader__file" src="{{ img }}-square.middle" alt="">
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
{% endfor %}
<script type="text/javascript" src="/static/default/mobile/js/detailcomment.js" charset="utf-8"></script>
