{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}
{% import '/default/admin/libs/const.html.j2' as const %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <ul class="nav customtab nav-tabs" role="tablist" style="border-bottom:none !important">
        {% set tab_status = request.args.get('tab_status', '0') %}
        {% set active = 'active' if tab_status == '0' else '' %}
        <li role="presentation" class="{{ active }}">
          <a href="{{ url_for('admin.post.index') }}" aria-controls="save" role="tab" aria-expanded="false" style="background:none !important">
            <span class="visible-xs">
              <i class="ti-user"></i>
            </span>
            <span class="hidden-xs">{{_('全部文章')}}</span>
          </a>
        </li>
        {% set active = 'active' if tab_status == '1' else '' %}
        <li role="presentation" class="{{ active }}">
          <a href="{{ url_for('admin.post.index', tab_status=1) }}" aria-controls="save" role="tab" aria-expanded="false" style="background:none !important">
            <span class="visible-xs">
              <i class="ti-user"></i>
            </span>
            <span class="hidden-xs">{{_('已发布')}}</span>
          </a>
        </li>
        {% set active = 'active' if tab_status == '2' else '' %}
        <li role="presentation" class="{{ active }}">
          <a href="{{ url_for('admin.post.index', tab_status=2) }}" aria-controls="save" role="tab" aria-expanded="false" style="background:none !important">
            <span class="visible-xs">
              <i class="ti-user"></i>
            </span>
            <span class="hidden-xs">{{_('未发布')}}</span>
          </a>
        </li>
        <a href="{{ url_for('admin.post.create') }}" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" style="display: block !important;background: #f33155 !important;border: 1px solid #f33155 !important;">
          {{_('添加文章')}}
        </a>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="white-box">
          {% set 
            form_fields = [
              {'label':'名称', 'name':'post_name'},
              {'label':'分类', 'name':'cat_id', 'type':'select', 'options':cats}
            ]
          %}
          {{ libs.build_search_form(form_fields) }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="white-box">
          <div class="table-responsive">
            <table class="table table-hover product-overview footable" id="myTable">
              <thead>
                <tr>
                  <th>{{_('ID')}}</th>
                  <th>{{_('名称')}}</th>
                  <th>{{_('分类')}}</th>
                  <th>{{_('是否发布')}}</th>
                  <th>{{_('添加时间')}}</th>
                  <th>{{_('操作')}}</th>
                </tr>
              </thead>
                <tbody>
                  {% for item in items %}
                    <tr id="item-{{item.post_id}}">
                      <td>{{ item.post_id }}</td>
                      <td>{{ item.post_name }}</td>
                      <td>{{ item.cat_name }}</td>
                      <td>
                        <span class="label {{ const.YES_OR_NO_LABEL.get(item.is_publish, 'label-danger') }} font-weight-100">
                          {{ const.YES_OR_NO.get(item.is_publish, _('未知错误')) }}
                        </span>
                      </td>
                      <td>{{ item.add_time|timestamp2str }}</td>
                      <td>
                        <a href="{{ url_for('admin.post.detail', post_id=item.post_id) }}" class="text-inverse p-r-10" data-toggle="tooltip" title="{{_('编辑')}}">
                          <i class="ti-marker-alt"></i>
                        </a>
                        <a href="javascript:void(0);" class="text-inverse" data-toggle="tooltip" title="{{_('删除')}}" onclick="remove({{ item.post_id }})">
                          <i class="ti-trash"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                {{ libs.pagination_html(pagination, 10) }}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
function remove(post_id) {
  swal({
    title: "{{_('确认删除')}}",
    text: "{{_('确认删除文章？')}}",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "{{_('删除')}}",
    cancelButtonText: "{{_('取消')}}",
    closeOnConfirm: false
  }, function(){
    $.get("{{ url_for('admin.post.remove') }}", {'post_id':post_id}, function(json) {
      if (json.ret != 0) {
        swal("{{_('删除失败')}}", json.msg, "error");
        return false;
      }

      $("#item-"+post_id).remove();
      swal("{{_('删除成功')}}", "", "success");
    });
  });
}
</script>
{% endblock %}
