{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('编辑购物车 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/cart.css"> 
{% endblock %} 

{% block body %}
<div class="cart_wrap">
  <!-- 暂不需要 -->
  <!-- <div class="greykGap mar-top mar-left">商品和数量</div>
  <div class="weui-cells weui-cells_radio">
    <div class="weui-cell weui-check__label" for="x11">
      <div class="weui-cell__bd">
        <p class="all_title">小米短袖POLO衫 深蓝 S</p>
      </div>
      <div class="weui-cell__bd">
        <div class="all_price align_right">149元</div>
      </div>
      <div class="weui-cell__ft ft_width">
        <input type="radio" class="weui-check" name="radio1" id="x11">
        <span class="weui-icon-checked"></span>
      </div>
    </div>
    <div class="weui-cell weui-check__label" for="x12">
      <div class="weui-cell__bd">
        <p class="all_title">小米短袖POLO衫 深蓝 M</p>
      </div>
      <div class="weui-cell__bd">
        <div class="all_price align_right">149元</div>
      </div>
      <div class="weui-cell__ft ft_width">
        <input type="radio" class="weui-check" name="radio2" id="x12" checked="checked">
        <span class="weui-icon-checked"></span>
      </div>
    </div>
    <div class="weui-cell weui-check__label" for="x13">
      <div class="weui-cell__bd">
        <p class="all_title">小米短袖POLO衫 深蓝 L</p>
      </div>
      <div class="weui-cell__bd">
        <div class="all_price align_right">149元</div>
      </div>
      <div class="weui-cell__ft ft_width">
        <input type="radio" class="weui-check" name="radio3" id="x13">
        <span class="weui-icon-checked"></span>
      </div>
    </div>
  </div> -->
  
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__hd height50">
        <div class="cart_phone">
          <img alt="" src="">
        </div>
      </div>
      <div class="weui-cell__bd">
        <p class="all_title mar-bottom">小米短袖POLO衫 深蓝</p>
      </div>
      <div class="weui-cell__ft mar-left width46">
        <span class="all_price">1299元</span>
      </div>
    </div>
  </div>
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__bd blackGap">购买数量</div>
      <div class="weui-cell__ft mar-left">
        <div class="apply-service_num">
          <i class="num_minus"></i>
          <input class="num_ipt" type="text" id="wareNum" name="wareNum" value="1" minnum="1">
          <i class="num_add"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="reg_btn">
    <button type="button" class="weui-btn weui-btn_red" onClick="determine()">确定</button>
  </div>
  <div class="reg_btn">
    <button type="button" class="weui-btn weui-btn_orange" onClick="del()">删除</button>
  </div>
</div>
{% endblock %} 

{% block script %}
<script type="text/javascript">
  //计数器
  var MAX = 10, MIN = 1;
  $('.num_minus').click(function (e) {
    var $input = $(e.currentTarget).parent().find('#wareNum');
    var number = parseInt($input.val() || "0") - 1
    if (number < MIN) number = MIN;
    $input.val(number)
  })
  $('.num_add').click(function (e) {
    var $input = $(e.currentTarget).parent().find('#wareNum');
    var number = parseInt($input.val() || "0") + 1
    if (number > MAX) number = MAX;
    $input.val(number)
  })
</script>
{% endblock %}