{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('编辑购物车 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/cart.css"> 
{% endblock %} 

{% block body %}
<div class="cart_wrap">
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__hd cart_phone">
        <img alt="" src="{{ item.goods_img }}-square.small">
      </div>
      <div class="weui-cell__bd">
        <p class="all_title">{{ item.goods_name }}</p>
      </div>
      <div class="weui-cell__ft mar-left">
        <span class="all_price">￥{{ item.goods_price }}</span>
      </div>
      <input type="hidden" name="" id="stock_quantity_num" value="{{ item.stock_quantity }}">
    </div>
  </div>
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__bd blackGap">{{_('购买数量')}}</div>
      <div class="weui-cell__ft mar-left">
        <div class="apply-service_num">
          <i class="num_minus"></i>
          <input class="num_ipt" type="text" id="quantity" name="quantity" value="{{ cart.quantity }}" minnum="1">
          <i class="num_add"></i>
        </div>
      </div>
    </div>
  </div>
  <input id="cart_id" type="hidden" value="{{ cart.cart_id }}" />
  <div class="reg_btn">
    <button type="button" class="weui-btn weui-btn_red" onClick="submit()">{{_('确定')}}</button>
  </div>
  <div class="reg_btn">
    <button type="button" class="weui-btn weui-btn_c" onClick="remove()">{{_('删除')}}</button>
  </div>
</div>
{% endblock %} 

{% block script %}
<script type="text/javascript">
  //计数器
  var MIN = 1;

  $('.num_minus').click(function (e) {
    var $input = $(e.currentTarget).parent().find('#quantity');
    var number = parseInt($input.val() || "0") - 1;

    if (number < MIN) number = MIN;
    $input.val(number);
  })

  $('.num_add').click(function (e) {
    var $input = $(e.currentTarget).parent().find('#quantity');
    var number = parseInt($input.val() || "0") + 1;

    $input.val(number);
  })

  function submit() {
    var cart_id = $("#cart_id").val();
    var quantity = parseInt($("#quantity").val());
    var stock_quantity = parseInt($("#stock_quantity_num").val());

    if (quantity <= 0) {
      $.toast("{{_('购买数量不能小于0')}}", "text");
      return false;
    }
    if (quantity > stock_quantity) {
      $.toast("{{_('库存不足')}}", "text");
      return false;
    }

    $.get("{{ url_for('api.cart.update') }}", {'cart_id':cart_id, 'quantity':quantity}, function(json) {
      if (json.ret == 0) {
        window.location.href="{{ url_for('mobile.cart.root') }}";
      } else {
        $.toast(json.msg, "text");
        return false;
      }
    });
  }

  function remove() {
    $.confirm("{{_('确认删除？')}}", function() {
      var cart_id = $("#cart_id").val();

      $.get("{{ url_for('api.cart.remove') }}", {'carts_id':cart_id}, function(json) {
        if (json.ret == 0) {
          window.location.href="{{ url_for('mobile.cart.root') }}";
        } else {
          $.toast(json.msg, "text");
          return false;
        }
      });
    }, function() {
      //点击取消后的回调函数
    });
  }
</script>
{% endblock %}