{% extends '/default/mobile/layout/base.html.j2' %}

{% block head %}
<title>{{_('提交订单 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css">
{% endblock %}

{% block body %}
<div class="user_wrap">
  <div class="choiceAddress">
    {% set display = '' if default_address else 'display:none;' %}
    <a id="current_address" class="weui-cell weui-cell_access bg-white" href="javascript:;" onclick="choiceAdd()" style="{{ display }}">
      <div class="weui-cell__hd mar-right">
        <img src="/static/default/mobile/img/address.png" alt="" style="width:20px">
      </div>
      <div class="weui-cell__bd">
        <div class="blackGap">
          {% set name = default_address.name if default_address else '' %}
          <span id="current_address_name">{{ name }}</span>
          {% set mobile = default_address.mobile if default_address else '' %}
          <span id="current_address_mobile" class="mar-left">{{ mobile }}</span>
        </div>
        <div class="address" style="color:#666 !important">
          {% set province = default_address.province if default_address else '' %}
          {% set city = default_address.city if default_address else '' %}
          {% set district = default_address.district if default_address else '' %}
          {% set address = default_address.address if default_address else '' %}
          {% set ua_id = default_address.ua_id if default_address else 0 %}
          <span id="current_address_full">{{ province }} {{ city }} {{ district }} {{ address }}</span>
          <input id="current_address_ua_id" type="hidden" value="{{ ua_id }}" />
        </div>
      </div>
      <div class="weui-cell__ft mar-left"></div>
    </a>
    {% if not default_address %}
      <a class="weui-cell weui-cell_access bg-white" id="add_newaddress" href="javascript:;" onclick="newAddress()">
        <div class="weui-cell__hd mar-right">
          <img src="/static/default/mobile/img/add.png" alt="" style="width:20px">
        </div>
        <div class="weui-cell__bd blackGap">{{_('新建地址')}}</div>
        <div class="weui-cell__ft mar-left"></div>
      </a>
    {% endif %}
    <div class="hide ranpo" id="addressList">
      <div class="hide-mask"></div>
      <div class="weui-actionsheet weui-actionsheet_toggle">
        <div class="weui-actionsheet__menu">
          <input type="hidden" name="" id="" value="">
          <div class="weui-actionsheet__cell not-product_text">
            <span>{{_('选择地址')}}</span>
            <img src="/static/default/mobile/img/cancel.png" alt="" class="cancal_image" id="choiceCancel">
          </div>
          {% for address in addresses %}
            {% set full = '%s %s %s %s' % (address.province, address.city, address.district, address.address) %}
            <div class="weui-cell addressitem" onclick="selected_address({{ address.ua_id }})">
              <div class="weui-cell__hd mar-right">
                <img src="/static/default/mobile/img/address.png" alt="" style="width:20px">
              </div>
              <div class="weui-cell__bd">
                <span id="{{ address.ua_id }}_address_name" class="all_title">{{ address.name }}</span>
                <span id="{{ address.ua_id }}_address_mobile" class="mar-left">{{ address.mobile }}</span>
                <div class="address">
                  <span class="add_tag"></span>
                  <span class="add_tag"></span>
                  <span id="{{ address.ua_id }}_address_full">{{ full }}</span>
                  <input id="{{ address.ua_id }}_address_province" type="hidden" value="{{ address.province }}" />
                  <input id="{{ address.ua_id }}_address_city" type="hidden" value="{{ address.city }}" />
                  <input id="{{ address.ua_id }}_address_district" type="hidden" value="{{ address.district }}" />
                  <input id="{{ address.ua_id }}_address_address" type="hidden" value="{{ address.address }}" />
                </div>
              </div>
              <div class="weui-cell__ft mar-left width46">
                <span class="edit" onClick="newAddress({{ address.ua_id }})">{{_('编辑')}}</span>
              </div>
            </div>
          {% endfor %}
          <a id="add_address" class="weui-cell weui-cell_access bg-white" href="javascript:;" onclick="newAddress()">
            <div class="weui-cell__hd mar-right">
              <img src="/static/default/mobile/img/add.png" alt="" style="width:20px">
            </div>
            <div class="weui-cell__bd blackGap">{{_('新建地址')}}</div>
            <div class="weui-cell__ft mar-left"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="hide ranpo" id="newAdd">
      <div class="hide-mask"></div>
      <div class="weui-actionsheet weui-actionsheet_toggle">
        <div class="weui-actionsheet__menu">
          <input type="hidden" name="" id="" value="">
          <div class="weui-actionsheet__cell not-product_text">
            <span id="editAddr"></span>
            <img src="/static/default/mobile/img/cancel.png" alt="" class="cancal_image" onclick="cancel()">
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <input id="edit_address_name" class="weui-input greykGap" type="text" placeholder="{{_('请填写收件人姓名')}}" value="">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <input id="edit_address_mobile" class="weui-input greykGap" type="text" placeholder="{{_('请填写收件人手机号码')}}" value="">
            </div>
          </div>
          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__bd">
              <input id="edit_address_pcd" class="weui-input greykGap" data-toggle="city-picker" readonly type="text" placeholder="{{_('请选择收件地区')}}" value="">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <input id="edit_address_address" class="weui-input greykGap" type="text" placeholder="{{_('请填写详细地址：如街道、道路、门牌号等')}}" value="">
            </div>
          </div>
          <div class="weui-cell">
            <input id="edit_address_ua_id" type="hidden" value="0" />
            <button type="button" id="saveBtn" class="weui-btn weui-btn_red" onClick="save()">{{_('保存')}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <a href="{{ url_for('mobile.index.root') }}" class="all_title">{{_('一店')}}</a>
      </div>
    </div>
    {% for cart in carts %}
      {% set not_before = 'not_before' if loop.first else '' %}
      <div class="weui-cell {{ not_before }}">
        <div class="weui-cell__hd avatar mar-right">
          <img src="{{ cart.item.goods_img }}-square.small" alt="">
        </div>
        <div class="weui-cell__bd">
          <div class="all_title height25">{{ cart.item.goods_name }}</div>
          <div class="all_desc height25">{{ cart.item.goods_desc }}</div>
        </div>
        <div class="weui-cell__ft mar-left">
          <span class="all_price height25">￥{{ cart.item.goods_price|toamount }}</span>
          <p class="height25">x {{ cart.cart.quantity }}</p>
        </div>
      </div>
    {% endfor %}
    <a class="weui-cell weui-cell_access bg-white" href="javascript:;">
      <div class="weui-cell__bd blackGap">{{_('配送方式')}}</div>
      <div class="weui-cell__ft mar-left">
        <input id="shipping_selected" type="text" class="weui-input align_right" style="width:200px" value="{{_('请选择配送方式')}}" data-values="{{ default_shipping.shipping_id }}">
      </div>
    </a>
  </div>
  <div class="weui-cells weui-cells_form">
    {% set _onclick = 'onclick="choiceCoupon()"' if coupons else '' %}
    {% set _text = _('使用优惠') if coupons else _('无可用优惠券') %}
    <a class="weui-cell weui-cell_access"  href="javascript:void(0);" {{ _onclick }}>
      <div class="weui-cell__bd blackGap">{{_('优惠券码')}}</div>
      <div id="coupon_text" class="weui-cell__ft">{{ _text }}</div>
    </a>
    <div class="hide ranpo" id="couponList">
      <div class="hide-mask"></div>
      <div class="weui-actionsheet weui-actionsheet_toggle bg-white">
        <div class="weui-actionsheet__menu bg-white">
          <input type="hidden" name="" id="" value="">
          <div class="weui-actionsheet__cell not-product_text">
            <span>{{_('选择优惠券')}}</span>
            <img src="/static/default/mobile/img/cancel.png" alt="" class="cancal_image" onclick="closeCoupon()">
          </div>
          {% for coupon in coupons %}
            {% set coupon_title = _('%s元优惠券' % coupon.coupon_amount) %}
            {% set is_valid = 1 if items_amount >= coupon.limit_amount else 0 %}
            <div class="coupon_list weui-cells_radio">
              <div class="coupon_item weui-cell weui-check__label" data-coupon-id="{{ coupon.coupon_id }}" data-coupon-title="{{ coupon_title }}" data-is-valid="{{ is_valid }}">
                {% set is_valid_css = 'off_money' if is_valid else 'off_money off_money-on' %}
                <div class="{{ is_valid_css }} weui-cell__hd">
                  {% set is_valid_css = 'wave' if is_valid else 'wave wave-on' %}
                  <div class="{{ is_valid_css }}"></div>
                  <span class="symbol">￥</span>
                  <span class="money_num">{{ coupon.coupon_amount }}</span>
                  <p class="money_text">{{_('满￥%s减' % coupon.limit_amount)}}</p>
                </div>
                <div class="coupon_right weui-cell__bd">
                  {% set is_valid_css = 'all_title' if is_valid else 'all_title all_title-on' %}
                  <div class="{{ is_valid_css }} height25">{{_('全场通用')}}</div>
                  <div class="all_desc height20">{{ coupon.begin_time|timestamp2str('YYYY.MM.DD') }}~{{ coupon.end_time|timestamp2str('YYYY.MM.DD') }}</div>
                  <div class="mminentExpiry height25"></div>
                </div>
                <div class="weui-cell__ft" style="width:30px; display: none;">
                  <input type="radio" class="weui-check" checked="checked">
                  <i class="weui-icon-checked icon_checked" style="margin-top:0px !important;margin-left:0px !important"></i>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <input id="coupon_id" type="hidden" value="0" />
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-form-preview">
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label blackGap">{{_('商品总价')}}</label>
          <span id="items_amount" class="weui-form-preview__value">￥{{ items_amount|toamount }}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label blackGap">{{_('运费')}}</label>
          <span id="shipping_amount" class="weui-form-preview__value">+￥{{ shipping_amount|toamount }}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label blackGap">{{_('优惠金额')}}</label>
          <span id="discount_amount" class="weui-form-preview__value">-￥{{ discount_amount|toamount }}</span>
        </div>
      </div>
    </div>
  </div>
  <div style="height:56px;"></div>
  <div class="submit_order">
    <div class="flex_wrap order_bar">
      <div class="total">
        <div class="total-price">
          <span>{{_('支付金额')}}：</span>
          <span id="pay_amount" class="all_price" style="font-size:18px" data-value="{{ pay_amount }}">￥{{ pay_amount|toamount }}</span>
        </div>
        <input id="carts_id" type="hidden" value="{{ carts_id }}" />
        <input id="order_id" type="hidden" value="0" />
        <div class="btn_primary" onclick="submit()">{{_('立即支付')}}</div>
      </div>
    </div>
    <div class="hide ranpo" id="payList">
      <div class="hide-mask"></div>
      <div class="weui-actionsheet weui-actionsheet_toggle">
        <div class="weui-actionsheet__menu">
          <input type="hidden" name="" id="" value="">
          <div class="weui-actionsheet__cell not-product_text bg-white">
            <span>选择支付方式</span>
            <img src="/static/default/mobile/img/cancel.png" alt="" class="cancal_image" onclick="closePay()">
          </div>
          <div class="weui-cells weui-cells_form weui-cells_radio" style="margin-top:0px !important">
            <label class="weui-cell weui-check__label" style="padding:20px 15px;">
              <div class="weui-cell__hd mar-right">
                <img class="cancal_image" src="/static/default/mobile/img/weixin.png" alt="">
              </div>
              <div class="weui-cell__bd blackGap">微信支付</div>
              <div class="weui-cell__ft">
                <input id="weixin_pay" name="weixin_pay" class="weui-check" type="radio" checked="" onclick="choose_pay(this, 'weixin_pay')">
                <!-- <span class="weui-icon-checked"></span> -->
              </div>
            </label>
            <label class="weui-cell weui-check__label" style="padding:20px 15px;">
              <div class="weui-cell__hd mar-right">
                <img class="cancal_image" src="/static/default/mobile/img/balancePay.png" alt="">
              </div>
              <div class="weui-cell__bd blackGap">
                余额支付
                <span id="funds" name="" class="funds mar-left" data-value="{{ funds }}">可用余额：￥{{ funds }}</span>
              </div>
              <div class="weui-cell__ft">
                <input id="funds_pay" name="funds_pay" class="weui-check" type="radio" onclick="choose_pay(this, 'funds_pay')">
                <!-- <span class="weui-icon-checked"></span> -->
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block script %}
<script src="/static/default/mobile/js/city-picker.min.js?v=190409" type="text/javascript" charset="utf-8"></script>

<!-- 异步上传 -->
<script src="/static/default/mobile/js/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/static/default/mobile/js/jquery.fileupload.js" type="text/javascript"></script>

<script type="text/javascript">
var $addressList = $('#addressList');
var $newAdd = $('#newAdd');
var $couponList = $('#couponList');
var $payList = $('#payList');
var $addNewaddress = $('#add_newaddress');

var csrftoken = "{{ csrf_token() }}";
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

//结算金额
function checkout_amounts() {
  var carts_id = $("#carts_id").val();
  var shipping_id = $("#shipping_selected").attr('data-values');
  var coupon_id = $("#coupon_id").val();

  if (carts_id == '') {
    $.toast("{{_('请先选购商品')}}", "text");
    return false;
  }

  if (shipping_id == 0) {
    $.toast("{{_('请先选择快递')}}", "text");
    return false;
  }

  carts_id = carts_id.split(',');
  carts_id = JSON.stringify(carts_id);

  params = {'carts_id':carts_id, 'shipping_id':shipping_id, 'coupon_id':coupon_id};
  $.get("{{ url_for('api.cart.checkout_amounts') }}", params, function(json) {
    if (json.ret != 0) {
      $.toast(json.msg, "text");
      return false;
    }

    $("#items_amount").text('￥'+json.data.items_amount);
    $("#shipping_amount").text('+￥'+json.data.shipping_amount);
    $("#discount_amount").text('-￥'+json.data.discount_amount);
    $("#pay_amount").attr('data-value', json.data.pay_amount);
    $("#pay_amount").text('￥'+json.data.pay_amount);
    return true;
  });
}

//选择收货地址
function choiceAdd(){
  //显示选择地址弹窗
  if ($addressList.hasClass('hide')) {
    $addressList.removeClass('hide').addClass('show');

    //隐藏选择地址弹窗
  } else {
    $addressList.removeClass('show').addClass('hide');
  }
}

//选中地址
function selected_address(ua_id) {
  var name = $("#"+ua_id+"_address_name").text();
  var mobile = $("#"+ua_id+"_address_mobile").text();
  var province = $("#"+ua_id+"_address_province").val();
  var city = $("#"+ua_id+"_address_city").val();
  var district = $("#"+ua_id+"_address_district").val();
  var address = $("#"+ua_id+"_address_address").val();
  var full = province + ' ' + city + ' ' + district + ' ' + ' ' + address;

  $("#current_address_ua_id").val(ua_id);
  $("#current_address_name").text(name);
  $("#current_address_mobile").text(mobile);
  $("#current_address_full").text(full);

  $addressList.removeClass('show');
  if (!$addressList.hasClass('hide')) {
    $addressList.addClass('hide');
  }
};

//新建收货地址
function newAddress() {
  var ua_id = arguments[0] ? arguments[0] : 0;
  var name = '';
  var mobile = '';
  var province = '';
  var city = '';
  var district = '';
  var address = '';

  if($("#saveBtn").hasClass("weui-btn_c")){
    $("#saveBtn").removeAttr("disabled");
    $("#saveBtn").addClass("weui-btn_red").removeClass("weui-btn_c");
  }
  if (ua_id > 0) {
    name = $("#"+ua_id+"_address_name").text();
    mobile = $("#"+ua_id+"_address_mobile").text();
    province = $("#"+ua_id+"_address_province").val();
    city = $("#"+ua_id+"_address_city").val();
    district = $("#"+ua_id+"_address_district").val();
    address = $("#"+ua_id+"_address_address").val();
  }

  if(ua_id > 0){
    $("#editAddr").text("{{_('编辑地址')}}");
  } else {
    $("#editAddr").text("{{_('添加地址')}}");
  }

  var pcd = (province != '') ? (province + ' ' + city + ' ' + district) : '';
  
  //显示新建地址弹窗
  if ($newAdd.hasClass('hide')) {
    $("#edit_address_ua_id").val(ua_id);
    $("#edit_address_name").val(name);
    $("#edit_address_mobile").val(mobile);
    $("#edit_address_pcd").val(pcd);
    $("#edit_address_address").val(address);

    $("#edit_address_pcd").cityPicker({
      toolbarCloseText: "完成",
      title: "请选择所在地"
    });

    $newAdd.removeClass('hide').addClass('show');
    $addressList.removeClass('show');
    if (!$addressList.hasClass('hide')) {
      $addressList.addClass('hide');
    }

    //隐藏新建地址弹窗
  } else {
    $newAdd.removeClass('show').addClass('hide');
  }
}

//取消新建或编辑收货地址
function cancel() {
  $.confirm({
    text: '确定要放弃此次编辑么？',
    onOK: function () {
      $newAdd.removeClass('show');
      if (!$newAdd.hasClass('hide')) {
        $newAdd.addClass('hide');
      }

      //销毁city-picker的值
      $("#edit_address_pcd").picker("destroy");
    },
    onCancel: function () {}
  });
}

//点击保存，关闭新建或编辑收货地址弹窗
function save() {
  var ua_id = $("#edit_address_ua_id").val();
  var name = $("#edit_address_name").val();
  var mobile = $("#edit_address_mobile").val();
  var pcd = $("#edit_address_pcd").val();
  var address = $("#edit_address_address").val();
  var pcd_arr = pcd.split(' ');
  var province = pcd_arr[0];
  var city = pcd_arr[1];
  var district = pcd_arr[2];
  var full = pcd + ' ' + address;

  if(mobile != '' && !(/^1(3|4|5|7|8)\d{9}$/.test(mobile))){
    $.toast("{{_('手机号码错误，请重新填写')}}", "text");
    return false;
  }

  var params = {'ua_id':ua_id, 'name':name, 'mobile':mobile, 'province':province, 'city':city, 'district':district, 'address':address}
  $.post("{{ url_for('api.me.address_save') }}", params, function(json) {
    if (json.ret == 0) {
      var _ua_id = json.data.ua_id;

      $("#current_address_ua_id").val(_ua_id);
      $("#current_address_name").text(name);
      $("#current_address_mobile").text(mobile);
      $("#current_address_full").text(full);
      $("#current_address").show();

      $("#"+_ua_id+"_address_name").text(name);
      $("#"+_ua_id+"_address_mobile").text(mobile);
      $("#"+_ua_id+"_address_province").val(province);
      $("#"+_ua_id+"_address_city").val(city);
      $("#"+_ua_id+"_address_district").val(district);
      $("#"+_ua_id+"_address_address").val(address);
      $("#"+_ua_id+"_address_full").text(full);

      $("#saveBtn").attr("disabled","disabled");
      $("#saveBtn").addClass("weui-btn_c").removeClass("weui-btn_red");

      $newAdd.removeClass('show');
      if (!$newAdd.hasClass('hide')) {
        $newAdd.addClass('hide');
      }

      if (ua_id != _ua_id) {
        var html_text = '<div class="weui-cell addressitem" onclick="selected_address('+ _ua_id + ')">' +
                          '<div class="weui-cell__hd mar-right">' +
                            '<img src="/static/default/mobile/img/address.png" alt="" style="width:20px">' +
                          '</div>' +
                          '<div class="weui-cell__bd">' +
                            '<span id="'+ _ua_id + '_address_name" class="all_title">' + name +'</span>' +
                            '<span id="'+ _ua_id + '_address_mobile" class="mar-left">' + mobile + '</span>' +
                            '<div class="address">' +
                              '<span class="add_tag"></span>' +
                              '<span class="add_tag"></span>' +
                              '<span id="'+ _ua_id + '_address_full">' + full + '</span>' +
                              '<input id="'+ _ua_id + '_address_province" type="hidden" value="' + province + '" />' +
                              '<input id="'+ _ua_id + '_address_city" type="hidden" value="' + city + '" />' +
                              '<input id="'+ _ua_id + '_address_district" type="hidden" value="' + district + '" />' +
                              '<input id="'+ _ua_id + '_address_address" type="hidden" value="'+ address + '" />' +
                            '</div>' +
                          '</div>' +
                          '<div class="weui-cell__ft mar-left width46">' +
                            '<span class="edit" onClick="newAddress('+ _ua_id + ')">' + "{{_('编辑')}}" + '</span>' +
                          '</div>' +
                        '</div>';
        $("#add_address").before(html_text);
      }

      //添加地址成功，隐藏新建地址cell
      $addNewaddress.css("display","none");

      //销毁city-picker的值
      $("#edit_address_pcd").picker("destroy");
    } else {
      $.toast(json.msg, "text");
      return false;
    }
  });
}

//选择优惠券
function choiceCoupon() {
  //显示优惠券弹窗
  if ($couponList.hasClass('hide')) {
    $couponList.removeClass('hide').addClass('show');

    //隐藏优惠券弹窗
  } else {
    $couponList.removeClass('show').addClass('hide');
  }
}

//关闭优惠券弹窗
function closeCoupon(){
  $couponList.removeClass('show');
  if (!$couponList.hasClass('hide')) {
    $couponList.addClass('hide');
  }
}

//提交订单
function submit() {
  var pay_amount = $("#pay_amount").attr('data-value');
  var funds = $("#funds").attr('data-value');
  if (parseFloat(pay_amount) > parseFloat(funds)) {
    $("#funds_pay").prop('disabled', true);
  } else {
    $("#funds_pay").prop('disabled', false);
  }

  // 显示选择地址弹窗
  if ($payList.hasClass('hide')) {
    $payList.removeClass('hide').addClass('show');

  // 隐藏选择地址弹窗
  } else {
    $payList.removeClass('show').addClass('hide');
  }
}

//关闭支付方式弹窗
function closePay() {
  $payList.removeClass('show');
  if (!$payList.hasClass('hide')) {
    $payList.addClass('hide');
  }
}

//创建订单
function create_order() {
  var ua_id = parseInt($("#current_address_ua_id").val());
  var shipping_id = parseInt($("#shipping_selected").attr('data-values'));
  var coupon_id = $("#coupon_id").val();
  
  if (ua_id == 0) {
    $.toast("{{_('请先设置收货地址')}}", "text");
    return false;
  }

  if (shipping_id == 0) {
    $.toast("{{_('请先选择快递')}}", "text");
    return false;
  }

  var carts_id = $("#carts_id").val();

  if (carts_id == '') {
    $.toast("{{_('请先选购商品')}}", "text");
    return false;
  }

  carts_id = carts_id.split(',');
  carts_id = JSON.stringify(carts_id);

  var params = {'carts_id':carts_id, 'ua_id':ua_id, 'shipping_id':shipping_id, 'coupon_id':coupon_id}
  $.ajax({
    type: 'POST',
    url: "{{ url_for('api.order.create') }}",
    data: params,
    dataType: 'json',
    timeout: 300,
    async: false,
    success: function(json) {
      if (json.ret == 0) {
        var order_id = json.data.order_id;
        $("#order_id").val(order_id);
      } else {
        $.toast(json.msg, "text");
        return false;
      }
    },
    error: function(xhr, type) {
      $.toast('网络错误', "text");
      return false;
    }
  });

  return true;
}

//余额支付
function funds_pay(order_id) {
  // 检查
  if ( !order_id ) {
    $.toast("{{_('创建订单失败，请刷新页面重试。')}}", "text");
    return false;
  }

  var order_id_list = '[' + order_id + ']';
  $.get("{{ url_for('api.pay.fundspay_req') }}", {'order_id_list':order_id_list}, function(res) {
    if (res.ret != 0) {
      $.toast(res.msg, "text");
      return false;
    }

    window.location.href = "/mobile/pay/success/"+order_id;
    return true;
  });
}

//微信支付
function weixin_pay(order_id) {
  //检查
  if ( !order_id ) {
    $.toast("{{_('创建订单失败，请刷新页面重试。')}}", "text");
    return false;
  }

  //获取openid
  $.get("{{ url_for('api.pay.weixinjspay_openid') }}", {'order_id':order_id, 'order_type':1}, function(res) {
    if (res.ret != 0) {
      $.toast(res.msg, "text");
      return false;
    }

    window.location.href = res.data.code_url;
  });

  return true;
}

//选择支付
function choose_pay(dom, pay_type) {
  //创建订单
  if (!create_order()) {
    return false;
  }

  var $dom = $(dom);
  var order_id = parseInt($("#order_id").val());

  if (order_id <= 0) {
    $.toast("{{_('未创建订单')}}", "text");
    return false;
  }

  if (!($dom.is(':disabled'))) {
    if (pay_type == 'funds_pay') {
      $("#weixin_pay").prop('checked', false);
      funds_pay(order_id);
    } else if (pay_type == 'weixin_pay') {
      $("#funds_pay").prop('checked', false);
      weixin_pay(order_id);
    } else {
      $.toast("{{_('错误的支付方式')}}", "text");
      return false;
    }

    $payList.removeClass('show');
    if (!$payList.hasClass('hide')) {
      $payList.addClass('hide');
    }
  }
}

$(document).ready(function () {
  $("#shipping_selected").select({
    title: "选择配送方式",
    items: {{ shipping_list }},
    input: "{{ shipping_title }}"
  });

  $("#shipping_selected").change(function(){
    checkout_amounts();
  });

  //选中优惠券
  $('.coupon_item').click(function (event) {        //event:事件对象
    event.stopPropagation();                        //停止事件冒泡

    var coupon_id = $(this).attr('data-coupon-id');
    var coupon_title = $(this).attr('data-coupon-title');
    var is_valid = $(this).attr('data-is-valid');
    var _coupon_id = $("#coupon_id").val();

    if (is_valid != 1) {
      return false;
    }

    if (_coupon_id == coupon_id) {
      coupon_id = 0;
      coupon_title = "{{_('使用优惠券')}}";
      $(this).find('.weui-cell__ft').hide();
    } else {
      $(".coupon_item").find('.weui-cell__ft').hide();
      $(this).find('.weui-cell__ft').show();
    }

    $("#coupon_id").val(coupon_id);
    $("#coupon_text").text(coupon_title);

    checkout_amounts();

    $couponList.removeClass('show');
    if (!$couponList.hasClass('hide')) {
      $couponList.addClass('hide');
    }
  });

  //取消选择地址弹窗
  $('#choiceCancel').click(function (event) {            //event:事件对象
    event.stopPropagation();                        //停止事件冒泡

    $addressList.removeClass('show');
    if (!$addressList.hasClass('hide')) {
      $addressList.addClass('hide');
    }
  });
});
</script> 
{% endblock %}