{% extends '/default/mobile/layout/base.html.j2' %}

{% block head %}
<title>{{_('提交订单 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css">
{% endblock %}

{% block body %}
<div class="user_wrap">
  <div class="choiceAddress">
    {% set display = '' if default_address else 'display:none;' %}
    <a id="address" class="weui-cell weui-cell_access bg-white" href="javascript:;" onclick="choiceAdd()" style="{{ display }}">
      <div class="weui-cell__hd mar-right">
        <img src="/static/default/mobile/img/address.png" alt="" style="width:20px">
      </div>
      <div class="weui-cell__bd">
        <div class="blackGap">
          <span>{{_('收件人')}}：</span>
          {% set name = default_address.name if default_address else '' %}
          <span id="default_address_name">{{ name }}</span>
          {% set mobile = default_address.mobile if default_address else '' %}
          <span id="default_address_mobile" class="mar-left">{{ mobile }}</span>
        </div>
        <div class="address" style="color:#666 !important">
          <span>{{_('收货地址')}}：</span>
          {% set province = default_address.province if default_address else '' %}
          {% set city = default_address.city if default_address else '' %}
          {% set district = default_address.district if default_address else '' %}
          {% set address = default_address.address if default_address else '' %}
          <span id="default_address_address">{{ province }} {{ city }} {{ district }} {{ address }}</span>
        </div>
      </div>
      <div class="weui-cell__ft mar-left"></div>
    </a>
    <a class="weui-cell weui-cell_access bg-white" href="javascript:;" onclick="newAddress()">
      <div class="weui-cell__hd mar-right">
        <img src="/static/default/mobile/img/add.png" alt="" style="width:20px">
      </div>
      <div class="weui-cell__bd blackGap">{{_('新建地址')}}</div>
      <div class="weui-cell__ft mar-left"></div>
    </a>
    <div class="hide ranpo" id="addressList">
      <div class="hide-mask"></div>
      <div class="weui-actionsheet weui-actionsheet_toggle">
        <div class="weui-actionsheet__menu">
          <input type="hidden" name="" id="" value="">
          <div class="weui-actionsheet__cell not-product_text">
            <span>{{_('新建收货地址')}}</span>
            <img src="/static/default/mobile/img/cancel.png" alt="" class="cancal_image" id="choiceCancel">
          </div>
          {% for address in addresses %}
            <div class="weui-cell addressitem">
              <div class="weui-cell__hd mar-right">
                <img src="/static/default/mobile/img/address.png" alt="" style="width:20px">
              </div>
              <div class="weui-cell__bd">
                <span class="all_title">{{ address.name }}</span>
                <span class="mar-left">{{ address.mobile }}</span>
                <div class="address">
                  <span class="add_tag"></span>
                  <span class="add_tag"></span>
                  <span>{{ address.province }} {{ address.city }} {{ address.district }} {{ address.address }}</span>
                </div>
              </div>
              <div class="weui-cell__ft mar-left width46">
                <span class="edit" onClick="newAddress({{ address.ua_id }})">{{_('编辑')}}</span>
              </div>
            </div>
          {% endfor %}
          <a class="weui-cell weui-cell_access bg-white" href="javascript:;" onclick="newAddress()">
            <div class="weui-cell__hd mar-right">
              <img src="/static/default/mobile/img/add.png" alt="" style="width:20px">
            </div>
            <div class="weui-cell__bd blackGap">{{_('新建地址')}}</div>
            <div class="weui-cell__ft mar-left"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="hide ranpo" id="newAdd">
      <div class="hide-mask"></div>
      <div class="weui-actionsheet weui-actionsheet_toggle">
        <div class="weui-actionsheet__menu">
          <input type="hidden" name="" id="" value="">
          <div class="weui-actionsheet__cell not-product_text">
            <span>{{_('新建收货地址')}}</span>
            <img src="/static/default/mobile/img/cancel.png" alt="" class="cancal_image" onclick="cancel()">
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <input class="weui-input greykGap" type="text" placeholder="{{_('请填写收件人姓名')}}" value="">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <input class="weui-input greykGap" type="text" placeholder="{{_('请填写收件人手机号码')}}" value="">
            </div>
          </div>
          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__bd">
              <input class="weui-input greykGap" type="text" placeholder="{{_('请选择收件地区')}}" value="" id='city-picker'>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <input class="weui-input greykGap" type="text" placeholder="{{_('请填写详细地址：如街道、道路、门牌号等')}}" value="">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <input class="weui-input greykGap" type="text" placeholder="{{_('请填写邮政编码')}}" value="">
            </div>
          </div>
          <div class="weui-cell">
            <button type="button" class="weui-btn weui-btn_red" onClick="save()">{{_('保存')}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <a href="{{ url_for('mobile.index.root') }}" class="all_title">{{_('一店')}}</a>
      </div>
    </div>
    {% for cart in carts %}
      {% set not_before = 'not_before' if loop.first else '' %}
      <div class="weui-cell {{ not_before }}">
        <div class="weui-cell__hd avatar mar-right">
          <img src="" alt="">
        </div>
        <div class="weui-cell__bd">
          <div class="all_title height25">{{ cart.item.goods_name }}</div>
          <div class="all_desc height25">{{ cart.item.goods_desc }}</div>
        </div>
        <div class="weui-cell__ft mar-left">
          <span class="all_price height25">￥{{ cart.item.goods_price }}</span>
          <p class="height25">x {{ cart.cart.quantity }}</p>
        </div>
      </div>
    {% endfor %}
    <a class="weui-cell weui-cell_access bg-white" href="javascript:;">
      <div class="weui-cell__bd blackGap">{{_('配送方式')}}</div>
      <div class="weui-cell__ft mar-left">
        <input id="shipping_selected" type="text" class="weui-input align_right" value="{{_('请选择配送方式')}}" data-values="{{ default_shipping.shipping_id }}">
      </div>
    </a>
  </div>
  <div class="weui-cells weui-cells_form">
    {% set _onclick = 'onclick="choiceCoupon()"' if coupons else '' %}
    {% set _text = _('使用优惠') if coupons else _('无可用优惠券') %}
    <a class="weui-cell weui-cell_access"  href="javascript:void(0);" {{ _onclick }}>
      <div class="weui-cell__bd blackGap">{{_('优惠券码')}}</div>
      <div id="coupon_text" class="weui-cell__ft">{{ _text }}</div>
    </a>
    <div class="hide ranpo" id="couponList">
      <div class="hide-mask"></div>
      <div class="weui-actionsheet weui-actionsheet_toggle">
        <div class="weui-actionsheet__menu">
          <input type="hidden" name="" id="" value="">
          <div class="weui-actionsheet__cell not-product_text bg-white">
            <span>{{_('选择优惠券')}}</span>
            <img src="/static/default/mobile/img/cancel.png" alt="" class="cancal_image" onclick="closeCoupon()">
          </div>
          {% for coupon in coupons %}
            {% set coupon_title = _('%s元优惠券' % coupon.coupon_amount) %}
            {% set is_valid = 1 if items_amount >= coupon.limit_amount else 0 %}
            <div class="coupon_list" data-coupon-id="{{ coupon.coupon_id }}" data-coupon-title="{{ coupon_title }}" data-is-valid="{{ is_valid }}">
              <div class="bg-white coupon_item weui-cell">
                {% set is_valid_css = 'off_money' if is_valid else 'off_money' %}
                <div class="{{ is_valid_css }} weui-cell__hd">
                  <div class="wave"></div>
                  <span class="symbol">￥</span>
                  <span class="money_num">{{ coupon.coupon_amount }}</span>
                  <p class="money_text">{{_('满￥%s减' % coupon.limit_amount)}}</p>
                </div>
                <div class="coupon_right weui-cell__bd">
                  <div class="all_title height25">{{_('全场通用')}}</div>
                  <div class="all_desc height20">{{ coupon.begin_time|timestamp2str('YYYY.MM.DD') }}~{{ coupon.end_time|timestamp2str('YYYY.MM.DD') }}</div>
                  <div class="mminentExpiry height25"></div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <input id="coupon_id" type="hidden" value="0" />
  </div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-form-preview">
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label blackGap">{{_('商品总价')}}</label>
          <span id="items_amount" class="weui-form-preview__value">￥{{ items_amount }}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label blackGap">{{_('运费')}}</label>
          <span id="shipping_amount" class="weui-form-preview__value">+￥{{ shipping_amount }}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label blackGap">{{_('优惠金额')}}</label>
          <span id="discount_amount" class="weui-form-preview__value">-￥{{ discount_amount }}</span>
        </div>
      </div>
    </div>
  </div>
  <div style="height:56px;"></div>
  <div class="submit_order">
    <div class="flex_wrap order_bar">
      <div class="total">
        <div class="total-price">
          <span>{{_('支付金额')}}：</span>
          <span id="pay_amount" class="all_price" style="font-size:18px">￥{{ pay_amount }}</span>
        </div>
        <div class="btn_primary" onclick="submit()">{{_('提交订单')}}</div>
      </div>
    </div>
    <div class="hide ranpo" id="payList">
      <div class="hide-mask"></div>
      <div class="weui-actionsheet weui-actionsheet_toggle">
        <div class="weui-actionsheet__menu">
          <input type="hidden" name="" id="" value="">
          <div class="weui-actionsheet__cell not-product_text bg-white">
            <span>选择支付方式</span>
            <img src="/static/default/mobile/img/cancel.png" alt="" class="cancal_image" onclick="closePay()">
          </div>
          <div class="weui-cells weui-cells_form weui-cells_radio" style="margin-top:0px !important">
            <label class="weui-cell weui-check__label">
              <div class="weui-cell__hd mar-right">
                <img class="cancal_image" src="/static/default/mobile/img/balancePay.png" alt="">
              </div>
              <div class="weui-cell__bd blackGap">
                余额支付
                <span id="" name="" class="funds mar-left" data-value="">
                  可用余额：￥199
                </span>
              </div>
              <div class="weui-cell__ft">
                <input class="weui-check" type="radio" name="pay_type" value="wallet">
                <span class="weui-icon-checked"></span>
              </div>
            </label>
            <label class="weui-cell weui-check__label">
              <div class="weui-cell__hd mar-right">
                <img class="cancal_image" src="/static/default/mobile/img/weixin.png" alt="">
              </div>
              <div class="weui-cell__bd blackGap">微信支付</div>
              <div class="weui-cell__ft">
                <input class="weui-check" type="radio" name="pay_type" value="weixin" checked="">
                <span class="weui-icon-checked"></span>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block script %}
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/default/mobile/js/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/static/default/mobile/js/jquery.fileupload.js" type="text/javascript"></script>

<script type="text/javascript">

var $addressList = $('#addressList');
var $newAdd = $('#newAdd');
var $couponList = $('#couponList');
var $payList = $('#payList');

// 结算金额
function checkout_amounts() {
  var shipping_id = $("#shipping_selected").attr('data-values');
  var coupon_id = $("#coupon_id").val();

  $.get("{{ url_for('api.cart.checkout_amounts') }}", {'shipping_id':shipping_id, 'coupon_id':coupon_id}, function(json) {
    if (json.ret != 0) {
      alert(json.msg);
      return false;
    }

    $("#items_amount").text('￥'+json.data.items_amount);
    $("#shipping_amount").text('+￥'+json.data.shipping_amount);
    $("#discount_amount").text('-￥'+json.data.discount_amount);
    $("#pay_amount").text('￥'+json.data.pay_amount);
    return true;
  });
}

$(document).ready(function () {
  $("#city-picker").cityPicker({
    title: "请选择所在地"
  });

  $("#shipping_selected").select({
    title: "选择配送方式",
    items: {{ shipping_list }},
    input: "{{ shipping_title }}"
  });

  $("#shipping_selected").change(function(){
    checkout_amounts();
  });
});

//选择收货地址
function choiceAdd(){
  // 显示选择地址弹窗
  if ($addressList.hasClass('hide')) {
    $addressList.removeClass('hide').addClass('show');

    // 隐藏选择地址弹窗
  } else {
    $addressList.removeClass('show').addClass('hide');
  }
}

//选中地址
$('.addressitem').click(function (event) {        //event:事件对象
  event.stopPropagation();                        //停止事件冒泡
  $addressList.removeClass('show');
  if (!$addressList.hasClass('hide')) {
    $addressList.addClass('hide');
  }
});

//取消选择地址弹窗
$('#choiceCancel').click(function (event) {            //event:事件对象
  event.stopPropagation();                        //停止事件冒泡

  $addressList.removeClass('show');
  if (!$addressList.hasClass('hide')) {
    $addressList.addClass('hide');
  }
});

//新建收货地址
function newAddress() {
  // 显示新建地址弹窗
  if ($newAdd.hasClass('hide')) {
    $newAdd.removeClass('hide').addClass('show');

    // 隐藏新建地址弹窗
  } else {
    $newAdd.removeClass('show').addClass('hide');
  }
}

//取消新建或编辑收货地址
function cancel() {
  $.confirm({
    text: '确定要放弃此次编辑么？',
    onOK: function () {
      $newAdd.removeClass('show');
      if (!$newAdd.hasClass('hide')) {
        $newAdd.addClass('hide');
      }
    },
    onCancel: function () {}
  });
}

//点击保存，关闭新建或编辑收货地址弹窗
function save() {
  $newAdd.removeClass('show');
  if (!$newAdd.hasClass('hide')) {
    $newAdd.addClass('hide');
  }
}

//选择优惠券
function choiceCoupon() {
  // 显示优惠券弹窗
  if ($couponList.hasClass('hide')) {
    $couponList.removeClass('hide').addClass('show');

    // 隐藏优惠券弹窗
  } else {
    $couponList.removeClass('show').addClass('hide');
  }
}

//选中优惠券
$('.coupon_list').click(function (event) {        //event:事件对象
  event.stopPropagation();                        //停止事件冒泡

  var coupon_id = $(this).attr('data-coupon-id');
  var coupon_title = $(this).attr('data-coupon-title');
  var is_valid = $(this).attr('data-is-valid');

  if (is_valid != 1) {
    return false;
  }

  $("#coupon_id").val(coupon_id);
  $("#coupon_text").text(coupon_title);

  checkout_amounts();

  $couponList.removeClass('show');
  if (!$couponList.hasClass('hide')) {
    $couponList.addClass('hide');
  }
});

//关闭优惠券弹窗
function closeCoupon(){
  $couponList.removeClass('show');
  if (!$couponList.hasClass('hide')) {
    $couponList.addClass('hide');
  }
}

//选择支付方式
function submit() {
  // 显示选择地址弹窗
  if ($payList.hasClass('hide')) {
    $payList.removeClass('hide').addClass('show');

    // 隐藏选择地址弹窗
  } else {
    $payList.removeClass('show').addClass('hide');
  }
}

//关闭支付方式弹窗
function closePay() {
  $payList.removeClass('show');
  if (!$payList.hasClass('hide')) {
    $payList.addClass('hide');
  }
}

//选中支付方式
$('.weui-check__label').click(function (event) {        //event:事件对象
  event.stopPropagation();                        //停止事件冒泡
  $payList.removeClass('show');
  if (!$payList.hasClass('hide')) {
    $payList.addClass('hide');
  }
});
</script> 
{% endblock %}