{% extends '/default/mobile/layout/base.html.j2' %}
{% import '/default/mobile/libs/libs.html.j2' as libs %}

{% block head %}
<title>{{_('我的购物车 - 一店')}}</title>
<link rel="stylesheet" href="{{'/static/default/mobile/css/cart.css'|static_uri}}"> 
{% endblock %} 

{% block body %}
<div class="cart_wrap">
  {% if carts %}
    <div class="content_wrap">
      {% for cart in carts %}
        <div class="weui-cells weui-cells_checkbox flex_wrap">
          <label class="weui-check__label" for="cart{{cart.cart.cart_id}}">
            <div class="col-check">
              {% set checked = 'checked' if cart.cart.is_checked == 1 else '' %}
              {% set checked = checked if cart.is_valid == 1 else 'disabled' %}
              {% set is_valid = 'is_valid' if cart.is_valid == 1 else '' %}
              <input type="checkbox" class="weui-check {{ is_valid }}" name="checkbox1" 
                id="cart{{cart.cart.cart_id}}" value="{{ cart.cart.cart_id }}" {{ checked }}  
                data-cart-id="{{ cart.cart.cart_id }}" data-quantity="{{ cart.cart.quantity }}" 
                data-is-valid="{{ cart.is_valid }}">
              <i class="weui-icon-checked icon-checked"></i>
            </div>
          </label>
          <a class="weui-cell" style="overflow:hidden;width:100%" href="{{ url_for('mobile.cart.edit', cart_id=cart.cart.cart_id) }}">
            <div class="weui-cell__hd cart_phone">
              <img alt="" src="{{ cart.item.goods_img }}">
            </div>
            <div class="weui-cell__bd">
              <div class="invalid_title mar-bottom">{{ cart.item.goods_name }}</div>
              <div class="cart_count">
                <span>x {{ cart.cart.quantity }}</span>
                {% if cart.is_valid == 0 %}
                  {% set status = _('已下架') if cart.valid_status == 1 else _('库存不足') %}
                  <span class="cart_status">{{ status }}</span>
                {% endif %}
              </div>
            </div>
            <div class="weui-cell__ft mar-left">
              <span class="invalid_price">￥{{ cart.item.goods_price }}</span>
            </div>
          </a>
        </div>
      {% endfor %}
      <div class="settlement_wrap">
        <div class="weui-cells weui-cells_checkbox cart_bar">
          <label class="weui-check__label" for="all">
            <div class="col-check">
              {% set checked = 'checked' if cart_valid_total == items_quantity else '' %}
              <input type="checkbox" class="weui-check" name="checkbox1" id="all" {{ checked }}>
              <i class="weui-icon-checked" style="margin-left:10px !important"></i>
              <p class="all_check">{{_('全选')}}</p>
            </div>
          </label>
          <div class="total">
            <div class="total-price">
              <span>{{_('合计')}}：</span>
              <span id="items_amount" class="all_price" style="font-size:18px">￥{{ items_amount }}</span>
            </div>
            <a id="checkout" href="javascript:void(0);" class="btn_primary" onclick="checkout()">{{_('结算(%s)' % items_quantity)}}</a>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="not-product">
      <div class="not-product_img">
        <img class="notproduct" src="/static/default/mobile/img/notcart.png" alt="">
      </div>
      <div class="not-product_text">{{_('您的购物车空空如也')}}</div>
      <div class="reg_btn">
        <a href="{{ url_for('mobile.index.root') }}">
          <button type="button" class="weui-btn weui-btn_red">{{_('到商城去逛逛')}}</button>
        </a>
      </div>
    </div>
  {% endif %}

  {{ libs.bottom_navigation_bar() }}
</div>
{% endblock %} 

{% block script %}
<script type="text/javascript">
function get_carts() {
  var carts = [];

  $(".is_valid").each(function(){
    var cart = {};
    cart.cart_id = $(this).val();
    cart.is_checked = $(this).is(':checked') ? 1 : 0;

    carts.push(cart);
  });

  return JSON.stringify(carts);
}


function checked(carts) {
  $.get("{{ url_for('api.cart.checked') }}", {'carts':carts}, function(json) {
    if (json.ret != 0) {
      $.toast(json.msg, "text");
      return false;
    }

    $("#items_amount").text("￥"+json.data.items_amount);
    $("#checkout").text("{{_('结算')}}("+json.data.items_quantity+")");
  });
}


function checkout() {
  var carts_id = [];

  $(".is_valid").each(function(){
    if ($(this).is(':checked')) {
      var cart_id = parseInt($(this).val());
      carts_id.push(cart_id);
    }
  });

  if (carts_id.length == 0) {
    $.toast("{{_('请选择结算商品')}}", "text");
    return false;
  }

  var carts_id_json = JSON.stringify(carts_id);
  window.location.href="{{ url_for('mobile.cart.checkout') }}?carts_id="+carts_id_json;
}


$(document).ready(function () {
  var msg = '{{ msg }}';
  if (msg != '') {
    $.toast(msg, "text");
  }

  $("#all").click(function(){
    if ($(this).is(':checked')) {
      $(".is_valid").prop('checked', true);
    } else {
      $(".is_valid").prop('checked', false);
    }

    var carts = get_carts();
    checked(carts);
  });


  $(".is_valid").click(function(){
    var is_all = 1;
  
    $(".is_valid").each(function(){
      if (!$(this).is(':checked')) {
        is_all = 0;
      }
    });

    (is_all == 1) ? $("#all").prop('checked', true) : $("#all").prop('checked', false);

    var carts = get_carts();
    checked(carts);
  });
});
</script>
{% endblock %}