{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('我的购物车 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/cart.css"> 
{% endblock %} 

{% block body %}
<div class="cart_wrap">
  <div class="content_wrap">
    <div class="weui-cells weui-cells_checkbox">
      <div class="weui-cell">
        <div class="weui-cell__hd height50">
          <input type="checkbox" class="weui-check" name="checkbox1" value="1" checked="checked"> 
          <i class="weui-icon-checked icon_checked"></i>
          <div class="cart_phone">
            <img alt="" src="">
          </div>
        </div>
        <div class="weui-cell__bd">
          <div class="all_title mar-bottom">小米短袖POLO衫 深蓝</div>
          <div class="cart_count">x 1</div>
        </div>
        <div class="weui-cell__ft mar-left width46">
          <span class="all_price">1299元</span>
        </div>
      </div>
    </div>
    <div class="weui-cells weui-cells_checkbox">
      <div class="weui-cell">
        <div class="weui-cell__hd height50">
          <input type="checkbox" class="weui-check" name="checkbox2" value="2" checked="checked"> 
          <i class="weui-icon-checked icon_checked"></i>
          <div class="cart_phone">
            <img alt="" src="">
          </div>
        </div>
        <div class="weui-cell__bd">
          <div class="all_title mar-bottom">红米5A全网通版3GB内存32GB</div>
          <div class="cart_count">x 2</div>
        </div>
        <div class="weui-cell__ft mar-left width46">
          <span class="all_price">699元</span>
        </div>
      </div>
    </div>
    <div class="weui-cells weui-cells_checkbox">
      <div class="weui-cell">
        <div class="weui-cell__hd height50">
          <input type="checkbox" class="weui-check" name="checkbox3" value="3" checked="checked"> 
          <i class="weui-icon-checked icon_checked"></i>
          <div class="cart_phone">
            <img alt="" src="">
          </div>
        </div>
        <div class="weui-cell__bd">
          <div class="all_title mar-bottom"> 红米Note 5 全网通版 4GB内存 64GB</div>
          <div class="cart_count">x 1</div>
        </div>
        <div class="weui-cell__ft mar-left width46">
          <span class="all_price">1599元</span>
        </div>
      </div>
    </div>
    <div class="settlement_wrap">
      <div class="weui-cells weui-cells_checkbox">
        <div class="flex_wrap cart_bar">
          <div class="col-check">
            <input type="checkbox" class="weui-check" name="checkbox4" checked="checked">
            <i class="weui-icon-checked" style="margin-left:10px !important"></i>
            <p class="all_check">全选</p>
          </div>
          <div class="total">
            <div class="total-price">
              <span>合计：</span>
              <span class="all_price">1299元</span>
            </div>
            <a href="{{ url_for('mobile.user.settlement') }}" class="btn_primary">结算(4)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 购物车没有商品时显示 -->
  <!-- <div class="not-product">
    <div class="not-product_img">
      <img class="notproduct" src="/static/default/mobile/img/notcart.png" alt="">
    </div>
    <div class="not-product_text">您的购物车空空如也</div>
    <div class="reg_btn">
      <a href="{{ url_for('mobile.index.root') }}">
        <button type="button" class="weui-btn weui-btn_red">到商城去逛逛</button>
      </a>
    </div>
  </div> -->

  <div class="height61"></div>
  <div class="foot_wrap">
    <ul class="footer">
      <li class="flex pstR">
        <a href="{{ url_for('mobile.index.root') }}">
          <div class="icom_photo">
            <img src="/static/default/mobile/img/home.png" alt="">
          </div>
          <p class="foot_text">首页</p>
        </a>
      </li>
      <li class="flex pstR">
        <a href="{{ url_for('mobile.category.root') }}">
          <div class="icom_photo">
            <img src="/static/default/mobile/img/category.png" alt="">
          </div>
          <p class="foot_text">分类</p>
        </a>
      </li>
      <li class="flex pstR">
        <a href="{{ url_for('mobile.cart.root') }}">
          <span class="weui-badge msg_badge">3</span>
          <div class="icom_photo">
            <img src="/static/default/mobile/img/cartOn.png" alt="">
          </div>
          <p class="foot_text on">购物车</p>
        </a>
      </li>
      <li class="flex pstR">
        <a href="{{ url_for('mobile.user.root') }}">
          <span class="weui-badge msg_badge">1</span>
          <div class="icom_photo">
            <img src="/static/default/mobile/img/user.png" alt="">
          </div>
          <p class="foot_text">我的</p>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %} 

{% block script %}
<script  type="text/javascript">
  $('.weui-cell').click(function () {
    var url = "/mobile/cart/edit";
    window.location.href = url;
  });
</script>
{% endblock %}