{% extends '/default/pc/layout/cart_base.html.j2' %}

{% block head %}
<title>{{_('确认订单 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/cart.css">
<link rel="stylesheet" href="/static/default/pc/iconfont/iconfont.css">
<link rel="stylesheet" href="/static/default/pc/css/city-picker.css">
{% endblock %}

{% block nav %} 
<div class="one-nav_header">
  <span class="nav-header_type">{{_('确认订单')}}</span>
</div>
{% endblock %}

{% block body %}
<div class="cart-wrap">
  <div class="head-inner">
    <div class="checkout-box" id="address">
      <!-- 收货地址部分 -->
      <div class="address-section">
        <div class="address-section_header clearfix">
          <p class="section-header_title">{{_('收货地址')}}</p>
        </div>
        <ul id="addresses" class="address-section_body clearfix">
          {% for address in addresses %}
            {% set selected = 'selected' if loop.first else '' %}
            <li class="address-body_item hide {{ selected }}" data-ua-id="{{ address.ua_id }}" onclick="selected_address(this)">
              <div class="address-item_cnt">
                <p id="address{{ address.ua_id }}_name" class="item-cnt_name" data-value="{{ address.name }}">{{ address.name }}</p>
                <p id="address{{ address.ua_id }}_mobile" class="item-cnt_mobile" data-value="{{ address.mobile }}">{{ address.mobile }}</p>
                <p class="item-cnt_address">
                  <span id="address{{ address.ua_id }}_pcd">{{ address.province }} {{ address.city }} {{ address.district }}</span>
                  <br>
                  <span id="address{{ address.ua_id }}_address">{{ address.address }}</span>
                </p>
              </div>
              <div class="item-cnt_edit" onclick="edit({{ address.ua_id }})">
                <input id="address{{ address.ua_id }}_province" type="hidden" value="{{ address.province }}" />
                <input id="address{{ address.ua_id }}_city" type="hidden" value="{{ address.city }}" />
                <input id="address{{ address.ua_id }}_district" type="hidden" value="{{ address.district }}" />
                <button class="edit-btn" type="button">修改</button>
              </div>
            </li>
          {% endfor %}
          <div class="address-body_item" onclick="edit(0)">
            <div class="add-new_address">
              <img src="/static/default/pc/img/add.png" alt="">
              <p>{{_('添加新地址')}}</p>
            </div>
          </div>
        </ul>
        <div class="address-show-more hide" id="more">
          <span class="show-more_text" id="moreText">{{_('显示更多收货地址')}}</span>
        </div>
      </div>
      <!-- 收货地址部分 end -->

      <!-- 配送方式部分 -->
      <div class="shipment-section clearfix">
        <div class="shipment-section_header">{{_('配送方式')}}</div>
        <div class="shipment-section_body">
          <div class="shipment-select clearfix">
            <div class="shipment-text">
              <li id="infoText" class="info-text" data-value="{{ default_shipping.shipping_id }}">{{ shipping_title }}</li>
              <ul class="select-wrap hide">
                {% set shipping_list = shipping_list|json_loads %}
                {% for shipping in shipping_list %}
                  <li data-value="{{ shipping['value'] }}">{{ shipping['title'] }}</li>
                {% endfor %}
              </ul>
            </div>
            <button class="shipment-edit_btn" type="button" onclick="shipment_edit()">修改</button>
          </div>
        </div>
      </div>
      <!-- 配送方式部分 end -->

      <!-- 商品及优惠券 -->
      <div class="goods-section clearfix">
        <div class="goods-section_header">
          <span class="goods-info">{{_('商品及优惠券')}}</span>
          {% if buy_now == 0 %}
            <div class="back-cart">
              <a href="{{ url_for('pc.cart.root') }}">{{_('返回购物车')}}</a>
            </div>
          {% endif %}
        </div>
        <div class="goods-section_body">
          <ul class="goods-body_list">
            {% for cart in carts %}
              <li class="goods-body_item">
                <div class="col goods-item_img">
                  <img src="{{ cart.item.goods_img }}-square.small" alt="">
                </div>
                <div class="col goods-item_name">{{ cart.item.goods_name }}</div>
                <div class="col goods-item_price">￥{{ cart.item.goods_price|toamount }}</div>
                <div class="col goods-item_num">x {{ cart.cart.quantity }}</div>
                {% set total_price = cart.item.goods_price|toamount * cart.cart.quantity %}
                <div class="col goods-item_total">￥{{ total_price }}</div>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="goods-section_footer">
          <div class="coupon-left">
            <img class="coupon-img" src="/static/default/pc/img/coupon.png" alt="">
            <span>{{_('使用优惠券')}}</span>
            <div style="line-height:25px;" class="hide" id="couponNum">{{_('使用优惠券1张，共抵扣')}}
              <span class="allOn">￥0.00</span>
            </div>
          </div>

          <!-- 优惠券弹窗 -->
          <div class="coupon-box hide">
            <div class="coupon-box_hd">
              <span style="padding-left:25px;">{{_('选择优惠券')}}</span>
              <a class="add-del" style="top:0;" href="javascript:;" id="couponCel">
                <i class="icon-cancel"></i>
              </a>
            </div>
            <div class="coupon-box_bd">
              {% if coupons %}
                <ul class="coupon-list">
                  {% for coupon in coupons %}
                    {% set is_valid = 1 if items_amount >= coupon.limit_amount else 0 %}
                    {% if is_valid == 1 %}
                      <li class="coupon-list_item valid_coupon" data-coupon-id="{{ coupon.coupon_id }}">
                        <div class="coupon-info">
                          <div class="wave"></div>
                          <p>
                            <span class="coupon-amount">￥{{ coupon.coupon_amount|toamount }}</span>
                            满{{ coupon.limit_amount|toamount }}
                          </p>
                          <p>{{_('有效期')}}：{{ coupon.end_time|timestamp2str('YYYY.MM.DD') }}</p>
                        </div>
                        <div class="all-store">{{_('[全场通用]')}}</div>
                      </li>
                    {% else %}
                      <li class="coupon-list_item border-eee">
                        <div class="coupon-info bg-eee">
                          <div class="wave"></div>
                          <p>
                            <span class="coupon-amount">￥{{ coupon.coupon_amount|toamount }}</span>
                            满{{ coupon.limit_amount|toamount }}
                          </p>
                          <p>{{_('有效期')}}：{{ coupon.end_time|timestamp2str('YYYY.MM.DD') }}</p>
                        </div>
                        <div class="all-store color-eee">{{_('[全场通用]')}}</div>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <div class="not-coupon">{{_('您暂时没有可用的优惠券')}}</div>
              {% endif %}
              <input id="coupon_id" type="hidden" value="0" />
            </div>
          </div>
          <!-- 优惠券弹窗 end -->

          <ul class="list-right">
            <li>
              <label class="goods-footer_left">{{_('商品总价：')}}</label>
              <span id="items_amount" class="goods-footer_right">￥{{ items_amount }}</span>
            </li>
            <li>
              <label class="goods-footer_left">{{_('优惠金额：')}}</label>
              <span id="discount_amount" class="goods-footer_right">￥{{ discount_amount }}</span>
            </li>
            <li>
              <label class="goods-footer_left">{{_('运费：')}}</label>
              <span id="shipping_amount" class="goods-footer_right">￥{{ shipping_amount }}</span>
            </li>
            <li>
              <label class="goods-footer_left">{{_('应付总额：')}}</label>
              <span class="goods-footer_right" style="color:#f33155">
                ￥
                <em id="pay_amount" data-value="{{ pay_amount }}">{{ pay_amount }}</em>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <!-- 商品及优惠券 end -->

      <!-- 提交订单 -->
      <div class="sub-section">
        <div class="sub-section_left">
          <div class="seleced-address">
            <p id="userInfo">{{ default_address.name }} {{ default_address.mobile }}</p>
            <span id="addressInfo">{{ default_address.provice }} {{ default_address.city }} {{ default_address.district }} {{ default_address.address }}</span>
            <input id="current_address_ua_id" type="hidden" value="{{ default_address.ua_id }}" />
            <button type="button" class="back-add_btn">修改</button>
          </div>
        </div>
        <div class="cart-footer_right">
          <input id="carts_id" type="hidden" value="{{ carts_id }}" />
          <a class="cart-checkout_btn btn-primary" href="javascript:void(0);" onclick="submit()">{{_('提交订单')}}</a>
        </div>
      </div>
      <!-- 提交订单 end -->
    </div>
  </div>

  <!-- 添加收货地址弹窗 -->
  <div class="hide-mask hide">
    <div class="editAdd-section">
      <div class="editAdd-section_hd">
        <span>{{_('添加收货地址')}}</span>
        <a class="add-del" href="javascript:;" onclick="cancel()">
          <i class="icon-cancel"></i>
        </a>
      </div>
      <div class="allPad">
        <div class="bd-flex">
          <label class="bd-label">{{_('姓名：')}}</label>
          <input id="edit_address_name" class="bd-input" type="text" placeholder="{{_('请填写收件人姓名')}}">
        </div>
        <div class="bd-flex">
          <label class="bd-label">{{_('手机号码：')}}</label>
          <input id="edit_address_mobile" class="bd-input" type="text" placeholder="{{_('请填写收件人手机号码')}}">
        </div>
        <div class="bd-flex">
          <label class="bd-label">{{_('地区：')}}</label>
          <!--<input id="edit_address_pcd" readonly class="bd-input city-picker-input" type="text" data-toggle="city-picker" placeholder="{{_('请选择省/市/区')}}">-->
          <input id="edit_address_pcd" readonly type="text">
        </div>
        <div class="bd-flex">
          <label class="bd-label">{{_('详细地址：')}}</label>
          <input id="edit_address_address" class="bd-input" type="text" placeholder="{{_('请填写详细地址：如街道、道路、门牌号等')}}">
        </div>
      </div>
      <div class="editAdd-section_ft">
        <input id="edit_address_ua_id" type="hidden" value="" />
        <button class="save-btn btn-primary mar-right" type="button" onclick="save()">{{_('保存')}}</button>
        <button class="cancel-btn" type="button" onclick="cancel()">{{_('取消')}}</button>
      </div>
    </div>
  </div>
  <!-- 添加收货地址弹窗 end -->
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/default/pc/js/city-picker.data.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/default/pc/js/city-picker.js" charset="utf-8"></script>
<script type="text/javascript">
var $selectWrap = $('.select-wrap');
var $mask = $('.hide-mask');

var csrftoken = "{{ csrf_token() }}";
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

//结算金额
function checkout_amounts() {
  var carts_id = $("#carts_id").val();
  var shipping_id = $("#infoText").attr('data-value');
  var coupon_id = $("#coupon_id").val();

  if (carts_id == '') {
    // 优化alert ??
    alert("{{_('请先选购商品')}}");
    return false;
  }

  if (shipping_id == 0) {
    // 优化alert ??
    alert("{{_('请先选择快递')}}");
    return false;
  }

  carts_id = carts_id.split(',');
  carts_id = JSON.stringify(carts_id);

  params = {'carts_id':carts_id, 'shipping_id':shipping_id, 'coupon_id':coupon_id};
  $.get("{{ url_for('api.cart.checkout_amounts') }}", params, function(json) {
    if (json.ret != 0) {
      // 优化alert ??
      alert(json.msg);
      return false;
    }

    $("#items_amount").text('￥'+json.data.items_amount);
    $("#shipping_amount").text('￥'+json.data.shipping_amount);
    $("#discount_amount").text('￥'+json.data.discount_amount);
    $("#pay_amount").attr('data-value', json.data.pay_amount);
    $("#pay_amount").text(json.data.pay_amount);
    return true;
  });
}

// 选中地址
function selected_address(dom) {
  $(dom).addClass('selected').siblings().removeClass('selected');
  var $li = $(dom);
  var name = $li.find('.item-cnt_name').text();
  var mobile = $li.find('.item-cnt_mobile').text();
  var address = $li.find('.item-cnt_address').text();
  $('#userInfo').text(name + ' ' + mobile);
  $('#addressInfo').text(address);
  $("#current_address_ua_id").val($li.attr('data-ua-id'));
};

//修改和保存配送方式
function shipment_edit(){
  if ($selectWrap.hasClass('hide')) {
    $('#infoText').addClass('sel-info');
    $selectWrap.removeClass('hide').addClass('show');

  } else {
    $('#infoText').removeClass('sel-info');
    $selectWrap.removeClass('show').addClass('hide');
  }
}

// 赋值
$('.select-wrap > li').click(function () {
  $(this).addClass('allOn').siblings().removeClass('allOn');
  
  $selectWrap.removeClass('show');
  if (!$selectWrap.hasClass('hide')) {
    $selectWrap.addClass('hide');
    $('#infoText').removeClass('sel-info');
  }
  // 赋值给配送方式
  $('#infoText').text($(this).text());
  $("#infoText").attr('data-value', $(this).attr('data-value'));

  checkout_amounts();
});

// 返回到收货地址模块
$('.back-add_btn').click(function () {
  var t = $("#address").offset().top;
  $('html,body').animate({scrollTop:t}, 300);
});

//点击edit()打开添加新地址弹窗
function edit(ua_id) {
  var name = '';
  var mobile = '';
  var province = '北京市';
  var city = '北京市';
  var district = '东城区';
  var address = '';

  $mask.removeClass('hide');
  if (!$mask.hasClass('show')) {
    if (ua_id > 0) {
      name = $("#address"+ua_id+"_name").text();
      mobile = $("#address"+ua_id+"_mobile").text();
      province = $("#address"+ua_id+"_province").val();
      city = $("#address"+ua_id+"_city").val();
      district = $("#address"+ua_id+"_district").val();
      address = $("#address"+ua_id+"_address").text();
    }

    //var pcd = (province != '') ? (province+' '+city+' '+district) : '';

    $("#edit_address_ua_id").val(ua_id);
    $("#edit_address_name").val(name);
    $("#edit_address_mobile").val(mobile);
    $("#edit_address_address").val(address);

    $("#edit_address_pcd").citypicker('reset');
    $("#edit_address_pcd").citypicker('destroy');
    $("#edit_address_pcd").citypicker({
      province: province,
      city: city,
      district: district
    });

    $mask.addClass('show');
  }
}

//点击cancel()关闭添加新地址弹窗
function cancel() {
  $mask.removeClass('show');
  if (!$mask.hasClass('hide')) {
    $mask.addClass('hide');
  } 
}

//点击save()关闭添加新地址弹窗，并保存新添加的地址
function save() {
  $mask.removeClass('show');
  if (!$mask.hasClass('hide')) {

    var ua_id = $("#edit_address_ua_id").val();
    var name = $("#edit_address_name").val();
    var mobile = $("#edit_address_mobile").val();
    var pcd = $("#edit_address_pcd").val();
    var address = $("#edit_address_address").val();
    var pcd_arr = pcd.split('/');
    var province = pcd_arr[0];
    var city = pcd_arr[1];
    var district = pcd_arr[2];

    var params = {'ua_id':ua_id, 'name':name, 'mobile':mobile, 'province':province, 'city':city, 'district':district, 'address':address}
    $.post("{{ url_for('api.me.address_save') }}", params, function(json) {
      if (json.ret == 0) {
        var _ua_id = json.data.ua_id;

        if (ua_id == _ua_id) {
          $("#address"+_ua_id+"_name").text(name);
          $("#address"+_ua_id+"_mobile").text(mobile);
          $("#address"+_ua_id+"_pcd").text(province+' '+city+' '+district);
          $("#address"+_ua_id+"_address").text(address);
        } else {
          $(".selected").removeClass('selected');
          var html_text = '<li class="address-body_item selected" onclick="selected_address(this)">' +
                            '<div class="address-item_cnt">' +
                              '<p id="address'+_ua_id+'_name" class="item-cnt_name" data-value="'+name+'">'+name+'</p>' +
                              '<p id="address'+_ua_id+'_mobile" class="item-cnt_mobile" data-value="'+mobile+'">'+mobile+'</p>' +
                              '<p class="item-cnt_address">' +
                                '<span id="address'+_ua_id+'_pcd">'+province+' '+city+' '+district+'</span>' +
                                '<br>' +
                                '<span id="address'+_ua_id+'_address">'+address+'</span>' +
                              '</p>' +
                            '</div>' +
                            '<div class="item-cnt_edit" onclick="edit('+_ua_id+')">' +
                              '<input id="address'+_ua_id+'_province" type="hidden" value="'+province+'" />' +
                              '<input id="address'+_ua_id+'_city" type="hidden" value="'+city+'" />' +
                              '<input id="address'+_ua_id+'_district" type="hidden" value="'+district+'" />' +
                              '<button class="edit-btn" type="button">修改</button>' +
                            '</div>' +
                          '</li>';
          $("#addresses").prepend(html_text);
          $("#current_address_ua_id").val(_ua_id);
        }
      } else {
        // 优化alert ??
        alert(json.msg);
        return false;
      }
    });

    $('#userInfo').text(name + ' ' + mobile);
    $('#addressInfo').text(province+' '+city+' '+district+' '+address);

    $mask.addClass('hide');
  }
}

//提交订单
function submit() {
  var ua_id = parseInt($("#current_address_ua_id").val());
  var shipping_id = parseInt($("#infoText").attr('data-value'));
  var coupon_id = $("#coupon_id").val();
  var carts_id = $("#carts_id").val();
  
  if (ua_id == 0) {
    // 优化alert ??
    alert("{{_('请先设置收货地址')}}");
    return false;
  }

  if (shipping_id == 0) {
    // 优化alert ??
    alert("{{_('请先选择快递')}}");
    return false;
  }

  if (carts_id == '') {
    // 优化alert ??
    alert("{{_('请先选购商品')}}");
    return false;
  }

  carts_id = carts_id.split(',');
  carts_id = JSON.stringify(carts_id);

  var params = {'carts_id':carts_id, 'ua_id':ua_id, 'shipping_id':shipping_id, 'coupon_id':coupon_id}
  $.post("{{ url_for('api.order.create') }}", params, function(json) {
    if (json.ret == 0) {
      var order_id = json.data.order_id;
      window.location.href = "/pc/cart/pay/" + order_id;
    } else {
      // 优化alert ??
      alert(json.msg);
      return false;
    }
  });
}

//收货地址超过3个时，显示更多收货地址show
$(function(){
  if($('.address-body_item').length>4){
    $('.address-section_body > li:lt(3)').removeClass('hide').addClass('show');
    var $more = $('#more');
    $more.removeClass('hide');
    if (!$more.hasClass('show')) {
      $more.addClass('show');
    }
  } else{
    $('.address-section_body > li').removeClass('hide').addClass('show');
    $more.removeClass('show');
    if (!$more.hasClass('hide')) {
      $more.addClass('hide');
    }
  }

  //点击more显示更多收货地址
  $('#more').click(function(){
    var $moreText = $('#moreText');
    if($moreText.text()=='显示更多收货地址' && $moreText.hasClass('show-more_text')){
      $('.address-section_body > li').removeClass('hide').addClass('show');
      $moreText.removeClass('show-more_text');
      $moreText.text('收起更多收货地址');
      if (!$moreText.hasClass('hide-more_text')) {
        $moreText.addClass('hide-more_text');
      }
    } else{
      $('.address-section_body > li:gt(2)').removeClass('show').addClass('hide');
      $moreText.removeClass('hide-more_text');
      $moreText.text('显示更多收货地址');
      if (!$moreText.hasClass('show-more_text')) {
        $moreText.addClass('show-more_text');
      }
    }
  });

  //点击打开选择优惠券弹窗
  $('.coupon-left').click(function(){
    $('.coupon-box').removeClass('hide');
    if(!$('.coupon-box').hasClass('show')){
      $('.coupon-box').addClass('show');
    }
  });

  //点击关闭选择优惠券弹窗
  $('#couponCel').click(function(){
    $('.coupon-box').removeClass('show');
    if(!$('.coupon-box').hasClass('hide')){
      $('.coupon-box').addClass('hide');
    }
    //$('#couponNum').removeClass('hide')
    //if (!$('#couponNum').hasClass('show')) {
    //  $('#couponNum').addClass('show');
    //}
  });

  //选中优惠券，赋值然后关闭选择优惠券弹窗
  $('.valid_coupon').click(function () {
    $('.coupon-box').removeClass('show');
    if (!$('.coupon-box').hasClass('hide')) {
      $('.coupon-box').addClass('hide');
    }

    var $curItem = $(this);
    $curItem.find('.wave').addClass('activeOn');
    $curItem.siblings().find('.wave').removeClass('activeOn');

    $('#couponNum').removeClass('hide')
    if (!$('#couponNum').hasClass('show')) {
      $('#couponNum').addClass('show');
    }
    var text = $curItem.find('.coupon-amount').text();
    $('#couponNum > span').text(text);

    $("#coupon_id").val($curItem.attr('data-coupon-id'));
    checkout_amounts();
  });
});
</script>
{% endblock%}