{% extends '/default/pc/layout/cart_base.html.j2' %}

{% block head %}
<title>{{_('我的购物车 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/cart.css">
<link rel="stylesheet" href="/static/default/pc/iconfont/iconfont.css">
{% endblock %}

{% block nav %}
<div class="one-nav_header">
  <span class="nav-header_type">{{_('我的购物车')}}</span>
</div>
{% endblock %}

{% block body %}
<div class="cart-wrap">
  <div class="head-inner">
    {% if carts %}
      <div class="cart-goods" id="cart-goods">
        <div class="bg-white">
          <div class="cart-head clearfix">
            <div class="col cart-check">
              {% set checked = 'icon-checkbox_selected' if cart_valid_total == items_quantity else '' %}
              <i id="all" class="icon-dagou icon-checkbox {{ checked }}"></i>
              <span style="margin-left:15px">{{_('全选')}}</span>
            </div>
            <div class="col cart-goods_img">&nbsp;</div>
            <div class="col cart-goods_name">商品名称</div>
            <div class="col cart-goods_price">单价</div>
            <div class="col cart-goods_num">数量</div>
            <div class="col cart-goods_total">小计</div>
            <div class="col cart-goods_action">操作</div>
          </div>
          <ul class="cart-goods_list">
            {% for cart in carts %}
              <li id="li{{ cart.cart.cart_id }}" class="cart-goods_item">
                <div class="col cart-check">
                  {% set checked = 'icon-checkbox_selected' if cart.cart.is_checked == 1 else '' %}
                  {% set checked = checked if cart.is_valid == 1 else 'icon-notsel' %}
                  <i class="cartbox icon-dagou icon-checkbox {{ checked }}" id="cart{{ cart.cart.cart_id }}" data-cart-id="{{ cart.cart.cart_id }}" data-quantity="{{ cart.cart.quantity }}" data-is-valid="{{ cart.is_valid }}" onclick="is_checked(this)"></i>
                </div>
                <div class="col cart-goods_img">
                  <img src="{{ cart.item.goods_img }}-square.small" alt="">
                </div>
                {% set goods_class = 'cart-valid' if cart.is_valid == 1 else 'cart-goods_name' %}
                <div id="goods_class_{{ cart.cart.cart_id }}" class="col {{ goods_class }}">
                  <a href="{{ url_for('pc.item.detail', goods_id=cart.item.goods_id) }}">
                    <p class="all-text">{{ cart.item.goods_name }}</p>
                    <p id="cart_status_text_{{ cart.cart.cart_id }}" class="greyGap">
                    {% if cart.is_valid == 0 %}
                      {% set status = _('已下架') if cart.valid_status == 1 else _('库存不足') %}
                      <span class="cart-status">{{ status }}</span>
                    {% endif %}
                    </p>
                  </a>
                </div>
                <div class="col cart-goods_price">
                  <span class="all-text">￥{{ cart.item.goods_price|toamount }}</span>
                </div>
                <div class="col cart-goods_num">
                  <div class="apply-service_num">
                    <i class="num_minus" onclick="update_cart_quantity({{ cart.cart.cart_id }}, 0)"></i>
                    <input class="num_ipt change_cart_quantity" type="text" id="quantity{{ cart.cart.cart_id }}" name="quantity{{ cart.cart.cart_id }}" value="{{ cart.cart.quantity }}" data-cart-id="{{ cart.cart.cart_id }}" data-value="{{ cart.cart.quantity }}" minnum="1">
                    <i class="num_add" onclick="update_cart_quantity({{ cart.cart.cart_id }}, 1)"></i>
                  </div>
                </div>
                <div class="col cart-goods_total">
                  <span id="items_amount{{ cart.cart.cart_id }}" class="all-text" style="color:#f33155 !important">￥{{ cart.items_amount }}</span>
                </div>
                <div class="col cart-goods_action">
                  <a class="del" href="javascript:void(0);" onclick="remove({{ cart.cart.cart_id }})">
                    <i class="icon-cancel"></i>
                  </a>
                </div>
                <input type="hidden" name="" id="stock_quantity_num{{ cart.cart.cart_id }}" value="{{ cart.item.stock_quantity }}">
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="cart-footer clearfix">
          <div class="cart-footer_left">
            <a class="back-shopping" href="{{ url_for('pc.index.root') }}">{{_('继续购物')}}</a>
            <span class="cart-total_num">
              {{_('共')}}
              <i id="cart_total">{{ cart_total }}</i>
              {{_('件商品，已选择')}}
              <i id="items_quantity">{{ items_quantity }}</i>
              {{_('件')}}
            </span>
          </div>
          <div class="cart-footer_right">
            <span class="cart-total_price">
              {{_('合计：')}}￥
              <em id="items_amount">{{ items_amount }}</em>
            </span>
            <a class="cart-checkout_btn btn-primary" href="javascript:void(0);" onclick="checkout()">{{_('去结算')}}</a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="not-one">
        <p class="not-one_text">{{_('您的购物车空空如也!')}}</p>
        <a class="not-one_btn btn-primary" href="{{ url_for('pc.index.root') }}">{{_('到商场去看看')}}</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
function _get_carts() {
  var carts = [];

  $(".cartbox").each(function(){
    if (parseInt($(this).attr('data-is-valid')) == 1) {
      var cart = {};
      cart.cart_id = $(this).attr('data-cart-id');
      cart.is_checked = $(this).hasClass('icon-checkbox_selected') ? 1 : 0;

      carts.push(cart);
    }
  });

  return JSON.stringify(carts);
}


function _checked(carts) {
  $.get("{{ url_for('api.cart.checked') }}", {'carts':carts}, function(json) {
    if (json.ret != 0) {
      Toast(json.msg);
      return false;
    }

    $("#cart_total").text(json.data.cart_total);
    $("#items_quantity").text(json.data.items_quantity);
    $("#items_amount").text(json.data.items_amount);
  });
}


function _is_all_selected() {
  var is_all = 1;

  $(".cartbox").each(function(){
    if (parseInt($(this).attr('data-is-valid')) == 1 && !$(this).hasClass('icon-checkbox_selected')) {
      is_all = 0;
    }
  });

  (is_all == 1) ? $("#all").addClass('icon-checkbox_selected') : $("#all").removeClass('icon-checkbox_selected');
}


function _update_cart(cart_id, quantity) {
  var ret = false;

  $.ajax({
    type: 'GET',
    url: "{{ url_for('api.cart.update') }}",
    data: {'cart_id':cart_id, 'quantity':quantity},
    dataType: 'json',
    timeout: 300,
    async: false,
    success: function(json) {
      if (json.ret == 0) {
        $("#cart_total").text(json.data.cart_total);
        $("#items_quantity").text(json.data.items_quantity);
        $("#items_amount").text(json.data.items_amount);
        $("#items_amount"+cart_id).text("￥"+json.data._items_amount);

        var is_valid = json.data.is_valid;
        var valid_status = json.data.valid_status;
        if(is_valid == 1) {
          $("#cart"+cart_id).removeClass('icon-notsel').addClass('icon-checkbox_selected').attr('data-is-valid', is_valid);
          $("#cart_status_text_"+cart_id).empty();
          $("#goods_class_"+cart_id).removeClass('cart-goods_name').addClass('cart-valid');
        } else {
          $("#cart"+cart_id).removeClass('icon-checkbox_selected').addClass('icon-notsel').attr('data-is-valid', is_valid);

          var status_arr = {1:"{{_('已下架')}}", 2:"{{_('库存不足')}}"};
          var status_html = '<span class="cart-status">'+status_arr[valid_status]+'</span>';
          $("#cart_status_text_"+cart_id).html(status_html);
          $("#goods_class_"+cart_id).removeClass('cart-valid').addClass('cart-goods_name');
        }

        ret = true;
      } else {
        Toast(json.msg);
      }
    },
    error: function(xhr, type) {
      Toast("{{_('网络错误')}}");
    }
  });

  return ret;
}


function is_checked(dom) {
  var $this = $(dom);

  if($this.hasClass('icon-notsel')){
    return false;
  }

  if ($this.hasClass('icon-checkbox_selected')) {
    $this.removeClass('icon-checkbox_selected');
  } else {
    $this.addClass('icon-checkbox_selected');
  }

  _is_all_selected();

  var carts = _get_carts();
  _checked(carts);
}


function update_cart_quantity(cart_id, is_add) {
  var quantity = parseInt($("#quantity"+cart_id).val());
  var stock_quantity = parseInt($("#stock_quantity_num"+cart_id).val());

  if (is_add) {
    if (quantity >= stock_quantity) {
      Toast("{{_('库存不足')}}");
      return false;
    }
    quantity += 1;
  } else {
    quantity -= 1;
    quantity = quantity > 1 ? quantity : 1;
  }

  var ret = _update_cart(cart_id, quantity);
  if (ret) {
    $("#quantity"+cart_id).val(quantity);
    $("#quantity"+cart_id).attr('data-value', quantity);
    _is_all_selected();
  }
}


function remove(cart_id) {
  // 优化confirm
  var r = confirm("{{_('确认删除？')}}");
  if (r==true) {
    $.get("{{ url_for('api.cart.remove') }}", {'carts_id':cart_id}, function(json) {
      if (json.ret == 0) {
        $("#cart_total").text(json.data.cart_total);
        $("#items_quantity").text(json.data.items_quantity);
        $("#items_amount").text(json.data.items_amount);
        $("#li"+cart_id).remove();
      } else {
        Toast(json.msg);
      }
    });
  }
}


function checkout() {
  var carts_id = [];

  $(".cartbox").each(function(){
    if ($(this).hasClass('icon-checkbox_selected')) {
      var cart_id = parseInt($(this).attr('data-cart-id'));
      carts_id.push(cart_id);
    }
  });

  if (carts_id.length == 0) {
    Toast("{{_('请选择结算商品')}}");
    return false;
  }

  var carts_id_json = JSON.stringify(carts_id);
  window.location.href="{{ url_for('pc.cart.checkout') }}?carts_id="+carts_id_json;
}


$(function(){
  var actualH = (window.screen.availHeight-242) + 'px'; //实际剩余的高度
  var listH = $('#cart-goods').css('height');           //获取cart-goods的高度

  if(actualH <= listH){
    $('#footer').removeClass('ft-active');
  } else{
    $('#footer').addClass('ft-active');
  }


  $(".change_cart_quantity").focusout(function(){
    var quantity = parseInt($(this).val());
    var cart_id = parseInt($(this).attr('data-cart-id'));
    var stock_quantity = parseInt($("#stock_quantity_num"+cart_id).val());

    if (quantity > stock_quantity) {
      Toast("{{_('库存不足')}}");
    }

    if (isNaN(quantity) || quantity <= 0) {
      $(this).val($(this).attr('data-value'));
      return false;
    }

    var ret = _update_cart(cart_id, quantity);
    if (ret) { 
      $(this).attr('data-value', quantity);
      _is_all_selected();
    }
  });


  $("#all").click(function(){
    if ($(this).hasClass('icon-checkbox_selected')) {
      $(".cartbox").each(function(){
        if (parseInt($(this).attr('data-is-valid')) == 1) {
          $(this).removeClass('icon-checkbox_selected');
        }
      });

      $(this).removeClass('icon-checkbox_selected');
    } else {
      $(".cartbox").each(function(){
        if (parseInt($(this).attr('data-is-valid')) == 1) {
          $(this).addClass('icon-checkbox_selected');
        }
      });

      $(this).addClass('icon-checkbox_selected');
    }

    var carts = _get_carts();
    _checked(carts);
  });
});
</script>
{% endblock%}