{% extends '/default/pc/layout/cart_base.html.j2' %}

{% block head %}
<title>{{_('支付订单 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/cart.css">
{% endblock %}

{% block nav %} 
<div class="one-nav_header">
  <span class="nav-header_type">{{_('支付订单')}}</span>
</div>
{% endblock %}

{% block body %}
<div class="cart-wrap">
  <div class="head-inner">
    <form action="#" id="">
      <div class="order-section">
        <img class="order-section_img" src="/static/default/pc/img/complete.png" alt="">
        <div class="order-section_info">
          <div class="order-info_fl">
            <p class="order-info_hd">{{_('订单提交成功！去付款吧')}}</p>
            <p class="mar-bottom">
              {{_('请在')}}
              <span class="allOn">24时</span>
              {{_('内完成支付, 超时后将取消订单')}}
            </p>
            <p id="userAdd"> {{_('收货信息：')}}{{ order_address.name }} {{ order_address.mobile }} {{ order_address.province }} {{ order_address.city }} {{ order_address.district }} {{ order_address.address }}</p>
          </div>
          <div class="order-info_fr">
            <p class="order-info_total">
              {{_(' 应付总额：')}}
              <span class="allOn">￥</span>
              <span class="allOn" style="font-size:24px;">{{ order.pay_amount }}</span>
            </p>
            <div class="order-info_detail" onclick="detail()">{{_('订单详情')}}</div>
          </div>
        </div>
        <ul class="order-section_detail hide">
          <li class="order-detail_item">
            <label class="detail-label">{{_('订单号：')}}</label>
            <div class="detail-cnt allOn">{{ order.order_sn }}</div>
          </li>
          <li class="order-detail_item">
            <label class="detail-label">{{_('收货信息：')}}</label>
            <div class="detail-cnt">
              <p>{{ order_address.name }}</p>
              <p>{{ order_address.mobile }}</p>
              <p>{{ order_address.province }} {{ order_address.city }} {{ order_address.district }} {{ order_address.address }}</p>
            </div>
          </li>
          <li class="order-detail_item">
            <label class="detail-label">{{_('商品名称：')}}</label>
            <div class="detail-cnt">
              {% set goods_data = order.goods_data|json_loads %}
              {% for goods in goods_data %}
                <p>{{ goods.goods_name }}</p>
              {% endfor %}
            </div>
          </li>
          <li class="order-detail_item">
            <label class="detail-label">{{_('配送方式：')}}</label>
            <div class="detail-cnt">{{ shipping_title }}</div>
          </li>
        </ul>
      </div>
      {% if funds >= order.pay_amount %}
        <div class="payment-section">
          <p class="pay-hd">余额支付</p>
          <div class="pay-bd">
            <div class="bd-weixin">
              <img src="/static/default/pc/img/yue.png" alt="">
              <span>我的余额</span>
              <span>￥{{ funds }}</span>
            </div>
            <div style="margin-top:30px;">
              <button class="order-type_btn btn-primary" type="button" onclick="funds_pay({{ order.order_id }})">使用余额支付</button>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="payment-section">
        <p class="pay-hd">微信支付</p>
        <div class="pay-bd">
          <div class="bd-weixin">
            <img src="/static/default/pc/img/weixin.png" alt="">
          <span>微信支付</span>
          </div>
          <div class="bd-QRcode">
            <img src="http://i.huodong.mi.com/qrcode/wxget?code=weixin%3A%2F%2Fwxpay%2Fbizpayurl%3Fpr%3DAnUWbUU&key=93cca3325e17f353ed46462f77c19aaa" alt="">
          </div>

          <!-- 微信扫码成功之后跳转到支付成功页面 /pc/pay/success + order_id -->
          <p>
            请用
            <span class="allOn">微信</span>
            扫一扫二维码完成支付
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
//余额支付
function funds_pay(order_id) {
  // 检查
  if ( !order_id ) {
    // 优化alert ??
    alert("{{_('创建订单失败，请刷新页面重试。')}}");
    return false;
  }

  var order_id_list = '[' + order_id + ']';
  $.get("{{ url_for('api.pay.fundspay_req') }}", {'order_id_list':order_id_list}, function(res) {
    if (res.ret != 0) {
      // 优化alert ??
      alert(res.msg);
      return false;
    }

    window.location.href = "/pc/pay/success/"+order_id;
    return true;
  });
}

// 点击收起或显示订单详情
function detail(){
  if($('.order-section_detail').hasClass('hide')){
    $('#userAdd').addClass('hide');
    $('.order-section_detail').addClass('show').removeClass('hide');
  } else{
    $('#userAdd').removeClass('hide');
    $('.order-section_detail').addClass('hide').removeClass('show');
  }
}
</script>
{% endblock%}