{% extends '/default/pc/layout/cart_base.html.j2' %}

{% block head %}
<title>{{_('支付订单 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/cart.css">
{% endblock %}

{% block nav %} 
<div class="one-nav_header">
  <span class="nav-header_type">{{_('支付订单')}}</span>
</div>
{% endblock %}

{% block body %}
<div class="cart-wrap">
  <div class="head-inner">
    <form action="#" id="">
      <div class="order-section">
        <img class="order-section_img" src="/static/default/pc/img/complete.png" alt="">
        <div class="order-section_info">
          <div class="order-info_fl">
            <p class="order-info_hd">{{_('订单提交成功！去付款吧')}}</p>
            <p class="mar-bottom">
              {{_('请在')}}
              <span class="allOn">24时</span>
              {{_('内完成支付, 超时后将取消订单')}}
            </p>
            <p id="userAdd"> {{_('收货信息：')}}大头 135****5229 广东 深圳市 龙华新区 民治街道 南景新村c12</p>
          </div>
          <div class="order-info_fr">
            <p class="order-info_total">
              {{_(' 应付总额：')}}
              <span class="allOn">￥</span>
              <span class="allOn" style="font-size:24px;">1499</span>
            </p>
            <div class="order-info_detail" onclick="detail()">{{_('订单详情')}}</div>
          </div>
        </div>
        <ul class="order-section_detail hide">
          <li class="order-detail_item">
            <label class="detail-label">{{_('订单号：')}}</label>
            <div class="detail-cnt allOn">5180724570906637</div>
          </li>
          <li class="order-detail_item">
            <label class="detail-label">{{_('收货信息：')}}</label>
            <div class="detail-cnt">
              <p>大头</p>
              <p>135****5229</p>
              <p>广东 深圳市 龙华新区 民治街道 南景新村c12</p>
            </div>
          </li>
          <li class="order-detail_item">
            <label class="detail-label">{{_('商品名称：')}}</label>
            <div class="detail-cnt">
              <p> 米家空气净化器Pro 白色</p>
              <p> 米家空气净化器Pro 白色</p>
            </div>
          </li>
          <li class="order-detail_item">
            <label class="detail-label">{{_('配送方式：')}}</label>
            <div class="detail-cnt">申通 ￥10.0(满￥1000.0免运费)</div>
          </li>
        </ul>
      </div>
      <div class="payment-section">
        <p class="pay-hd">微信支付</p>
        <div class="pay-bd">
          <div class="bd-weixin">
            <img src="/static/default/pc/img/weixin.png" alt="">
          <span>微信支付</span>
          </div>
          <div class="bd-QRcode">
            <img src="http://i.huodong.mi.com/qrcode/wxget?code=weixin%3A%2F%2Fwxpay%2Fbizpayurl%3Fpr%3DAnUWbUU&key=93cca3325e17f353ed46462f77c19aaa" alt="">
          </div>

          <!-- 微信扫码成功之后跳转到支付成功页面 /pc/pay/success + order_id -->
          <p>
            请用
            <span class="allOn">微信</span>
            扫一扫二维码完成支付
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
// 点击收起或显示订单详情
function detail(){
  if($('.order-section_detail').hasClass('hide')){
    $('#userAdd').addClass('hide');
    $('.order-section_detail').addClass('show').removeClass('hide');
  } else{
    $('#userAdd').removeClass('hide');
    $('.order-section_detail').addClass('hide').removeClass('show');
  }
}
</script>
{% endblock%}