{% extends '/default/mobile/layout/base.html.j2' %} 

{% block head %}
<title>{{_('商品详情 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/item.css">
<link rel="stylesheet" href="/static/default/mobile/css/index.css"> 
{% endblock%} 

{% block body %}
<div class="detail-top">
  <div class="detail-top_title">
    <a class="detail-top_item" href="#product">
      <span class="on">商品</span>
    </a>
    <a class="detail-top_item" href="#review">
      <span>评价</span>
    </a>
    <a class="detail-top_item" href="#productDetail">
      <span>详情</span>
    </a>
  </div>
</div>
<div class="index_wrap">
  <div id="product">
    <div class="category_wrap">
      <div class="swiper-container" id="swiper_height" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
        <div class="swiper-wrapper">
          {% for gallery in galleries %}
            <div class="swiper-slide">
              <img class="swiper-img" src="{{ gallery.img }}" alt="">
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="detail_title">
      <div class="all_title">{{ item.goods_name }}</div>
      <div class="all_desc">{{ item.goods_desc }}</div>
      <div class="all_price">￥{{ item.goods_price }}</div>
    </div>
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd">
          <label class="weui-label greykGap">规格</label>
        </div>
        <div class="weui-cell__bd">
          <span class="blackGap">米家扫地机器人 白色</span>
          <span class="mar-left">x 1</span>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <img class="tagImg" src="/static/default/mobile/img/like.png" alt="">
          <span class="tagText">7天无理由退货</span>
        </div>
        <div class="weui-cell__bd">
          <img class="tagImg" src="/static/default/mobile/img/like.png" alt="">
          <span class="tagText">运费险</span>
        </div>
        <div class="weui-cell__bd">
          <img class="tagImg" src="/static/default/mobile/img/like.png" alt="">
          <span class="tagText">365天保修</span>
        </div>
      </div>
    </div>
  </div>
  <div id="review">
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access" href="">
        <div class="weui-cell__bd">
          <span class="blackGap">评价</span>
          <span class="mar-left praise_rate">好评99%</span>
        </div>
        <div class="weui-cell__ft">
          <span>共计3487条</span>
        </div>
      </a>
      <div class="weui-cell">
        <button type="button" class="review-type_btn btnOn">好评 9864</button>
        <button type="button" class="review-type_btn">中评 262</button>
        <button type="button" class="review-type_btn">差评 306</button>
        <button type="button" class="review-type_btn">有图 1459</button>
      </div>
      <div class="weui-cell"></div>
    </div>
  </div>
  <div id="productDetail"></div>
  <div class="height61"></div>
  <div class="footer">
    <div class="icon_wrap">
      <img src="/static/default/mobile/img/like.png" alt="">
    </div>
    <div class="icon_wrap">
      <img src="/static/default/mobile/img/cart.png" alt="">
    </div>
    <div class="flex cartTo">
      <span class="to_text">加入购物车</span>
    </div>
    <div class="flex buyTo">
      <span class="to_text">立即购买</span>
    </div>
  </div>
</div>
{% endblock%} 

{% block script %}
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js" charset="utf-8"></script>
<script type="text/javascript">
  $(".swiper-container").swiper({
    loop: true,
    autoplay: 3000,
  });
  $(document).ready(function (){
    var h_w = document.body.clientWidth + 'px';
    var img = document.getElementsByClassName('swiper-img');
    var swiperH = document.getElementById('swiper_height');
    for(var i = 0;i < img.length;i++){
      img[i].style.width = h_w;
      img[i].style.height = h_w;
    }
    swiperH.style.height = h_w;
  });
</script> 
{% endblock%}