{% extends '/default/mobile/layout/base.html.j2' %}
{% import '/default/mobile/libs/libs.html.j2' as libs %}

{% block head %}
<title>{{_('分类商品页 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/category.css">
<link rel="stylesheet" href="/static/default/mobile/css/index.css">
{% endblock%}

{% block body %}
<div class="page_wrap mar-top">
  <div id="paging-data-list">
    {% for item in items %}
      <p style="margin: 100px;">{{ item.goods_name }}</p>
    {% endfor %}
  </div>

  {{ libs.footer() }}
</div>
{% endblock%}

{% block script %}
{{ libs.paging_js(paging_url, 52) }}
{% endblock%}