{% extends '/default/mobile/layout/base.html.j2' %}
{% import '/default/mobile/libs/libs.html.j2' as libs %}
{% block head %}
<title>{{_('推荐 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/category.css">
<link rel="stylesheet" href="/static/default/mobile/css/index.css"> 
{% endblock%}

{% block body %}
<div class="page_wrap mar-top">
  <ul class="all_list">
    <li class="list_item">
      <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
        <div class="product_phone">
          <img src="/static/default/mobile/img/maintain.png" alt="">
        </div>
        <div class="product_detail">
          <div class="title">小米Note 3 4GB+64GB</div>
          <p class="desc">1600万美颜自拍，2倍变焦双摄</p>
          <div class="price">
            <span>￥999元</span>
            <span class="price_del">￥1299元</span>
          </div>
        </div>
      </a>
    </li>
    <li class="list_item">
      <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
        <div class="product_phone">
          <img src="/static/default/mobile/img/buy.png" alt="">
        </div>
        <div class="product_detail">
          <div class="title">红米S2 3GB+32GB</div>
          <p class="desc">前置1600万超大像素智能美拍</p>
          <div class="price">
            <span>￥1099元</span>
            <span class="price_del"></span>
          </div>
        </div>
      </a>
    </li>
    <li class="list_item">
      <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
        <div class="product_phone">
          <img src="/static/default/mobile/img/buy.png" alt="">
        </div>
        <div class="product_detail">
          <div class="title">红米S2 3GB+32GB</div>
          <p class="desc">前置1600万超大像素智能美拍</p>
          <div class="price">
            <span>￥1099元</span>
            <span class="price_del"></span>
          </div>
        </div>
      </a>
    </li>
    <li class="list_item">
      <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
        <div class="product_phone">
          <img src="/static/default/mobile/img/maintain.png" alt="">
        </div>
        <div class="product_detail">
          <div class="title">红米S2 3GB+32GB</div>
          <p class="desc">前置1600万超大像素智能美拍</p>
          <div class="price">
            <span>￥1099元</span>
            <span class="price_del"></span>
          </div>
        </div>
      </a>
    </li>
    <li class="list_item">
      <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
        <div class="product_phone">
          <img src="/static/default/mobile/img/maintain.png" alt="">
        </div>
        <div class="product_detail">
          <div class="title">红米S2 3GB+32GB</div>
          <p class="desc">前置1600万超大像素智能美拍</p>
          <div class="price">
            <span>￥1099元</span>
            <span class="price_del"></span>
          </div>
        </div>
      </a>
    </li>
  </ul>

  {{ libs.footer() }}
</div>
{% endblock%}

{% block script %}
  {{ libs.paging_js(paging_url, 52) }}
{% endblock%}