{% import 'default/pc/libs/libs.html.j2' as libs %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/default/pc/css/common.css">
 
  {% block head %} {% endblock %}
</head>

<body>
  <!-- 顶部 -->
  <header class="header clearfix">
    <!-- nav -->
    <nav class="top-nav">
      <div class="head-inner" style="height:35px;">
        <ul class="top-nav-tool">
          {% set uid = session.get('uid', 0) %}
          {% set nickname = session.get('nickname', '') %}
          {% if uid %}
            <li class="top-nav_user">
              <div class="user-on">{{ nickname }}</div>
              <div class="user-wrap">
                <div class="one-cell">
                  <div class="one-cell_hd avatar">
                    <img class="ava" src="{{ session.get('avatar', '') }}-square.micro" alt="">
                  </div>
                  <div class="one-cell_bd username">
                    <a href="{{ url_for('pc.me.index') }}">{{ nickname }}</a>
                  </div>
                  <div class="one-cell_ft signout"><a href="{{ url_for('pc.me.signout') }}">{{_('[退出]')}}</a></div>
                </div>
                <div class="user-about">
                  <span>
                    <a href="{{ url_for('pc.order.index', tab_status=0) }}">{{_('我的订单')}}</a>
                  </span>
                  <span>
                    <a href="{{ url_for('pc.me.coupon') }}">{{_('优惠券')}}</a>
                  </span>
                  <span>
                    <a href="{{ url_for('pc.me.collect', p=1, ps=20) }}">{{_('收藏')}}</a>
                  </span>
                  <span>
                    <a href="{{ url_for('pc.me.messages') }}">{{_('消息')}}</a>
                    {% if uid and g.unread_count %}
                      {% set unread_count = g.unread_count if g.unread_count <= 99 else '99+'  %}
                      <i class="user-badge">{{ unread_count }}</i>
                    {% endif %}
                  </span>
                </div>
              </div>
            </li>
          {% else %}
            <li class="top-nav_item">
              <a href="{{ url_for('api.weixin.login_qrcode') }}" class="mouseon">{{_('请登录')}}</a>
            </li>
          {% endif %}
          
          <li class="top-nav_item">
            <a href="{{ url_for('pc.order.index', tab_status=0) }}" class="mouseon">{{_('我的订单')}}</a>
          </li>
          <li class="top-nav_item">
            <a href="{{ url_for('pc.me.coupon') }}" class="mouseon">{{_('优惠券')}}</a>
          </li>
          <li class="top-nav_item">
            <a href="{{ url_for('pc.me.collect', p=1, ps=20) }}" class="mouseon">{{_('收藏')}}</a>
          </li>
          <li class="top-nav_item">
            <a href="{{ url_for('pc.me.messages') }}" class="mouseon">{{_('消息')}}</a>
            {% if uid and g.unread_count %}
              <i class="news-badge">{{ unread_count }}</i>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    <!-- nav end -->

    <!-- logo search -->
    <div class="head-logo">
      <div class="head-inner clearfix bg-white">
        <div class="one-logo">
          <a href="{{ url_for('pc.index.root') }}">
            <img class="logoImg" src="//b.appsimg.com/2017/08/31/540/1504164551874.png" alt="">
          </a>
        </div>
        <div class="one-service">
          <img class="serviceImg" src="//b.appsimg.com/2017/08/31/104/1504179372347.png" alt="">
        </div>
        <div class="head-cart">
          <div class="tool">
            <a href="{{ url_for('pc.cart.root') }}">
              {% set cart_total = session.get('cart_total', 0) %}
              <img class="cart-bag" src="/static/default/pc/img/cart.png" alt="">
              <span class="cart-text">{{_('购物车')}}</span>
              <span id="navs_cart_total" class="cart-badge">{{ cart_total }}</span>
            </a>
          </div>
          <div class="tool-cnt">
            <!-- 未登录时，购物车下拉框显示 -->
            <div class="no-one">
              <span>{{_('您还没有登录，请')}}
                <a href="">{{_('登录')}}</a>
                {{_('后查看购物车')}}
              </span>
            </div>

            <!-- 已登录时，购物车没有商品时下拉框显示-->
            <div class="no-one">
              <span>{{_('购物车中暂无商品，赶紧去')}}
                <a href="{{ url_for('pc.index.root') }}">{{_('商城')}}</a>
                {{_('选购吧')}}
              </span>
            </div>

            <!-- 已登录时，购物车有商品时下拉框显示-->
            <div id="navs_carts" class="cart-cnt">
              <a class="one-cell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                <div class="one-cell_hd avatar">
                  <img src="//i1.mifile.cn/a1/pms_1528719476.67789934!220x220.jpg" alt="">
                </div>
                <div class="one-cell_bd">
                  <p class="all-title">红米6A</p>
                  <p class="all-desc">AI人脸解锁，小巧全面屏，高性能处理器</p>
                </div>
                <div class="one-cell_ft mar-left">
                  <p class="all-price">￥1299</p>
                  <p class="all-count">x1</p>
                </div>
              </a>
              <a class="one-cell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                <div class="one-cell_hd avatar">
                  <img src="//i1.mifile.cn/a1/pms_1528719476.67789934!220x220.jpg" alt="">
                </div>
                <div class="one-cell_bd">
                  <p class="all-title">红米6A</p>
                  <p class="all-desc">AI人脸解锁，小巧全面屏，高性能处理器</p>
                </div>
                <div class="one-cell_ft mar-left">
                  <p class="all-price">￥1299</p>
                  <p class="all-count">x1</p>
                </div>
              </a>
              <a class="one-cell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                <div class="one-cell_hd avatar">
                  <img src="//i1.mifile.cn/a1/pms_1528719476.67789934!220x220.jpg" alt="">
                </div>
                <div class="one-cell_bd">
                  <p class="all-title">红米6A</p>
                  <p class="all-desc">AI人脸解锁，小巧全面屏，高性能处理器</p>
                </div>
                <div class="one-cell_ft mar-left">
                  <p class="all-price">￥1299</p>
                  <p class="all-count">x1</p>
                </div>
              </a>
              <a class="one-cell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                <div class="one-cell_hd avatar">
                  <img src="//i1.mifile.cn/a1/pms_1528719476.67789934!220x220.jpg" alt="">
                </div>
                <div class="one-cell_bd">
                  <p class="all-title">红米6A</p>
                  <p class="all-desc">AI人脸解锁，小巧全面屏，高性能处理器</p>
                </div>
                <div class="one-cell_ft mar-left">
                  <p class="all-price">￥1299</p>
                  <p class="all-count">x1</p>
                </div>
              </a>
            </div>
            <div class="one-cell mar-top not-before">
              <div class="one-cell_bd">
                <p class="cart-text">4件商品，共计
                  <span class="cart-price">￥5888</span>
                </p>
                <a href="{{ url_for('pc.cart.root') }}">
                  <button class="one-btn" type="button">{{_('去购物车结算')}}</button>
                </a>
              </div>
            </div>
            <!-- 已登录时，购物车有商品时显示 end-->
          </div>
        </div>
        <div class="one-search">
          <div class="one-search_form">
            {% set key = request.args.get('search_key',"") %}
            <input type="text" class="one-search_input" placeholder="{{_('请输入搜索内容')}}" autocomplete="off" max-length="15" id='head_search_key' value="{{ key }}">
            <a class="one-search_button">
              <img class="one-search_image" src="/static/default/pc/img/search.png" alt="" onclick="go_search()">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- logo search end -->

    <!-- main-nav -->
    <div class="top-main_nav">
      <div class="head-inner bg-red">
        <ul class="top-main_list clearfix">
          <div class="category-wrap">
            {% set item_on = 'item_on' if request.endpoint == 'pc.index.root' else '' %}
            <li class="top-main_item {{ item_on }}">
              <a class="top-main_atag" href="{{ url_for('pc.index.root') }}">{{_('首页')}}</a>
            </li>
            {% for category in g.pc_nav_categories %}
              {% set cat_id = request.args.get('cat_id','0')|toint %}
              {% set item_on = 'item_on' if (request.endpoint == 'pc.item.index') and (cat_id == category.cat_id) else '' %}
              <li class="top-main_item {{ item_on }}">
                <a class="top-main_atag" href="{{ url_for('pc.item.index', cat_id=category.cat_id) }}">{{ category.cat_name }}</a>
              </li>
            {% endfor %}
          </div>
          {% set item_on = 'item_on' if request.endpoint == 'pc.category.root' else '' %}
          <li class="top-main_allCat {{ item_on }}">
            <a class="top-main_atag" href="{{ url_for('pc.category.root') }}">{{_('全部分类')}}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- main-nav end -->
  </header>
  
  {% block body %} {% endblock %}
  
  <!-- footer -->
  <footer>
    <div class="bg-white clearfix">
      <div class="head-inner">
        <div class="footer-links clearfix">
          <dl class="col-links">
            <dt>服务保障</dt>
            <dd>
              <a href="">正品保证</a>
            </dd>
            <dd>
              <a href="">7天无理由退款</a>
            </dd>
            <dd>
              <a href="">15天无理由换货</a>
            </dd>
          </dl>
          <dl class="col-links">
            <dt>购物指南</dt>
            <dd>
              <a href="">购物流程</a>
            </dd>
            <dd>
              <a href="">会员介绍</a>
            </dd>
            <dd>
              <a href="">常见问题</a>
            </dd>
          </dl>
          <dl class="col-links">
            <dt>配送方式</dt>
            <dd>
              <a href="">免运费政策</a>
            </dd>
            <dd>
              <a href="">配送范围及运费</a>
            </dd>
            <dd>
              <a href="">验货与签收</a>
            </dd>
          </dl>
          <dl class="col-links">
            <dt>支付方式</dt>
            <dd>
              <a href="">微信支付</a>
            </dd>
            <dd>
              <a href="">支付宝支付</a>
            </dd>
            <dd>
              <a href="">货到付款支付</a>
            </dd>
          </dl>
          <dl class="col-links">
            <dt>售后服务</dt>
            <dd>
              <a href="">退款政策</a>
            </dd>
            <dd>
              <a href="">退货退款政策</a>
            </dd>
            <dd>
              <a href="">换货政策</a>
            </dd>
          </dl>
          <dl class="col-links">
            <dt>关注我们</dt>
            <dd>
              <a href="">新浪微博</a>
            </dd>
            <dd>
              <a href="">官方微信</a>
            </dd>
            <dd>
              <a href="">联系我们</a>
            </dd>
          </dl>
          <div class="col-contact">
            <p class="col-contact_phone">189-2842-1920</p>
            <p class="col-contact_time"> 周一至周日 9:00-19:00</p>
          </div>
        </div>
      </div>
    </div>
    <div class="slogan">2018 © 深圳市木棉花云网络科技有限公司</div>
  </footer>
  <!-- footer -->

  <script type="text/javascript" src="/static/default/pc/js/jquery.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  
  //点击搜索图标
  function go_search(){
    var key  = $('#head_search_key').val();

    //关键字为空不响应
    if(typeof key =='undefiined' || key == null || key.replace(/(^\s*)|(\s*$)/g,"") == ''){
      return false;
    }

    window.location.href= "{{ url_for('pc.item.index') }}"+'?p=1&ps=20&search_key='+key;
  }

  //输入框键盘回车监听
  $('#head_search_key').keydown(function(event){
    if(event.keyCode == 13){
      go_search();
    }
  })

  </script>
  
  {% block script %} {% endblock %}
</body>
</html>