<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/default/pc/css/common.css">
 
  {% block head %} {% endblock %}
</head>

<body>
  <!-- 顶部 -->
  <header class="header clearfix">
    <!-- nav -->
    <nav class="top-nav">
      <div class="head-inner" style="height:35px;">
        <ul class="top-nav-tool">
          <!-- 用户未登录时显示 -->
          <!-- <li class="top-nav_item">
            <a href="" class="mouseon">{{_('请登录')}}</a>
          </li> -->
          <!-- 用户未登录时显示 end -->

          <!-- 用户登录时显示 -->
          <li class="top-nav_user">
            <div class="user-on">135****229</div>
            <div class="user-wrap">
              <div class="one-cell">
                <div class="one-cell_hd avatar">
                  <img class="ava" src="http://u.vpimg1.com/upload/myi/2017/06/01/84/avatar_89373029_1496285287409_38x38_90.jpg" alt="">
                </div>
                <div class="one-cell_bd username">
                  <a href="{{ url_for('pc.me.index') }}">135****229</a>
                </div>
                <div class="one-cell_ft signout" onclick="signout()">{{_('[退出]')}}</div>
              </div>
              <div class="user-about">
                <span>
                  <a href="{{ url_for('pc.order.index', tab_status=0) }}">{{_('我的订单')}}</a>
                </span>
                <span>
                  <a href="{{ url_for('pc.me.coupon') }}">{{_('优惠券')}}</a>
                </span>
                <span>
                  <a href="{{ url_for('pc.me.collect') }}">{{_('收藏')}}</a>
                </span>
                <span>
                  <a href="{{ url_for('pc.me.messages') }}">{{_('消息')}}</a>
                  <i class="user-badge">1</i>
                </span>
              </div>
            </div>
          </li>
          <!-- 用户登录时显示 end -->
          
          <li class="top-nav_item">
            <a href="{{ url_for('pc.order.index', tab_status=0) }}" class="mouseon">{{_('我的订单')}}</a>
          </li>
          <li class="top-nav_item">
            <a href="{{ url_for('pc.me.coupon') }}" class="mouseon">{{_('优惠券')}}</a>
          </li>
          <li class="top-nav_item">
            <a href="{{ url_for('pc.me.collect') }}" class="mouseon">{{_('收藏')}}</a>
          </li>
          <li class="top-nav_item">
            <a href="{{ url_for('pc.me.messages') }}" class="mouseon">{{_('消息')}}</a>
            <span class="news-badge">1</span>
          </li>
        </ul>
      </div>
    </nav>
    <!-- nav end -->

    <!-- logo search -->
    <div class="head-logo">
      <div class="head-inner clearfix bg-white">
        <div class="one-logo">
          <a href="{{ url_for('pc.index.root') }}">
            <img class="logoImg" src="http://b.appsimg.com/2017/08/31/540/1504164551874.png" alt="">
          </a>
        </div>
        <div class="one-service">
          <img class="serviceImg" src="http://b.appsimg.com/2017/08/31/104/1504179372347.png" alt="">
        </div>
        <div class="head-cart">
          <div class="tool">
            <a href="{{ url_for('pc.cart.root') }}">
              {% set cart_total = session.get('cart_total', 0) %}
              <img class="cart-bag" src="/static/default/pc/img/cart.png" alt="">
              <span class="cart-text">{{_('购物车')}}</span>
              <span id="navs_cart_total" class="cart-badge">{{ cart_total }}</span>
            </a>
          </div>
          <div class="tool-cnt">
            <!-- 未登录时，购物车下拉框显示 -->
            <div class="no-one">
              <span>{{_('您还没有登录，请')}}
                <a href="">{{_('登录')}}</a>
                {{_('后查看购物车')}}
              </span>
            </div>

            <!-- 已登录时，购物车没有商品时下拉框显示-->
            <div class="no-one">
              <span>{{_('购物车中暂无商品，赶紧去')}}
                <a href="{{ url_for('pc.index.root') }}">{{_('商城')}}</a>
                {{_('选购吧')}}
              </span>
            </div>

            <!-- 已登录时，购物车有商品时下拉框显示-->
            <div id="navs_carts" class="cart-cnt">
              <a class="one-cell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                <div class="one-cell_hd avatar">
                  <img src="http://i1.mifile.cn/a1/pms_1528719476.67789934!220x220.jpg" alt="">
                </div>
                <div class="one-cell_bd">
                  <p class="all-title">红米6A</p>
                  <p class="all-desc">AI人脸解锁，小巧全面屏，高性能处理器</p>
                </div>
                <div class="one-cell_ft mar-left">
                  <p class="all-price">￥1299</p>
                  <p class="all-count">x1</p>
                </div>
              </a>
              <a class="one-cell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                <div class="one-cell_hd avatar">
                  <img src="http://i1.mifile.cn/a1/pms_1528719476.67789934!220x220.jpg" alt="">
                </div>
                <div class="one-cell_bd">
                  <p class="all-title">红米6A</p>
                  <p class="all-desc">AI人脸解锁，小巧全面屏，高性能处理器</p>
                </div>
                <div class="one-cell_ft mar-left">
                  <p class="all-price">￥1299</p>
                  <p class="all-count">x1</p>
                </div>
              </a>
              <a class="one-cell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                <div class="one-cell_hd avatar">
                  <img src="http://i1.mifile.cn/a1/pms_1528719476.67789934!220x220.jpg" alt="">
                </div>
                <div class="one-cell_bd">
                  <p class="all-title">红米6A</p>
                  <p class="all-desc">AI人脸解锁，小巧全面屏，高性能处理器</p>
                </div>
                <div class="one-cell_ft mar-left">
                  <p class="all-price">￥1299</p>
                  <p class="all-count">x1</p>
                </div>
              </a>
              <a class="one-cell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                <div class="one-cell_hd avatar">
                  <img src="http://i1.mifile.cn/a1/pms_1528719476.67789934!220x220.jpg" alt="">
                </div>
                <div class="one-cell_bd">
                  <p class="all-title">红米6A</p>
                  <p class="all-desc">AI人脸解锁，小巧全面屏，高性能处理器</p>
                </div>
                <div class="one-cell_ft mar-left">
                  <p class="all-price">￥1299</p>
                  <p class="all-count">x1</p>
                </div>
              </a>
            </div>
            <div class="one-cell mar-top not-before">
              <div class="one-cell_bd">
                <p class="cart-text">4件商品，共计
                  <span class="cart-price">￥5888</span>
                </p>
                <a href="{{ url_for('pc.cart.root') }}">
                  <button class="one-btn" type="button">{{_('去购物车结算')}}</button>
                </a>
              </div>
            </div>
            <!-- 已登录时，购物车有商品时显示 end-->
          </div>
        </div>
        <div class="one-search">
          <div class="one-search_form">
            <input type="text" class="one-search_input" placeholder="{{_('请输入搜索内容')}}" autocomplete="off" max-length="15">
            <a href="" class="one-search_button">
              <img class="one-search_image" src="/static/default/pc/img/search.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- logo search end -->

    <!-- main-nav -->
    <div class="top-main_nav">
      <div class="head-inner bg-red">
        <ul class="top-main_list clearfix">
          <div class="category-wrap">
            <li class="top-main_item item_on">
              <a class="top-main_atag" href="{{ url_for('pc.index.root') }}">{{_('首页')}}</a>
            </li>
            <li class="top-main_item">
              <a class="top-main_atag" href="{{ url_for('pc.item.index', cat_id=1) }}">{{_('分类一分类一')}}</a>
            </li>
            <li class="top-main_item">
              <a class="top-main_atag" href="{{ url_for('pc.item.index', cat_id=1) }}">{{_('分类二')}}</a>
            </li>
            <li class="top-main_item">
              <a class="top-main_atag" href="{{ url_for('pc.item.index', cat_id=1) }}">{{_('分类三')}}</a>
            </li>
            <li class="top-main_item">
              <a class="top-main_atag" href="{{ url_for('pc.item.index', cat_id=1) }}">{{_('分类四')}}</a>
            </li>
          </div>
          <li class="top-main_allCat">
            <a class="top-main_atag" href="{{ url_for('pc.category.root') }}">{{_('全部分类')}}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- main-nav end -->
  </header>
  
  <!-- 返回顶部 -->
  <!-- <div class="back-top">
    <div class="back-top_img">
      <img src="http://i1.mifile.cn/f/i/2018/home/totop.png" alt="">
    </div>
  </div> -->
  
  {% block body %} {% endblock %}

  <script type="text/javascript" src="/static/default/pc/js/common.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/default/pc/js/jquery.min.js" charset="utf-8"></script>
  
  {% block script %} {% endblock %}
</body>
</html>