<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/default/pc/css/common.css">
 
  {% block head %} {% endblock %}
</head>

<body>
  <!-- 顶部 -->
  <header class="header clearfix">
    <!-- logo search -->
    <div class="head-logo" style="border-bottom:2px solid #f33155">
      <div class="head-inner clearfix bg-white">
        <div class="one-logo">
          <a href="{{ url_for('pc.index.root') }}">
            <img class="logoImg" src="//b.appsimg.com/2017/08/31/540/1504164551874.png" alt="">
          </a>
        </div>
        {% block nav %} {% endblock %}
        <ul class="top-nav-tool" style="margin-top:33px;">
          {% set uid = session.get('uid', 0) %}
          {% set nickname = session.get('nickname', '') %}
          {% if uid %}
            <li class="top-nav_user">
              <div class="user-on">{{ nickname }}</div>
              <div class="user-wrap">
                <div class="one-cell">
                  <div class="one-cell_hd avatar">
                    <img class="ava" src="//u.vpimg1.com/upload/myi/2017/06/01/84/avatar_89373029_1496285287409_38x38_90.jpg" alt="">
                  </div>
                  <div class="one-cell_bd username">
                    <a href="{{ url_for('pc.me.index') }}">{{ nickname }}</a>
                  </div>
                  <div class="one-cell_ft signout" onclick="signout()">{{_('[退出]')}}</div>
                </div>
                <div class="user-about">
                  <span>
                    <a href="{{ url_for('pc.order.index', tab_status=0) }}">{{_('我的订单')}}</a>
                  </span>
                  <span>
                    <a href="{{ url_for('pc.me.coupon') }}">{{_('优惠券')}}</a>
                  </span>
                  <span>
                    <a href="{{ url_for('pc.me.collect', p=1, ps=20) }}">{{_('收藏')}}</a>
                  </span>
                  <span>
                    <a href="{{ url_for('pc.me.messages') }}">{{_('消息')}}</a>
                    {% if g.unread_count %}
                      <i class="user-badge">{{ g.unread_count }}</i>
                    {% endif %}
                  </span>
                </div>
              </div>
            </li>
          {% else %}
            <li class="top-nav_item">
              <a href="" class="mouseon">{{_('请登录')}}</a>
            </li>
          {% endif %}
          
          <li class="top-nav_item">
            <a href="{{ url_for('pc.order.index', tab_status=0) }}" class="mouseon">{{_('我的订单')}}</a>
          </li>
          <li class="top-nav_item">
            <a href="{{ url_for('pc.me.coupon') }}" class="mouseon">{{_('优惠券')}}</a>
          </li>
          <li class="top-nav_item">
            <a href="{{ url_for('pc.me.collect', p=1, ps=20) }}" class="mouseon">{{_('收藏')}}</a>
          </li>
          <li class="top-nav_item">
            <a href="{{ url_for('pc.me.messages') }}" class="mouseon">{{_('消息')}}</a>
            {% if uid and g.unread_count %}
              <i class="news-badge">{{ g.unread_count }}</i>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
    <!-- logo search end -->
  </header>
  
  {% block body %} {% endblock %}

  <!-- footer -->
  <footer>
    <div class="bg-white clearfix">
      <div class="head-inner">
        <div class="footer-links clearfix">
          <dl class="col-links">
            <dt>服务保障</dt>
            <dd>
              <a href="">正品保证</a>
            </dd>
            <dd>
              <a href="">7天无理由退款</a>
            </dd>
            <dd>
              <a href="">15天无理由换货</a>
            </dd>
          </dl>
          <dl class="col-links">
            <dt>购物指南</dt>
            <dd>
              <a href="">购物流程</a>
            </dd>
            <dd>
              <a href="">会员介绍</a>
            </dd>
            <dd>
              <a href="">常见问题</a>
            </dd>
          </dl>
          <dl class="col-links">
            <dt>配送方式</dt>
            <dd>
              <a href="">免运费政策</a>
            </dd>
            <dd>
              <a href="">配送范围及运费</a>
            </dd>
            <dd>
              <a href="">验货与签收</a>
            </dd>
          </dl>
          <dl class="col-links">
            <dt>支付方式</dt>
            <dd>
              <a href="">微信支付</a>
            </dd>
            <dd>
              <a href="">支付宝支付</a>
            </dd>
            <dd>
              <a href="">货到付款支付</a>
            </dd>
          </dl>
          <dl class="col-links">
            <dt>售后服务</dt>
            <dd>
              <a href="">退款政策</a>
            </dd>
            <dd>
              <a href="">退货退款政策</a>
            </dd>
            <dd>
              <a href="">换货政策</a>
            </dd>
          </dl>
          <dl class="col-links">
            <dt>关注我们</dt>
            <dd>
              <a href="">新浪微博</a>
            </dd>
            <dd>
              <a href="">官方微信</a>
            </dd>
            <dd>
              <a href="">联系我们</a>
            </dd>
          </dl>
          <div class="col-contact">
            <p class="col-contact_phone">189-2842-1920</p>
            <p class="col-contact_time"> 周一至周日 9:00-19:00</p>
          </div>
        </div>
      </div>
    </div>
    <div class="slogan">2018 © 深圳市木棉花云网络科技有限公司</div>
  </footer>
  <!-- footer -->
  
  <script type="text/javascript" src="/static/default/pc/js/jquery.min.js" charset="utf-8"></script>
  
  {% block script %} {% endblock %}
</body>
</html>