<div class="navL-wrap">
  <div class="allPad">
    <div class="navL-box">
      <div class="navL-box_hd">{{_('订单中心')}}</div>
      <ul class="navL-box_bd">
        <li class="allOn">
          <a href="">{{_('我的订单')}}</a>
        </li>
        <li>
          <a href="">{{_('评价晒单')}}</a>
        </li>
        <li>
          <a href="">{{_('申请售后服务')}}</a>
        </li>
        <li>
          <a href="">{{_('售后服务记录')}}</a>
        </li>
      </ul>
    </div>
    <div class="navL-box">
      <div class="navL-box_hd">{{_('个人中心')}}</div>
      <ul class="navL-box_bd">
        <li>
          <a href="">{{_('个人信息')}}</a>
        </li>
        <li>
          <a href="">{{_('消息通知')}}</a>
        </li>
        <li>
          <a href="">{{_('钱包')}}</a>
        </li>
        <li>
          <a href="">{{_('我的收藏')}}</a>
        </li>
        <li>
          <a href="">{{_('优惠券')}}</a>
        </li>
        <li>
          <a href="">{{_('收货地址')}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
