<div class="navL-wrap">
  <div class="allPad">
    <div class="navL-box">
      <div class="navL-box_hd">{{_('订单中心')}}</div>
      <ul class="navL-box_bd">
        <li>
          <a class="allOn" href="{{ url_for('pc.order.index', tab_status=0) }}">{{_('我的订单')}}</a>
        </li>
        <li>
          <a href="{{ url_for('pc.order.comment', is_pending=1) }}">{{_('评价晒单')}} (1)</a>
        </li>
        <li>
          <a href="{{ url_for('pc.aftersales.root') }}">{{_('售后服务记录')}}</a>
        </li>
      </ul>
    </div>
    <div class="navL-box">
      <div class="navL-box_hd">{{_('个人中心')}}</div>
      <ul class="navL-box_bd">
        <li>
          <a href="{{ url_for('pc.me.index') }}">{{_('我的个人中心')}}</a>
        </li>
        <li>
          <a href="{{ url_for('pc.me.messages') }}">{{_('消息通知')}} (1)</a>
        </li>
        <li>
          <a href="">{{_('钱包')}}</a>
        </li>
        <li>
          <a href="{{ url_for('pc.me.collect') }}">{{_('我的收藏')}}</a>
        </li>
        <li>
          <a href="">{{_('优惠券')}}</a>
        </li>
        <li>
          <a href="">{{_('收货地址')}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
