@charset "UTF-8";
.cart-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
}
.cart-goods_box {
  background-color: #fff;
  margin-bottom: 30px;
}
.cart-head {
  height: 30px;
  line-height: 30px;
  color: #333;
  font-size: 14px;
  padding: 25px;
}
.cart-check {
  width: 110px;
}
.col {
  float: left;
}
.cart-goods_img {
  width: 120px;
}
.cart-goods_name {
  width: 380px;
}
.cart-goods_price {
  width: 150px;
  text-align: center;
}
.cart-goods_num {
  width: 140px;
  text-align: center;
}
.cart-goods_total {
  width: 150px;
  text-align: center;
}
.cart-goods_action {
  width: 70px;
  text-align: center;
}
.cart-goods_item {
  padding: 25px;
  border-top: 1px solid #eee;
  height: 80px;
}
.cart-goods_item .col {
  line-height: 80px;
}
.cart-goods_item .cart-goods_img {
  width: 80px;
  height: 80px;
  padding-right: 40px;
  overflow: hidden;
}
.cart-goods_item .cart-goods_img img {
  width: 80px;
  height: 80px;
}
.cart-goods_item .cart-goods_num {
  padding-top: 25px;
}
.all-text {
  width: 100%;
  font-size: 16px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.del {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  color: #666;
  margin-top: 28px;
  font-size: 16px;
  transition: all .3s;
}
.del:hover {
  background-color: #f33155;
  color: #fff;
}
.cart-footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1170px;
  height: 50px;
  line-height: 50px;
  z-index: 20;
  background-color: #f5f5f5;
  box-shadow: 0 -3px 5px #eee;
}
.cart-footer_left {
  float: left;
}
.cart-footer_right {
  float: right;
}
.ft-active {
  position: relative !important;
  background-color: #fff !important;
  box-shadow: none !important;
}
.back-shopping {
  padding-left: 25px;
  color: #666;
  font-size: 14px;
}
.back-shopping:hover {
  color: #f33155;
}
.cart-total_num {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #eee;
  color: #666;
  font-size: 14px;
}
.cart-total_num i {
  font-style: normal;
  color: #f33155;
}
.cart-total_price {
  padding-left: 25px;
  font-size: 14px;
  color: #f33155;
}
.cart-total_price em {
  font-size: 30px;
  font-style: normal;
}
.cart-checkout_btn {
  display: inline-block;
  font-size: 18px;
  width: 200px;
  height: 48px;
  line-height: 48px;
  margin-left: 40px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #eee;
}
.checkout-box {
  position: relative;
  background-color: #fff;
  padding: 40px 40px 0;
}
.address-section {
  position: relative;
}
.address-section_header {
  margin-bottom: 20px;
}
.address-section_body {
  position: relative;
  margin-left: -16px;
}
.section-header_title {
  color: #333;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}
.address-body_item {
  position: relative;
  float: left;
  width: 259px;
  height: 172px;
  margin-left: 15px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.address-item_cnt {
  padding: 15px 15px 0;
}
.item-cnt_name {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 18px;
  color: #333;
}
.item-cnt_mobile {
  line-height: 25px;
  color: #666;
  font-size: 14px;
}
.item-cnt_address {
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 25px;
  color: #666;
  font-size: 14px;
}
.item-cnt_edit {
  position: absolute;
  bottom: 10px;
  right: 25px;
}
.edit-btn {
  display: none;
  color: #f33155;
  font-size: 14px;
  line-height: 20px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
}
.selected {
  border: 1px solid #f33155 !important;
}
.selected .edit-btn {
  display: inline-block;
}
.add-new_address {
  text-align: center;
  margin-top: 55px;
  font-size: 14px;
  color: #666;
  line-height: 25px;
}
.add-new_address img {
  width: 30px;
}
.address-show-more {
  clear: both;
  height: 50px;
  line-height: 50px;
  margin-bottom: 30px;
  background-color: #eee;
  color: #333;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.show-more_text {
  position: relative;
  padding-right: 20px;
}
.show-more_text::before {
  content: "";
  position: absolute;
  border-color: #666 transparent transparent transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(100%, 50%);
  top: 1px;
  right: 15px;
}
.show-more_text::after {
  content: "";
  position: absolute;
  border-color: #eee transparent transparent transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(100%, 50%);
  top: -1px;
  right: 15px;
}
.hide-more_text {
  position: relative;
  padding-right: 20px;
}
.hide-more_text::before {
  content: "";
  position: absolute;
  border-color: transparent transparent #666 transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(100%, 50%);
  top: -6px;
  right: 15px;
}
.hide-more_text::after {
  content: "";
  position: absolute;
  border-color: transparent transparent #eee transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(100%, 50%);
  top: -4px;
  right: 15px;
}
.shipment-section {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 35px;
  border-bottom: 1px solid #eee;
}
.shipment-section_header {
  width: 100px;
  float: left;
  text-align: left;
  font-size: 18px;
  color: #333;
}
.shipment-section_body {
  float: left;
  width: 300px;
}
.shipment-select {
  position: relative;
  width: 100%;
  border: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: 14px;
  color: #333;
}
.shipment-text {
  float: left;
  width: 260px;
}
.info-text {
  padding: 0 25px 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sel-info {
  border: 1px solid #f33155;
  color: #f33155;
}
.sel-info::before {
  content: "";
  position: absolute;
  border-color: transparent transparent #f33155 transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(0%, -50%);
  top: 17px;
  left: 235px;
}
.sel-info::after {
  content: "";
  position: absolute;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(0%, -50%);
  top: 19px;
  left: 235px;
}
.select-wrap {
  cursor: pointer;
  padding: 0 10px;
  box-shadow: 0px 3px 5px #eee;
}
.select-wrap li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.shipment-edit_btn {
  display: inline-block;
  cursor: pointer;
  color: #f33155;
  margin-left: 10px;
  border: none;
}
.goods-section {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
.goods-section_header {
  height: 45px;
  line-height: 45px;
}
.goods-section_footer {
  position: relative;
  min-height: 130px;
  padding-top: 20px;
}
.goods-info {
  font-size: 18px;
  color: #333;
}
.back-cart {
  position: relative;
  float: right;
  padding-right: 20px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
.back-cart a {
  display: inline-block;
}
.back-cart::before {
  content: "";
  position: absolute;
  border-color: transparent transparent transparent #666;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(0%, -50%);
  top: 50%;
  right: 0;
}
.back-cart::after {
  content: "";
  position: absolute;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(0%, -50%);
  top: 50%;
  right: 2px;
}
.goods-body_list {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.goods-body_item {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #333;
  font-size: 14px;
  padding: 10px 0;
  overflow: hidden;
}
.goods-item_img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.goods-item_img img {
  width: 100%;
  height: 100%;
}
.goods-item_name {
  width: 550px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.goods-item_price {
  width: 150px;
  text-align: right;
}
.goods-item_num {
  width: 150px;
  padding-left: 5px;
  text-align: left;
}
.goods-item_total {
  width: 155px;
  color: #f33155;
  text-align: center;
}
.coupon-left {
  float: left;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.list-right {
  float: right;
}
.goods-footer_left {
  display: inline-block;
  width: 100px;
  text-align: right;
  color: #333;
  font-size: 14px;
}
.goods-footer_right {
  display: inline-block;
  width: 100px;
  text-align: right;
  color: #666;
  font-size: 14px;
}
.goods-footer_right em {
  font-size: 30px;
  font-style: normal;
}
.sub-section {
  margin-left: -40px;
  margin-right: -40px;
  border-top: 2px solid #f3f4f5;
  padding: 15px 40px 15px 40px;
  height: 50px;
}
.sub-section_left {
  float: left;
}
.seleced-address {
  font-size: 14px;
}
.back-add_btn {
  cursor: pointer;
  color: #f33155;
  font-size: 14px;
  border: none;
}
.editAdd-section {
  width: 660px;
  height: 460px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 10px #424242;
}
.editAdd-section_hd {
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 15px 25px;
  font-size: 18px;
  background-color: #f3f4f5;
}
.editAdd-section_ft {
  padding: 15px 0;
  text-align: center;
  background-color: #f3f4f5;
}
.add-del {
  position: absolute;
  top: 15px;
  right: 25px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  color: #666;
  transition: all .3s;
}
.add-del:hover {
  background-color: #f33155;
  color: #fff;
}
.bd-flex {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}
.bd-input {
  flex: 1;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  color: #666;
  padding: 15px;
}
.placeholder,
.select-item {
  color: #666 !important;
}
.city-picker-span > .title > span:hover {
  background-color: #fff !important;
}
.city-picker-dropdown {
  left: 115px !important;
  top: 50px !important;
  width: 465px !important;
  background-color: #fff;
}
.city-picker-span {
  width: 433px !important;
  height: 18px !important;
  line-height: 18px !important;
  border: 1px solid #ccc !important;
  font-size: 14px;
  color: #666 !important;
  padding: 15px;
}
.city-select-wrap {
  height: 264px;
}
.city-select-tab {
  background: #f3f4f5 !important;
}
.city-select-tab > a.active {
  color: #f33155 !important;
}
.city-select a:hover,
.city-select a:focus {
  background-color: #f3f4f5 !important;
  color: #f33155 !important;
}
.city-select a.active {
  background-color: #f33155 !important;
  color: #fff !important;
}
.bd-label {
  width: 85px;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
  color: #333;
  text-align: justify;
  text-align-last: justify;
  margin-right: 30px;
}
.save-btn,
.cancel-btn {
  display: inline-block;
  width: 158px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #ccc;
  background-color: #ccc;
  text-align: center;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.coupon-img {
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}
.coupon-box {
  position: absolute;
  top: 70px;
  left: 0;
  width: 586px;
  padding: 20px 0;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.18);
  z-index: 100;
}
.coupon-box_hd {
  position: relative;
  height: 30px;
  line-height: 30px;
  padding-bottom: 20px;
  overflow: hidden;
  border-bottom: 2px solid #eee;
}
.coupon-box_bd {
  margin: 20px 25px 0;
  height: 220px;
  width: 516px;
  overflow: hidden;
}
.not-coupon {
  line-height: 220px;
  text-align: center;
  font-size: 16px;
  color: #666;
}
.coupon-list {
  width: 536px;
  height: 220px;
  overflow: auto;
}
.coupon-list_item {
  position: relative;
  float: left;
  width: 249px;
  height: 96px;
  margin-right: 14px;
  margin-bottom: 15px;
  border: 1px solid #f33155;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
}
.coupon-list_item:nth-child(2n) {
  margin-right: 0;
}
.coupon-info {
  position: relative;
  padding: 10px;
  color: #fff;
  background-color: #f33155;
  font-size: 14px;
}
.coupon-amount {
  font-size: 20px;
  margin-right: 5px;
}
.all-store {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  color: #333;
  padding: 0 10px;
}
.order-section,
.payment-section {
  position: relative;
  padding: 40px;
  margin-bottom: 30px;
  background-color: #fff;
}
.order-section_img {
  width: 100px;
  height: 100px;
  margin-right: 40px;
  vertical-align: middle;
}
.order-section_info {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 945px;
  font-size: 14px;
  color: #666;
}
.order-section_detail {
  margin-top: 20px;
  margin-left: 140px;
  padding-top: 30px;
  color: #333;
  font-size: 14px;
  border-top: 1px solid #eee;
}
.order-info_fl {
  float: left;
}
.order-info_fr {
  float: right;
  text-align: right;
}
.order-info_hd {
  font-size: 24px;
  color: #333;
  line-height: 35px;
  margin-bottom: 10px;
}
.order-info_total {
  line-height: 31px;
  margin-bottom: 10px;
}
.order-info_detail {
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  padding-right: 20px;
}
.order-info_detail::before {
  content: "";
  position: absolute;
  border-color: #666 transparent transparent transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(0%, -30%);
  top: 50%;
  right: 4px;
}
.order-info_detail::after {
  content: "";
  position: absolute;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(0%, -50%);
  top: 50%;
  right: 4px;
}
.order-detail_item {
  line-height: 25px;
  margin-bottom: 10px;
}
.detail-label {
  display: inline-block;
  width: 85px;
  vertical-align: top;
}
.detail-cnt {
  display: inline-block;
}
.pay-hd {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-bottom: 1px solid #eee;
  color: #333;
  margin-bottom: 30px;
}
.pay-bd {
  color: #666;
  font-size: 14px;
  text-align: center;
}
.bd-QRcode {
  width: 300px;
  height: 300px;
  margin: 10px auto;
}
.bd-QRcode img {
  width: 100%;
  height: 100%;
}
.bd-weixin {
  height: 30px;
  line-height: 30px;
}
.bd-weixin img {
  height: 30px;
  vertical-align: middle;
}
.compl-img {
  width: 100px;
  height: 100px;
  margin: 40px auto 0;
}
.compl-img img {
  width: 100%;
  height: 100%;
}
.comp-box {
  padding: 40px;
  background-color: #fff;
  text-align: center;
}
.compl-text {
  color: #666;
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 60px;
}
