@charset "UTF-8";
.goods-detail {
  position: relative;
}
.goods-detail_info {
  padding-bottom: 40px;
}
.detail-info_cnt {
  position: relative;
  overflow: hidden;
  margin-left: -15px;
  padding-top: 40px;
}
.detail-info_left {
  position: relative;
  width: 755px;
  float: left;
  margin-left: 15px;
  overflow: hidden;
}
.detail-info_right {
  position: relative;
  width: 400px;
  min-height: 500px;
  margin-left: 15px;
  margin-bottom: 25px;
  float: left;
}
.info-left_box {
  user-select: none;
  position: relative;
  height: 500px;
  text-align: center;
}
.goods-big_pic {
  user-select: none;
  width: 500px;
  height: 500px;
  float: right;
  padding-left: 90px;
  padding-right: 75px;
  z-index: 10;
  cursor: zoom-in;
}
.goods-big_pic img {
  user-select: none;
  width: 100%;
  height: 100%;
}
.goods-small_pic {
  user-select: none;
  position: relative;
  float: left;
  width: 90px;
  overflow: hidden;
}
.small-pic_list {
  width: 110px;
  height: 500px;
  overflow: auto;
}
.small-pic_item {
  width: 78px;
  height: 78px;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  overflow: hidden;
}
.small-pic_item:last-child {
  margin-bottom: 0;
}
.small-pic_item img {
  user-select: none;
  width: 100%;
  height: 100%;
}
.current {
  cursor: default;
  border-color: #f33155;
}
.info-right_box {
  position: relative;
  min-height: 500px;
}
.goods-name {
  color: #333;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.goods-desc {
  font-size: 14px;
  color: #999;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.goods-price {
  height: 65px;
  line-height: 65px;
  font-size: 30px;
  color: #f33155;
  font-weight: 400;
}
.goods-price .price-del {
  font-size: 16px;
}
.not-border {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.not-border::before {
  border-top: none !important;
  height: 0;
}
.buycount {
  font-size: 16px;
  color: #333;
  font-weight: 400;
}
.serve-cell {
  margin-top: 10px;
  border-top: 1px solid #eee;
}
.tagImg {
  width: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.tagText {
  font-size: 12px;
}
.detail_serve {
  height: 30px;
  line-height: 30px;
  color: #999;
  overflow: auto;
}
.detail_serve_item {
  padding: 0px 12px 0px 0;
  display: inline-block;
  line-height: 1;
}
.cartTo,
.buyTo,
.downOut {
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.cartTo {
  background-color: #EA8D42;
}
.buyTo {
  background-color: #f33155;
}
.downOut {
  background-color: #c8c8c8;
}
.goods-scroll {
  display: inline-block;
  flex: 1;
  width: 100%;
  height: 25px;
  line-height: 25px;
  color: #999;
  font-size: 12px;
  text-align: center;
  border-left: 1px solid #eee;
  overflow: hidden;
  cursor: pointer;
}
.goods-scroll:hover {
  color: #f33155;
}
.goods-scroll_img {
  width: 15px;
  margin-right: 5px;
  vertical-align: middle;
}
.tipsImg {
  width: 25px;
  vertical-align: middle;
}
.service-tips:hover .service-all {
  display: block;
}
.service-all {
  position: absolute;
  bottom: 20px;
  right: 0;
  display: none;
  width: 350px;
  background-color: #f3f4f5;
  z-index: 30;
  border: 1px solid #eee;
}
.service-head {
  line-height: 30px;
  color: #333;
  font-size: 14px;
  text-align: center;
}
.service-black {
  font-size: 12px;
  color: #333;
  font-weight: 400;
}
.service-grey {
  font-size: 12px;
  color: #666;
  font-weight: 400;
}
.goods-detail_nav {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #eee;
}
.detail-nav_list {
  width: 680px;
  margin: 0 auto;
  height: 60px;
  text-align: center;
}
.detail-nav_item {
  display: inline-block;
  width: 168px;
  height: 20px;
  margin-top: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  color: #333;
  border-right: 1px solid #eee;
}
.detail-nav_item:last-of-type {
  border-right: none;
}
.detail-nav_head {
  display: block;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.detail-nav_head:hover {
  color: #f33155;
}
.goods-detail-desc {
  width: 750px;
  margin: 0 auto;
}
.goods-detail-desc img {
  width: 100%;
  max-width: 100%;
}
.detailBlock img {
  width: 100%;
  display: block;
}
.goods-comment_head {
  padding-top: 40px;
  margin-bottom: 10px;
}
.main-block {
  height: 60px;
}
.border-line {
  margin-top: 30px;
  height: 0px;
  border-top: 1px solid #eee;
}
.head-text {
  width: 300px;
  height: 30px;
  line-height: 30px;
  margin: -15px auto 0;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: #999;
  background-color: #f3f4f5;
}
.percent-block {
  width: 300px;
  padding: 40px;
  text-align: center;
}
.percent {
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
  color: #f33155;
}
.percent-type {
  font-size: 16px;
  line-height: 30px;
  color: #333;
}
.goods-comment_cnt {
  margin-bottom: 40px;
}
.comment-cnt_item {
  position: relative;
  display: flex;
  padding: 40px;
  border-bottom: 0px;
  -webkit-box-align: start !important;
  align-items: flex-start !important;
}
.comment-cnt_item::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #eee;
  color: #e5e5e5;
  transform-origin: 0 0;
  transform: scaleY(0.5);
  left: 20px;
}
.cnt-item_hd {
  width: 55px;
  height: 55px;
  margin-right: 15px;
  line-height: 55px;
  text-align: center;
}
.cnt-item_hd img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.cnt-item_bd {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}
.rate-text {
  float: right;
  color: #999;
  font-size: 14px;
  font-weight: normal;
}
.review-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.review-add {
  font-size: 16px;
  color: #999;
}
.review_cnt {
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
  word-break: break-all;
}
.comment-img_wrap {
  position: relative;
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 20px;
}
.commentImg {
  display: inline-block;
  width: 160px;
  height: 160px;
  left: 0;
  top: 0;
  margin-right: 5px;
  margin-bottom: 10px;
}
.commentImg img {
  width: 100%;
  height: 100%;
}
.null-comment_cnt {
  padding: 30px;
  line-height: 2;
  text-align: center;
  background-color: #fff;
  font-size: 18px;
  color: #666;
}
#detail img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.buy-succ-box {
  margin-bottom: 26px;
  padding: 0 0 28px 0;
  height: 68px;
  border-bottom: 1px solid #e0e0e0;
}
.box_left {
  float: left;
}
.box_left_img {
  float: left;
  width: 64px;
  height: 64px;
}
.box_left_img img {
  width: 100%;
  height: 100%;
}
.box_left_info {
  float: left;
  margin-left: 20px;
}
.box_left_info h3 {
  color: #333;
  font-size: 24px;
  font-weight: normal;
  margin-top: 3px;
}
.box_left_info span {
  margin-right: 15px;
  font-size: 14px;
  color: #757575;
}
