@charset "UTF-8";
.navL-wrap {
  position: relative;
  float: left;
  width: 220px;
  margin-right: 15px;
  background-color: #fff;
  overflow: hidden;
}
.navL-box {
  margin-top: 15px;
  line-height: 45px;
}
.navL-box:first-child {
  margin-top: 0;
}
.navL-box_hd {
  font-size: 18px;
  color: #333;
}
.navL-box_bd {
  font-size: 14px;
  color: #666;
}
.navL-box li a {
  display: block;
}
.order-wrap {
  position: relative;
  float: left;
  width: 935px;
  background-color: #fff;
}
.order-hd_list {
  padding: 15px 0;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}
.order-hd_item {
  float: left;
  color: #666;
  padding: 0 20px;
  border-right: 1px solid #eee;
}
.order-hd_item:first-child {
  padding-left: 0;
}
.order-hd_item:last-child {
  border-right: none;
}
.order-box_list {
  padding: 15px 0;
}
.order-box_item {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
.item-datail_hd {
  padding: 25px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #666;
}
.item-datail_bd {
  padding: 0 15px;
}
.order-fl {
  float: left;
  margin-right: 20px;
}
.order-num {
  float: left;
  margin-right: 20px;
  font-size: 20px;
}
.order-price {
  float: right;
  line-height: 20px;
}
.price-num {
  font-size: 24px;
}
.order-type {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #b0b0b0;
  margin-bottom: 5px;
}
.order-desc {
  height: 25px;
  line-height: 25px;
}
.orderID {
  color: #333;
}
.orderID:hover {
  color: #f33155;
}
.item-bd_fl {
  width: 75%;
  float: left;
  margin: 10px 0;
  overflow: hidden;
}
.item-bd_fr {
  width: 25%;
  float: right;
  padding: 25px 0 0;
  text-align: right;
  vertical-align: top;
  overflow: hidden;
}
.order-detail_hd {
  height: 32px;
  line-height: 32px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.type-btn {
  float: right;
}
.order-goods_det {
  padding: 25px 0;
  margin-bottom: 10px;
}
.order-status {
  font-size: 18px;
  color: #b0b0b0;
  margin-bottom: 25px;
}
.order-progress {
  height: 65px;
  margin-bottom: 15px;
}
.progress-list {
  display: flex;
  width: 855px;
  height: 20px;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #333;
  background-color: #eee;
}
.step {
  flex: 1;
  height: 20px;
}
.step-done {
  background-color: #83c44e;
  color: #fff;
}
.step-first {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.step-last {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.progress-info {
  margin-top: 15px;
  color: #666;
}
.order-det_info {
  position: relative;
  height: auto;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.step-active {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #83c44e;
  color: #fff;
}
.info-hd {
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}
.info-table {
  color: #666;
}
.info-table tr {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.info-table th {
  width: 90px;
  text-align: justify;
  font-weight: normal;
  vertical-align: top;
}
.actions {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 40px;
}
.total-table {
  width: 255px;
  margin: 0 0 0 auto;
  color: #666;
}
.total-table tr {
  font-size: 14px;
}
.total-table th {
  width: 100px;
  text-align: right;
  font-weight: 400;
}
.total-table td {
  text-align: right;
  color: #f33155;
}
.total-table_tl th {
  padding-top: 20px;
}
.total-table_tl td {
  padding-top: 20px;
  font-size: 30px !important;
}
.order-delivery {
  padding: 0 20px 20px;
  border: 1px solid #eee;
  color: #666;
  font-size: 12px;
}
.delivery-num {
  margin: 10px 0;
  line-height: 30px;
  border-bottom: 1px solid #eee;
}
.delivery-list_box {
  height: 120px;
  overflow: auto;
}
.delivery-list_item {
  position: relative;
  padding: 6px 6px 6px 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.delivery-list_item::before {
  position: absolute;
  top: 0;
  left: 3px;
  width: 1px;
  height: 30px;
  content: '';
  background-color: #eee;
}
.delivery-list_item::after {
  position: absolute;
  top: 11px;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  content: '';
  background-color: #eee;
}
.firstOn::before {
  width: 0 !important;
}
.firstOn::after {
  background-color: #83c44e !important;
}
.first::before {
  top: 15px !important;
  height: 15px !important;
}
.first::after {
  background-color: #83c44e !important;
}
.last:before {
  height: 15px !important;
}
.delivery-more {
  margin-top: -1px;
  margin-bottom: 20px;
  padding: 8px 20px;
  border: 1px solid #eee;
  text-align: center;
  color: #333;
  font-size: 14px;
}
.delivery-more .show-more_text::after {
  border-color: #fff transparent transparent transparent;
}
.delivery-more .hide-more_text::after {
  border-color: transparent transparent #fff transparent;
}
.goods-info_block {
  padding-top: 25px;
  float: left;
  width: 375px;
  overflow: hidden;
  text-align: center;
}
.goods-add_com {
  position: relative;
  float: left;
  width: 700px;
  min-height: 405px;
  margin-left: 15px;
}
.rate-type_box {
  margin-bottom: 25px;
}
.comment-cnt {
  padding: 15px 20px;
  border: 1px solid #eee;
}
.comment-cnt_text {
  width: 100%;
  height: 120px;
  font-size: 14px;
  color: #666;
  border: none;
  resize: none;
}
.uploader_wrap {
  margin-top: 25px;
  margin-bottom: 25px;
}
.one-uploader_bd {
  margin-bottom: -4px;
  margin-right: -9px;
  overflow: hidden;
}
.one-uploader_file {
  position: relative;
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
  width: 100px;
  height: 100px;
  background: no-repeat 50%;
  background-size: cover;
  cursor: pointer;
}
.one-uploader_file img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
.one-uploader_input-box {
  float: left;
  position: relative;
  margin-right: 9px;
  margin-bottom: 9px;
  width: 98px;
  height: 98px;
  border: 1px solid #ccc;
}
.one-uploader_input-box::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  width: 2px;
  height: 39.5px;
}
.one-uploader_input-box::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  width: 39.5px;
  height: 2px;
}
.one-uploader_input {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.reg-btn {
  width: 200px;
  margin: 0 0 0 auto;
}
.box-hd {
  border-bottom: 1px solid #eee;
}
.box-hd_list {
  font-size: 16px;
  margin: 10px 0 20px;
}
.box-hd_item {
  display: inline-block;
  padding: 0 20px;
  color: #666;
  border-left: 1px solid #eee;
  cursor: pointer;
}
.box-hd_item:first-child {
  padding-left: 0;
  border-left: 0;
}
.box-hd_item a {
  display: block;
}
.list-item2 {
  position: relative;
  height: 380px;
  flex: 0 1 calc(34% - 26px);
  padding-top: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 30px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
}
.list-item2:nth-child(3n) {
  margin-right: 0;
}
.all-list .item-product {
  width: 200px;
  height: 200px;
}
.all-list .item-detail {
  width: 200px;
  height: 55px;
}
.all-list .review-btn_wrap {
  visibility: hidden;
  opacity: 0;
  font-size: 0;
  transition: opacity 0.4s;
  text-align: center;
}
.all-list .review-btn_link {
  width: 108px;
  height: 28px;
  margin: 14px auto 20px;
  display: inline-block;
  color: #b0b0b0;
  line-height: 28px;
  border: 1px solid #b0b0b0;
  font-size: 12px;
  transition: all 0.4s;
}
.list-item:hover .review-btn_wrap {
  visibility: visible;
  opacity: 1;
}
.list-item2:hover .review-btn_wrap {
  visibility: visible;
  opacity: 1;
}
.goods-info_block .list-item {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.goods-info_block .item-product {
  margin: 25px auto 35px;
  width: 200px;
  height: 200px;
}
.goods-info_block .item-detail {
  width: 200px;
  height: 55px;
}
.add-cart {
  margin-top: 20px;
  text-align: center;
}
.add-cart_btn {
  cursor: pointer;
  width: 100%;
  height: 45px;
  font-size: 14px;
}
.goods-com_box {
  position: relative;
  float: left;
  width: 730px;
  margin-right: 15px;
  padding: 25px;
  background-color: #fff;
}
.goods-com_box .one-cell {
  align-items: normal;
}
.review-cnt {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.all-username {
  font-size: 18px;
  color: #333;
  height: 25px;
  line-height: 25px;
}
.typeText {
  float: right;
  color: #f33155;
  font-size: 16px;
}
.cash-overall {
  padding: 20px 0;
  color: #333;
  font-size: 14px;
}
.balance {
  float: left;
  line-height: 1;
}
.balance-num {
  font-size: 32px;
  color: #f33155;
  font-weight: 400;
}
.recharge {
  float: right;
  line-height: 32px;
}
.recharge:hover {
  color: #f33155 !important;
}
.recharge img {
  height: 20px;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}
.fundsChu {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #EA8D42;
  margin-bottom: 5px;
}
.fundsRu {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #f33155;
  margin-bottom: 5px;
}
.transaction-add {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  color: #666;
}
.transaction-btn {
  position: relative;
  height: 25px;
  line-height: 25px;
  padding-right: 20px;
  font-size: 14px;
  color: #666;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.transaction-btn::before {
  content: "";
  position: absolute;
  border-color: #666 transparent transparent transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(0%, -30%);
  top: 50%;
  right: 4px;
}
.transaction-btn::after {
  content: "";
  position: absolute;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  transform: translate(0%, -50%);
  top: 50%;
  right: 4px;
}
.transaction-detail {
  padding: 25px;
  color: #333;
  font-size: 14px;
  border-top: 1px solid #eee;
}
.aftersales_img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.aftersales_img img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
.track-num {
  width: 200px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
}
.aftersales-tips {
  font-size: 12px;
  color: #ccc;
}
.reg-submit_btn {
  width: 200px;
  margin: 15px auto 0 0;
}
.reg-submit_btn .one-btn {
  border-radius: 0;
}
.delete-box {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
