<!DOCTYPE html>  
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>{{ _('404页面不存在 - 一店') }}</title>
<!-- Bootstrap Core CSS -->
<link href="/static/default/admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- animation CSS -->
<link href="/static/default/admin/css/animate.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/static/default/admin/css/style.css" rel="stylesheet">
<!-- color CSS -->
<link href="/static/default/admin/css/colors/megna.css" id="theme" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
<!-- Preloader -->

<section id="wrapper" class="error-page">
  <div class="error-box">
    <div class="error-body text-center">
      <h1 class="text-danger">404</h1>
      <h3 class="text-uppercase">{{ _('页面没找到') }}</h3>
      <p class="text-muted m-t-30 m-b-30 text-uppercase">{{ _('我们有时像迷途的小孩，找不到回家的路。') }}</p>
      <a href="{{ url_for('admin.index.dashboard') }}" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">{{ _('返回主面板') }}</a> </div>
    <footer class="footer text-center">2018 © {{ _('深圳市木棉花云网络科技有限公司') }}</footer>
  </div>
</section>
<!-- jQuery -->
<script src="/static/default/admin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/default/admin/bootstrap/dist/js/bootstrap.min.js"></script>


</body>
</html>
