<!-- Left Sidebar - style you can find in sidebar.scss  -->
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav slimscrollsidebar">
    <div class="sidebar-head">
      <h3>
        <span class="fa-fw open-close">
          <i class="ti-close ti-menu"></i>
        </span>
        <span class="hide-menu">Navigation</span>
      </h3>
    </div>
    <div class="user-profile"></div>
    <ul class="nav" id="side-menu">
      <li>
        <a href="{{ url_for('admin.auth.index') }}" class="waves-effect">
          <i class="mdi mdi-account-card-details fa-fw"></i>
          <span class="hide-menu">{{_('管理员')}}</span>
        </a>
      </li>
      <li class="devider"></li>
      <li>
        <a href="tables.html" class="waves-effect">
          <i class="mdi mdi-table fa-fw"></i>
          <span class="hide-menu">Tables
            <span class="fa arrow"></span>
            <span class="label label-rouded label-danger pull-right">9</span>
          </span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <a href="basic-table.html">
              <i class="fa-fw">B</i>
              <span class="hide-menu">Basic Tables</span>
            </a>
          </li>
          <li>
            <a href="table-layouts.html">
              <i class="fa-fw">L</i>
              <span class="hide-menu">Table Layouts</span>
            </a>
          </li>
          <li>
            <a href="data-table.html">
              <i class="fa-fw">D</i>
              <span class="hide-menu">Data Table</span>
            </a>
          </li>
          <li>
            <a href="bootstrap-tables.html">
              <i class="fa-fw">B</i>
              <span class="hide-menu">Bootstrap Tables</span>
            </a>
          </li>
          <li>
            <a href="responsive-tables.html">
              <i class="fa-fw">R</i>
              <span class="hide-menu">Responsive Tables</span>
            </a>
          </li>
          <li>
            <a href="editable-tables.html">
              <i class="fa-fw">E</i>
              <span class="hide-menu">Editable Tables</span>
            </a>
          </li>
          <li>
            <a href="foo-tables.html">
              <i class="fa-fw">F</i>
              <span class="hide-menu">FooTables</span>
            </a>
          </li>
          <li>
            <a href="jsgrid.html">
              <i class="fa-fw">J</i>
              <span class="hide-menu">JsGrid Tables</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- End Left Sidebar -->