<!-- Left Sidebar - style you can find in sidebar.scss  -->
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav slimscrollsidebar">
    <div class="sidebar-head">
      <h3>
        <span class="fa-fw open-close">
          <i class="ti-close ti-menu"></i>
        </span>
        <span class="hide-menu">Navigation</span>
      </h3>
    </div>
    <div class="user-profile"></div>
    <ul class="nav" id="side-menu">
      <li>
        <a href="{{ url_for('admin.auth.index') }}" class="waves-effect">
          <i class="mdi mdi-account-card-details fa-fw"></i>
          <span class="hide-menu">{{_('管理员')}}</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('admin.sys.setting') }}" class="waves-effect">
          <i class="mdi mdi-account-card-details fa-fw"></i>
          <span class="hide-menu">{{_('配置项')}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- End Left Sidebar -->