<!-- Topbar header - style you can find in pages.scss -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
  <div class="navbar-header">
    <div class="top-left-part">
      <!-- Logo -->
      <a class="logo" href="{{ url_for('admin_index.dashboard') }}">
        <!-- Logo icon image, you can use font-icon also -->
        <b>
          <!--This is dark logo icon-->
          <img src="/static/default/admin/plugins/images/admin-logo.png" alt="home" class="dark-logo" />
          <!--This is light logo icon-->
          <img src="/static/default/admin/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
        </b>
        <!-- Logo text image you can use text also -->
        <span class="hidden-xs">
          <!--This is dark logo text-->
          <img src="/static/default/admin/plugins/images/admin-text.png" alt="home" class="dark-logo" />
          <!--This is light logo text-->
          <img src="/static/default/admin/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
        </span>
      </a>
    </div>
    <!-- /Logo -->
    <!-- Search input and Toggle icon -->
    <ul class="nav navbar-top-links navbar-left">
      <li>
        <a href="javascript:void(0)" class="open-close waves-effect waves-light">
          <i class="ti-menu"></i>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right pull-right">
      <li>
        <form role="search" class="app-search hidden-sm hidden-xs m-r-10" action="" id="top_search_order_form">
          <input type="text" placeholder="{{ _('搜索订单号') }}" class="form-control" name="order_sn" required>
          <button type="submit" style="border:none;">
            <a class="active" href="">
              <i class="fa fa-search"></i>
            </a>
          </button>
        </form>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
          <img src="{{ session['avatar']|format_avatar }}" alt="user-img" width="36" class="img-circle">
          <b class="hidden-xs">{{ session['username'] }}</b>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-user animated flipInY" style="animation-duration:0s;">
          <li>
            <div class="dw-user-box">
              <div class="u-img">
                <img src="{{ session['avatar']|format_avatar }}" alt="user" />
              </div>
              <div class="u-text">
                <h4>{{ session['username'] }}</h4>
                <p class="text-muted">{{ session['mobile'] }}</p>
                <a href="profile.html" class="btn btn-rounded btn-danger btn-sm">{{ _('个人资料') }}</a>
              </div>
            </div>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="{{ url_for('admin_auth.edit', admin_uid=session['admin_uid']) }}">
              <i class="fa fa-gear"></i> {{ _('帐户设置') }}</a>
          </li>
          <li>
            <a href="{{ url_for('admin_auth.password') }}">
              <i class="fa fa-key"></i> {{ _('修改密码') }}</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="{{ url_for('admin_index.signout') }}">
              <i class="fa fa-power-off"></i> {{ _('安全退出') }}</a>
          </li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
  </div>
  <!-- /.navbar-header -->
  <!-- /.navbar-top-links -->
  <!-- /.navbar-static-side -->
</nav>
<!-- End Top Navigation -->
