@charset "UTF-8";

@import "variables.less";

.cart_phone{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  img{
    width: 100%;
    height: 50px;
  }
}
.cart_count{
  color: @grey-color6;
  font-size: @font-size12;
  font-weight: @font-weight400;
}
.weui-icon-checked{
  margin-top:-40px;
  margin-left: -10px;
}
.settlement_wrap{
  position: fixed;
  bottom: 51px;
  left: 0;
  right: 0;
}
.all_check{
  display: inline-block;
  color: @black-color;
  font-size: @font-size14;
}
.ft_width{
  width: 20px;
  margin-left: 10px;
}
.weui-picker-modal{
  .weui-cells_radio{
    .weui-cell__ft{
      width: 20px;
    }
  }
}
.weui-cell{
  .apply-service_num{
    width: 120px;
    height: 30px;
    line-height: 30px; 
  }
  .num_minus,.num_add{
    padding: 15px;
    float: left;
  }
  .num_minus::before{
    top: 15px;
    left: 5px;
    height: 2px;
    width: 16px;
    background: @main-color;
  }
  .num_add::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 5px;
    height: 2px;
    width: 16px;
    background: @main-color;
  }
  .num_add::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 12px;
    height: 16px;
    width: 2px;
    background: @main-color;
  }
  .num_ipt {
    float: left;
    width: 48px;
    height: 28px;
    margin: 0px 5px;
    text-align: center;
    color: @main-color;
    font-size: @font-size14;
    border: 1px solid @main-color;
  }
}
 
