@charset "UTF-8";

.cart_wrap{
  .cart_phone{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    img{
      width: 100%;
      height: 50px;
    }
  }
  .weui-swiped-btn{
    height: 50px;
    line-height: 50px;
  }
  .cart-count{
    width: 80px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #f33155;
    text-align: center;
    background-color: #fff;
    position: relative;
    zoom: 1;
    .count__btn{
      position: relative;
      width: 25px;
      display: inline-block;
      height: 18px;
      line-height: 18px;
      background: #f33155;
      transition: all .3s;
    }
    .count__decrease{
      float: left;
    }
    .count__decrease::before{
      content: " ";
      position: absolute;
      height: 2px;
      width: 11px;
      background-color: #fff;
      left: 50%;
      top: 50%;
      margin-left: -6.5px;
    }
    .count__increase{
      float: right;
    }
    .count__increase::before{
      content: " ";
      position: absolute;
      height: 2px;
      width: 11px;
      background-color: #fff;
      left: -100%;
      top: 50%;
      margin-left: 32.5px;
    }
    .count__increase::after{
      content: " ";
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: #fff;
      height: 11px;
      width: 2px;
      margin-top: -5.5px;
      margin-left: 0px;
    }
    .count__number{
      float: left;
      width: 30px;
      height: 18px;
      line-height: 18px;
      padding: 0;
      border-width: 0;
      color: #424242;
      font-size: 12px;
      text-align: center;
    }
  }
}
.weui-icon-checked{
  margin-top:-40px;
  margin-left: -10px;
}
.weui-cell_swiped{
  padding:0;
}
.settlement_wrap{
  position: fixed;
  bottom: 51px;
  left: 0;
  right: 0;
}
.cart_bar{
  background: #fff;
  height: 45px;
  line-height: 45px;;
}
.all_check{
  display: inline-block;
  color: #333;
  font-size: 12px;
}
.total-price{
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: #333;
}
.btn_primary{
  display: inline-block;
  font-size: 14px;
  width: 100px;
  color: #fff;
  background: #f33155;
  margin-left: 10px;
  text-align: center;
}
.total{
  position: absolute;
  right: 0;
}
.not-cart{
  text-align: center;
}
.not-cart_img{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 50px auto 30px;
  background: #E1E2E2;
}
.not-cart_text{
  font-size: 18px;
  color: #333;
  font-weight: 400;
}
.weui-btn_red{
  background: #f33155 !important;
  font-size: 18px;
  font-weight: 400;
  height: 45px;
}
.notcart{
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}
