{# 售后审核状态 #}
{% set AFTERSALES_STATUS_STEP_ONE = {0:_('审核'),1:_('审核中'), 2:_('审核通过'), 3:_('审核不通过')} %}
{# 售后退款状态 #}
{% set AFTERSALES_STATUS_STEP_TWO = {0:_('退款'),1:_('退款中'), 2:_('退款成功'), 3:_('退款失败')} %}
{# 售后退货状态 #}
{% set AFTERSALES_STATUS_STEP_THREE = {0:_('完成'),1:_('退款中'), 2:_('退款成功'), 3:_('退款失败')} %}
{# 售后服务状态 #}
{% set AFTERSALES_STATUS_STEP_FOUR = {0:_('完成'),3:_('已完成'), 4:_('未完成')} %}