{# 售后审核状态 #}
{% set AFTERSALES_STATUS_CHECK = {0:_('审核'),1:_('审核中'), 2:_('审核通过'), 3:_('审核不通过')} %}

{# 售后退款状态 #}
{% set AFTERSALES_STATUS_REFUND = {0:_('退款'),1:_('退款中'), 2:_('退款成功'), 3:_('退款失败')} %}

{# 售后收货状态1 #}
{% set AFTERSALES_STATUS_RECEIVER = {0:_('商家收货'),1:_('待寄回'), 2:_('商家待收货'), 3:_('商家已收到货')} %}

{# 售后出库状态 #}
{% set AFTERSALES_STATUS_DELIVERY = {0:_('客户收货'),1:_('待发货'), 2:_('待收货'), 3:_('已收货')} %}

{# 售后服务状态 #}
{% set AFTERSALES_STATUS_RESULT = {0:_('完成'),3:_('已完成')} %}

{# 售后服务类型 #}
{% set AFTERSALES_TYPE = {1:_('仅退款'),2:_('退货退款'),3:_('仅换货')} %}

{# 评价文本 #}
{% set RATING_TEXT = {1:_('差评'), 2:_('中评'), 3:_('好评')} %}

{# 支付方式 #}
{% set PAY_METHOD = {'weixin':_('微信支付'), 'alipay':_('支付宝支付'), 'funds':_('余额支付')} %}

{# 消息类型 #}
{% set MESSAGE_TYPE = {0:_('系统消息'), 1:_('订单消息'), 2:_('待定义')} %}

{# 资金事件 #}
{% set FUNDS_EVENT = {1:_('余额充值'), 2:_('余额支付'), 3:_('订单退款')} %}