{# 分页 - 分页html #}
{% macro pagination_html(pagination, page_size=20) -%}
  <div class="page-box">
    {{ build_pagination_html(pagination, page_size) }}
  </div>
{% endmacro %}

{# 分页 - 生成分页html #}
{% macro build_pagination_html(pagination, page_size) %}
  {% if pagination.total > 0 %}
    {% set has_prev = 1 if pagination.has_prev else 0 %}
    {% set href = pagination_href(pagination.prev_num, page_size) if pagination.has_prev else 'javascript:void(0);' %}
    {% if has_prev == 1 %}
      <a class="page-num page-first" href="{{ href }}">
        <i class="icon-xiaoyu"></i>
      </a>
    {% else %}
      <span class="page-num page-first">
        <i class="icon-xiaoyu"></i>
      </span>
    {% endif %}

    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% set btn_current = 'btn-current' if page == pagination.page else '' %}
        {% set href = 'javascript:void(0);' if page == pagination.page else pagination_href(page, page_size) %}
        <a class="page-num {{ btn_current }}" href="{{ href }}">{{ page }}</a>
      {% else %}
        <span class="page-more">...</span>
      {% endif %}
    {% endfor %}

    {% set has_next = 1 if pagination.has_next else 0 %}
    {% set href = pagination_href(pagination.next_num, page_size) if pagination.has_next else 'javascript:void(0);' %}
    {% if has_next == 1 %}
      <a class="page-num page-last" href="{{ href }}">
        <i class="icon-dayu"></i>
      </a>
    {% else %}
      <span class="page-num page-last">
        <i class="icon-dayu"></i>
      </span>
    {% endif %}
  {% endif %}
{% endmacro %}

{# 分页 - 分页URL #}
{% macro pagination_href(page, page_size) %}
  {% set page_size = page_size if page_size else request.view_args.get('page_size', 20) %}
  {% set query_string = request.args.to_dict()|request_args_to_query_string(page, page_size) %}
  {{ url_for(request.endpoint) }}?{{ query_string }}
{% endmacro %}

{# 分页 - js分页html #}
{% macro pagination_html_js(pagination, params, page_size=20) -%}
  <div class="page-box">
    {{ build_pagination_html_js(pagination, params, page_size) }}
  </div>
{% endmacro %}

{# 分页 - 生成js分页html #}
{% macro build_pagination_html_js(pagination, params, page_size) %}
  {% set page_size = page_size if page_size else request.view_args.get('page_size', 20) %}
  {% if pagination.total > 0 %}
    {% set has_prev = 1 if pagination.has_prev else 0 %}
    {% if has_prev == 1 %}
      {% set query_string = params|request_args_to_query_string(pagination.prev_num, page_size) %}
      <a class="page-num page-first" href="javascript:void(0);" onclick="jump_page('{{ query_string }}')">
        <i class="icon-xiaoyu"></i>
      </a>
    {% else %}
      <span class="page-num page-first">
        <i class="icon-xiaoyu"></i>
      </span>
    {% endif %}

    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% set btn_current = 'btn-current' if page == pagination.page else '' %}
        {% if page == pagination.page %}
          <a class="page-num {{ btn_current }}" href="javascript:void(0);">{{ page }}</a>
        {% else %}
          {% set query_string = params|request_args_to_query_string(page, page_size) %}
          <a class="page-num {{ btn_current }}" href="javascript:void(0);" onclick="jump_page('{{ query_string }}')">{{ page }}</a>
        {% endif %}
      {% else %}
        <span class="page-more">...</span>
      {% endif %}
    {% endfor %}

    {% set has_next = 1 if pagination.has_next else 0 %}
    {% if has_next == 1 %}
      {% set query_string = params|request_args_to_query_string(pagination.next_num, page_size) %}
      <a class="page-num page-last" href="javascript:void(0);" onclick="jump_page('{{ query_string }}')">
        <i class="icon-dayu"></i>
      </a>
    {% else %}
      <span class="page-num page-last">
        <i class="icon-dayu"></i>
      </span>
    {% endif %}
  {% endif %}
{% endmacro %}

{# 判断个人中心-左侧菜单选中项 #}
{% macro get_me_navclass(nav_cat) %}
  {% set nav_cat_dict = {
    'order':['pc.order.index', 'pc.order.detail', 'pc.aftersales.apply_step0','pc.aftersales.apply_step1','pc.aftersales.apply_step2','pc.aftersales.apply_step3'],
    'comment':['pc.order.comment'],
    'aftersales':['pc.aftersales.root', 'pc.aftersales.detail'],
    'profile':['pc.me.index'],
    'messages':['pc.me.messages'],
    'wallet':['pc.wallet.root'],
    'collect':['pc.me.collect'],
    'coupon':['pc.me.coupon'],
    'addresses':['pc.me.addresses'],
  }%}
  {% set endpoint_list = nav_cat_dict.get(nav_cat, []) %}
  {% set class_on = ' class="allOn" ' if request.endpoint in endpoint_list else '' %}
  {{ class_on }}
{% endmacro %}

{# 优惠券列表数据填充 #}
{% macro fill_coupon_data(coupons) %}
  {% if coupons %}
    <div class="order-bd pad-top40">
      <ul class="coupon-box_list clearfix">
        {% for coupon in coupons %}
          {% if coupon.is_valid == 0 or coupon.order_id > 0  %}
            <li class="coupon-box_item border-eee">
              <div class="coupon-info bg-eee">
                <div class="wave"></div>
                <p>
                  <span class="coupon-amount">￥{{ coupon.coupon_amount }}</span>
                  {{ coupon.coupon_name }}
                </p>
                {% set validtime = '' if end_time==0 else coupon.end_time|timestamp2str('YYYY.MM.DD') %}
                <p>{{_('有效期')}}：{{ validtime }}</p>
              </div>
              {% set suitgoods = coupon.limit_goods_name if coupon.limit_goods_name else '全场通用' %}
              <div class="all-store color-eee">{{ suitgoods }}</div>
            </li>
          {% else %}
            <li class="coupon-box_item"  onclick="go_home()"> 
              <div class="coupon-info">
                <div class="wave"></div>
                <p>
                  <span class="coupon-amount">￥{{ coupon.coupon_amount }}</span>
                  {{ coupon.coupon_name }}
                </p>
                {% set validtime = '' if end_time==0 else coupon.end_time|timestamp2str('YYYY.MM.DD') %}
                <p>{{_('有效期')}}：{{ validtime }}</p>
              </div>
              {% set suitgoods = coupon.limit_goods_name if coupon.limit_goods_name else '全场通用' %}
              <div class="all-store">{{ suitgoods }}</div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="not-one">
      <p class="not-one_text">{{_('未找到相应优惠券!')}}</p>
      <a class="not-one_btn btn-primary" href="{{ url_for('pc.index.root') }}">{{_('到商场去看看')}}</a>
    </div>
  {% endif %}
    
{% endmacro %}