{% extends '/default/pc/layout/base.html.j2' %}
{% import '/default/pc/libs/const.html.j2' as const %}
{% block head %}
<title>{{_('查看评价 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/index.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('查看评价')}}</span>
      </p>
    </div>
  </div>
  <div class="user-main">
    <div class="head-inner">
      {% if order_goods and order_goods.is_delete == 0 %}
        <!-- 商品并未在后台被删除的时候显示 start -->
        <div class="clearfix">
          <div class="goods-com_box clearfix">
            <div class="one-cell">
              <div class="one-cell_hd avatar60">
                <img class="ava" src="{{ comment.avatar }}" alt="">
              </div>
              <div class="one-cell_bd">
                <div class="all-username">
                  {{ comment.nickname }}
                  <span class="typeText">{{ const.RATING_TEXT.get(comment.rating,'') }}</span>
                </div>
                <div class="all-add mar-top">{{ comment.add_time|timestamp2str }}</div>
                <div class="review-cnt mar-top">{{ comment.content }}</div>
                <ul class="weui-uploader__files mar-top" id="uploaderFiles">
                  {% set img_data = comment.img_data|json_loads if comment.img_data %} {% for img in img_data %}
                  <li class="weui-uploader__file" style="background-image:url('{{ img }}')"></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="goods-info_block bg-white">
            <div class="list-item">
              <a href="{{ url_for('pc.item.detail', goods_id=order_goods.goods_id) }}">
                <div class="item-product">
                  <img src="{{ order_goods.goods_img }}" alt="">
                </div>
                <div class="item-detail">
                  <div class="all-title"> {{ order_goods.goods_name }}</div>
                  <div class="all-price mar-top">￥{{ order_goods.goods_price }}</div>
                </div>
              </a>
              <div class="add-cart" onclick="addCar({{ order_goods.goods_id }})" data-tid="{{ order_goods.goods_id }}">
                <button class="add-cart_btn btn-primary">{{_('加入购物车')}}</button>
              </div>
            </div>
          </div>
        </div>
        <!-- 商品并未在后台被删除的时候显示 end -->
      {% else %}
        <!-- 商品已在后台被删除的时候显示 start -->
        <div class="not-one">
          <p class="not-one_text">{{_('商品不存在')}}</p>
          <a class="not-one_btn btn-primary" href="{{ url_for('pc.index.root') }}">{{_('去首页看看')}}</a>
        </div>
        <!-- 商品已在后台被删除的时候显示 end -->
      {%endif%}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

 //加入购物车
  function addCar(goods_id) {
    var quantity = 1;
    //var goods_id = parseInt($(".add-cart").attr("data-tid"));
    $.get("{{ url_for('api.cart.add') }}", {'goods_id':goods_id, 'quantity':quantity}, function(json) {
      if (json.ret != 0) {
        // 优化alert ??
        alert(res.msg);
        return false;
      }
      $("#navs_cart_total").text(json.data.cart_total);
    });
  }
</script>
{% endblock%}