{% extends '/default/pc/layout/base.html.j2' %}

{% block head %}
<title>{{_('评价中心 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/me.css">
<link rel="stylesheet" href="/static/default/pc/css/index.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('评价中心')}}</span>
      </p>
    </div>
    <div class="user-main">
      <div class="head-inner">
        <div class="allPad bg-white clearfix">
          <ul style="display:flex;">
            <li class="list-item">
              <div class="item-product">
                <img src="http://i1.mifile.cn/a1/pms_1522666970.27937468!185x185.jpg" alt="">
              </div>
              <div class="item-detail">
                <div class="all-title"> 小米AI音箱 白</div>
                <div class="all-price mar-top">￥299</div>
              </div>
            </li>
            <li class="list-item">
              <div class="item-product">
                <img src="http://i1.mifile.cn/a1/pms_1522666970.27937468!185x185.jpg" alt="">
              </div>
              <div class="item-detail">
                <div class="all-title"> 小米AI音箱 白</div>
                <div class="all-price mar-top">￥299</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"></script>
{% endblock%}