{% extends '/default/pc/layout/base.html.j2' %}
{% import '/default/pc/libs/const.html.j2' as const %}

{% block head %}
<title>{{_('订单详情 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/order.css">
<link rel="stylesheet" href="/static/default/pc/css/cart.css">
<link rel="stylesheet" href="/static/default/pc/iconfont/iconfont.css">
<link rel="stylesheet" href="/static/default/pc/css/city-picker.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('订单详情')}}</span>
      </p>
    </div>
  </div>
  <div class="user-main">
    <div class="head-inner clearfix">
      {%include 'default/pc/layout/nav_left.html.j2'%}
      <div class="order-wrap">
        <div class="allPad">
          <div class="order-detail_hd">
            <div class="order-num">
              <span>{{_('订单号：')}}</span>
              <span>{{ order.order_sn }}<span>
            </div>
            <div class="type-btn">
              <!-- 含有取消指令，有取消订单按钮 -->
              {% if 2 in code %}
                <a class="order-type_btn mar-right" href="javascript:;" onclick="calOrder({{ order.order_id }})">{{_('取消订单')}}</a>
              {% endif %}

              <!-- 含有删除指令，有删除订单按钮 -->
              {% if 6 in code %}
                <a class="order-type_btn mar-right" href="javascript:;" onclick="del({{ order.order_id }})">{{_('删除订单')}}</a>
              {% endif %}

              <!-- 含有支付指令，有立即支付按钮 -->
              {% if 1 in code %}
                <a class="order-type_btn btn-primary mar-right" href="{{ url_for('pc.cart.pay',order_id=order.order_id) }}">{{_('立即支付')}}</a>
              {% endif %}

              <!-- 含有确认收货指令，有确认收货按钮 -->
              {% if 4 in code %}
                <a class="order-type_btn btn-primary mar-right" href="javascript:;" onclick="okey({{ order.order_id }})">{{_('确认收货')}}</a>
              {% endif %}
              
              <!-- 含有申请退款指令，有申请退款按钮 -->
              {% if 8 in code %}
                <a class="order-type_btn mar-right" href="{{ url_for('pc.aftersales.apply_step1',order_id=order.order_id,og_id=0) }}">{{_('申请退款')}}</a>
              {% else %}
                <a class="order-type_btn mar-right" href="{{ url_for('pc.aftersales.apply_step0',order_id=order.order_id) }}">{{_('申请售后')}}</a>
              {% endif %}
            </div>
          </div>
          <div class="order-detail_bd">
            <div class="order-goods_det">
              <div class="order-summary">
                <div class="order-status">{{ text }}</div>
                <div class="order-progress">
                  <ul class="progress-list clearfix">
                    <!-- 根据是否有相应的时间值判断显示与否 -->
                    {% set step_one = "step-done" if order.paid_time > 0 else "step-active" %}
                    <li class="step step-first {{ step_one }}">
                      <div>{{_('下单')}}</div>
                      <div class="progress-info">{{ order.add_time|timestamp2str }}</div>
                    </li>
                    {% set step_two = "step-done" if order.paid_time > 0 else "" %}
                    {% set step_three = 'step-active' if order.paid_time > 0 else "" %}
                    {% set step_three = "step-done" if order.shipping_time > 0 else step_three %}
                    {% set paid_time = order.paid_time|timestamp2str if order.paid_time > 0 else "" %}
                    <li class="step {{ step_two }}">
                      <div>{{_('付款')}}</div>
                      <div class="progress-info">{{ paid_time }}</div>
                    </li>
                    <li class="step {{ step_three }}">
                      <div>{{_('配货')}}</div>
                      <div class="progress-info">{{ paid_time }}</div>
                    </li>
                    {% set step_four = "step-active" if order.shipping_time > 0 else "" %}
                    {% set step_four = "step-done" if order.deliver_time > 0 else step_four %}
                    <li class="step {{ step_four }}">
                      <div>{{_('出库')}}</div>
                      {% set shipping_time = order.shipping_time|timestamp2str if order.shipping_time > 0 else "" %}
                      <div class="progress-info">{{ shipping_time }}</div>
                    </li>
                    {% set step_five = "step-active" if order.deliver_time > 0 else "" %}
                    <li class="step step-last {{ step_five }}">
                      <div>{{_('交易成功')}}</div>
                      {% set deliver_time = order.deliver_time|timestamp2str if order.deliver_time > 0 else "" %}
                      <div class="progress-info">{{ deliver_time }}</div>
                    </li>
                  </ul>
                </div>
                <!-- 只有拥有查看物流指令，才显示物流信息 -->
                {% set shipping_status = 'show' if 3 in code else 'hide' %}
                <div class='{{ shipping_status }}'>
                  <div class="order-delivery hide">
                    <p class="delivery-num">
                      <span class="mar-right">{{_('物流公司：')}}{{ order.shipping_name }}</span>
                      <span>{{_('物流单号：')}}{{ order.shipping_sn }}</span>
                    </p>
                    <div class="delivery-list_box">
                      <ul class="delivery-list">
                        {% for item_data in express_datas %}
                          {% if loop.first %}
                            {% set class_type = 'first' if loop.length > 1 else 'firstOn' %}
                          {% elif loop.last %}
                            {% set class_type = 'last' %}
                          {% else %}
                            {% set class_type = '' %}
                          {% endif %}
                           <li class="delivery-list_item {{ class_type }}">{{ item_data.context }} {{ item_data.time }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <div class="delivery-more" id="more">
                    <span class="show-more_text" id="moreText">{{_('展开物流详情')}}</span>
                  </div>
                </div>
              </div>
              <!-- 订单商品列表 -->
              <div class="order-goods bd-bottom5">
                {% set goods_data = (order.goods_data)|json_loads %}
                {% for good in goods_data %}
                <a class="one-cell not-oneCell" href="{{ url_for('pc.item.detail', goods_id=good.goods_id) }}">
                  <div class="one-cell_hd avatar80">
                    <img src="{{ good.goods_img }}-square.small" alt="">
                  </div>
                  <div class="one-cell_bd">
                    <p class="blackGap">{{ good.goods_name }}</p>
                    <p class="greyGap mar-top">
                      <span>￥{{ good.goods_price }}</span>
                      <span>x{{ good.quantity }}</span>
                    </p>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
            <!-- 收货信息 -->
            <div class="order-det_info">
              <div class="info-hd">{{_('收货信息')}}</div>
              <table class="info-table">
                <tbody>
                  <tr>
                    <th>{{_('姓名：')}}</th>
                    <td id="address_name">{{ order_address.name }}</td>
                  </tr>
                  <tr>
                    <th>{{_('联系电话：')}}</th>
                    <td id="address_mobile">{{ order_address.mobile }}</td>
                  </tr>
                  <tr>
                    <th>{{_('收货地址：')}}</th>
                    <td id="address_pcda">{{ order_address.province }} {{ order_address.city }} {{ order_address.district }} {{ order_address.address }}</td>
                    <input id="address_province" type="hidden" value="{{ order_address.province }}">
                    <input id="address_city" type="hidden" value="{{ order_address.city }}">
                    <input id="address_district" type="hidden" value="{{ order_address.district }}">
                    <input id="address_address" type="hidden" value="{{ order_address.address }}">
                  </tr>
                </tbody>
              </table>
              <!-- 订单未支付状态，有修改按钮 -->
              {% if 1 in code %}
              <div class="actions">
                <button class="order-type_btn" type="button" onclick="edit()">{{_('修改')}}</button>
              </div>
              {% endif %}
              <!-- 订单未支付状态，有修改按钮 end -->
            </div>
            <!-- 收货信息 end -->

            <!-- 已支付的订单才显示支付信息 -->
            {% if order.pay_status == 2 %}
            <!-- 支付信息 -->
            <div class="order-det_info">
              <div class="info-hd">{{_('支付信息')}}</div>
              <table class="info-table">
                <tbody>
                  <tr>
                    <th>{{_('支付方式：')}}</th>
                    {% set paymethod = const.PAY_METHOD.get(order.pay_method,'') %}
                    <td>{{ paymethod }}</td>
                  </tr>
                  <tr>
                    <th>{{_('配送时间：')}}</th>
                    <td>{{_('不限送货时间')}}</td>
                  </tr>
                  <!-- 未支付时不显示 -->
                  {% if order.paid_time > 0 %}
                  <tr>
                    <th>{{_('支付流水号：')}}</th>
                    <td>{{ order.pay_tran_id }}</td>
                  </tr>
                  <tr>
                    <th>{{_('支付时间：')}}</th>
                    <td>{{ order.paid_time|timestamp2str }}</td>
                  </tr>
                  {% endif %}
                  <!-- 未支付时不显示 end -->
                </tbody>
              </table>
            </div>
            <!-- 支付信息 end -->
            {% endif %}
            <!-- 付款信息 -->
            <div class="order-detail-total">
              <table class="total-table">
                <tbody>
                  <tr>
                    <th>{{_('商品总价：')}}</th>
                    <td>￥{{ order.goods_amount }}</td>
                  </tr>
                  <tr>
                    <th>{{_('运费：')}}</th>
                    <td>￥{{ order.shipping_amount }}</td>
                  </tr>
                  <tr>
                    <th>{{_('优惠：')}}</th>
                    <td>-￥{{ order.discount_amount }}</td>
                  </tr>
                  <tr class="total-table_tl">
                    <th>{{_('实际付款：')}}</th>
                    <td>￥{{ order.pay_amount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- 付款信息 end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 修改收货地址弹窗 -->
  <div class="hide-mask hide" id="changeAdd">
    <div class="editAdd-section">
      <div class="editAdd-section_hd">
        <span>{{_('修改地址')}}</span>
        <a class="add-del" href="javascript:;" onclick="cal()">
          <i class="icon-cancel"></i>
        </a>
      </div>
      <div class="allPad">
        <div class="bd-flex">
          <label class="bd-label">{{_('姓名：')}}</label>
          <input id="edit_address_name" class="bd-input" type="text" placeholder="{{_('请填写收件人姓名')}}">
        </div>
        <div class="bd-flex">
          <label class="bd-label">{{_('手机号码：')}}</label>
          <input id="edit_address_mobile" class="bd-input" type="text" placeholder="{{_('请填写收件人手机号码')}}">
        </div>
        <div class="bd-flex">
          <label class="bd-label">{{_('地区：')}}</label>
          <input id="edit_address_pcd" readonly type="text">
        </div>
        <div class="bd-flex">
          <label class="bd-label">{{_('详细地址：')}}</label>
          <input id="edit_address_address" class="bd-input" type="text" placeholder="{{_('请填写详细地址：如街道、道路、门牌号等')}}">
        </div>
      </div>
      <div class="editAdd-section_ft">
        <input id="oa_id" type="hidden" value="{{ order_address.oa_id }}">
        <button class="save-btn btn-primary mar-right" type="button" onclick="save()">{{_('保存')}}</button>
        <button class="cancel-btn" type="button" onclick="cal()">{{_('取消')}}</button>
      </div>
    </div>
  </div>
  <!-- 修改收货地址弹窗 end -->

  <!-- 确认收货弹窗 -->
  <div class="hide-mask hide" id="confRet">
    <div class="editAdd-section">
      <div class="editAdd-section_hd">
        <span>{{_('确认收货')}}</span>
        <a class="add-del" href="javascript:;" onclick="confCan()">
          <i class="icon-cancel"></i>
        </a>
      </div>
      <div class="not-one">
        <p class="not-one_text" style="margin-top:58px;">{{_('您的订单已确认收货成功!')}}</p>
        <button type="button" class="not-one_btn btn-primary" onclick="review()">{{_('去评价')}}</button>
      </div>
    </div>
  </div>
  <!-- 确认收货弹窗 end -->
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/default/pc/js/city-picker.data.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/default/pc/js/city-picker.js" charset="utf-8"></script>
<script type="text/javascript">
var csrftoken = "{{ csrf_token() }}";
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

//确认收货弹窗
function okey(order_id) {
  var conf = confirm('确认收到此订单的商品了么？');
  if(conf){
    $.get("{{ url_for('api.order.deliver') }}", { 'order_id': order_id }, function (json) {
      if (json.ret != 0) {
        alert(json.msg,"cal");
        return false;
      }else{
        $('#confRet').removeClass('hide');
        if (!$('#confRet').hasClass('show')) {
          $('#confRet').addClass('show');
        }
      }
    });
  }
}

//关闭确认收货弹窗
function confCan() {
  $('#confRet').removeClass('show');
  if (!$('#confRet').hasClass('hide')) {
    $('#confRet').addClass('hide');
  }

  location.reload();
}

//点击去评价商品，关闭确认收货弹窗
function review() {
  $('#confRet').removeClass('show');
  if (!$('#confRet').hasClass('hide')) {
    $('#confRet').addClass('hide');
  }

  window.location.href = "{{ url_for('pc.order.comment', is_pending=1) }}";
}

//点击edit()打开修改收货地址弹窗
function edit() {
  $('#changeAdd').removeClass('hide');
  if (!$('#changeAdd').hasClass('show')) {
    var name = $("#address_name").text();
    var mobile = $("#address_mobile").text();
    var province = $("#address_province").val();
    var city = $("#address_city").val();
    var district = $("#address_district").val();
    var address = $("#address_address").val();

    $("#edit_address_name").val(name);
    $("#edit_address_mobile").val(mobile);
    $("#edit_address_address").val(address);

    $("#edit_address_pcd").citypicker('reset');
    $("#edit_address_pcd").citypicker('destroy');
    $("#edit_address_pcd").citypicker({
      province: province,
      city: city,
      district: district
    });

    $('#changeAdd').addClass('show');
  }

}

//点击cal()关闭修改收货地址弹窗
function cal() {
  $('#changeAdd').removeClass('show');
  if (!$('#changeAdd').hasClass('hide')) {
    $('#changeAdd').addClass('hide');
  } 
}

//点击save()关闭修改收货地址弹窗，并保存修改的地址
function save() {
  $('#changeAdd').removeClass('show');
  if (!$('#changeAdd').hasClass('hide')) {
    var oa_id = $("#oa_id").val();
    var name = $("#edit_address_name").val();
    var mobile = $("#edit_address_mobile").val();
    var pcd = $("#edit_address_pcd").val();
    var address = $("#edit_address_address").val();
    var pcd_arr = pcd.split('/');
    var province = pcd_arr[0];
    var city = pcd_arr[1];
    var district = pcd_arr[2];

    var params = {'oa_id':oa_id, 'name':name, 'mobile':mobile, 'province':province, 'city':city, 'district':district, 'address':address}
    $.post("{{ url_for('api.order.update_address') }}", params, function(json) {
      if (json.ret == 0) {
        $("#address_name").text(name);
        $("#address_mobile").text(mobile);
        $("#address_pcda").text(province+' '+city+' '+district+' '+address);
        $("#address_province").val(province);
        $("#address_city").val(city);
        $("#address_district").val(district);
        $("#address_address").val(address);
      } else {
        // 优化alert ??
        alert(json.msg);
        return false;
      }
    });

    $('#userInfo').text(name + ' ' + mobile);
    $('#addressInfo').text(province+' '+city+' '+district+' '+address);

    $('#changeAdd').addClass('hide');
  }
}

//点击more显示物流信息
$('#more').click(function(){
  var $moreText = $('#moreText');
  if($moreText.text()=='展开物流详情' && $moreText.hasClass('show-more_text')){
    $('.order-delivery').removeClass('hide').addClass('show');
    $moreText.removeClass('show-more_text');
    $moreText.text('收起物流详情');
    if (!$moreText.hasClass('hide-more_text')) {
      $moreText.addClass('hide-more_text');
    }
  } else{
    $('.order-delivery').removeClass('show').addClass('hide');
    $moreText.removeClass('hide-more_text');
    $moreText.text('展开物流详情');
    if (!$moreText.hasClass('show-more_text')) {
      $moreText.addClass('show-more_text');
    }
  }
});

//取消订单弹窗
function calOrder(order_id) {
  var cal = confirm('确定取消该订单？');
  if (cal) {
   $.get("{{ url_for('api.order.cancel') }}", { 'order_id': order_id }, function (json) {
      if (json.ret != 0) {
        alert(json.msg,"cal");
        return false;
      }

      location.reload();
    });
  }
}

//删除订单弹窗
function del(order_id) {
  var dele = confirm('确定删除该订单？');
  if (dele) {
    $.get("{{ url_for('api.order.remove') }}", { 'order_id': order_id }, function (json) {
      if (json.ret != 0) {
        alert(json.msg, "text");
        return false;
      }

      window.location.href = "{{ url_for('pc.order.index') }}";
    });
  }
}
</script>
{% endblock%}