{% extends '/default/pc/layout/base.html.j2' %}


{% block head %}
<title>{{_('我的订单 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/me.css">
{% endblock %}

{% block body %}
<div class="index_wrap clearfix">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('我的订单')}}</span>
      </p>
    </div>
    <div class="user-main">
      <div class="head-inner clearfix">
        {%include 'default/pc/layout/nav_left.html.j2'%}
        <div class="order-wrap">
          <!-- 有订单 -->
          <div class="allPad">
            <div class="order-hd">
              <ul class="order-hd_list">
                <li class="order-hd_item allOn">
                  <a href="">{{_('全部订单')}}</a>
                </li>
                <li class="order-hd_item">
                  <a href="">{{_('待付款')}}</a>
                </li>
                <li class="order-hd_item">
                  <a href="">{{_('待收货')}}</a>
                </li>
                <li class="order-hd_item">
                  <a href="">{{_('已完成')}}</a>
                </li>
                <li class="order-hd_item">
                  <a href="">{{_('已取消')}}</a>
                </li>
              </ul>
            </div>
            <div class="order-bd">
              <div class="order-box">
                <ul class="order-box_list">
                  <li class="order-box_item">
                    <div class="order-item_detail">
                      <div class="item-datail_hd">
                        <div class="order-add">2018-07-12 22:21:22</div>
                        <div class="order-num">
                          <span>{{_('订单号：')}}</span>
                          <a class="orderID" href="{{ url_for('pc.order.detail', order_id=79) }}">1150614350040274</a>
                        </div>
                        <div class="order-price">
                          {{_('总额：')}}￥
                          <span class="price-num">500</span>
                        </div>
                        <div class="order-type allOn">待付款</div>
                      </div>
                      <div class="item-datail_bd clearfix">
                        <div class="item-bd_fl">
                          <a class="one-cell not-oneCell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                            <div class="one-cell_hd avatar80">
                              <img src="http://i1.mifile.cn/a1/T1tfL_BmAT1RXrhCrK!80x80.jpg" alt="">
                            </div>
                            <div class="one-cell_bd">
                              <p class="blackGap">红米手机2A 移动4G双卡版 绿色 8GB</p>
                              <p class="greyGap mar-top">
                                <span>￥499</span>
                                <span>x1</span>
                              </p>
                            </div>
                          </a>
                          <a class="one-cell not-oneCell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                            <div class="one-cell_hd avatar80">
                              <img src="http://i1.mifile.cn/a1/T1QtxTBvET1RXrhCrK!80x80.jpg" alt="">
                            </div>
                            <div class="one-cell_bd">
                              <p class="blackGap">小米礼品袋 透明</p>
                              <p class="greyGap mar-top">
                                <span>￥1</span>
                                <span>x1</span>
                              </p>
                            </div>
                          </a>
                        </div>
                        <div class="item-bd_fr">
                          <a class="btn-link" href="{{ url_for('pc.cart.pay') }}">
                            <button class="order-type_btn btn-primary" type="button">{{_('立即支付')}}</button>
                          </a>
                          <a class="btn-link" href="{{ url_for('pc.order.detail', order_id=79) }}">
                            <button class="order-type_btn" type="button">{{_('订单详情')}}</button>
                          </a>
                          <!-- <a class="btn-link" href="">
                            <button class="order-type_btn" type="button">{{_('申请售后')}}</button>
                          </a> -->
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="order-box_item">
                    <div class="order-item_detail">
                      <div class="item-datail_hd">
                        <div class="order-add">2018-07-12 22:21:22</div>
                        <div class="order-num">
                          <span>{{_('订单号：')}}</span>
                          <a class="orderID" href="{{ url_for('pc.order.detail', order_id=79) }}">1150614350040274</a>
                        </div>
                        <div class="order-price">
                          {{_('总额：')}}￥
                          <span class="price-num">199</span>
                        </div>
                        <div class="order-type allOn">待收货</div>
                      </div>
                      <div class="item-datail_bd clearfix">
                        <div class="item-bd_fl">
                          <a class="one-cell not-oneCell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                            <div class="one-cell_hd avatar80">
                              <img src="http://i1.mifile.cn/a1/pms_1498564154.53184175!80x80.jpg" alt="">
                            </div>
                            <div class="one-cell_bd">
                              <p class="blackGap">米家声波电动牙刷 白色</p>
                              <p class="greyGap mar-top">
                                <span>￥199</span>
                                <span>x1</span>
                              </p>
                            </div>
                          </a>
                        </div>
                        <div class="item-bd_fr">
                          <!-- <a class="btn-link" href="{{ url_for('pc.cart.pay') }}">
                            <button class="order-type_btn btn-primary" type="button">{{_('立即支付')}}</button>
                          </a> -->
                          <a class="btn-link" href="{{ url_for('pc.order.detail', order_id=79) }}">
                            <button class="order-type_btn" type="button">{{_('订单详情')}}</button>
                          </a>
                          <a class="btn-link" href="">
                            <button class="order-type_btn" type="button">{{_('申请售后')}}</button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="order-box_item">
                    <div class="order-item_detail">
                      <div class="item-datail_hd">
                        <div class="order-add">2018-07-12 22:21:22</div>
                        <div class="order-num">
                          <span>{{_('订单号：')}}</span>
                          <a class="orderID" href="{{ url_for('pc.order.detail', order_id=79) }}">1150614350040274</a>
                        </div>
                        <div class="order-price">
                          {{_('总额：')}}￥
                          <span class="price-num">158</span>
                        </div>
                        <div class="order-type allOn">已完成</div>
                      </div>
                      <div class="item-datail_bd clearfix">
                        <div class="item-bd_fl">
                          <a class="one-cell not-oneCell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                            <div class="one-cell_hd avatar80">
                              <img src="http://i1.mifile.cn/a1/pms_1504498936.11861982!80x80.jpg" alt="">
                            </div>
                            <div class="one-cell_bd">
                              <p class="blackGap">米家电水壶 白色</p>
                              <p class="greyGap mar-top">
                                <span>￥99</span>
                                <span>x1</span>
                              </p>
                            </div>
                          </a>
                          <a class="one-cell not-oneCell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                            <div class="one-cell_hd avatar80">
                              <img src="http://i1.mifile.cn/a1/pms_1526532545.37854625!80x80.jpg" alt="">
                            </div>
                            <div class="one-cell_bd">
                              <p class="blackGap">米家驱蚊器 白色</p>
                              <p class="greyGap mar-top">
                                <span>￥59</span>
                                <span>x1</span>
                              </p>
                            </div>
                          </a>
                        </div>
                        <div class="item-bd_fr">
                          <!-- <a class="btn-link" href="{{ url_for('pc.cart.pay') }}">
                            <button class="order-type_btn btn-primary" type="button">{{_('立即支付')}}</button>
                          </a> -->
                          <a class="btn-link" href="{{ url_for('pc.order.detail', order_id=79) }}">
                            <button class="order-type_btn" type="button">{{_('订单详情')}}</button>
                          </a>
                          <a class="btn-link" href="">
                            <button class="order-type_btn" type="button">{{_('申请售后')}}</button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="order-box_item">
                    <div class="order-item_detail">
                      <div class="item-datail_hd">
                        <div class="order-add">2018-07-12 22:21:22</div>
                        <div class="order-num">
                          <span>{{_('订单号：')}}</span>
                          <a class="orderID" href="{{ url_for('pc.order.detail', order_id=79) }}">1150614350040274</a>
                        </div>
                        <div class="order-price">
                          {{_('总额：')}}￥
                          <span class="price-num">299</span>
                        </div>
                        <div class="order-type allOn">已取消</div>
                      </div>
                      <div class="item-datail_bd clearfix">
                        <div class="item-bd_fl">
                          <a class="one-cell not-oneCell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                            <div class="one-cell_hd avatar80">
                              <img src="http://i1.mifile.cn/a1/pms_1522666970.27937468!80x80.jpg" alt="">
                            </div>
                            <div class="one-cell_bd">
                              <p class="blackGap">小米AI音箱</p>
                              <p class="greyGap mar-top">
                                <span>￥299</span>
                                <span>x1</span>
                              </p>
                            </div>
                          </a>
                        </div>
                        <div class="item-bd_fr">
                          <!-- <a class="btn-link" href="{{ url_for('pc.cart.pay') }}">
                            <button class="order-type_btn btn-primary" type="button">{{_('立即支付')}}</button>
                          </a> -->
                          <a class="btn-link" href="{{ url_for('pc.order.detail', order_id=79) }}">
                            <button class="order-type_btn" type="button">{{_('订单详情')}}</button>
                          </a>
                          <!-- <a class="btn-link" href="">
                            <button class="order-type_btn" type="button">{{_('申请售后')}}</button>
                          </a> -->
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="order-box_item">
                    <div class="order-item_detail">
                      <div class="item-datail_hd">
                        <div class="order-add">2018-07-12 22:21:22</div>
                        <div class="order-num">
                          <span>{{_('订单号：')}}</span>
                          <a class="orderID" href="{{ url_for('pc.order.detail', order_id=79) }}">1150614350040274</a>
                        </div>
                        <div class="order-price">
                          {{_('总额：')}}￥
                          <span class="price-num">299</span>
                        </div>
                        <div class="order-type allOn">已退款</div>
                      </div>
                      <div class="item-datail_bd clearfix">
                        <div class="item-bd_fl">
                          <a class="one-cell not-oneCell" href="{{ url_for('pc.item.detail', goods_id=2) }}">
                            <div class="one-cell_hd avatar80">
                              <img src="http://i1.mifile.cn/a1/pms_1522666970.27937468!80x80.jpg" alt="">
                            </div>
                            <div class="one-cell_bd">
                              <p class="blackGap">小米AI音箱</p>
                              <p class="greyGap mar-top">
                                <span>￥299</span>
                                <span>x1</span>
                              </p>
                            </div>
                          </a>
                        </div>
                        <div class="item-bd_fr">
                          <!-- <a class="btn-link" href="{{ url_for('pc.cart.pay') }}">
                            <button class="order-type_btn btn-primary" type="button">{{_('立即支付')}}</button>
                          </a> -->
                          <a class="btn-link" href="{{ url_for('pc.order.detail', order_id=79) }}">
                            <button class="order-type_btn" type="button">{{_('订单详情')}}</button>
                          </a>
                          <!-- <a class="btn-link" href="">
                            <button class="order-type_btn" type="button">{{_('申请售后')}}</button>
                          </a> -->
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="page-box">
                <a href="" class="page-num">{{_('上一页')}}</a>
                <span class="page-num btn-primary">1</span>
                <a href="" class="page-num">2</a>
                <a href="" class="page-num">3</a>
                <a href="" class="page-num">4</a>
                <a href="" class="page-num">5</a>
                <a href="" class="page-num">6</a>
                <span class="page-more">...</span>
                <a href="" class="page-num">12</a>
                <a href="" class="page-num">{{_('下一页')}}</a>
              </div>
            </div>
          </div>
          <!-- 有订单 end -->

          <!-- 没有订单 -->
          <!-- <div class="not-one">
            <p class="not-one_text">{{_('您暂时没有订单!')}}</p>
            <a class="not-one_btn btn-primary" href="{{ url_for('pc.index.root') }}">{{_('到商场去看看')}}</a>
          </div> -->
          <!-- 没有订单 end -->

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"></script>
{% endblock%}