{% extends '/default/mobile/layout/base.html.j2' %}
{% import '/default/mobile/libs/libs.html.j2' as libs %}

{% block head %}
<title>{{_('个人中心 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="user_wrap">
  <div class="weui-cells weui-cells_form">
    <a class="weui-cell weui-cell_access" href="{{ url_for('mobile.me.profile') }}">
      <div class="weui-cell__hd avatar mar-right">
        <img src="{{ avatar }}" alt="">
      </div>
      <div class="weui-cell__bd">{{ nickname }}</div>
      <div class="weui-cell__ft">{{_('修改')}}</div>
    </a>
  </div>
  <div class="user_all_order_wrap">
    <div class="weui-cells weui-cells_form">
      <a class="weui-cell weui-cell_access" href="{{ url_for('mobile.order.index', tab_status=0) }}">
        <div class="weui-cell__bd">{{_('我的订单')}}</div>
        <div class="weui-cell__ft">{{_('我的所有订单')}}</div>
      </a>
      <ul class="order_status">
        <li class="flex pstR">
          <a href="{{ url_for('mobile.order.index', tab_status=1) }}">
            <span class="weui-badge">{{ unpaid_count }}</span>
            <div class="icom_photo">
              <img src="/static/default/mobile/img/pay.png" alt="">
            </div>
            <p class="foot_text">{{_('待付款')}}</p>
          </a>
        </li>
        <li class="flex pstR">
          <a href="{{ url_for('mobile.order.index', tab_status=2) }}">
            <span class="weui-badge">{{ undeliver_count }}</span>
            <div class="icom_photo">
              <img src="/static/default/mobile/img/deliver.png" alt="">
            </div>
            <p class="foot_text">{{_('待收货')}}</p>
          </a>
        </li>
        <li class="flex pstR">
          <a href="{{ url_for('mobile.order.comment', is_pending=1) }}">
            <span class="weui-badge">{{ uncomment_count }}</span>
            <div class="icom_photo">
              <img src="/static/default/mobile/img/comment.png" alt="">
            </div>
            <p class="foot_text">{{_('待评价')}}</p>
          </a>
        </li>
        <li class="flex pstR">
          <a href="{{ url_for('mobile.aftersales.root') }}">
            <span class="weui-badge">{{ aftersales_count }}</span>
            <div class="icom_photo">
              <img src="/static/default/mobile/img/aftersale.png" alt="">
            </div>
            <p class="foot_text">{{_('退款售后')}}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="weui-cells weui-cells_form">
    <a class="weui-cell weui-cell_access" href="{{ url_for('mobile.me.coupon') }}">
      <div class="weui-cell__hd">
        <img src="" alt="">
      </div>
      <div class="weui-cell__bd">{{_('优惠券')}}</div>
      {% if coupon_count > 0 %}
        <div class="weui-cell__ft">{{ coupon_count }}{{_('张')}}</div>
      {% endif %}
    </a>
    <a class="weui-cell weui-cell_access" href="{{ url_for('mobile.wallet.root') }}">
      <div class="weui-cell__hd">
        <img src="" alt="">
      </div>
      <div class="weui-cell__bd">{{_('钱包')}}</div>
      <div class="weui-cell__ft">{{ funds.funds }}{{_('元')}}</div>
    </a>
    <a class="weui-cell weui-cell_access" href="{{ url_for('mobile.me.collect') }}">
      <div class="weui-cell__hd">
        <img src="" alt="">
      </div>
      <div class="weui-cell__bd">{{_('收藏')}}</div>
      <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="{{ url_for('mobile.me.messages') }}">
      <div class="weui-cell__hd">
        <img src="" alt="">
      </div>
      <div class="weui-cell__bd">{{_('消息')}}</div>
      {% if unread_count > 0 %}
        <div class="weui-cell__ft">{{_('未读%s条' % unread_count)}}</div>
      {% endif %}
    </a>
  </div>
  <div class="weui-cells weui-cells_form">
    <a class="weui-cell weui-cell_access" href="">
      <div class="weui-cell__hd">
        <img src="" alt="">
      </div>
      <div class="weui-cell__bd">{{_('关于一店')}}</div>
      <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="{{ url_for('mobile.me.addresses') }}">
      <div class="weui-cell__hd">
        <img src="" alt="">
      </div>
      <div class="weui-cell__bd">{{_('地址管理')}}</div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>
  <div class="reg_btn">
    <a href="">
      <a href="{{ url_for('mobile.me.signout') }}" type="button" class="weui-btn weui-btn_red">{{_('退出登录')}}</a>
    </a>
  </div>

  {{ libs.bottom_navigation_bar() }}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"></script>
{% endblock %}