{% for message in messages %}
  <div style="margin:15px">
    <div class="weui-cell bg-white">
      <div class="weui-cell__bd">
        <div class="all_add height25">{{ message.add_time|timestamp2str }}</div>
        <div class="nicktitle">
          {{ message.content }}
          {% if message.ttype == 1 %}
            {% set url = url_for('mobile.order.detail', order_id=message.tid) %}
          {% elif message.ttype == 2 %}
            {% set url = url_for('mobile.order.comment_detail', og_id=message.tid) %}
          {% else %}
            {% set url = 'javascript:void(0);' %}
          {% endif %}
          <a href="{{ url }}" style="color:#2a6496">{{_('查看详情>>')}}</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}