{% extends '/default/mobile/layout/base.html.j2' %}
{% import '/default/mobile/libs/const.html.j2' as const %}

{% block head %}
<title>{{_('修改个人信息 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/user.css"> 
{% endblock %} 

{% block body %}
<div class="user_wrap">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label blackGap">{{_('头像')}}</label>
      </div>
      <div class="weui-cell__bd all-ava">
        <input id="image" name="image" class="weui-uploader__input" type="file" accept="image/*">
        <input id="avatar" name="avatar" type="hidden" value="{{ user.avatar }}" />
        <img id="avatar_img" src="{{ user.avatar }}" alt="" class="all-ava_img">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label blackGap">{{_('昵称')}}</label>
      </div>
      <div class="weui-cell__bd">
        <input id="nickname" class="weui-input greykGap" type="text" placeholder="{{_('请填写昵称')}}" value="{{ user.nickname }}">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label blackGap">{{_('性别')}}</label>
      </div>
      <div class="weui-cell__bd">
        {% set gender = const.GENDER.get(user.gender) %}
        <input id="gender" class="weui-input greykGap" type="text" value="{{ gender }}">
      </div>
    </div>
  </div>
  <div class="footer" style="display:block;height:65px">
    {{ wtf_form.csrf_token }}
    <a class="weui-cell weui-cell_access" href="javascript:void(0);" style="padding:10px" onclick="submit()">
      <button type="button" class="weui-btn weui-btn_red">{{_('保存')}}</button>
    </a>
  </div>
</div>
{% endblock %}  

{% block script %}
<!-- 异步上传 -->
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.iframe-transport.js"></script>
<script src="/static/default/mobile/js/jQuery-File-Upload-9.19.2/js/jquery.fileupload.js"></script>
<script type="text/javascript">
var csrftoken = $('#csrf_token').val();
$.ajaxSetup({
  headers: {'X-CSRFToken':csrftoken}
});

$('#image').fileupload({
    url: "{{ url_for('api.upload.image') }}",
    dataType: 'json',
    formData:{'prefix':'avatar'},
    done: function (e, data) {
      if(data.result.ret == 0) {
        var image = data.result.data.image;
        $("#avatar_img").attr('src', image);
        $("#avatar").val(image);
      }
    }
});

// 保存
function submit() {
  var gender_arr = {'男':1, '女':2};
  var nickname = $("#nickname").val();
  var avatar = $("#avatar").val();
  var gender = $("#gender").val();
  var gender = gender_arr[gender];

  var params = {'nickname':nickname, 'avatar':avatar, 'gender':gender}
  console.log(params);
  $.post("{{ url_for('api.me.update') }}", params, function(json) {
    if (json.ret != 0) {
      $.toast(json.msg, "text");
      return false;
    }

    window.location.href="{{ url_for('mobile.me.index') }}";
  });
}

$(document).ready(function () {
  $("#gender").picker({
    title: "请选择您的性别",
    cols: [
      {
        textAlign: 'center',
        values: ['男', '女']
      }
    ]
  });
});
</script>
{% endblock %}