{% extends '/default/pc/layout/base.html.j2' %}

{% block head %}
<title>{{_('首页 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/index.css">
<link rel="stylesheet" href="/static/default/pc/css/swiper.min.css">
{% endblock %}

{% block body %}
<div class="index_wrap">
  <!-- swiper -->
  <div class="one-swiper">
    <div class="head-inner bg-white">
      <div class="swiper-container">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <a href="">
              <img class="swiper-img" src="http://i1.mifile.cn/a4/xmad_15287847233508_IEtwq.jpg" alt="">
            </a>
          </li>
          <li class="swiper-slide">
            <a href="">
              <img class="swiper-img" src="http://i1.mifile.cn/a4/xmad_15311087505587_ZrTIc.jpg" alt="">
            </a>
          </li>
          <li class="swiper-slide">
            <a href="">
              <img class="swiper-img" src="http://i1.mifile.cn/a4/xmad_15310599701167_AYcbi.jpg" alt="">
            </a>
          </li>
          <li class="swiper-slide">
            <a href="">
              <img class="swiper-img" src="http://i1.mifile.cn/a4/xmad_15308952490198_sdoCE.jpg" alt="">
            </a>
          </li>
        </ul>
        <div class="swiper-pagination swiper-pagination-bullets"></div>
      </div>
    </div>
  </div>
  <!-- swiper end -->

  <div class="box-wrap clearfix">
    <div class="head-inner">
      <div class="box-head">
        <p class="hd-title">{{_('推荐')}}</p>
        <a class="hd-more" href="{{ url_for('pc.item.recommend') }}">
          <span>{{_('查看全部')}}</span>
        </a>
      </div>
      <ul class="all-list clearfix">
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img12.360buyimg.com/n1/jfs/t16849/153/1617055958/168557/60b0a4e9/5ad06574N286156e8.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭脖</p>
              <p class="all-desc">微辣 450g+200g</p>
              <div class="all-price mar-top">
                <span>￥69</span>
              </div>
            </div>
          </a>
        </li>
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img13.360buyimg.com/n1/jfs/t17044/288/1586645515/123948/82f07edf/5ad065a8Nbacd92b9.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭锁骨</p>
              <p class="all-desc">麻辣 450gx2</p>
              <div class="all-price mar-top">
                <span>￥69</span>
                <span class="price-del">￥79</span>
              </div>
            </div>
          </a>
        </li>
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img13.360buyimg.com/n1/jfs/t17254/276/1614852193/175061/bb439ac5/5ad0652dN13df83b9.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭舌</p>
              <p class="all-desc">麻辣 150gx2</p>
              <div class="all-price mar-top">
                <span>￥69</span>
                <span class="price-del">￥79</span>
              </div>
            </div>
          </a>
        </li>
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img11.360buyimg.com/n1/jfs/t19480/153/1584776172/138508/ed82c1/5ad065ccNdd42304e.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭翅</p>
              <p class="all-desc">微辣 250gx2</p>
              <div class="all-price mar-top">
                <span>￥69</span>
                <span class="price-del">￥79</span>
              </div>
            </div>
          </a>
        </li>
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img11.360buyimg.com/n1/jfs/t17503/9/1575140787/124435/7795a32d/5ad06507Nf7c4c1b7.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭翅尖</p>
              <p class="all-desc">原味 280gx2</p>
              <div class="all-price mar-top">
                <span>￥69</span>
                <span class="price-del">￥79</span>
              </div>
            </div>
          </a>
        </li>
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img14.360buyimg.com/n1/jfs/t17647/116/1595293574/162884/6125bfaf/5ad06551Nb33247b4.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭翅尖+鸭掌</p>
              <p class="all-desc">微辣 280g+245g</p>
              <div class="all-price mar-top">
                <span>￥69</span>
                <span class="price-del">￥79</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="box-wrap clearfix">
    <div class="head-inner">
      <div class="box-head">
        <p class="hd-title">{{_('热卖')}}</p>
        <a class="hd-more" href="{{ url_for('pc.item.hot') }}">
          <span>{{_('查看全部')}}</span>
        </a>
      </div>
      <ul class="all-list clearfix">
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img12.360buyimg.com/n1/jfs/t16849/153/1617055958/168557/60b0a4e9/5ad06574N286156e8.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭脖</p>
              <p class="all-desc">微辣 450g+200g</p>
              <div class="all-price mar-top">
                <span>￥69</span>
              </div>
            </div>
          </a>
        </li>
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img13.360buyimg.com/n1/jfs/t17044/288/1586645515/123948/82f07edf/5ad065a8Nbacd92b9.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭锁骨</p>
              <p class="all-desc">麻辣 450gx2</p>
              <div class="all-price mar-top">
                <span>￥69</span>
                <span class="price-del">￥79</span>
              </div>
            </div>
          </a>
        </li>
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img13.360buyimg.com/n1/jfs/t17254/276/1614852193/175061/bb439ac5/5ad0652dN13df83b9.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭舌</p>
              <p class="all-desc">麻辣 150gx2</p>
              <div class="all-price mar-top">
                <span>￥69</span>
                <span class="price-del">￥79</span>
              </div>
            </div>
          </a>
        </li>
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img11.360buyimg.com/n1/jfs/t19480/153/1584776172/138508/ed82c1/5ad065ccNdd42304e.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭翅</p>
              <p class="all-desc">微辣 250gx2</p>
              <div class="all-price mar-top">
                <span>￥69</span>
                <span class="price-del">￥79</span>
              </div>
            </div>
          </a>
        </li>
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img11.360buyimg.com/n1/jfs/t17503/9/1575140787/124435/7795a32d/5ad06507Nf7c4c1b7.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭翅尖</p>
              <p class="all-desc">原味 280gx2</p>
              <div class="all-price mar-top">
                <span>￥69</span>
                <span class="price-del">￥79</span>
              </div>
            </div>
          </a>
        </li>
        <li class="list-item">
          <a href="{{ url_for('pc.item.detail', goods_id=2) }}">
            <div class="item-product">
              <img src="http://img14.360buyimg.com/n1/jfs/t17647/116/1595293574/162884/6125bfaf/5ad06551Nb33247b4.jpg" alt="">
            </div>
            <div class="item-detail">
              <p class="all-title">周黑鸭 鸭翅尖+鸭掌</p>
              <p class="all-desc">微辣 280g+245g</p>
              <div class="all-price mar-top">
                <span>￥69</span>
                <span class="price-del">￥79</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/default/pc/js/swiper.min.js" charset="utf-8"></script>
<script type="text/javascript">
  var mySwiper = new Swiper('.swiper-container', {
    loop: true,
    autoplay: true,
    speed: 300,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  })
</script>
{% endblock%}