{% extends '/default/pc/layout/base.html.j2' %}

{% block head %}
<title>{{_('首页 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/index.css">
<link rel="stylesheet" href="/static/default/pc/css/swiper.min.css">
{% endblock %}

{% block body %}
<div class="index_wrap">
  <!-- swiper -->
  <div class="one-swiper">
    <div class="head-inner bg-white">
      <div class="swiper-container">
        <ul class="swiper-wrapper">
          {% for adv in advs %}
            {% set url = '' %}
            {% set url = url_for('pc.item.detail', goods_id=adv.tid) if adv.ttype == 1 else url %}
            {% set url = url_for('pc.item.index', cat_id=adv.tid) if adv.ttype == 2 else url %}
            {% set url = url_for('pc.item.hot') if adv.ttype == 3 else url %}
            {% set url = url_for('pc.item.recommend') if adv.ttype == 4 else url %}
            {% set url = adv.url if url == '' else url %}
            {% set url = 'javascript:void(0);' if url == '' else url %}
              <div class="swiper-slide">
                <a href="{{ url }}">
                  <img class="swiper-img" src="{{ adv.img }}" alt="">
                </a>
              </div>
          {% endfor %}
        </ul>
        <div class="swiper-pagination swiper-pagination-bullets"></div>
      </div>
    </div>
  </div>
  <!-- swiper end -->

  <div class="box-wrap clearfix">
    <div class="head-inner">
      <div class="box-head">
        <p class="hd-title">{{_('推荐')}}</p>
        <a class="hd-more" href="{{ url_for('pc.item.recommend',is_recommend=1,p=1,ps=20) }}">
          <span>{{_('查看全部')}}</span>
        </a>
      </div>
      <ul class="all-list clearfix">
        {% for item in recommend_items %}
            <li class="list-item">
              <a href="{{ url_for('pc.item.detail', goods_id=item.goods_id) }}">
                <div class="item-product">
                    <img src="{{ item.goods_img }}" alt="">
                </div>
                <div class="item-detail">
                  <div class="all-title">{{ item.goods_name }}</div>
                    <p class="all-desc">{{ item.goods_desc }}</p>
                  <div class="all-price mar-top">
                    <span>￥{{ item.goods_price }}</span>
                    {% if item.market_price > 0 %}
                      <span class="price-del">￥{{ item.market_price }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="box-wrap clearfix">
    <div class="head-inner">
      <div class="box-head">
        <p class="hd-title">{{_('热卖')}}</p>
        <a class="hd-more" href="{{ url_for('pc.item.hot',is_hot=1,p=1,ps=20) }}">
          <span>{{_('查看全部')}}</span>
        </a>
      </div>
      <ul class="all-list clearfix">
        {% for item in hot_items %}
            <li class="list-item">
              <a href="{{ url_for('pc.item.detail', goods_id=item.goods_id) }}">
                <div class="item-product">
                    <img src="{{ item.goods_img }}" alt="">
                </div>
                <div class="item-detail">
                  <div class="all-title">{{ item.goods_name }}</div>
                    <p class="all-desc">{{ item.goods_desc }}</p>
                  <div class="all-price mar-top">
                    <span>￥{{ item.goods_price }}</span>
                    {% if item.market_price > 0 %}
                      <span class="price-del">￥{{ item.market_price }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/default/pc/js/swiper.min.js" charset="utf-8"></script>
<script type="text/javascript">
  var mySwiper = new Swiper('.swiper-container', {
    loop: true,
    autoplay: true,
    speed: 300,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  })
</script>
{% endblock%}