{% extends '/default/pc/layout/base.html.j2' %}

{% block head %}
<title>{{_('全部分类 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/pc/css/category.css">
{% endblock %}

{% block body %}
<div class="index_wrap bg-white mar-bottom40">
  <div class="type-head">
    <div class="head-inner">
      <p class="type-head_text">
        <span>{{_('全部分类')}}</span>
      </p>
    </div>
  </div>
  <div class="head-inner">
    <ul class="category-list">
      {% for item in categories %}
        <li class="category-list_item">
          <a href="{{ url_for('pc.item.index', cat_id=item.cat_id,p=1,ps=20) }}">
            <div class="category-img">
             <img src="{{ item.cat_img }}-square.middle" alt="">
            </div>
            <p class="category-name">{{ item.cat_name }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
 
</div>
{% endblock %}

{% block script %} {% endblock%}