{% extends '/default/admin/layout/base.html.j2' %}
{% import '/default/admin/libs/libs.html.j2' as libs %}
{% import '/default/admin/libs/const.html.j2' as const %}

{% block head %}
  <!-- Color picker plugins css -->
  <link href="/static/default/admin/plugins/bower_components/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
  <!-- Date picker plugins css -->
  <link href="/static/default/admin/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
  <!-- Daterange picker plugins css -->
  <link href="/static/default/admin/plugins/bower_components/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
  <link href="/static/default/admin/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="page-wrapper">
  <div class="container-fluid">
    {% set tab_status = request.args.get('tab_status', '0') %}
    {{ libs.build_tabs([
        {'label':_('全部'), 'value':0, 'endpoint':'admin.coupon.index'},
        {'label':_('使用中'), 'value':1, 'endpoint':'admin.coupon.index'},
        {'label':_('已过期'), 'value':2, 'endpoint':'admin.coupon.index'},
      ], 'tab_status') }}
    <div class="row">
      <div class="col-md-12">
        <div class="white-box">
          {% set 
            form_fields = [
              {'label':'页面类型', 'name':'tab_status', 'type':'hidden'},
              {'label':'批次名称', 'name':'cb_name'}
            ]
          %}
          {{ libs.build_search_form(form_fields) }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="white-box">
          <div class="table-responsive">
            <table class="table table-hover product-overview footable" id="myTable">
              <thead>
                <tr>
                  <th>{{_('批次ID')}}</th>
                  <th>{{_('批次名称')}}</th>
                  <th>{{_('优惠券名称')}}</th>
                  <th>{{_('开始时间')}}</th>
                  <th>{{_('结束时间')}}</th>
                  <th>{{_('优惠券金额')}}</th>
                  <th>{{_('满减额度')}}</th>
                  <th>{{_('是否有效')}}</th>
                  <th>{{_('添加时间')}}</th>
                  <th>{{_('操作')}}</th>
                </tr>
              </thead>
                <tbody>
                  {% for batch in batches %}
                    <tr>
                      <td>{{ batch.cb_id }}</td>
                      <td>{{ batch.cb_name }}</td>
                      <td>{{ batch.coupon_name }}</td>
                      {% set begin_time = _('无限制') if batch.begin_time == 0 else batch.begin_time|timestamp2str %}
                      <td>{{ begin_time }}</td>
                      {% set end_time = _('无限制') if batch.end_time == 0 else batch.end_time|timestamp2str %}
                      <td>{{ end_time }}</td>
                      <td>￥{{ batch.coupon_amount|format_amount(1) }}</td>
                      <td>￥{{ batch.limit_amount|format_amount(1) }}</td>
                      <td>
                        <span class="label {{ const.YES_OR_NO_LABEL.get(batch.is_valid, 'label-danger') }} font-weight-100">
                          {{ const.YES_OR_NO.get(batch.is_valid, '') }}
                        </span>
                      </td>
                      <td>{{ batch.add_time|timestamp2str }}</td>
                      <td>
                        <a href="{{ url_for('admin.coupon.detail', cb_id=batch.cb_id) }}" class="text-inverse p-r-10" data-toggle="tooltip" title="{{_('编辑')}}">
                          <i class="ti-pencil-alt"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                {{ libs.pagination_html(pagination, 20) }}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

