{% extends '/default/mobile/layout/base.html.j2' %}

{% block head %}
<title>{{_('完成支付 - 一店')}}</title>
{% endblock %}

{% block body %}
  <div class="cmpl-pay">
    <div class="cmpl-img" style="background:none !important">
      <i class="weui-icon-success weui-icon_msg cmpl-pay_img"></i>
    </div>
    <div class="cmpl-text">{{_('已完成支付')}}</div>
    <div class="reg_btn">
      <a href="{{ url_for('mobile.index.root') }}">
        <button type="button" class="weui-btn weui-btn_red">{{_('到商城去逛逛')}}</button>
      </a>
    </div>
    <div class="reg_btn">
      <!-- 跳转uri ?? -->
      <a href="{{ url_for('mobile.user.order_detail') }}">
        <button type="button" class="weui-btn weui-btn_c">{{_('查看订单详情')}}</button>
      </a>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"></script>
{% endblock %}