{% extends '/default/mobile/layout/base.html.j2' %}
{% import '/default/mobile/libs/libs.html.j2' as libs %}

{% block head %}
<title>{{_('首页 - 一店')}}</title>
<link rel="stylesheet" href="/static/default/mobile/css/index.css">
{% endblock%}

{% block body %} 
<div class="index_wrap">
  <div class="category_wrap">
    <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
      <div class="swiper-wrapper">
        {% for adv in advs %}
          {% set url = '' %}
          {% set url = url_for('mobile.item.detail', goods_id=adv.tid) if adv.ttype == 1 else '' %}
          {% set url = url_for('mobile.item.index', cat_id=adv.tid) if adv.ttype == 2 else '' %}
          {% set url = url_for('mobile.item.hot') if adv.ttype == 3 else '' %}
          {% set url = url_for('mobile.item.recommend') if adv.ttype == 4 else '' %}
          {% set url = adv.url if url == '' %}
          {% set url = 'javascript:void(0);' if url == '' %}
          <div class="swiper-slide">
            <a href="{{ url }}">
              <img class="swiper-img" src="{{ adv.img }}" alt="">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="weui-cells" style="background:none !important">
    <a class="weui-cell weui-cell_access bg-white" href="{{ url_for('mobile.item.recommend') }}">
      <div class="weui-cell__hd">
        <img src="" alt="">
      </div>
      <div class="weui-cell__bd" style="font-size:16px">推荐</div>
      <div class="weui-cell__ft">更多</div>
    </a>
    <ul class="all_list">
      <li class="list_item">
        <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
          <div class="product_phone">
            <img src="/static/default/mobile/img/maintain.png" alt="">
          </div>
          <div class="product_detail">
            <div class="title">小米Note 3 4GB+64GB</div>
            <p class="desc">1600万美颜自拍，2倍变焦双摄</p>
            <div class="price">
              <span>￥999元</span>
              <span class="price_del">￥1299元</span>
            </div>
          </div>
        </a>
      </li>
      <li class="list_item">
        <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
          <div class="product_phone">
            <img src="/static/default/mobile/img/buy.png" alt="">
          </div>
          <div class="product_detail">
            <div class="title">红米S2 3GB+32GB</div>
            <p class="desc">前置1600万超大像素智能美拍</p>
            <div class="price">
              <span>￥1099元</span>
              <span class="price_del"></span>
            </div>
          </div>
        </a>
      </li>
      <li class="list_item">
        <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
          <div class="product_phone">
            <img src="/static/default/mobile/img/buy.png" alt="">
          </div>
          <div class="product_detail">
            <div class="title">红米S2 3GB+32GB</div>
            <p class="desc">前置1600万超大像素智能美拍</p>
            <div class="price">
              <span>￥1099元</span>
              <span class="price_del"></span>
            </div>
          </div>
        </a>
      </li>
      <li class="list_item">
        <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
          <div class="product_phone">
            <img src="/static/default/mobile/img/maintain.png" alt="">
          </div>
          <div class="product_detail">
            <div class="title">红米S2 3GB+32GB</div>
            <p class="desc">前置1600万超大像素智能美拍</p>
            <div class="price">
              <span>￥1099元</span>
              <span class="price_del"></span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="weui-cells" style="background:none !important">
    <a class="weui-cell weui-cell_access bg-white" href="{{ url_for('mobile.item.hot') }}">
      <div class="weui-cell__hd">
        <img src="" alt="">
      </div>
      <div class="weui-cell__bd" style="font-size:16px">热卖</div>
      <div class="weui-cell__ft">更多</div>
    </a>
    <ul class="all_list">
      <li class="list_item">
        <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
          <div class="product_phone">
            <img src="/static/default/mobile/img/maintain.png" alt="">
          </div>
          <div class="product_detail">
            <div class="title">小米Note 3 4GB+64GB</div>
            <p class="desc">1600万美颜自拍，2倍变焦双摄</p>
            <div class="price">
              <span>￥999元</span>
              <span class="price_del">￥1299元</span>
            </div>
          </div>
        </a>
      </li>
      <li class="list_item">
        <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
          <div class="product_phone">
            <img src="/static/default/mobile/img/buy.png" alt="">
          </div>
          <div class="product_detail">
            <div class="title">红米S2 3GB+32GB</div>
            <p class="desc">前置1600万超大像素智能美拍</p>
            <div class="price">
              <span>￥1099元</span>
              <span class="price_del"></span>
            </div>
          </div>
        </a>
      </li>
      <li class="list_item">
        <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
          <div class="product_phone">
            <img src="/static/default/mobile/img/buy.png" alt="">
          </div>
          <div class="product_detail">
            <div class="title">红米S2 3GB+32GB</div>
            <p class="desc">前置1600万超大像素智能美拍</p>
            <div class="price">
              <span>￥1099元</span>
              <span class="price_del"></span>
            </div>
          </div>
        </a>
      </li>
      <li class="list_item">
        <a href="{{ url_for('mobile.item.detail', goods_id=99) }}">
          <div class="product_phone">
            <img src="/static/default/mobile/img/maintain.png" alt="">
          </div>
          <div class="product_detail">
            <div class="title">红米S2 3GB+32GB</div>
            <p class="desc">前置1600万超大像素智能美拍</p>
            <div class="price">
              <span>￥1099元</span>
              <span class="price_del"></span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <footer class="company">
    2018 &copy; 深圳市木棉花云网络科技有限公司
  </footer>

  <div class="height61"></div>
  <div class="foot_wrap">
    <ul class="footer">
      <li class="flex pstR">
        <a href="{{ url_for('mobile.index.root') }}">
          <div class="icom_photo">
            <img src="/static/default/mobile/img/homeOn.png" alt="">
          </div>
          <p class="foot_text on">首页</p>
        </a>
      </li>
      <li class="flex pstR">
        <a href="{{ url_for('mobile.category.root') }}">
          <div class="icom_photo">
            <img src="/static/default/mobile/img/category.png" alt="">
          </div>
          <p class="foot_text">分类</p>
        </a>
      </li>
      <li class="flex pstR">
        <a href="{{ url_for('mobile.cart.root') }}">
          <span class="weui-badge msg_badge">3</span>
          <div class="icom_photo">
            <img src="/static/default/mobile/img/cart.png" alt="">
          </div>
          <p class="foot_text">购物车</p>
        </a>
      </li>
      <li class="flex pstR">
        <a href="{{ url_for('mobile.user.root') }}">
          <span class="weui-badge msg_badge">1</span>
          <div class="icom_photo">
            <img src="/static/default/mobile/img/user.png" alt="">
          </div>
          <p class="foot_text">我的</p>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock%}

{% block script %} 
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js" charset="utf-8"></script>
<script type="text/javascript">
  $(".swiper-container").swiper({
    loop: true,
    autoplay: 3000,
  });
</script>
{% endblock%}