{% extends '/default/mobile/layout/base.html.j2' %}
{% import '/default/mobile/libs/libs.html.j2' as libs %}

{% block head %}
<title>{{_('首页 - 一店')}}</title>
<link rel="stylesheet" href="{{'/static/default/mobile/css/index.css'|static_uri}}">
{% endblock %}

{% block body %} 
<div class="index_wrap">
  <div class="category_wrap">
    <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
      <div class="swiper-wrapper">
        {% for adv in advs %}
          {% set url = '' %}
          {% set url = url_for('mobile.item.detail', goods_id=adv.tid) if adv.ttype == 1 else url %}
          {% set url = url_for('mobile.item.index', cat_id=adv.tid) if adv.ttype == 2 else url %}
          {% set url = url_for('mobile.item.hot') if adv.ttype == 3 else url %}
          {% set url = url_for('mobile.item.recommend') if adv.ttype == 4 else url %}
          {% set url = adv.url if url == '' else url %}
          {% set url = 'javascript:void(0);' if url == '' else url %}
          <div class="swiper-slide">
            <a href="{{ url }}">
              <img class="swiper-img" src="{{ adv.img }}" alt="">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="weui-cells" style="background:none !important">
    <a class="weui-cell weui-cell_access bd-bottom" href="{{ url_for('mobile.item.recommend') }}">
      <div class="weui-cell__hd">
        <img src="" alt="">
      </div>
      <div class="weui-cell__bd" style="font-size:16px">{{_('推荐')}}</div>
      <div class="weui-cell__ft">{{_('更多')}}</div>
    </a>
    <ul class="all_list">
      {% for item in recommend_items %}
        <li class="list_item">
          <a href="{{ url_for('mobile.item.detail', goods_id=item.goods_id) }}">
            <div class="product_phone">
              <img src="{{ item.goods_img }}" alt="">
            </div>
            <div class="product_detail">
              <div class="title">{{ item.goods_name }}</div>
              <p class="desc">{{ item.goods_desc }}</p>
              <div class="all_price">
                <span>￥{{ item.goods_price }}</span>
                {% if item.market_price > 0 %}
                  <span class="price_del">￥{{ item.market_price }}</span>
                {% endif %}
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="weui-cells" style="background:none !important">
    <a class="weui-cell weui-cell_access bd-bottom" href="{{ url_for('mobile.item.hot') }}">
      <div class="weui-cell__hd">
        <img src="" alt="">
      </div>
      <div class="weui-cell__bd" style="font-size:16px">{{_('热卖')}}</div>
      <div class="weui-cell__ft">{{_('更多')}}</div>
    </a>
    <ul class="all_list">
      {% for item in hot_items %}
        <li class="list_item">
          <a href="{{ url_for('mobile.item.detail', goods_id=item.goods_id) }}">
            <div class="product_phone">
              <img src="{{ item.goods_img }}" alt="">
            </div>
            <div class="product_detail">
              <div class="title">{{ item.goods_name }}</div>
              <p class="desc">{{ item.goods_desc }}</p>
              <div class="all_price">
                <span>￥{{ item.goods_price }}</span>
                {% if item.market_price > 0 %}
                  <span class="price_del">￥{{ item.market_price }}</span>
                {% endif %}
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {{ libs.footer() }}

  {{ libs.bottom_navigation_bar() }}
</div>
{% endblock %}

{% block script %} 
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js" charset="utf-8"></script>
<script type="text/javascript">
  $(".swiper-container").swiper({
    loop: true,
    autoplay: 3000,
  });
</script>
{% endblock%}